@mixin header-component {
  // Quebra de linha
  @include line-break;
  // Sombra do cabeçalho
  @include header-shadow;
  // Barra de cabeçalho
  @include header-bar;
  // Logo
  @include logo;
  // Menu dropdown
  @include menu;
  // Links rápidos
  @include quicklinks;
  // Idioma
  @include language;
  // Login
  @include login;
  // Altocontraste
  @include contrast;
  // Busca geral
  @include search;
  // Barra de usuário
  @include user-bar;
  // Menu hamburguer
  @include hamburger;
  background: $color-white;
}

@mixin header-shadow {
  box-shadow: $header-shadow;
}

@mixin line-break {
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .break-column {
    flex-basis: 100%;
    width: 0;
  }
}

@mixin header-bar {
  .bar {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    position: relative;
  }
  // Tablet
  @include media-breakpoint-up(sm) {
    .bar {
      align-items: flex-start;
    }
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .bar {
      padding: $spacing-2 0;
    }
  }
  // Versão de site
  &.is-site {
    .bar {
      height: $header-site-mobile-height;
    }
    // Tablet
    @include media-breakpoint-up(sm) {
      .bar {
        height: $header-site-tablet-height;
        padding-top: $spacing-half;
      }
    }
    // Desktop
    @include media-breakpoint-up(md) {
      .bar {
        align-content: space-between;
        height: $header-site-desktop-height;
        padding: $spacing-2 0;
      }
    }
  }
  // Versão de sistema
  &.is-system {
    .bar {
      height: $header-system-mobile-height;
    }
    // Desktop
    @include media-breakpoint-up(md) {
      .bar {
        height: $header-system-desktop-height;
      }
    }
  }
}

@mixin logo {
  .logo {
    font-weight: 600;
    .image {
      img {
        height: $logo-mobile-height;
      }
    }
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .logo {
      .image {
        img {
          height: $logo-desktop-height;
        }
      }
    }
  }
  // Versão de site
  &.is-site {
    .logo {
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      .name {
        color: $logo-name-color;
        display: none;
        font-size: $logo-name-size;
      }
      .description {
        color: $logo-description-color;
        display: none;
        font-size: $logo-description-size;
      }
    }
    // Tablet
    @include media-breakpoint-up(sm) {
      .logo {
        display: flex;
        flex-flow: column;
        top: $spacing-1;
        .name {
          display: inline;
          order: 1;
        }
        .description {
          display: inline;
        }
      }
    }
    // Desktop
    @include media-breakpoint-up(md) {
      .logo {
        bottom: $spacing-2;
        text-align: left;
        top: $spacing-2;
        .image {
          position: absolute;
          top: 0;
        }
        .name {
          bottom: 0;
          font-size: $logo-name-desktop;
          left: 36px;
          position: absolute;
        }
        .description {
          font-size: $logo-description-desktop;
          position: absolute;
          top: 60px;
        }
      }
    }
  }
  // Versão de sistema
  &.is-system {
    .logo {
      display: flex;
      flex: 1 1 100%;
      flex-flow: column;
      height: $header-system-mobile-height - $header-site-mobile-height;
      justify-content: center;
      .name {
        align-self: flex-start;
        color: $logo-name-color;
        font-size: $logo-name-size;
      }
      .description {
        color: $logo-description-color;
        font-size: $logo-description-size;
      }
    }
    // Desktop
    @include media-breakpoint-up(md) {
      .logo {
        flex: 1;
        .name {
          font-size: $logo-name-desktop;
        }
      }
    }
  }
}

@mixin quicklinks {
  .quicklinks {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-right: $spacing-3;
    }
    a {
      color: $color-gray-6;
      font-weight: 500;
    }
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .quicklinks {
      display: inline-flex;
      margin-top: $spacing-half;
      position: relative;
    }
  }
}

@mixin language {
  .language {
    display: none;
    // Idioma selecionado e trigger
    .trigger {
      align-items: baseline;
      background: transparent;
      border: 0;
      display: flex;
      font-weight: 500;
      .arrow {
        font-size: 10px;
        margin-left: $spacing-1;
      }
    }
    // Listagem de idiomas
    .items {
      border-top: 1px solid $color-warning;
      margin: $spacing-1 0 0;
      right: 0;
      // Rótulo da seleção
      .title {
        border-bottom: 1px solid $color-gray-3;
        font-size: 14px;
      }
    }
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .language {
      display: inline-flex;
      margin-left: $spacing-3;
      margin-top: $spacing-half;
      position: relative;
    }
  }
}

@mixin login {
  .login {
    .icon {
      @include btn-icon;
      position: relative;
    }
    span {
      display: none;
    }
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .login {
      color: $color-gray-6;
      display: inline-flex;
      margin-left: $spacing-5;
      position: relative;
      span {
        display: inline;
        font-weight: 500;
        &:not(.icon) {
          margin-top: $spacing-half;
        }
      }
    }
  }
}

@mixin contrast {
  .contrast {
    background: transparent;
    border: 0;
    display: none;
    .icon {
      @include btn-icon;
      position: relative;
    }
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .contrast {
      display: inline-flex;
    }
  }
  // Versão de sistema
  &.is-system {
    .contrast {
      margin-left: $spacing-5;
      span {
        &:not(.icon) {
          margin-top: $spacing-half;
        }
      }
      &:hover {
        span {
          &:not(.icon) {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@mixin search {
  .search {
    align-items: center;
    display: flex;
    height: $header-site-mobile-height;
    margin-right: - $spacing-1;
    position: relative;
    // Caixa de busca
    .field {
      align-items: center;
      display: flex;
      height: $header-site-mobile-height;
      input {
        background: transparent;
        border: 0;
        display: none;
        flex: 1;
        padding: 0 $spacing-1;
      }
      button {
        @include btn-icon;
        background: transparent;
        border: 0;
        color: $color-primary;
      }
    }
    // Botão fechar
    .close {
      @include btn-icon;
      background: transparent;
      border: 0;
      display: none;
    }
    // Busca ativa
    &.is-active {
      // Caixa de busca
      .field {
        background: $search-bg;
        flex: 1;
        input {
          display: block;
        }
      }
      // Botão fechar
      .close {
        display: inline-flex;
      }
    }
  }
  // Versão de site
  &.is-site {
    .search {
      // Busca ativa
      &.is-active {
        // Caixa de busca
        .field {
          @include header-shadow;
          position: absolute;
          right: 0;
          top: 100%;
          width: 100vw;
        }
      }
    }
    // Tablet
    @include media-breakpoint-up(sm) {
      .search {
        align-items: flex-start;
        height: auto;
        // Caixa de busca
        .field {
          align-items: flex-start;
        }
        // Busca ativa
        &.is-active {
          // Caixa de busca
          .field {
            align-items: center;
          }
        }
      }
    }
    // Desktop
    @include media-breakpoint-up(md) {
      .search {
        align-items: center;
        height: $search-desktop-height;
        justify-content: flex-end;
        margin: 0;
        // Caixa de busca
        .field {
          align-items: center;
          background: $search-bg;
          height: $search-desktop-height;
          input {
            display: block;
          }
        }
        // Busca ativa
        &.is-active {
          flex: 1;
          // Caixa de busca
          .field {
            box-shadow: 0 (- $spacing-half) 0 $spacing-half $color-white;
            position: relative;
            right: auto;
            top: auto;
            width: auto;
            z-index: 1;
          }
        }
      }
    }
  }
  // Versão de sistema
  &.is-system {
    .search {
      // Botão fechar
      .close {
        bottom: $header-site-mobile-height;
        height: $header-site-mobile-height;
        position: absolute;
        right: 0;
      }
      // Busca ativa
      &.is-active {
        flex: 1;
        margin-left: - $spacing-1;
        z-index: 1;
      }
    }
  }
}

@mixin user-bar {
  .user-bar {
    align-items: center;
    display: none;
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .user-bar {
      display: inline-flex;
    }
  }
}

@mixin hamburger {
  .menu-hamburger {
    @include btn-icon;
    background: transparent;
    border: 0;
    color: $color-primary;
    left: - $spacing-1;
    position: absolute;
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .menu-hamburger {
      bottom: 9px;
    }
  }
  // Versão de sistema
  &.is-system {
    .menu-hamburger {
      height: $header-site-mobile-height;
      top: $header-system-mobile-height - $header-site-mobile-height;
    }
  }
}

@mixin menu {
  .menu {
    position: relative;
    .items {
      background: $color-white;
      box-shadow: 0 3px 6px rgba($color-black, 0.22); // sass-lint:disable-line no-color-literals
      display: none;
      position: absolute;
    }
    .title {
      border-bottom: 1px solid $color-gray-3;
      display: block;
      font-style: italic;
      font-weight: 600;
      padding: $spacing-1 $spacing-3;
    }
    .item {
      background: $color-white;
      border: 0;
      display: block;
      padding: $spacing-1 $spacing-3;
      position: relative;
      text-align: left;
      text-decoration: none;
      white-space: nowrap;
      width: 100%;
      &:hover {
        background: $color-primary-pastel-1;
      }
      // Item pré selecionado
      &.is-active {
        color: $color-primary;
        font-weight: 500;
      }
    }
    // Menu ativo
    &.is-active {
      .items {
        display: block;
      }
    }
  }
}

@mixin btn-icon {
  align-items: center;
  color: $color-primary;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  width: 36px;
  &:hover {
    color: $color-primary-lighten-15;
    z-index: 1;
    &::after {
      background: $color-primary-pastel-1;
      border-radius: 50%;
      content: "";
      display: block;
      height: 32px;
      position: absolute;
      width: 32px;
      z-index: -1;
    }
  }
}
