@mixin header-component {
  background: $color-white;
  // Sombra do cabeçalho
  @include header-shadow;
  // Barra de cabeçalho
  @include header-bar;
  // Logo
  @include logo;
  // Links rápidos
  @include quicklinks;
  // Idioma
  @include language;
  // Login
  @include login;
  // Altocontraste
  @include contrast;
  // Busca geral
  @include search;
  // Barra de usuário
  @include user-bar;
  // Menu hamburguer
  @include hamburger;
}

@mixin header-shadow {
  box-shadow: $header-shadow;
}

@mixin header-bar {
  .bar {
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    position: relative;
  }
  // Versão de site
  &.is-site {
    .bar {
      height: $header-site-mobile-height;
    }
  }
  // Versão de sistema
  &.is-system {
    .bar {
      height: $header-system-mobile-height;
    }
  }
}

@mixin logo {
  .logo {
    font-weight: 600;
    .image {
      img {
        max-height: $logo-mobile-height;
      }
    }
  }
  // Versão de site
  &.is-site {
    .logo {
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      .name {
        display: none;
      }
      .description {
        display: none;
      }
    }
  }
  // Versão de sistema
  &.is-system {
    .logo {
      display: flex;
      flex: 1 1 100%;
      flex-flow: column;
      height: $header-system-mobile-height - $header-site-mobile-height;
      justify-content: center;
      .name {
        align-self: flex-start;
        color: $logo-name-color;
        font-size: $logo-name-size;
      }
      .description {
        color: $logo-description-color;
        font-size: $logo-description-size;
      }
    }
  }
}

@mixin quicklinks {
  .quicklinks {
    display: none;
  }
}

@mixin language {
  .language {
    display: none;
  }
}

@mixin login {
  .login {
    .icon {
      @include btn-icon;
      position: relative;
    }
    span {
      display: none;
    }
  }
}

@mixin contrast {
  .contrast {
    display: none;
    span {
      display: none;
    }
  }
}

@mixin search {
  .search {
    align-items: center;
    display: flex;
    height: $header-site-mobile-height;
    margin-right: - $spacing-1;
    position: relative;
    // Caixa de busca
    .field {
      align-items: center;
      display: flex;
      height: $header-site-mobile-height;
      input {
        background: transparent;
        border: 0;
        display: none;
        flex: 1;
        padding: 0 $spacing-1;
      }
      button {
        @include btn-icon;
        background: transparent;
        border: 0;
        color: $color-primary;
      }
    }
    // Botão fechar
    .close {
      @include btn-icon;
      background: transparent;
      border: 0;
      display: none;
    }
    // Busca ativa
    &.is-active {
      // Caixa de busca
      .field {
        background: $search-bg;
        flex: 1;
        input {
          display: block;
        }
      }
      // Botão fechar
      .close {
        display: inline-flex;
      }
    }
  }
  // Versão de site
  &.is-site {
    .search {
      // Busca ativa
      &.is-active {
        // Caixa de busca
        .field {
          @include header-shadow;
          position: absolute;
          right: 0;
          top: 100%;
          width: 100vw;
        }
      }
    }
  }
  // Versão de sistema
  &.is-system {
    .search {
      // Botão fechar
      .close {
        bottom: $header-site-mobile-height;
        height: $header-site-mobile-height;
        position: absolute;
        right: 0;
      }
      // Busca ativa
      &.is-active {
        flex: 1;
        margin-left: - $spacing-1;
        z-index: 1;
      }
    }
  }
}

@mixin user-bar {
  .user-bar {
    display: none;
  }
}

@mixin hamburger {
  .menu-hamburger {
    @include btn-icon;
    background: transparent;
    border: 0;
    color: $color-primary;
    left: - $spacing-1;
    position: absolute;
  }
  // Versão de sistema
  &.is-system {
    .menu-hamburger {
      height: $header-site-mobile-height;
      top: $header-system-mobile-height - $header-site-mobile-height;
    }
  }
}

@mixin btn-icon {
  align-items: center;
  color: $color-primary;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  width: 36px;
  &:hover {
    color: $color-primary-lighten-15;
    z-index: 1;
    &::after {
      background: $color-primary-pastel-1;
      border-radius: 50%;
      content: "";
      display: block;
      height: 32px;
      position: absolute;
      width: 32px;
      z-index: -1;
    }
  }
}
