@mixin upload($color: $hr-text-color) {
  /*
  align-items: center;
  display: flex;
  justify-content: center;
  margin: $hr-margin;
  text-transform: uppercase;
  &::after,
  &::before {
    background: $hr-color;
    content: "";
    height: 1px;
    width: 100%;
  }
  .content {
    color: $color;
    font-size: $hr-text-font-size;
    font-weight: $hr-text-font-weight;
    margin: 0;
    padding: 0 $hr-padding;
    white-space: nowrap;
  }
  */
  background: url('../../assets/images/components_img/upload/upload-fundo.png') #FFFFFF no-repeat;
  min-height: 248px;
  padding-left: 300px;
  .upload-titulo {
    
  }
  .upload-input {
    display: none;
  }

}
