<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>upload</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="upload.css">
</head>

<body onload="updateSize();">
  <div class="container-fluid">
    <div class="br-upload">
      <!-- <input type="file" id="input" multiple onchange="handleFiles(this.files)">-->
      <input class="upload-input" id="upload-input" type="file" name="myFiles" multiple>
      <h1 class="upload-header"> Arraste e solte o(s) arquivo(s) do seu computador</h1>
      <spam class="upload-info"> Os arquivos devem ser no formato PNG, JPG ou PDF e ter no máximo 1GB</spam>
      <div class="upload-file-list"></div>
      <label for="upload-input" class="upload-add br-button is-cancel">Adicionar um arquivo do seu computador</label>
      <p class="upload-size">
        Arquivos selecionados: <span class="upload-size-num">0</span><br>
        Tamanho total: <span class="upload-size-bytes">0</span>
      </p>
    </div>
    <button class="br-button is-cancel" type="button">Voltar</button>
    <button class="br-button is-primary" type="button">Salvar</button>
  </div>
  <script src="upload.js"></script>
</body>

</html>
