// Carregar variáveis do DS-Gov
@import "../../base/dsgov-base";

// Modificações eespecíficas para template de sistemas
.template-system {
  // Rodapé
  .page-footer {
    background: transparent;
    border-bottom: 6px solid $color-primary;
    img {
      margin-bottom: $spacing-1;
    }
  }
}