<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Template para sistemas</title>
  <!-- Estilos ds-gov -->
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="../../assets/styles/dsgov-components.min.css">
  <link rel="stylesheet" href="../../assets/styles/dsgov-templates.min.css">
  <!-- Ícones fontawesome -->
  <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
</head>

<body class="template-system">
  <!-- Atalhos para conteúdo -->
  <ul id="skip-menu" class="skip-menu">
    <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
    <li><a accesskey="2" href="#navigation">Ir para o menu</a></li>
    <li><a accesskey="3" href="#footer-brasil">Ir para o rodapé</a></li>
  </ul>
  <!-- Barra de governo -->
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
        <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do
          Governo Brasileiro</a>
      </li>
    </ul>
  </div>
  <!-- Cabeçalho da página -->
  <header id="header" class="page-header">
    <!-- Cor do topo -->
    <div class="bg-gray-2">
      <div class="container-fluid">
        <!-- Barra principal -->
        <div class="header-bar">
          <!-- Logo e menu sanduiche -->
          <div class="row align-items-center">
            <!-- Menu sanduiche -->
            <div class="col-auto pr-0">
              <button class="menu-hamburger" type="button">
                <i class="fa fa-bars"></i>
              </button>
            </div>
            <!-- Logo -->
            <div class="col logo">
              <a id="logo" href="">
                <span class="name">Logo/Nome</span>
              </a>
              <span class="description">Assinatura do Órgão</span>
            </div>
          </div>
          <!-- Acessibilidade e idioma -->
          <div class="quicklinks">
            <div class="row">
              <!-- Acessibilidade -->
              <div class="col-auto">
                <div class="accessibility">
                  <a id="contrast" href="" accesskey="6">
                    <span class="icon">
                      <i class="fas fa-adjust fa-2x"></i>
                    </span>
                    <span class="content d-none">
                      <span class="">Alto Contraste</span>
                    </span>
                  </a>
                  <a id="vlibras" href="http://www.vlibras.gov.br/">
                    <span class="icon">
                      <i class="fas fa-assistive-listening-systems fa-2x"></i>
                    </span>
                    <span class="content d-none">
                      <span class="">VLibras</span>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Busca geral -->
          <div class="br-search">
            <div class="field">
              <label for="search" class="sr-only">Autocomplete</label>
              <input id="search" type="text" placeholder="O que você procura?">
              <button class="" type="button">
                <i class="fas fa-search fa-lg"></i>
                <span class="sr-only">buscar</span>
              </button>
            </div>
            <button class="close" type="button">
              <i class="fas fa-times fa-lg"></i>
              <span class="sr-only">fechar a busca</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Wrapper -->
  <div class="page-wrapper container-fluid">
    <div class="row no-gutters">
      <!-- Menu de navegação -->
      <div class="col-md-3 d-none d-md-block" data-toggle="collapse">
        <nav class="ds-menu-lateral py-1 py-md-3">
          <div class="menu-item">
            <button class="is-open" type="button" data-toggle="collapse">Título Item</button>
            <ul class="submenu level-1">
              <!-- Item sem filhos -->
              <li class="menu-item">
                <a>Texto link</a>
              </li>
              <li>
                <!-- Item com filhos -->
                <button class="is-open" type="button" data-toggle="collapse">Sub Título</button>
                <ul class="submenu level-2">
                  <li class="menu-item">
                    <a> Texto link </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- Conteúdo central -->
      <div class="col">
        <!-- Barra de sistema -->
        <div class="shadow-bottom d-none d-md-block">
          <div class="container-fluid">
            <div class="row system-bar justify-content-end pl-sm-2">
              <!-- Breadcrumbs -->
              <div class="col">
                <ul class="br-breadcrumb">
                  <li class="home">
                    <a href="">
                      <span class="sr-only">Página inicial</span>
                      <i class="fas fa-home"></i>
                    </a>
                  </li>
                  <li><a href="">Tela anterior</a></li>
                  <li class="is-active"><a href="">Tela atual</a></li>
                </ul>
              </div>
              <!-- Timeout -->
              <div class="col-auto">
                <div class="timeout">
                  <i class="fas fa-clock"></i>
                  <span class="session">Sessão:</span>
                  <span class="timer">00 min. e 00 seg</span>
                </div>
              </div>
              <!-- Menu do usuário -->
              <div class="col-auto">
                <div class="user">
                  <!-- Avatar do usuário -->
                  <div class="avatar">
                    <div class="image">
                      <img src="../../assets/images/avatar.png" alt="Avatar">
                    </div>
                    <!-- <div class="no-image">
                      <i class="fas fa-user-circle"></i>
                    </div> -->
                    <span class="badge">5</span>
                  </div>
                  <!-- Configurações do usuário -->
                  <div class="configs dropdown">
                    <button class="trigger" type="button">
                      <i class="fas fa-chevron-down"></i>
                    </button>
                    <div class="menu">
                      <div class="title">
                        <div class="name">Márcia Vinícuis Tavares de Almeida</div>
                        <div class="email">marcia-vinicius.almeida@serpro.gov.br</div>
                      </div>
                      <span class="title">Configurações</span>
                      <a href="" class="item">Configuração 01</a>
                      <a href="" class="item">Configuração 02</a>
                      <a href="" class="item">Configuração 03</a>
                      <div class="item">
                        <div class="account">
                          <a href="">
                            <i class="fas fa-user"></i>
                            Perfil
                          </a>
                          <a href="">
                            <i class="fas fa-key"></i>
                            Senha
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Sistemas favoritos do usuário -->
                  <div class="bookmarks dropdown">
                    <button class="trigger" type="button">
                      <i class="fas fa-th-large"></i>
                    </button>
                    <div class="menu">
                      <div class="title">Sistemas</div>
                      <div class="list">
                        <div class="item">
                          <a href="" class="bookmark">
                            <div class="brand"></div>
                            <div class="name">Sistema 01</div>
                          </a>
                        </div>
                        <div class="item">
                          <a href="" class="bookmark">
                            <div class="brand"></div>
                            <div class="name">Sistema 02</div>
                          </a>
                        </div>
                        <div class="item">
                          <a href="" class="bookmark">
                            <div class="brand"></div>
                            <div class="name">Sistema 03</div>
                          </a>
                        </div>
                        <div class="item">
                          <a href="" class="bookmark">
                            <div class="brand"></div>
                            <div class="name">Sistema 04</div>
                          </a>
                        </div>
                        <div class="item">
                          <a href="" class="bookmark">
                            <div class="brand"></div>
                            <div class="name">Sistema 05</div>
                          </a>
                        </div>
                        <div class="item">
                          <a href="" class="bookmark">
                            <div class="brand"></div>
                            <div class="name">Sistema 06</div>
                          </a>
                        </div>
                        <div class="item">
                          <a href="" class="bookmark">
                            <div class="brand"></div>
                            <div class="name">Sistema 07</div>
                          </a>
                        </div>
                        <div class="item">
                          <a href="" class="bookmark">
                            <div class="brand"></div>
                            <div class="name">Sistema 08</div>
                          </a>
                        </div>
                        <div class="item">
                          <a href="" class="bookmark">
                            <div class="brand"></div>
                            <div class="name">Sistema 09</div>
                          </a>
                        </div>
                        <div class="item">
                          <a href="" class="bookmark">
                            <div class="brand"></div>
                            <div class="name">Sistema 10</div>
                          </a>
                        </div>
                      </div>
                      <div class="more">
                        <a href="">Mais</a>
                      </div>
                    </div>
                  </div>
                  <!-- Logout -->
                  <button class="logout" type="button">Sair</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Conteúdo principal -->
        <main id="content" class="page-content px-1 pl-sm-4 px-lg-5 py-4">
          <h1 class="main-title">Título da página</h1>
          <p>Conteúdo principal</p>
        </main>
      </div>
    </div>
  </div>
  <!-- Rodapé de governo -->
  <div class="page-footer">
    <div class="container-fluid">
      <img src="../../assets/images/produto-serpro.png" alt="Produto Serpro">
    </div>
  </div>
  <!-- Script da barra de governo -->
  <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js" type="text/javascript"></script>
  <script src="page.js"></script>
  <script>
    // Classe para ativar elementos e componentes
    const active = "is-active"

    function toogleActive(element) {
      element.classList.toggle(active)
    }

    // Menu dropdown
    const dropdown = document.querySelectorAll('.dropdown')

    for (drop of dropdown) {
      let trigger = drop.querySelector('.trigger')
      let menu = drop.querySelector('.menu')

      trigger.addEventListener('click', function () {
        toogleActive(menu)
      })
    }

    // Busca
    const search = document.querySelector('.br-search')
    const searchTrigger = search.querySelector('.field button')
    const searchInput = search.querySelector('.field input')
    const searchClose = search.querySelector('.close')

    function openSearch() {
      toogleActive(search)
      searchTrigger.removeEventListener('click', openSearch)
      searchInput.removeEventListener('click', openSearch)
    }

    function closeSearch() {
      toogleActive(search)
      searchTrigger.addEventListener('click', openSearch)
      searchInput.addEventListener('click', openSearch)
    }

    searchTrigger.addEventListener('click', openSearch)
    searchInput.addEventListener('click', openSearch)
    searchClose.addEventListener('click', closeSearch)
  </script>
</body>

</html>