// Listagem de opções
$select-list-margin: $spacing-half;
$select-list-shadow: 0 3px 6px rgba($color-black, 0.22); // sass-lint:disable-line no-color-literals

// item
$select-list-item-padding: $spacing-half $spacing-3;

// Tamanhos
$select-medium: $spacing-half;
$select-small: 0;
