<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>select</title>
  <link rel="stylesheet" href="../../estilos/dist/css/dsgov.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="select.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <div class="mb-3">
          <div class="br-select">
            <label for="simples">Normal</label>
            <select id="simples">
              <option value="0">Selecione</option>
              <option value="opcao-1">opção 1</option>
              <option value="opcao-2">opção 2</option>
              <option value="opcao-3">opção 3</option>
              <option value="opcao-4">opção 4</option>
            </select>
          </div>
          <p class="help">Texto auxiliar ao preenchimento, tem a função de previnir erros.</p>
        </div>
        <div class="mb-3">
          <div class="br-select is-medium">
            <label for="medium">Médio</label>
            <select id="medium">
              <option value="0">Selecione</option>
              <option value="opcao-1">opção 1</option>
              <option value="opcao-2">opção 2</option>
              <option value="opcao-3">opção 3</option>
              <option value="opcao-4">opção 4</option>
            </select>
          </div>
          <p class="help">Texto auxiliar ao preenchimento, tem a função de previnir erros.</p>
        </div>
        <div class="mb-3">
          <div class="br-select is-small">
            <label for="small">Pequeno</label>
            <select id="small">
              <option value="0">Selecione</option>
              <option value="opcao-1">opção 1</option>
              <option value="opcao-2">opção 2</option>
              <option value="opcao-3">opção 3</option>
              <option value="opcao-4">opção 4</option>
            </select>
          </div>
          <p class="help">Texto auxiliar ao preenchimento, tem a função de previnir erros.</p>
        </div>
      </div>
      <div class="col-md">
        <div class="mb-3">
          <div class="br-select is-focus">
            <label for="focus">Focus</label>
            <select id="focus">
              <option value="0">Selecione</option>
              <option value="opcao-1">opção 1</option>
              <option value="opcao-2">opção 2</option>
              <option value="opcao-3">opção 3</option>
              <option value="opcao-4">opção 4</option>
            </select>
          </div>
        </div>
        <div class="mb-3">
          <div class="br-select">
            <label for="desabilitado">Desabilitado</label>
            <select id="desabilitado" disabled>
              <option value="0">Selecione</option>
              <option value="opcao-1">opção 1</option>
              <option value="opcao-2">opção 2</option>
              <option value="opcao-3">opção 3</option>
              <option value="opcao-4">opção 4</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-md">
          <div class="mb-3">
            <div class="br-select is-invalid">
              <label for="invalido">Inválido</label>
              <select id="invalido">
                <option value="0">Selecione</option>
                <option value="opcao-1">opção 1</option>
                <option value="opcao-2">opção 2</option>
                <option value="opcao-3">opção 3</option>
                <option value="opcao-4">opção 4</option>
              </select>
            </div>
            <div class="feedback">
              <i class="fas fa-times-circle"></i>
              <span class="message">Erro</span>
            </div>
          </div>
          <div class="mb-3">
            <div class="br-select is-valid">
              <label for="valido">Válido</label>
              <select id="valido">
                <option value="0">Selecione</option>
                <option value="opcao-1">opção 1</option>
                <option value="opcao-2">opção 2</option>
                <option value="opcao-3">opção 3</option>
                <option value="opcao-4">opção 4</option>
              </select>
            </div>
            <div class="feedback">
              <i class="fas fa-check-circle"></i>
              <span class="message">Ok</span>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script src="select.js"></script>
</body>

</html>
