// Sombras prontas
$layer-0: none !default;
$layer-1: var(--elevation-sdwp-level1) rgb(0, 0, 0, var(--elevation-opacity)),
  var(--elevation-sdwo-level1) rgb(0, 0, 0, var(--elevation-opacity)) !default;
$layer-2: var(--elevation-sdwp-level2) rgb(0, 0, 0, var(--elevation-opacity)),
  var(--elevation-sdwo-level2) rgb(0, 0, 0, var(--elevation-opacity)) !default;
$layer-3: var(--elevation-sdwp-level3) rgb(0, 0, 0, var(--elevation-opacity)),
  var(--elevation-sdwo-level3) rgb(0, 0, 0, var(--elevation-opacity)) !default;
$layer-4: var(--elevation-sdwp-level4) rgb(0, 0, 0, var(--elevation-opacity)),
  var(--elevation-sdwo-level4) rgb(0, 0, 0, var(--elevation-opacity)) !default;
$layers: (
  "0": $layer-0,
  "1": $layer-1,
  "2": $layer-2,
  "3": $layer-3,
  "4": $layer-4,
) !default;
