// Mapa de larguras das bordas.
$border-widths: (
  "none": var(--border-width-none),
  "sm": var(--border-width-sm),
  "md": var(--border-width-md),
  "lg": var(--border-width-lg),
  "xl": var(--border-width-xl),
) !default;

// Lista de estilos das bordas.
$border-styles: "solid", "dashed" !default;

// Mapa de arredondamento dos cantos.
$rounders: (
  "none": var(--rounder-none),
  "sm": var(--rounder-sm),
  "md": var(--rounder-md),
  "lg": var(--rounder-lg),
  "full": var(--rounder-full),
) !default;

// Lista de overflows.
$overflows: "auto", "hidden", "visible" !default;

// Mapa de opacidades.
$opacities: (
  "none": var(--opacity-none),
  "xxxs": var(--opacity-xxxs),
  "xxs": var(--opacity-xxs),
  "xs": var(--opacity-xs),
  "sm": var(--opacity-sm),
  "md": var(--opacity-md),
  "lg": var(--opacity-lg),
  "xl": var(--opacity-xl),
  "xxl": var(--opacity-xxl),
  "xxxl": var(--opacity-xxxl),
  "full": var(--opacity-full),
) !default;

// Lista de densidades
$densities: "low", "high";
