// Lista de alinhamentos de texto.
$text-aligns: "center", "justify", "left", "right" !default;

// Lista de decorações de texto.
$text-decorations: "underline", "overline", "line-through" !default;

// Lista de transformações de texto.
$text-transforms: "lowercase", "uppercase", "capitalize" !default;

// Mapa de pesos de texto.
$text-weights: (
  "thin": 100,
  "extra-light": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semi-bold": 600,
  "bold": 700,
  "extra-bold": 800,
  "black": 900,
) !default;

// Mapa de tamanhos de texto.
$text-sizes: (
  "base": var(--font-size-scale-base),
  "up-10": var(--font-size-scale-up-10),
  "up-09": var(--font-size-scale-up-09),
  "up-08": var(--font-size-scale-up-08),
  "up-07": var(--font-size-scale-up-07),
  "up-06": var(--font-size-scale-up-06),
  "up-05": var(--font-size-scale-up-05),
  "up-04": var(--font-size-scale-up-04),
  "up-03": var(--font-size-scale-up-03),
  "up-02": var(--font-size-scale-up-02),
  "up-01": var(--font-size-scale-up-01),
  "down-01": var(--font-size-scale-down-01),
  "down-02": var(--font-size-scale-down-02),
  "down-03": var(--font-size-scale-down-03),
  "down-04": var(--font-size-scale-down-04),
) !default;
