$tab-border: $color-gray-3;
$tab-padding: $spacing-5;

$tab-font-size: 18px;
$tab-font-weight: 600;

$tab-item-padding: $spacing-3;
$tab-item-color: $color-gray-5;
$tab-item-hover: $color-primary-lighten-15;

$tab-icon-size: 32px;
$tab-icon-color: $color-primary;

$tab-results-margin: $spacing-1;
$tab-results-font-size: 14px;
$tab-results-color: $color-primary;

$tab-active-border: inset 0 -4px 0 0 $color-primary;
$tab-active-color: $color-primary-darken-25;
