<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tabs</title>
  <link rel="stylesheet" href="../../estilos/dist/css/dsgov.min.css">
  <link rel="stylesheet" href="tabs.css">
</head>
<body>
  <div class="container-fluid">
    <nav>
      <ul class="br-tabs flex-column">
        <li class="item is-active">
          <a href="#">
            <span class="name">Entrar com CPF</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <img class="icon" src="../../assets/images/certificado-digital.png" alt="Certificado Digital">
            <span class="name">Entrar com Certificado Digital</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <img class="icon" src="../../assets/images/neoid.png" alt="NeoID">
            <span class="name">Entrar com NeoID</span>
          </a>
        </li>
      </ul>
      <ul class="br-tabs mt-10">
        <li class="item is-active">
          <a href="#">
            <span class="name">Todos</span>
            <span class="results">(124)</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <span class="name">Notícias</span>
            <span class="results">(74)</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <span class="name">Serviços</span>
            <span class="results">(16)</span>
          </a>
        </li>
        <li class="item">
          <a href="#">
            <span class="name">Aplicativos</span>
            <span class="results">(12)</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>
