<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>pagination</title>
  <link rel="stylesheet" href="../../estilos/dist/css/dsgov.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="pagination.css">
</head>
<body>
  <div class="container-fluid">
    <nav>
      <ul class="br-pagination is-large">
        <li class="is-first is-disabled">
          <a href="">
            <i class="fas fa-angle-double-left"></i>
            <span>Anterior</span>
          </a>
        </li>
        <li class="d-flex d-sm-none">
          <label for="page-select-large"><span class="sr-only">Selecione a página</span></label>
          <select id="page-select-large">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <span class="ml-2">de</span>
          <a href="">10</a>
        </li>
        <li class="is-active">
          <a href="">
            <span>1</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>2</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>3</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>4</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>5</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>6</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>7</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>8</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>9</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>10</span>
          </a>
        </li>
        <li class="is-last">
          <a href="">
            <span>Próxima</span>
            <i class="fas fa-angle-double-right"></i>
          </a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="br-pagination">
        <li class="is-first is-disabled">
          <a href="">
            <i class="fas fa-angle-double-left"></i>
            <span>Anterior</span>
          </a>
        </li>
        <li class="d-flex d-sm-none">
          <label for="page-select-default"><span class="sr-only">Selecione a página</span></label>
          <select id="page-select-default">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <span class="ml-2">de</span>
          <a href="">10</a>
        </li>
        <li class="is-active">
          <a href="">
            <span>1</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>2</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>3</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>4</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>5</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>6</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>7</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>8</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>9</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>10</span>
          </a>
        </li>
        <li class="is-last">
          <a href="">
            <span>Próxima</span>
            <i class="fas fa-angle-double-right"></i>
          </a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="br-pagination">
        <li class="is-first is-disabled">
          <a href="">
            <i class="fas fa-angle-double-left"></i>
            <span>Anterior</span>
          </a>
        </li>
        <li class="d-flex d-sm-none">
          <label for="page-select-min"><span class="sr-only">Selecione a página</span></label>
          <select id="page-select-min">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <span class="ml-2">de</span>
          <a href="">10</a>
        </li>
        <li class="is-active">
          <a href="">
            <span>1</span>
          </a>
        </li>
        <li>
          <a href="">
            <span>2</span>
          </a>
        </li>
        <li>
          <span>...</span>
        </li>
        <li>
          <a href="">
            <span>10</span>
          </a>
        </li>
        <li class="is-last">
          <a href="">
            <span>Próxima</span>
            <i class="fas fa-angle-double-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</body>
</html>
