// Tema de cores do DS-Gov

// As cores estão no arquivo _tokens.scss
// Cada cor DEVE possuir respectiva variável no mapa $br-theme

$br-theme: (
  primary-pastel-1: $color-primary-pastel-1,
  primary-pastel-2: $color-primary-pastel-2,
  primary: $color-primary,
  primary-lighten-15: $color-primary-lighten-15,
  primary-lighten-25: $color-primary-lighten-25,
  primary-darken-15: $color-primary-darken-15,
  primary-darken-25: $color-primary-darken-25,

  secondary: $color-secondary,

  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
  info: $color-info,

  brown: $color-brown,
  teal: $color-teal,
  yellow: $color-yellow,
  orange: $color-orange,

  white: $color-white,
  gray-1: $color-gray-1,
  gray-2: $color-gray-2,
  gray-3: $color-gray-3,
  gray-4: $color-gray-4,
  gray-5: $color-gray-5,
  gray-6: $color-gray-6,
  gray-7: $color-gray-7,
  black: $color-black,
);
