// Sobrescrita de Grid breakpoints, Grid containers e Grid columns do
// _variables.scss do Bootstrap

// Breakpoints
//   - xs: mobile
//   - sm: mobile landscape e tablet
//   - md: table landscape e desktop
//   - lg: desktop
//   - xl: tv
// Os gutters variam de acordo com o breakpoint.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 998px,
  lg: 1280px,
  xl: 1600px
);

$container-max-widths: (
  sm: 736px,
  md: 992px,
  lg: 1152px,
  xl: 1440px
);

$grid-gutter-width: 16px;
$grid-gutters: (
  sm: $grid-gutter-width,
  lg: 24px,
  xl: 32px
);
