
extends ../../../partial/pug/isolate

block dependencies
  include ../message
  include ../../button/button

block content
  .col-sm.pt-3
        +message-danger
        +message-success
        +message-info
        +message-warning