@mixin focus {
  &:focus {
    outline: none;
  }

  &.focus-visible,
  &:focus-visible {
    @include focus-style;
  }
}

@mixin focus-soft {
  &:focus {
    @include focus-soft-style;
  }
}

@mixin focus-style {
  outline: var(--focus) dashed 4px;
  outline-offset: var(--focus-offset);
  z-index: 1;
}

@mixin focus-soft-style {
  outline: var(--focus) solid 2px;
}
