/// Aplica uma media query para o breakpoint informado.
/// @param {String} $breakpoint - Opção de breakpoint: mobile, portrait, tablet, desktop ou desktop-large
/// @example
///  @include media-breakpoint("desktop") {
///    h4 {
///      font-size: var(--font-size-up04);
///    }
///  }
///
///  @media (min-width: 1280px) {
///    h4 {
///      font-size: var(--font-size-up04);
///    }
///  }
@mixin media-breakpoint($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin make-colums($breakpoint: null) {
  $breakpoint: if($breakpoint, "-#{$breakpoint}", "");

  @for $i from 1 through 12 {
    .col#{$breakpoint}-#{$i} {
      flex-basis: calc($i / 12 * 100%);
      max-width: calc($i / 12 * 100%);
    }
  }
}

@mixin make-grid($breakpoint) {
  $breakpoint-abbr: map-get($breakpoints-abbr, $breakpoint);
  .col-#{$breakpoint-abbr} {
    flex: 1 0 0%;
    min-width: calc(1 / 12 * 100%);
  }

  .col-#{$breakpoint-abbr}-auto {
    flex: 0 0 auto;
    width: auto;
  }

  @include make-colums($breakpoint-abbr);

  .row {
    --grid-gutter: var(--grid-#{$breakpoint}-gutter);

    // Aplica densidades
    @each $density in $densities {
      &.density-#{$density} {
        --grid-gutter: var(--grid-#{$breakpoint}-gutter-#{$density}-density);
      }
    }
  }

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-fluid {
    --grid-margin: var(--grid-#{$breakpoint}-margin);

    // Aplica densidades
    @each $density in $densities {
      &.density-#{$density} {
        --grid-margin: var(--grid-#{$breakpoint}-margin-#{$density}-density);
      }
    }
  }

  @if $breakpoint == "portrait" {
    .container,
    .container-sm {
      --grid-breakpoint: var(--breakpoint-portrait);
    }
  }

  @if $breakpoint == "tablet" {
    .container,
    .container-sm,
    .container-md {
      --grid-breakpoint: var(--breakpoint-tablet);
    }
  }

  @if $breakpoint == "desktop" {
    .container,
    .container-sm,
    .container-md,
    .container-lg {
      --grid-breakpoint: var(--breakpoint-desktop);
    }
  }

  @if $breakpoint == "desktop-large" {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      --grid-breakpoint: var(--breakpoint-desktop-large);
    }
  }
}
