@mixin make-spacings($property, $breakpoint: null) {
  $breakpoint: if($breakpoint, "-#{$breakpoint}", "");
  $abbr: str-slice($property, 1, 1);

  @each $key, $value in $spacings {
    .#{$abbr}#{$breakpoint}-#{$key} {
      #{$property}: #{$value} !important;
    }

    @each $direction in "top", "right", "bottom", left {
      $direction-abbr: str-slice($direction, 1, 1);
      .#{$abbr}#{$direction-abbr}#{$breakpoint}-#{$key} {
        #{$property}-#{$direction}: #{$value} !important;
      }
    }

    .#{$abbr}x#{$breakpoint}-#{$key} {
      #{$property}-left: #{$value} !important;
      #{$property}-right: #{$value} !important;
    }

    .#{$abbr}y#{$breakpoint}-#{$key} {
      #{$property}-bottom: #{$value} !important;
      #{$property}-top: #{$value} !important;
    }
  }
}

@mixin make-spacings-grid($property) {
  @each $breakpoint in map-keys($breakpoints) {
    @if $breakpoint != "mobile" {
      @include media-breakpoint($breakpoint) {
        @include make-spacings(
          $property,
          map-get($breakpoints-abbr, $breakpoint)
        );
      }
    }
  }
}
