extends ../../../partial/pug/isolate

block dependencies
  include ../../button/button
  include ../../input/input
  include ../../list/list
  include ../../message/message
  include ../../radio/radio
  include ../select

append vars
  - var title = "Select";
  - var options = ["Acre", "Alagoas", "Amapá", "Amazonas", "Bahia", "Ceará", "Distrito Federal", "Espírito Santo", "Goiás", "Maranhão", "Mato Grosso", "Mato Grosso do Sul", "Minas Gerais", "Pará", "Paraíba", "Paraná", "Pernambuco", "Piauí", "Rio de Janeiro", "Rio Grande do Norte", "Rio Grande do Sul", "Rondônia", "Santa Catarina", "São Paulo", "Sergipe", "Tocantins"]

block content
  +select-simples
