//- Mixin para reusar componente Sign-in
mixin signin
  - const component = 'sign-in'
  button(class=prefix + component, type="button")&attributes(attributes)
    span.overlay
    span.content
      if block
        block
