<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>starter</title>
  <!-- Estilos ds-gov -->
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="../../assets/styles/dsgov-components.min.css">
  <link rel="stylesheet" href="../../assets/styles/dsgov-templates.min.css">
  <!-- Ícones fontawesome -->
  <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
</head>

<body>
  <!-- Atalhos para conteúdo -->
  <ul id="skip-menu" class="skip-menu">
    <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
    <li><a accesskey="2" href="#navigation">Ir para o menu</a></li>
    <li><a accesskey="3" href="#footer-brasil">Ir para o rodapé</a></li>
  </ul>
  <!-- Barra de governo -->
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
        <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do
          Governo Brasileiro</a>
      </li>
    </ul>
  </div>
  <!-- Wrapper -->
  <div class="page-wrapper container-fluid">
    <div class="page-background row">
      <div class="container">
        <div class="row">
          <!-- Lado esquerdo -->
          <div class="col-sm-4 col-lg-5">
            <div class="row justify-content-end">
              <div class="col-md-9 col-lg-7 col-xl-6 pt-sm-8">
                <!-- Logo -->
                <a id="left-logo" class="logo text-center d-none d-sm-block py-8" href="">
                  <img src="../../assets/images/logo-color.png" alt="Governo do Brasil" class="logo-image">
                </a>
                <!-- Descrição da página -->
                <p class="text-right d-none d-sm-block pr-3 pb-3">
                  <i>Área de descrição do template no lado da navegação.</i>
                </p>
                <!-- Menu de navegação -->
                <nav id="navigation" class="page-navigation d-none d-sm-block pb-8 mx-n1 mr-lg-n2 mr-xl-n3">
                  <ul class="br-tabs is-vertical">
                    <li class="item is-active">
                      <a href="">
                        <span class="name">item sem ícone</span>
                      </a>
                    </li>
                    <li class="item">
                      <a href="">
                        <img class="icon" src="../../assets/images/certificado-digital.png" alt="Certificado Digital">
                        <span class="name">item com ícone</span>
                      </a>
                    </li>
                    <li class="item">
                      <a href="">
                        <img class="icon" src="../../assets/images/neoid.png" alt="NeoID">
                        <span class="name">item com ícone</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- Lado direito -->
          <div class="col bg-white">
            <!-- Cabeçalho da página -->
            <header id="header" class="page-header pl-sm-10 pr-sm-3 pt-1 pt-sm-3">
              <!-- Acessibilidade -->
              <div class="accessibility float-right float-sm-none mt-1 mt-sm-0">
                <a id="contrast" href="" accesskey="6">
                  <span class="icon">
                    <i class="fas fa-adjust fa-2x"></i>
                  </span>
                  <span class="content d-none d-sm-inline">
                    <span class="">Alto Contraste</span>
                  </span>
                </a>
                <a id="vlibras" href="http://www.vlibras.gov.br/">
                  <span class="icon">
                    <i class="fas fa-assistive-listening-systems fa-2x"></i>
                  </span>
                  <span class="content d-none d-sm-inline">
                    <span class="">VLibras</span>
                  </span>
                </a>
              </div>
              <!-- Logo -->
              <a id="logo" class="logo d-sm-none" href="">
                <img src="../../assets/images/logo-color.png" alt="Governo do Brasil" class="logo-image">
              </a>
              <!-- Descrição da página -->
              <p class="d-sm-none pt-3">
                <i>Área de descrição do template no lado do conteúdo.</i>
              </p>
            </header>
            <!-- Conteúdo principal -->
            <main id="content" class="page-content pl-sm-10 pt-sm-8">
              <h1 class="main-title">Título da página</h1>
              <p>Conteúdo principal</p>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Rodapé de governo -->
  <div class="page-footer mt-5 mt-sm-0 pb-3 text-right">
    <div class="container-fluid">
      <img src="../../assets/images/produto-serpro.png" alt="Produto Serpro">
    </div>
  </div>
  <!-- Script da barra de governo -->
  <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js" type="text/javascript"></script>
  <script src="../../componentes/input-action/input-password.js"></script>
</body>

</html>
