@mixin radio-configs {
  @include radio-box;
  @include radio-checked;

  // Tokens do componente
  --radio-size: 26px;

  // Configuração padrão
  display: inline-flex;
  position: relative;

  // Esconder radio padrão
  input {
    margin: 0;
    opacity: 0;
    position: absolute;
  }

  // Container do componente
  label {
    display: inline-flex;
    flex: 1;
    gap: var(--spacing-xxs);
    margin: 0;

    // Caixa do radio
    &::before {
      content: "";

      @extend %radio;
      @include motion-effect("fading", "background-color");
    }

    // Checked
    &::after {
      content: "";

      @extend %radio-checked;
    }

    // Overlay
    > .overlay {
      background-color: currentcolor;
      inset: 0;
      opacity: 0;
      position: absolute;

      @include motion-effect("fading", "opacity");
    }

    // Conteúdo
    > .content {
      flex: 1;
      font-size: var(--font-size-scale-base);
      font-weight: var(--font-weight-medium);
      padding-top: 3px;
    }
  }

  // Estado Selecionado
  input:checked + label::after {
    transform: scale(0.55);
  }

  // Estado Focus
  input:focus-visible + label::before {
    @include focus-soft-style;
  }

  // Estado Hover
  input:hover:not([disabled]) + label::before {
    background-color: var(--theme-hover-main);
  }

  // Estado Desativado
  input[disabled] + label {
    cursor: not-allowed;
    opacity: var(--disabled);
  }

  // Tipo Item, usado no Select
  &.item {
    display: flex;

    // Container do componente
    label {
      background-color: var(--background);
      cursor: pointer;
      padding: var(--spacing-sm);

      // Caixa do radio
      &::before {
        content: none;
      }

      // Checked
      &::after {
        content: none;
      }

      // Conteúdo
      > .content {
        padding-top: 0;
      }
    }

    // Estado Selecionado
    input:checked + label {
      background-color: var(--theme-selected-main);

      @include contrast-mode;
    }

    // Estado Hover
    input:hover + label {
      &::before {
        background-color: var(--theme-surface-main-base);
        position: relative;
      }

      > .overlay {
        opacity: var(--hover);
      }
    }

    // Cria separador automático
    & + & {
      border-top: 1px solid var(--theme-border-main-base);
    }
  }
}

@mixin radio-box {
  // Caixa do radio
  %radio {
    background-color: var(--theme-surface-main-base);
    border-color: var(--theme-border-main-base);
    border-radius: var(--rounder-full);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: var(--radio-size);
    width: var(--radio-size);
  }
  
}

@mixin radio-checked {
  // Checado
  %radio-checked {
    background-color: var(--theme-selected-main);
    border-radius: var(--rounder-full);
    content: "";
    height: var(--radio-size);
    position: absolute;
    transform: scale(0);
    width: var(--radio-size);
  
    @include motion-effect("zooming", "transform");
  }
  
}
