extends ../../partial/pug/component

append vars
  - var title = "Utilitário de Bordas";

append content
  p.h4.mt-5 Border solid
  .bg-support-02.text-weight-bold.d-inline-block.m-1.p-3.border-solid-none border-solid-none
  .bg-support-02.text-weight-bold.d-inline-block.m-1.p-3.border-solid-sm border-solid-sm
  .bg-support-02.text-weight-bold.d-inline-block.m-1.p-3.border-solid-md border-solid-md
  .bg-support-02.text-weight-bold.d-inline-block.m-1.p-3.border-solid-lg border-solid-lg

  p.h4.mt-5 Border dashed
  .bg-support-02.text-weight-bold.d-inline-block.m-1.p-3.border-dashed-none border-dashed-none
  .bg-support-02.text-weight-bold.d-inline-block.m-1.p-3.border-dashed-sm border-dashed-sm
  .bg-support-02.text-weight-bold.d-inline-block.m-1.p-3.border-dashed-md border-dashed-md
  .bg-support-02.text-weight-bold.d-inline-block.m-1.p-3.border-dashed-lg border-dashed-lg
