<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Menu Lateral DS</title>
  <link rel="stylesheet" href="../../estilos/dist/css/dsgov.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="menu-ds.css">
</head>
<body>
  <div id="col-menu">
    <nav class="ds-menu-lateral">
      <div>
        <h3>Título Item</h3>
        <ul>
          <!-- Item sem filhos -->
          <li>
            <a class="menu-item">Texto link</a>
            <!-- Item com filhos -->
            <h4>Sub Título</h4>
            <ul>
              <li>
                <a class="menu-item"> Texto link </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  </body>
</html>
