extends ../../../partial/pug/isolate

block dependencies
  include ../list
  include ../../button/button
  include ../../divider/divider
  include ../../item/item

block content
  +list-vertical-simples
