.page-header {
  position: relative;
}

.header-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 68px;
  position: relative;
}

.quicklinks {
  align-items: center;
  border-top: 1px solid #cccccc;
  display: none;
  padding: 16px;
}

.quicklinks .icon {
  color: #333333;
}

.language {
  position: relative;
  z-index: 1;
}

.language-selected {
  align-items: center;
  background: transparent;
  border: 0;
  display: flex;
}

.language-selected .name {
  display: none;
}

.language-selected .arrow {
  font-size: 10px;
  margin-left: 8px;
}

.language-list {
  background: #ffffff;
  border-top: 1px solid #ffcd07;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 100%;
}

.language-list p {
  border-bottom: 1px solid #cccccc;
  font-style: italic;
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 16px 16px 8px;
}

.language-list .item {
  align-items: center;
  background: transparent;
  border: 0;
  display: flex;
  flex: 1;
  padding: 8px 16px;
}

.language-list .item:hover {
  background: #dbe8fb;
}

.language-list .item .flag {
  margin-right: 16px;
}

.language-list .item .flag img {
  vertical-align: middle;
}

.language-list .item .name {
  white-space: nowrap;
}

.language-list .is-active {
  color: #1351b4;
}

.language.is-active .language-list {
  display: flex;
}

.social-network {
  color: #0c326f;
  margin: 0;
  padding: 0 16px 16px;
  text-transform: uppercase;
}

.social-network span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
}

.social-network ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.social-network ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.social-network ul li:first-child a {
  padding-left: 0;
}

.social-network ul li:last-child a {
  padding-right: 0;
}

.social-network ul li a {
  color: #0c326f;
  display: inline-block;
  padding: 8px 16px;
}

.canvas {
  background: rgba(0, 0, 0, 0.49);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
}

.canvas.is-active {
  display: block;
}

.navigation-wrapper {
  background: #ffffff;
  display: none;
  position: absolute;
  top: 0;
  width: 80%;
  z-index: 4;
}

.navigation-wrapper .container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 42.6px);
  padding-left: 0;
  padding-right: 0;
}

.navigation-wrapper.is-active {
  display: block;
}

.navigation-wrapper .quicklinks {
  display: flex;
}

.navigation-wrapper .quicklinks .language-list {
  bottom: 100%;
  left: 0;
  right: auto;
  top: auto;
}

.navigation {
  border-top: 1px solid #ffcd07;
  flex: 1;
  overflow: auto;
  padding: 12px 0;
}

.navigation ul {
  list-style: none;
}

.navigation .item {
  margin: 0;
  padding: 0;
}

.navigation .item a,
.navigation .item button {
  background: transparent;
  border: 0;
  color: #555555;
  display: block;
  padding: 8px 16px;
  text-align: left;
  text-decoration: none;
  width: 100%;
}

.navigation .item a:hover,
.navigation .item button:hover {
  background: #0c326f;
  color: #ffffff;
  font-weight: 600;
}

.navigation .level-1,
.navigation .level-2,
.navigation .level-3 {
  margin: 0;
  padding: 0;
}

.license {
  font-size: 12px;
}

.license a {
  color: inherit;
}

.report-error {
  font-size: 12px;
}

.page-footer {
  background: #071d41;
  border-bottom: 0;
  color: #ffffff;
}

.page-footer a {
  color: #ffffff;
}

.page-footer .logo {
  height: 60px;
  margin-bottom: 40px;
  margin-top: 56px;
  width: 166px;
}

.page-footer .navigation {
  border-top: 1px solid #ffffff;
  padding: 0;
}

.page-footer .navigation .item {
  border-bottom: 1px solid #ffffff;
}

.page-footer .navigation .item a,
.page-footer .navigation .item button {
  color: #ffffff;
  font-weight: 800;
  padding: 16px 0;
  text-transform: uppercase;
}

.page-footer .navigation .item a:hover,
.page-footer .navigation .item button:hover {
  background: transparent;
  color: #ffffff;
}

.page-footer .navigation .level-1 {
  padding-bottom: 12px;
}

.page-footer .navigation .level-1 a,
.page-footer .navigation .level-1 button {
  font-size: 14px;
  font-weight: 500;
  padding: 8px 0;
  text-transform: none;
}

.page-footer .navigation .level-1 .item {
  border-bottom: 0;
}

.page-footer .navigation .level-2 {
  display: none;
}

.page-footer .social-network {
  border: 0;
  color: #ffffff;
  padding: 56px 0 16px;
  text-align: left;
}

.page-footer .social-network span {
  display: block;
}

.page-footer .social-network a {
  color: #ffffff;
}

.page-footer #footer-brasil {
  background: transparent;
  width: auto;
}

.page-footer #footer-brasil #wrapper-footer-brasil {
  justify-content: flex-start;
  max-width: 100%;
  padding: 56px 0 32px;
  width: auto;
}

.page-footer #footer-brasil .logo-acesso-footer,
.page-footer #footer-brasil .logo-governo-federal {
  filter: invert(100%);
}

@media (min-width: 576px) {
  .quicklinks {
    border-top: 0;
    display: flex;
    margin-left: auto;
    margin-right: 24px;
  }
  .navigation-wrapper .quicklinks {
    display: none;
  }
  .social-network {
    border-top: 1px solid #cccccc;
    padding-bottom: 0;
    text-align: right;
  }
  .social-network span {
    display: inline;
  }
  .page-footer .social-network {
    float: left;
    margin-top: 40px;
    padding-top: 0;
  }
  .page-footer #footer-brasil #wrapper-footer-brasil {
    justify-content: flex-end;
  }
}

@media (min-width: 998px) {
  .header-bar .quicklinks {
    margin-right: 270px;
  }
  .header-bar .language {
    z-index: 5;
  }
  .header-bar .br-search {
    height: 68px;
  }
  .header-bar .br-search .field input {
    display: block;
  }
  .header-bar .br-search .field button {
    background: #ededed;
  }
  .canvas {
    display: none !important;
  }
  .navigation-wrapper {
    border-top: 1px solid #ffcd07;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.32);
    top: auto;
    width: 100%;
  }
  .navigation-wrapper .container {
    height: auto;
  }
  .navigation-wrapper .header-bar {
    display: none;
  }
  .navigation {
    border-top: 0;
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    position: relative;
  }
  .navigation .item {
    width: 25%;
  }
  .navigation .item .item {
    width: 100%;
  }
  .navigation .level-1,
  .navigation .level-2,
  .navigation .level-3 {
    position: absolute;
    top: 0;
  }
  .navigation .level-1 {
    margin: 32px 0;
    left: 25%;
    width: 25%;
  }
  .navigation .level-2,
  .navigation .level-3 {
    left: 100%;
    width: 100%;
  }
  .page-footer .navigation {
    border-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .page-footer .navigation .item {
    border-bottom: 0;
    flex: 0 0 16.66667%;
    width: auto;
  }
  .page-footer .navigation .item > a:hover,
  .page-footer .navigation .item > button:hover {
    text-decoration: underline;
  }
  .page-footer .navigation .level-1,
  .page-footer .navigation .level-2,
  .page-footer .navigation .level-3 {
    margin: 0;
    position: static;
    width: auto;
  }
}
