<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Template para sites e portais</title>
  <!-- Estilos ds-gov -->
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="../../assets/styles/dsgov-components.min.css">
  <link rel="stylesheet" href="../../assets/styles/dsgov-templates.min.css">
  <link rel="stylesheet" href="../../node_modules/flag-icon-css/css/flag-icon.min.css">
  <!-- Ícones fontawesome -->
  <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
</head>

<body class="template-portal">
  <!-- Atalhos para conteúdo -->
  <ul id="skip-menu" class="skip-menu">
    <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
    <li><a accesskey="2" href="#navigation">Ir para o menu</a></li>
    <li><a accesskey="3" href="#footer">Ir para o rodapé</a></li>
  </ul>
  <!-- Barra de governo -->
  <!-- <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
        <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do
          Governo Brasileiro</a>
      </li>
    </ul>
  </div> -->
  <!-- Cabeçalho da página -->
  <header id="header" class="page-header sticky">
    <!-- Sombra do topo -->
    <div class="shadow-bottom">
      <div class="container">
        <!-- Barra principal -->
        <div class="header-bar row">
          <!-- Menu sanduiche -->
          <button class="menu-hamburger" type="button">
            <i class="fa fa-bars"></i>
          </button>
          <!-- Logo -->
          <div class="logo">
            <a id="logo" href="">
              <img src="../../assets/images/govbr.svg" alt="Governo Federal">
            </a>
            <span class="description">Ministério da Ciência, Tecnologia, Inovações e Comunicações</span>
            <span class="name">Ministério da Ciência, Tecnologia, Inovações e Comunicações</span>
          </div>
          <!-- Links rápidos -->
          <div class="quicklinks">
            <!-- Acesso gov.br -->
            <a href="" class="login">
              <i class="fas fa-user fa-lg"></i>
              <span>Acesso GOV.BR</span>
            </a>
            <!-- Legislação -->
            <a href="" class="legislation">Legislação</a>
            <!-- Idioma -->
            <div class="language dropdown">
              <button class="trigger" type="button">
                <span class="name">Português (Brasil)</span>
                <i class="fas fa-chevron-down arrow"></i>
              </button>
              <div class="menu">
                <div class="title">Idioma/Language</div>
                <button class="item is-active" type="button">
                  <span class="name">Português, Brasil</span>
                </button>
                <button class="item" type="button">
                  <span class="name">English, USA</span>
                </button>
                <button class="item" type="button">
                  <span class="name">Español, España</span>
                </button>
              </div>
            </div>
            <!-- Altocontraste -->
            <a href="" id="contrast" class="contrast" accesskey="6">
              <i class="fas fa-adjust fa-lg"></i>
              <span class="sr-only">Alto contraste</span>
            </a>
          </div>
          <!-- Busca geral -->
          <div class="search">
            <div class="field">
              <label for="search" class="sr-only">Autocomplete</label>
              <input id="search" type="text" placeholder="O que você procura?">
              <button class="" type="button">
                <i class="fas fa-search fa-lg"></i>
                <span class="sr-only">buscar</span>
              </button>
            </div>
            <button class="close" type="button">
              <i class="fas fa-times fa-lg"></i>
              <span class="sr-only">fechar a busca</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Conteúdo principal -->
  <div class="page-wrapper">
    <!-- Menu de navegação -->
    <div class="canvas"></div>
    <nav id="navigation" class="navigation-wrapper">
      <div class="container">
        <!-- Nome e opção de fechar navegação -->
        <div class="row align-items-center header-bar">
          <!-- Menu sanduiche -->
          <div class="col-auto pr-0">
            <button class="menu-hamburger pl-3" type="button">
              <i class="fa fa-times"></i>
            </button>
          </div>
          <!-- Logo -->
          <div class="col logo">
            <span class="name">Logo/Nome</span>
            <span class="description">Assinatura do Órgão</span>
          </div>
        </div>
        <!-- Itens de navegação -->
        <div class="navigation">
          <div class="item">
            <button type="button">Acompanhe o Planalto</button>
            <ul class="submenu level-1">
              <li class="item"><a href="">Notícias</a></li>
              <li class="item"><a href="">Agenda do Presidente</a></li>
              <li class="item"><a href="">Agenda do Presidente em exercício</a></li>
              <li class="item"><a href="">Discursos</a></li>
              <li class="item"><a href="">Pronunciamentos</a></li>
              <li class="item"><a href="">Notas Oficiais</a></li>
              <li class="item"><a href="">Notas</a></li>
              <li class="item"><a href="">Entrevistas</a></li>
              <li class="item"><a href="">Foto Oficial</a></li>
              <li class="item"><a href="">Área de Imprensa</a></li>
              <li class="item"><a href="">Porta-voz</a></li>
              <li class="item"><a href="">WhatsApp</a></li>
            </ul>
          </div>
          <div class="item">
            <button type="button">Conheça a Presidência</button>
            <ul class="submenu level-1">
              <li class="item"><a href="">Biografia do Presidente</a></li>
              <li class="item"><a href="">Ministros</a></li>
              <li class="item"><a href="">Principais Tropas</a></li>
              <li class="item"><a href="">Palácio e Residências</a></li>
              <li class="item"><a href="">Acervo</a></li>
              <li class="item"><a href="">Ritos e Solenidades</a></li>
              <li class="item"><a href="">Presentes recebidos pelo Presidênte da República</a></li>
            </ul>
          </div>
          <div class="item">
            <button type="button">Vice-Presidência</button>
            <ul class="submenu level-1">
              <li class="item"><a href="">Agenda Vice-Presidente</a></li>
              <li class="item"><a href="">Agendas do Gabinete Pessoal da Vice-Presidência</a></li>
              <li class="item"><a href="">Biografia</a></li>
              <li class="item"><a href="">Atribuições</a></li>
              <li class="item"><a href="">Discursos e Pronunciamentos</a></li>
            </ul>
          </div>
          <div class="item">
            <button type="button">Acesso à Informação</button>
            <ul class="submenu level-1">
              <li class="item"><a href="">Institucional</a></li>
              <li class="item"><a href="">Ações e Programas</a></li>
              <li class="item"><a href="">Dados abertos</a></li>
              <li class="item"><a href="">Auditorias</a></li>
              <li class="item"><a href="">Convênios</a></li>
              <li class="item"><a href="">Despesas</a></li>
              <li class="item"><a href="">Licitações e contratos</a></li>
              <li class="item"><a href="">Servidores</a></li>
              <li class="item"><a href="">Informações Classificadas</a></li>
              <li class="item"><a href="">Serviço de Informação ao Cidadão</a></li>
            </ul>
          </div>
          <div class="item">
            <button type="button">Centrais de Conteúdo</button>
            <ul class="submenu level-1">
              <li class="item"><a href="">Imagens</a></li>
              <li class="item"><a href="">Vídeos</a></li>
              <li class="item"><a href="">Áudios</a></li>
            </ul>
          </div>
          <div class="item">
            <button type="button">Fale Conosco</button>
            <ul class="submenu level-1">
              <li class="item"><a href="">Fale com o Presidente</a></li>
              <li class="item"><a href="">Ouvidoria</a></li>
            </ul>
          </div>
          <div class="item">
            <a href="">Mensagem do Presidente</a>
          </div>
        </div>
        <!-- Acessibilidade e língua no celular -->
        <div class="quicklinks">
          <div class="row align-items-end">
            <div class="col-auto">
              <a id="contrast" href="" accesskey="6">
                <span class="icon">
                  <i class="fas fa-adjust fa-lg"></i>
                </span>
              </a>
            </div>
            <div class="col-auto">
              <a id="vlibras" href="http://www.vlibras.gov.br/">
                <span class="icon">
                  <i class="fas fa-assistive-listening-systems fa-lg"></i>
                </span>
              </a>
            </div>
            <div class="col-auto">
              <div class="language is-active">
                <button class="language-selected" type="button">
                  <img class="flag" src="../../assets/images/flag-br.png" alt="Português">
                  <span class="name">Português (Brasil)</span>
                  <i class="fas fa-chevron-down arrow"></i>
                </button>
                <div class="language-list">
                  <p>Linguagem/Language</p>
                  <button class="item is-active" type="button">
                    <img class="flag" src="../../assets/images/flag-br.png" alt="Português">
                    <span class="name">Português, Brasil</span>
                  </button>
                  <button class="item" type="button">
                    <img class="flag" src="../../assets/images/flag-us.png" alt="English">
                    <span class="name">English, USA</span>
                  </button>
                  <button class="item" type="button">
                    <img class="flag" src="../../assets/images/flag-es.png" alt="Español">
                    <span class="name">Español, España</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Redes sociais -->
        <div class="social-network">
          <span>Redes sociais</span>
          <ul>
            <li>
              <a href="https://www.twitter.com/twitter.com/govbr">
                <i class="fab fa-twitter fa-lg"></i>
                <span class="sr-only">Twitter</span>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/youtube.com/govbr">
                <i class="fab fa-youtube fa-lg"></i>
                <span class="sr-only">YouTube</span>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/facebook.com/govbr">
                <i class="fab fa-facebook-f fa-lg"></i>
                <span class="sr-only">Facebook</span>
              </a>
            </li>
            <li>
              <a href="https://www.flickr.com/flickr/govbr">
                <i class="fab fa-flickr fa-lg"></i>
                <span class="sr-only">Flickr</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Breadcrumbs -->
    <aside class="d-none d-sm-block">
      <div class="container">
        <ul class="br-breadcrumb pt-3">
          <li class="home">
            <a href="">
              <span class="sr-only">Página inicial</span>
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li><a href="">Tela anterior</a></li>
          <li class="is-active"><a href="">Tela atual</a></li>
        </ul>
        <hr>
      </div>
    </aside>
    <div class="container">
      <main id="content" class="page-content">
        <h1 class="main-title">Título da página</h1>
        <p>Conteúdo principal</p>
        <!-- Navegação adicional para celular -->
        <nav class="content-navigation"></nav>
        <!-- Conteúdo acessório -->
        <aside class="content-aside"></aside>
        <!-- Voltar ao topo -->
        <div class="text-right">
          <hr>
          <button class="br-button is-go-top" type="button">
            Voltar ao topo
            <span class="br-button is-circle is-primary">
              <i class="fas fa-chevron-up"></i>
            </span>
          </button>
          <hr>
        </div>
        <div class="row">
          <div class="col-sm">
            <!-- Licença -->
            <p class="license">
              Todo o conteúdo deste site está publicado sob a licença <a
                href="https://creativecommons.org/licenses/by-nd/3.0/deed.pt_BR">Creative Commons
                Atribuição-SemDerivações
                3.0 Não Adaptada</a>.
            </p>
          </div>
          <div class="col-sm-auto">
            <!-- Reportar erro -->
            <p class="report-error">
              <a href="" class="text-uppercase">Reportar erro</a>
            </p>
          </div>
        </div>
      </main>
    </div>
  </div>
  <!-- Rodapé de governo -->
  <footer id="footer" class="page-footer">
    <div class="container">
      <!-- Logo do rodapé -->
      <div class="logo">
        <img src="../../assets/images/govbrNegativa.svg" alt="gov.br">
      </div>
      <!-- Itens de navegação -->
      <div class="navigation">
        <div class="item">
          <button type="button">Acompanhe o Planalto</button>
          <ul class="submenu level-1">
            <li class="item"><a href="">Notícias</a></li>
            <li class="item"><a href="">Agenda do Presidente</a></li>
            <li class="item"><a href="">Agenda do Presidente em exercício</a></li>
            <li class="item"><a href="">Discursos</a></li>
            <li class="item"><a href="">Pronunciamentos</a></li>
            <li class="item"><a href="">Notas Oficiais</a></li>
            <li class="item"><a href="">Notas</a></li>
            <li class="item"><a href="">Entrevistas</a></li>
            <li class="item"><a href="">Foto Oficial</a></li>
            <li class="item"><a href="">Área de Imprensa</a></li>
            <li class="item"><a href="">Porta-voz</a></li>
            <li class="item"><a href="">WhatsApp</a></li>
          </ul>
        </div>
        <div class="item">
          <button type="button">Conheça a Presidência</button>
          <ul class="submenu level-1">
            <li class="item"><a href="">Biografia do Presidente</a></li>
            <li class="item"><a href="">Ministros</a></li>
            <li class="item"><a href="">Principais Tropas</a></li>
            <li class="item"><a href="">Palácio e Residências</a></li>
            <li class="item"><a href="">Acervo</a></li>
            <li class="item"><a href="">Ritos e Solenidades</a></li>
            <li class="item"><a href="">Presentes recebidos pelo Presidênte da República</a></li>
          </ul>
        </div>
        <div class="item">
          <button type="button">Vice-Presidência</button>
          <ul class="submenu level-1">
            <li class="item"><a href="">Agenda Vice-Presidente</a></li>
            <li class="item"><a href="">Agendas do Gabinete Pessoal da Vice-Presidência</a></li>
            <li class="item"><a href="">Biografia</a></li>
            <li class="item"><a href="">Atribuições</a></li>
            <li class="item"><a href="">Discursos e Pronunciamentos</a></li>
          </ul>
        </div>
        <div class="item">
          <button type="button">Acesso à Informação</button>
          <ul class="submenu level-1">
            <li class="item"><a href="">Institucional</a></li>
            <li class="item"><a href="">Ações e Programas</a></li>
            <li class="item"><a href="">Dados abertos</a></li>
            <li class="item"><a href="">Auditorias</a></li>
            <li class="item"><a href="">Convênios</a></li>
            <li class="item"><a href="">Despesas</a></li>
            <li class="item"><a href="">Licitações e contratos</a></li>
            <li class="item"><a href="">Servidores</a></li>
            <li class="item"><a href="">Informações Classificadas</a></li>
            <li class="item"><a href="">Serviço de Informação ao Cidadão</a></li>
          </ul>
        </div>
        <div class="item">
          <button type="button">Centrais de Conteúdo</button>
          <ul class="submenu level-1">
            <li class="item"><a href="">Imagens</a></li>
            <li class="item"><a href="">Vídeos</a></li>
            <li class="item"><a href="">Áudios</a></li>
          </ul>
        </div>
        <div class="item">
          <button type="button">Fale Conosco</button>
          <ul class="submenu level-1">
            <li class="item"><a href="">Fale com o Presidente</a></li>
            <li class="item"><a href="">Ouvidoria</a></li>
          </ul>
        </div>
        <div class="item">
          <a href="">Mensagem do Presidente</a>
        </div>
      </div>
      <!-- Redes sociais -->
      <div class="social-network">
        <span>Redes sociais</span>
        <ul>
          <li>
            <a href="https://www.twitter.com/twitter.com/govbr">
              <i class="fab fa-twitter fa-lg"></i>
              <span class="sr-only">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/youtube.com/govbr">
              <i class="fab fa-youtube fa-lg"></i>
              <span class="sr-only">YouTube</span>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/facebook.com/govbr">
              <i class="fab fa-facebook-f fa-lg"></i>
              <span class="sr-only">Facebook</span>
            </a>
          </li>
          <li>
            <a href="https://www.flickr.com/flickr/govbr">
              <i class="fab fa-flickr fa-lg"></i>
              <span class="sr-only">Flickr</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- Script da barra de governo -->
  <!-- <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js" type="text/javascript"></script> -->
  <script>
    // Classe para ativar elementos e componentes
    const active = "is-active"

    function toogleActive(element) {
      element.classList.toggle(active)
    }

    // Menu dropdown
    const dropdown = document.querySelectorAll('.dropdown')

    for (drop of dropdown) {
      let trigger = drop.querySelector('.trigger')
      let menu = drop.querySelector('.menu')

      trigger.addEventListener('click', function () {
        toogleActive(menu)
      })
    }

    // Navegação
    const canvas = document.querySelector('.canvas')

    const navigationTrigger = document.querySelector('.shadow-bottom .menu-hamburger')

    const navigation = document.querySelector('#navigation')
    const navigationClose = navigation.querySelector('.menu-hamburger')
    const navigationItems = navigation.querySelectorAll('.item')

    const navigationArrow = window.document.createElement('i')
    navigationArrow.setAttribute('class', 'fas fa-chevron-right')

    function toogleNavigation() {
      toogleActive(navigation)
      toogleActive(canvas)
    }

    function addArrow(element) {
      element.appendChild(navigationArrow)
    }

    navigationTrigger.addEventListener('click', toogleNavigation)
    canvas.addEventListener('click', toogleNavigation)
    navigationClose.addEventListener('click', toogleNavigation)

    for (let item of navigationItems) {
      console.log(item.childElementCount)
      if (item.childElementCount > 1) {
        item.children[0].appendChild(navigationArrow)
      }
    }

    // Busca
    const search = document.querySelector('.search')
    const searchTrigger = search.querySelector('.field button')
    const searchInput = search.querySelector('.field input')
    const searchClose = search.querySelector('.close')

    function openSearch() {
      toogleActive(search)
      searchTrigger.removeEventListener('click', openSearch)
      searchInput.removeEventListener('click', openSearch)
    }

    function closeSearch() {
      toogleActive(search)
      searchTrigger.addEventListener('click', openSearch)
      searchInput.addEventListener('click', openSearch)
    }

    searchTrigger.addEventListener('click', openSearch)
    searchInput.addEventListener('click', openSearch)
    searchClose.addEventListener('click', closeSearch)
  </script>
</body>

</html>