// Carregar variáveis do DS-Gov
@import "../../base/dsgov-base";

// Cabeçalho da página
.page-header {
  position: relative;
}

// Barra principal do topo
.header-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 68px;
  position: relative;
}

// Links rápidos de acessibilidade e língua
.quicklinks {
  align-items: center;
  border-top: 1px solid $color-gray-3;
  display: none;
  padding: $spacing-3;
  // Ícones de acessibilidade
  .icon {
    color: $color-gray-7;
  }
}

// Seleção de lingua
.language {
  position: relative;
  z-index: 1;
  // lingua selecionada
  &-selected {
    align-items: center;
    background: transparent;
    border: 0;
    display: flex;
    .name {
      display: none;
    }
    .arrow {
      font-size: 10px;
      margin-left: $spacing-1;
    }
  }
  // Listagem de línguas
  &-list {
    background: $color-white;
    border-top: 1px solid $color-warning;
    box-shadow: 0 3px 6px rgba($color-black, 0.22);
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    // Rótulo da seleção
    p {
      border-bottom: 1px solid $color-gray-3;
      font-style: italic;
      font-size: 14px;
      font-weight: 600;
      padding: 0;
      margin: $spacing-3 $spacing-3 $spacing-1;
    }
    // Item selecionável
    .item {
      align-items: center;
      background: transparent;
      border: 0;
      display: flex;
      flex: 1;
      padding: $spacing-1 $spacing-3;
      &:hover {
        background: $color-primary-pastel-1;
      }
      .flag {
        margin-right: $spacing-3;
        img {
          vertical-align: middle;
        }
      }
      .name {
        white-space: nowrap;
      }
    }
    // Item selecionado
    .is-active {
      color: $color-primary;
    }
  }
  // Lista ativa
  &.is-active {
    .language-list {
      display: flex;
    }
  }
}

// Canvas overlay
.canvas {
  background: rgba($color-black, 0.49); // sass-lint:disable-line no-color-literals
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  // Canvas ativo
  &.is-active {
    display: block;
  }
}

// Container da navegação
.navigation-wrapper {
  background: $color-white;
  display: none;
  position: absolute;
  top: 0;
  width: 80%;
  z-index: 2;
  .container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 42.6px); // altura da barra de governo
    padding-left: 0;
    padding-right: 0;
  }
  // Navegação ativa
  &.is-active {
    display: block;
  }
  // Links rápidos de acessibilidade e língua
  .quicklinks {
    display: flex;
    // Reposicionamento da lista de línguas
    .language-list {
      bottom: 100%;
      left: 0;
      right: auto;
      top: auto;
    }
  }
}

// Navegação
.navigation {
  border-top: 1px solid $color-warning;
  flex: 1;
  overflow: auto;
  padding: $spacing-2 0;
  // Item de navegação
  .item {
    margin: 0;
    padding: 0;
    a,
    button {
      background: transparent;
      border: 0;
      color: $color-gray-6;
      display: block;
      padding: $spacing-1 $spacing-3;
      text-align: left;
      text-decoration: none;
      width: 100%;
      &:hover {
        background: $color-primary-darken-15;
        color: $color-white;
        font-weight: 600;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

// Redes sociais
.social-network {
  color: $color-primary-darken-15;
  margin: 0;
  padding: 0 $spacing-3 $spacing-3;
  text-transform: uppercase;
  span {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-right: $spacing-4;
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      &:first-child {
        a {
          padding-left: 0;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      a {
        color: $color-primary-darken-15;
        display: inline-block;
        padding: $spacing-1 $spacing-3;
      }
    }
  }
}

// Licença
.license {
  font-size: 12px;
  a {
    color: inherit;
  }
}

// Reportar erro
.report-error {
  font-size: 12px;
}

// Rodape
.page-footer {
  background: $color-primary-darken-25;
  border-bottom: 0;
  color: $color-white;
  a {
    color: $color-white;
  }
  // Logo
  .logo {
    height: 60px;
    margin-bottom: $spacing-8;
    margin-top: $spacing-10;
    width: 166px;
  }
  // Navegação
  .navigation {
    border-top: 1px solid $color-white;
    padding: 0;
    // Item de navegação
    .item {
      border-bottom: 1px solid $color-white;
      a,
      button {
        color: $color-white;
        font-weight: 800;
        padding: $spacing-3 0;
        text-transform: uppercase;
        &:hover {
          background: transparent;
          color: $color-white;
        }
      }
    }
    // Nível 1
    .level-1 {
      padding-bottom: $spacing-2;
      a,
      button {
        font-size: 14px;
        font-weight: 500;
        padding: $spacing-1 0;
        text-transform: none;
      }
      .item {
        border-bottom: 0;
      }
    }
    // Não mostrar a partir de nivel 2
    .level-2 {
      display: none;
    }
  }
  // Redes sociais
  .social-network {
    border: 0;
    color: $color-white;
    padding: $spacing-10 0 $spacing-3;
    text-align: left;
    span {
      display: block;
    }
    a {
      color: $color-white;
    }
  }
  // Marcas do governo
  #footer-brasil {
    background: transparent;
    width: auto;
    #wrapper-footer-brasil {
      justify-content: flex-start;
      max-width: 100%;
      padding: $spacing-10 0 $spacing-6;
      width: auto;
    }
    .logo-acesso-footer,
    .logo-governo-federal {
      filter: invert(100%);
    }
  }
}

// Versao tablet
@include media-breakpoint-up(sm) {
  // Links rápidos de acessibilidade e língua
  .quicklinks {
    border-top: 0;
    display: flex;
    margin-left: auto;
    margin-right: 24px;
  }
  // Container da navegação
  .navigation-wrapper {
    // Links rápidos de acessibilidade e língua
    .quicklinks {
      display: none;
    }
  }
  // Redes sociais
  .social-network {
    border-top: 1px solid $color-gray-3;
    padding-bottom: 0;
    text-align: right;
    span {
      display: inline;
    }
  }
  // Rodape
  .page-footer {
    // Redes sociais
    .social-network {
      float: left;
      margin-top: $spacing-8;
      padding-top: 0;
    }
    // Marcas do governo
    #footer-brasil {
      #wrapper-footer-brasil {
        justify-content: flex-end;
      }
    }
  }
}

// Versao desktop
@include media-breakpoint-up(md) {
  // Barra principal do topo
  .header-bar {
    // Links rápidos de acessibilidade e língua
    .quicklinks {
      margin-right: 270px;
    }
    // Busca do portal
    .br-search {
      height: 68px;
      .field {
        input {
          display: block;
        }
        button {
          background: $color-gray-2;
        }
      }
    }
  }
  // Rodape
  .page-footer {
    // Navegação
    .navigation {
      border-top: 0;
      display: flex;
      flex-wrap: wrap;
      // Item de navegação
      .item {
        border-bottom: 0;
        flex: 0 0 16.66667%;
      }
      // Nível 1
      .level-1 {
        a,
        button {
          padding: $spacing-half 0;
        }
      }
    }
  }
}