.#{$prefix}accordeon {
  border-top: 1px solid $border-color;
  margin-bottom: $margin-default;
  .item {
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    &.is-active {
      & + .content {
        display: block;
      }
    }
  }
  .header {
    background: transparent;
    border: 0;
    color: $body-color;
    display: flex;
    font-size: $font-size-base;
    justify-content: space-between;
    padding: $spacer ($spacer * 2) ($spacer * 1.5);
    text-align: left;
    text-decoration: none;
    width: 100%;
    &:hover {
      color: $link-hover-color;
      text-decoration: none;
      .title,
      .icon {
        color: inherit;
      }
    }
  }
  .icon {
    color: $primary;
    padding: 0 ($spacer * 2);
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .title {
    color: $body-color;
    flex: 1;
    font-weight: $font-weight-base;
    padding: 0 $spacer;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  .content {
    display: none;
    font-size: $font-size-base * 0.875;
    margin: 0 ($spacer * 2);
    padding: $spacer ($spacer * 7) ($spacer * 3);
    * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
