@include media-breakpoint-down(xs) {
  .br-breadcrumb{
    display: block!important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
   .home{
      display: inline;
    }
    li:not(:nth-child(3)):after{
      display: none;
    }
    li:not(:first-child):not(:nth-child(2)):not(.is-active){
      display: none;
    }


    li:nth-child(3):after{
      display:inline!important;
      content: '...';
      font-size: 1em;
      background-color: v(color-secondary-04, $color-secondary-04);
    }

    li:nth-child(2):after{
      display: inline!important;
      content: '>';
      margin: 1em;
      color: v(color-secondary-04, $color-secondary-04);
    }
  }
}
.#{$prefix}breadcrumb {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  // Página inicial
  .home {
    a {
      color: v(color-secondary-07,$color-secondary-07);
      &:hover,
      &:focus {
        color: v(color-primary-lighten-01,$color-primary-lighten-01);
        text-decoration: none;
      }
    }
  }
  // Cada item
  li {
    color: v(color-secondary-07,$color-secondary-07);
    display: inline;
    font-size: v(font-size-scale-down-01, $font-size-scale-down-01);
    font-weight: v(font-weight-semi-bold, $font-weight-semi-bold);
    a {
      color: v(color-secondary-08,$color-secondary-08);
      font-weight: v(font-weight-medium, $font-weight-medium);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  // Separador
  li + li {
    &::before {
      color: v(color-secondary-04, $color-secondary-04);
      content: ">";
      font-size: v(font-size-scale-down-01, $font-size-scale-down-01);
      font-weight: v(font-weight-regular, $font-weight-regular);
      padding: 0 ($spacer * 1);
    }
  }
  // Item ativo
  .is-active {
    font-weight: v(font-weight-bold, $font-weight-bold);
    a {
      font-weight: v(font-weight-bold, $font-weight-bold);
    }
  }
}
