.#{$prefix}breadcrumb {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  // Página inicial
  .home {
    a {
      color: $body-color;
      &:hover,
      &:focus {
        color: $link-hover-color;
        text-decoration: none;
      }
    }
  }
  // Cada item
  li {
    color: $body-color;
    display: inline;
    font-size: $breadcrumbs-font-size;
    font-weight: $breadcrumbs-font-weight;
    a {
      color: $body-color;
      font-weight: $breadcrumbs-font-weight;
      text-decoration: none;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  // Separador
  li + li {
    &::before {
      color: $breadcrumbs-divider-color;
      content: $breadcrumbs-divider;
      font-size: $breadcrumbs-divider-size;
      font-weight: 400;
      padding: 0 ($spacer * 1.5);
    }
  }
  // Item ativo
  .is-active {
    color: $body-color;
    font-weight: 700;
    a {
      color: $link-hover-color;
      font-weight: 700;
      text-decoration: none;
    }
  }
}
