.#{$prefix}breadcrumb {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  // Página inicial
  .home {
    a {
      color: $body-color;
      &:hover,
      &:focus {
        color: $link-hover-color;
        text-decoration: none;
      }
    }
  }
  // Cada item
  li {
    color: $body-color;
    display: inline;
    font-size: v(font-size-scale-down-01, $font-size-scale-down-01);
    font-weight: v(font-weight-semi-bold, $font-weight-semi-bold);
    a {
      color: $body-color;
      font-weight: v(font-weight-semi-bold, $font-weight-semi-bold);
      text-decoration: none;
      &:hover {
        color: $link-hover-color;
      }
    }
  }
  // Separador
  li + li {
    &::before {
      color: v(color-secondary-04, $color-secondary-04);
      content: ">";
      font-size: v(font-size-scale-down-01, $font-size-scale-down-01);
      font-weight: v(font-weight-regular, $font-weight-regular);
      padding: 0 ($spacer * 1.5);
    }
  }
  // Item ativo
  .is-active {
    font-weight: v(font-weight-bold, $font-weight-bold);
    a {
      font-weight: v(font-weight-bold, $font-weight-bold);
    }
  }
}
