.#{$prefix}button {
  @include button;
  border-radius: $button-radius;
  color: v(color-primary-default);
  font-size: v(font-size-scale-up-01);
  font-weight: v(font-weight-semi-bold);

  // Enfases
  &.primary,
  &[primary] {
    background: v(color-primary-default);
    color: v(color-secondary-01);
    &:hover:not(:disabled) {
      color: v(color-primary-default);
    }
  }

  &.secondary,
  &[secondary] {
    border-color: v(color-primary-default);
  }
}
