.#{$prefix}button {
  @include button;
  border-radius: $button-radius;
  color: v(color-primary-default);
  font-size: v(font-size-scale-up-01);
  font-weight: v(font-weight-semi-bold);

  // Enfases
  &.primary,
  &[primary] {
    &:not(:focus):not(:hover):not(:active) {
      background: v(color-primary-default);
      color: v(color-secondary-01);
    }
  }

  &.secondary,
  &[secondary] {
    border-color: v(color-primary-default);
  }
}

a.#{$prefix}button {
  line-height: 40px;
  white-space: nowrap;
  &.large {
    line-height: 48px;
  }
  &.small {
    line-height: 32px;
  }
}
