.#{$prefix}checklist {
  border-top: 1px solid $border-color;
  margin: 0;
  // Cada linha do checklist
  .item {
    align-items: center;
    border-bottom: 1px solid $border-color;
    display: flex;
    margin: 0;
    min-height: 65px;
    padding: $spacer 0;
    // Linha ativada
    &.is-active {
      .#{$prefix}input {
        label {
          display: none;
        }
        input {
          display: inline-block;
        }
      }
    }
  }
  // Ícone ilustrativo
  .icon {
    color: $primary;
    text-align: center;
    width: 40px;
    &.is-invalid {
      color: $danger;
    }
    &.is-valid {
      color: $success;
    }
  }
  // Ajuste para input
  .#{$prefix}input {
    align-items: center;
    display: flex;
    input {
      display: none;
    }
    &.is-invalid {
      label {
        color: $danger;
      }
    }
    &.is-valid {
      label {
        color: $success;
      }
    }
  }
  // Ajuste checkbox e radio
  .#{$prefix}checkbox,
  .#{$prefix}radio {
    margin-left: auto;
  }
}
