.#{$prefix}checklist {
  border-top: 1px solid v(color-secondary-04,$color-secondary-04);
  margin: 0;
  // Cada linha do checklist
  .item {
    align-items: center;
    border-bottom: 1px solid v(color-secondary-04,$color-secondary-04);
    display: flex;
    margin: 0;
    min-height: 65px;
    padding: $spacer 0;
    // Linha ativada
    &.is-active {
      .#{$prefix}input {
        label {
          display: none;
        }
        input {
          display: inline-block;
        }
      }
    }
  }
  // Ícone ilustrativo
  .icon {
    color: v(color-primary-default,$color-primary-default);
    text-align: center;
    width: 40px;
    &.is-invalid {
      color: v(color-danger,$color-danger);
    }
    &.is-valid {
      color: v(color-success,$color-success);
    }
  }
  // Ajuste para input
  .#{$prefix}input {
    align-items: center;
    display: flex;
    input {
      display: none;
    }
    &.is-invalid {
      label {
        color: v(color-danger,$color-danger);
      }
    }
    &.is-valid {
      label {
        color: v(color-success,$color-success);
      }
    }
  }
  // Ajuste checkbox e radio
  .#{$prefix}checkbox,
  .#{$prefix}radio {
    margin-left: auto;
  }
}