.#{$prefix}input {
  &.datepicker {
    button {
      background: transparent;
      border: 0 transparent;
      bottom: 12px;
      color: $color-primary-default;
      display: block;
      outline: none !important;
      position: absolute;
      right: 12px;
      z-index: 999;
      &:active,
      &:hover {
        color: $color-primary-lighten-01;
      }
    }
    input {
      padding-right: 32px;
    }

    &.is-disabled {
      button,
      button:active,
      button:hover {
        color: $color-secondary-06;
        cursor: not-allowed;
      }
    }

    + p.help + div.feedback.is-valid,
    + div.feedback.is-valid,
    + p.help + div.feedback.is-valid + div.feedback.is-invalid,
    + div.feedback.is-valid + div.feedback.is-invalid {
      display: none;
    }
    &.is-valid {
      + p.help,
      + div.feedback.is-valid + div.feedback.is-invalid + p.help,
      + div.feedback.is-invalid + div.feedback.is-valid + p.help {
        display: none;
      }
      + div.feedback.is-valid,
      + p.help + div.feedback.is-valid {
        display: block;
      }
    }
    &.is-invalid {
      + p.help,
      + div.feedback.is-valid + div.feedback.is-invalid + p.help,
      + div.feedback.is-invalid + div.feedback.is-valid + p.help {
        display: none;
      }
      + div.feedback.is-valid,
      + p.help + div.feedback.is-valid {
        display: none;
      }
      + div.feedback.is-valid + div.feedback.is-invalid,
      + p.help + div.feedback.is-valid + div.feedback.is-invalid {
        display: block;
      }
    }
  }
  .qs-datepicker-container {
    -moz-user-select: none;
    -ms-flex-direction: column;
    -ms-user-select: none;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    -webkit-user-select: none;
    background: $white;
    border: 1px solid $color-secondary-02;
    border-radius: 0.26392em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    color: $color-secondary-07;
    //display: -webkit-box;
    //display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    //font-family: sans-serif;
    font-size: 14px; //1rem;
    overflow: hidden;
    padding: 0.2em 1em;
    position: absolute;
    user-select: none;
    width: 20em; //16em;//15.625em;
    z-index: 9001;
  }
  .qs-datepicker-container * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .qs-datepicker-container.qs-centered {
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .qs-datepicker-container.qs-hidden {
    display: none;
  }
  .qs-datepicker .qs-overlay {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-transition: opacity 0.3s;
    background: $white; //rgba(0, 0, 0, 0.75);
    color: $color-secondary-06;
    display: flex;
    //display: -ms-flexbox;
    //display: -webkit-box;
    flex-direction: column;
    height: 100%;
    left: 0;
    opacity: 1;
    padding: 0.5em;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    width: 100%;
    z-index: 1;
  }
  .qs-datepicker .qs-overlay.qs-hidden {
    opacity: 0;
    z-index: -1;
  }
  .qs-datepicker .qs-overlay .qs-overlay-year {
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 1px solid $color-secondary-06;
    border-radius: 0;
    color: $color-secondary-06;
    display: block;
    font-size: 0.875em;
    height: 2.5em;
    margin: 0 auto;
    padding: 0.25em 0;
    text-align: center;
    width: 80%;
    &:hover,
    &:focus {
      border: 0;
      border-bottom: 1px solid $color-secondary-06;
      box-shadow: none;
    }
  }
  .qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .qs-datepicker .qs-overlay .qs-close {
    cursor: pointer;
    padding: 0.5em;
    position: absolute;
    right: 0;
    top: 0;
  }
  .qs-datepicker .qs-overlay .qs-submit {
    background: hsla(0, 0%, 50.2%, 0.4);
    border: 1px solid $color-secondary-06;
    border-radius: 0.26392em;
    cursor: pointer;
    display: none;
    margin: 0 auto auto;
    padding: 0.5em;
  }
  .qs-datepicker .qs-overlay .qs-submit.qs-disabled {
    border-color: $color-secondary-04;
    color: $color-secondary-04;
    cursor: not-allowed;
  }
  .qs-datepicker .qs-overlay .qs-overlay-month-container {
    -ms-flex-positive: 1;
    -ms-flex-wrap: wrap;
    -webkit-box-flex: 1;
    //display: -webkit-box;
    //display: -ms-flexbox;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
  }
  .qs-datepicker .qs-overlay .qs-overlay-month {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    //-webkit-transition: opacity 0.15s;
    align-items: center;
    color: $color-secondary-07;
    cursor: pointer;
    display: flex;
    //display: -webkit-box;
    //display: -ms-flexbox;
    //transition: opacity 0.15s;
    justify-content: center;
    //opacity: 0.5;
    width: 33.33333%;
    span {
      padding: 0 8px 2px;
    }
  }
  .qs-datepicker .qs-overlay .qs-overlay-month.active,
  .qs-datepicker .qs-overlay .qs-overlay-month:hover {
    //opacity: 1;
    color: $color-primary-default;
    span {
      background: $color-primary-pastel-02;
      border-radius: 16px;
    }
  }
  .qs-datepicker .qs-controls {
    -ms-flex-align: center;
    -ms-flex-negative: 0;
    -ms-flex-pack: justify;
    -ms-flex-positive: 1;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    -webkit-box-pack: justify;
    -webkit-filter: blur(0);
    -webkit-transition: -webkit-filter 0.3s;
    align-items: center;
    background: $color-secondary-01; //#d3d3d3;
    //display: -ms-flexbox;
    //display: -webkit-box;
    display: flex;
    filter: blur(0);
    flex-grow: 1;
    flex-shrink: 0;
    height: 3em;
    justify-content: space-between;
    //transition: -webkit-filter 0.3s;
    //transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
    width: 100%;
  }
  .qs-datepicker .qs-controls.qs-blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  .qs-datepicker .qs-arrow {
    //-webkit-transition: background 0.15s;
    border-radius: 0.26392em;
    cursor: pointer;
    height: 2em; //1.5625em;
    position: relative;
    //transition: background 0.15s;
    width: 2.5em; //1.5625em;
  }
  // .qs-datepicker .qs-arrow:hover {
  //background: rgba(0, 0, 0, 0.1);
  //}
  .qs-datepicker .qs-arrow:hover.qs-left::after {
    border-right-color: $color-primary-lighten-01;
  }
  .qs-datepicker .qs-arrow:hover.qs-right::after {
    border-left-color: $color-primary-lighten-01;
  }
  .qs-datepicker .qs-arrow::after {
    //-webkit-transition: border 0.2s;
    border: 0.6em solid rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    top: 20%; //50%;
    //transition: border 0.2s;
  }
  .qs-datepicker .qs-arrow.qs-left::after {
    //-ms-transform: translate(25%, -50%);
    //-webkit-transform: translate(25%, -50%);
    border-right-color: $color-primary-default;
    right: 50%;
    //transform: translate(25%, -50%);
  }
  .qs-datepicker .qs-arrow.qs-right::after {
    //-ms-transform: translate(-25%, -50%);
    //-webkit-transform: translate(-25%, -50%);
    border-left-color: $color-primary-default;
    left: 50%;
    //transform: translate(-25%, -50%);
  }
  .qs-datepicker .qs-month-year {
    -webkit-transition: border 0.2s;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: $color-primary-default;
    cursor: pointer;
    font-weight: 700;
    padding: 0 1em;
    transition: border 0.2s;
  }
  .qs-datepicker .qs-month-year:hover {
    //border-bottom: 1px solid $color-secondary-07;
    background-color: $color-primary-pastel-02;
    border-radius: 16px;
  }
  .qs-datepicker .qs-month-year:active:focus,
  .qs-datepicker .qs-month-year:focus {
    outline: none;
  }
  .qs-datepicker .qs-month {
    padding-right: 0.5ex;
  }
  .qs-datepicker .qs-year {
    padding-left: 0.5ex;
  }
  .qs-datepicker .qs-squares {
    //display: -ms-flexbox;
    //display: -webkit-box;
    -ms-flex-wrap: wrap;
    -webkit-filter: blur(0);
    -webkit-transition: -webkit-filter 0.3s;
    display: flex;
    filter: blur(0);
    flex-wrap: wrap;
    padding: 0.3125em;
    //transition: -webkit-filter 0.3s;
    //transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
  }
  .qs-datepicker .qs-squares.qs-blur {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
  .qs-datepicker .qs-square {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-transition: background 0.1s;
    //display: -ms-flexbox;
    //display: -webkit-box;
    align-items: center;
    border-radius: 1em; //0.26392em;
    cursor: pointer;
    display: flex;
    height: 1.8em; //2.6em;//1.5625em;
    justify-content: center;
    margin: 0.25em 0; //1em 0;
    padding: 0.4em 0 0.6em; //1em 0;
    transition: background 0.1s;
    width: 14.28571%; //2em;
  }
  .qs-datepicker .qs-square.qs-current {
    font-weight: 700;
  }
  .qs-datepicker .qs-square.qs-current span {
    text-decoration: underline;
  }
  .qs-datepicker .qs-square.qs-active {
    background: $color-primary-lighten-01; //$color-primary-default;
    border-left: 2px solid $color-secondary-01;
    border-right: 2px solid $color-secondary-01;
    color: $color-secondary-01;
    .qs-num {
      background: $color-primary-default;
      border-radius: 16px;
      height: 2em;
      margin-top: 0.25em;
      padding: 0.15em 0em 0.2em;
      text-align: center;
      width: 2.1em; //2.6em;
    }
  }
  .qs-datepicker .qs-square.qs-range-date-start {
    .qs-num {
      margin-left: -0.2em;
    }
    &:not(.qs-range-date-6) {
      border-bottom-right-radius: 0;
      border-right-color: transparent;
      border-top-right-radius: 0;
    }
  }
  .qs-datepicker .qs-square.qs-range-date-middle {
    background: $color-primary-lighten-01;
    color: $color-secondary-01;
  }
  .qs-datepicker
    .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
    border-radius: 0;
  }
  .qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .qs-datepicker .qs-square.qs-range-date-end .qs-num {
    margin-right: -0.2em;
  }
  .qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
  .qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
    border-bottom-left-radius: 0;
    border-left-color: transparent;
    border-top-left-radius: 0;
  }
  .qs-datepicker .qs-square.qs-disabled span {
    opacity: 0.6;
  }
  .qs-datepicker .qs-square.qs-empty {
    cursor: default;
  }
  .qs-datepicker .qs-square.qs-disabled {
    cursor: not-allowed;
  }
  .qs-datepicker .qs-square.qs-day {
    color: $color-secondary-07;
    cursor: default;
    font-weight: 500;
  }
  .qs-datepicker
    .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
    background: $color-primary-pastel-02;
    //border-radius: 50%;
    color: $color-primary-default;
  }
  .qs-datepicker .qs-event {
    position: relative;
  }
  .qs-datepicker .qs-event::after {
    background: $color-primary-lighten-01;
    border-radius: 50%;
    bottom: 0;
    content: "";
    height: 0.46875em;
    position: absolute;
    right: 0;
    width: 0.46875em;
  }
  .qs-datepicker .qs-event.qs-disabled::after,
  .qs-datepicker .qs-event.qs-empty::after {
    background: $color-primary-pastel-02;
  }
}
