$width: 15.625em;
$radius: $width * .016891;
$transition: .3s;
$font-size: $width * .056;

.#{$prefix}datepicker {
  input {
    border-color: v(color-secondary-06) !important;
    border-radius: 6px !important;
    height: 40px !important;
    position: relative;
    width: 187px !important;
    + button {
      background-color: transparent;
      border: none;
      color: v(color-primary-default);
      font-size: v(font-size-scale-up-02);
      left: 144px;
      top: 28px;
      position: absolute;
    }
  }
  .qs-datepicker-container {
    font-family: v(font-family-base);
    position: absolute;
    width: $spacer * 36;
    display: flex;
    flex-direction: column;
    z-index: 9001;
    user-select: none;
    overflow: hidden;
    background: white;  
    * {
      box-sizing: border-box;
    }
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  
    &.qs-centered {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    &.qs-hidden {
      display: none;
    }
  }
  
  .qs-datepicker {
    padding: 16px 24px 20px 24px;
    .qs-overlay {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0,.75);
      color: white;
      width: 100%;
      height: 100%;
      padding: .5em;
      z-index: 1;
      opacity: 1;
      transition: opacity $transition;
      display: flex;
      flex-direction: column;
  
      &.qs-hidden {
        opacity: 0;
        z-index: -1;
      }
  
      .qs-overlay-year { // Overlay year input element.
        border: none;
        background: transparent;
        border-bottom: 1px solid white;
        border-radius: 0;
        color: white;
        font-size: $font-size;
        padding: .25em 0;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        display: block;
  
        // https://goo.gl/oUuGkG
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
        }
      }
  
      .qs-close {
        padding: .5em;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
      }
  
      .qs-submit {
        border: 1px solid white;
        border-radius: $radius;
        padding: .5em;
        margin: 0 auto auto;
        cursor: pointer;
        background: rgba(128,128,128,.4);
  
        &.qs-disabled {
          color: gray;
          border-color: gray;
          cursor: not-allowed;
        }
      }
  
      .qs-overlay-month-container {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
      }
  
      .qs-overlay-month {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / 3);
        cursor: pointer;
        opacity: .5;
        transition: opacity $transition / 2;
  
        &.active, &:hover {
          opacity: 1;
        }
      }
    }
  
    .qs-controls {
      color: v(color-primary-default);
      font-size: v(font-size-scale-up-01);
      font-weight: v(font-weight-semi-bold);
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      flex-shrink: 0;
      filter: blur(0px);
      transition: filter $transition;
      &.qs-blur {
        filter: blur(5px);
      }
    }
  
    .qs-arrow {
      height: $width / 10;
      width: $width / 10;
      position: relative;
      cursor: pointer;
      border-radius: $radius;
      transition: background .15s;
  
      &:after {
        content: '';
        border: ($width / 40) solid transparent;
        position: absolute;
        top: 50%;
        transition: border .2s;
      }
  
      &.qs-left:after {
        border-right-color: v(color-primary-default);
        right: 50%;
        transform: translate(25%, -50%);
      }
  
      &.qs-right:after {
        border-left-color: v(color-primary-default);
        left: 50%;
        transform: translate(-25%, -50%);
      }
    }
  
    .qs-month-year {
      font-weight: bold;
      transition: border .2s;
      border-bottom: 1px solid transparent;
      cursor: pointer;
  
      &:focus,
      &:active:focus {
        outline: none;
      }
    }
  
    .qs-month {
      padding-right: $spacer;
      font-weight: v(font-weight-semi-bold);
    }
  
    .qs-year {
      padding-left: $spacer;
      font-weight: v(font-weight-semi-bold);
    }
  
    .qs-squares {
      display: flex;
      flex-wrap: wrap;
      padding-top: $spacer;
      filter: blur(0px);
      transition: filter $transition;
  
      &.qs-blur {
        filter: blur(5px);
      }
    }
  
    .qs-square {
      width: $spacer * 4;
      padding: 0 1px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: v(font-size-scale-base);
      font-weight: v(font-weight-medium);
      color: v(color-primary-default);
      line-height: 30px;
  
      &.qs-current {
        background-color: v(color-primary-default);
        color: v(color-secondary-01);
        -webkit-border-radius: $spacer * 2;
        -moz-border-radius: $spacer * 2;
        border-radius: $spacer * 2;
      }
  
      &.qs-active {
        background-color: v(color-primary-pastel-02);
        -webkit-border-radius: $spacer * 2;
        -moz-border-radius: $spacer * 2;
        border-radius: $spacer * 2;
      }
  
      &.qs-range-date-start {
        &:not(.qs-range-date-6) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
  
      &.qs-range-date-middle {
        background: lighten(lightblue, 10%);
  
        &:not(.qs-range-date-0):not(.qs-range-date-6) {
          border-radius: 0;
        }
  
        &.qs-range-date-0 {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
  
        &.qs-range-date-6 {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
  
      &.qs-range-date-end {
        &:not(.qs-range-date-0) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
  
      &.qs-disabled {
        span {
          color: v(color-primary-pastel-01)
        }
      }
  
      &.qs-empty {
        cursor: default;
      }
  
      &.qs-disabled {
        cursor: not-allowed;
      }
  
      &.qs-day {
        cursor: default;
        font-size: v(font-size-scale-base);
        font-weight: v(font-weight-medium);
        color: v(color-secondary-07);
      }

      &.qs-num {
        &.Dom {
          // padding-right: 10px;
        }
        &.Sab {
          // padding-left: 10px;
        }
      }
  
      &:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):not(.qs-current) {
        &:hover {
          background: v(color-primary-pastel-02);
          -webkit-border-radius: $spacer * 2;
          -moz-border-radius: $spacer * 2;
          border-radius: $spacer * 2;
        }
      }
    }
  
    .qs-event {
      position: relative;
  
      &:after {
        content: '';
        position: absolute;
        width: $width * .03;
        height: $width * .03;
        border-radius: 50%;
        background: #07f;
        bottom: 0;
        right: 0;
      }
  
      &.qs-disabled,
      &.qs-empty {
        &:after {
          background: lighten(#07f, 40);
        }
      }
    }
  }
}