.#{$prefix}footer {
  height: auto;
  width: 100%;
  display: block;
  overflow: auto;

  .#{$prefix}list {
    .item {
      font-size: v(font-size-scale-base);
    }

    & > div > .item .content {
      text-transform: uppercase;
      font-size: v(font-size-scale-down-01);
      font-weight: v(font-weight-bold);
    }

    a.item:not([disabled])[active],
    a.item:not([disabled]):hover,
    a.item:not([disabled]):focus {
      background: transparent;
      outline: none;
    }
  }

  .#{$prefix}button.tertiary.is-circle:hover,
  .#{$prefix}button:not(:disabled):focus {
    background: transparent;
  }

  @include media-breakpoint-up(md) {
    .#{$prefix}list .item .support {
      display: none;
      pointer-events: none;
    }
  }

  /*** Mixin de Temas ***/
  @include themes(
    #{$prefix}footer,
    v(color-primary-darken-02),
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-negative.png',
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png',
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.png'
  );

  @include themes(
    positive,
    v(color-secondary-01),
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-positive.png',
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-positive.png',
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-positive.png'
  );

  @include media-breakpoint-down(sm) {
    .container {
      &-logo {
        justify-content: center;
      }
      &-list {
        justify-content: center;
      }
    }
    [class*='col'] {
      padding: 0 0 $spacer * 4;
    }
  }

  @include media-breakpoint-down(xs) {
    .container {
      &-social {
        display: none;
      }
    }
  }
}
