// $footer-config: (
//   negative: v(color-primary-darken-02),
//   positive: v(color-secondary-01)
// );
$cdn-images: 'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images';

.#{$prefix}footer {
  height: auto;
  width: 100%;
  padding: 2em;
  border: 2px solid rgb(90, 86, 49);
  display: flex;
  flex-direction: column;
  /*** Mixin de Temas ***/
  @include themes(
    negative,
    v(color-primary-darken-02),
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-negative.svg',
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.svg',
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-negative.svg'
  );

  @include themes(
    positive,
    v(color-secondary-01),
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-positive.svg',
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-positive.svg',
    'https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-assign-positive.svg'
  );
}
