.#{$prefix}header-site {
  background-color: $secondary-01;
  box-shadow: 0 3px 6px rgba($secondary-09, 0.16);
  // Agrupador
  .wrapper {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: $header-site-mobile-height;
    position: relative;
  }
  // Logo
  .logo {
    font-weight: 600;
    margin: auto;
    text-align: center;
    .image {
      display: inline-block;
      img {
        width: $logo-mobile-width;
      }
    }
    .name {
      color: $logo-name-color;
      font-size: $logo-name-size;
    }
    .description {
      color: $logo-description-color;
      font-size: $logo-description-size;
    }
  }
  // Links rápidos
  .quicklinks {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-left: $spacer * 2;
    }
    a {
      color: $body-color;
    }
  }
  // Login
  .login {
    align-items: center;
    bottom: 0;
    color: $body-color;
    display: flex;
    padding: $spacer * 1.5;
    position: absolute;
    right: $spacer * 4;
    top: 0;
    [class*='fa-'] {
      color: $link-color;
    }
    &:hover {
      color: $link-hover-color;
      [class*='fa-'] {
        color: $link-hover-color;
      }
    }
  }
  // Busca
  .search {
    bottom: 0;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    // Caixa de busca
    .field {
      display: inline-flex;
      flex: 1;
      input {
        background: $secondary-03;
        border: 0;
        display: none;
        flex: 1;
        padding: ($spacer * 2) $spacer;
        &::placeholder {
          color: $placeholder-color;
          font-size: $placeholder-font-size;
          font-style: $placeholder-font-style;
          font-weight: $placeholder-font-weight;
          opacity: 1;
        }
      }
      button {
        background: transparent;
        border: 0;
        color: $primary;
        padding: 0 ($spacer * 1.5);
        &:hover {
          background: $primary-pastel-01;
        }
      }
    }
    // Botão externo para fechar a busca
    .close {
      background: transparent;
      border: 0;
      bottom: 0;
      display: none;
      padding: 0 ($spacer * 1.5);
      position: absolute;
      right: $spacer-half;
      top: 0;
    }
    // Busca ativa
    &.is-active {
      left: 0;
      .field {
        box-shadow: 0 3px 6px rgba($secondary-09, 0.16); // sass-lint:disable-line no-color-literals
        left: 0;
        position: absolute;
        right: 0;
        top: 100%;
        input {
          display: block;
        }
        button {
          background-color: $secondary-03;
        }
      }
      .close {
        display: block;
      }
    }
  }
  // Menu sanduiche
  .menu-hamburger {
    background: transparent;
    border: 0;
    bottom: 0;
    color: $primary;
    font-size: 25px;
    left: 0;
    padding: 0 $spacer;
    position: absolute;
    text-decoration: none;
    top: 0;
    z-index: 1;
    &:hover {
      color: $primary-lighten-02;
      text-decoration: none;
    }
  }
  // Versão tablet
  @include media-breakpoint-up(sm) {
    // Agrupador
    .wrapper {
      height: $header-site-tablet-height;
    }
    // Logo
    .logo {
      .image {
        margin-top: 4px;
      }
    }
    // Login
    .login {
      bottom: $header-site-tablet-height / 2;
    }
    // Busca
    .search {
      bottom: $header-site-tablet-height / 2;
    }
    // Menu sanduiche
    .menu-hamburger {
      bottom: $header-site-tablet-height / 2;
    }
  }
  // Versão desktop
  @include media-breakpoint-up(md) {
    // Agrupador
    .wrapper {
      height: $header-site-desktop-height;
      padding: ($spacer * 1.5) 0;
    }
    // Quebra de linha
    .break {
      flex-basis: 100%;
      height: 0;
    }
    // Logo
    .logo {
      margin: 0 auto 0 0;
      text-align: left;
      .image {
        margin-top: 0;
        img {
          width: $logo-desktop-width;
        }
      }
      .name {
        bottom: ($spacer * 1.5);
        font-size: $h2-font-size;
        margin-left: 40px;
        position: absolute;
      }
      .description {
        font-size: $h4-font-size;
        margin-top: $spacer;
        position: absolute;
      }
    }
    // Login
    .login {
      padding: 0;
      position: static;
    }
    // Busca
    .search {
      margin-left: auto;
      position: static;
      // Caixa de busca
      .field {
        input {
          display: block;
          padding-left: $spacer * 2;
          padding-right: $spacer * 2;
        }
        button {
          background-color: $secondary-03;
          padding-left: $spacer * 2;
          padding-right: $spacer * 2;
        }
      }
      // Busca ativa
      &.is-active {
        flex-grow: 1;
        .field {
          box-shadow: none;
          position: static;
        }
        .close {
          margin: 0;
          padding-right: 0;
          position: static;
        }
      }
    }
    // Menu sanduiche
    .menu-hamburger {
      bottom: ($spacer * 1.5);
      top: auto;
    }
  }
}
