.#{$prefix}header-system {
  background-color: $secondary-01;
  box-shadow: 0 3px 6px rgba($secondary-09, 0.16);
  // Agrupador
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: $header-system-mobile-height;
    position: relative;
  }
  // Logo
  .logo {
    align-items: flex-start;
    bottom: 0;
    display: flex;
    flex-flow: column;
    flex-grow: 0;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    a {
      display: flex;
      &:hover {
        text-decoration: none;
      }
    }
    img {
      width: $logo-mobile-width;
    }
    .name {
      color: $primary-darken-02;
      font-size: 20px;
      font-weight: 700;
    }
    .description {
      color: $secondary-07;
      font-size: 12px;
      font-weight: 600;
    }
  }
  // Links rápidos
  .quicklinks {
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    position: relative;
    ul {
      display: inline-block;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-left: ($spacer * 2);
      }
    }
    // Acesso gov.br
    .login {
      align-items: center;
      color: $secondary-08;
      display: inline-flex;
      &:hover {
        [class*='fa-'] {
          color: $primary-lighten-02;
        }
      }
      [class*='fa-'] {
        color: $primary;
      }
      span {
        display: none;
        font-size: 12px;
        font-weight: 600;
        margin-left: $spacer;
      }
    }
    // Legislação
    .legislation {
      color: $secondary-08;
      display: none;
      font-size: 12px;
      font-weight: 600;
      margin-left: ($spacer * 2.5);
    }
    // Idioma
    .language {
      display: none;
      margin-left: ($spacer * 2);
    }
  }
  // Busca
  .search {
    bottom: 0;
    display: flex;
    position: absolute;
    right: 0;
    top: $header-system-mobile-height / 2;
    z-index: 3;
    .field {
      display: inline-flex;
      flex: 1;
      height: $header-system-mobile-height / 2;
      input {
        background: $secondary-03;
        border: 0;
        display: none;
        flex: 1;
        padding: ($spacer * 2) $spacer;
        &::placeholder {
          color: $placeholder-color;
          font-size: $placeholder-font-size;
          font-style: $placeholder-font-style;
          font-weight: $placeholder-font-weight;
          opacity: 1;
        }
      }
      button {
        background: transparent;
        border: 0;
        color: $primary;
        padding: 0 ($spacer * 1.5);
        &:hover {
          background: $primary-pastel-01;
        }
      }
    }
    // Botão externo para fechar a busca
    .close {
      background: transparent;
      border: 0;
      bottom: 100%;
      display: none;
      margin-bottom: $spacer * 2;
      padding: 0 ($spacer * 1.5);
      position: absolute;
      right: $spacer-half;
    }
    // Busca ativa
    &.is-active {
      left: 0;
      .field {
        bottom: 0;
        box-shadow: 0 3px 6px rgba($secondary-09, 0.16); // sass-lint:disable-line no-color-literals
        left: 0;
        position: absolute;
        right: 0;
        input {
          display: block;
        }
        button {
          background: $secondary-03;
        }
      }
      .close {
        display: block;
      }
    }
  }
  // Barra de usuário
  .user-bar {
    align-items: center;
    flex-grow: 0;
    // Configurações do usuário
    .configs {
      .trigger {
        align-items: center;
        background: transparent;
        border: 0;
        color: $primary;
        display: inline-flex;
        .arrow {
          background: $secondary-03;
          border-radius: 50%;
          font-size: 11px;
          height: 17px;
          width: 17px;
        }
      }
      // Menu
      .menu {
        margin: 9px -14px 0 0;
        right: 0;
        // Nome
        .name {
          font-weight: 600;
          white-space: nowrap;
        }
        // E-mail
        .email {
          font-size: 13px;
          font-weight: 500;
          white-space: nowrap;
        }
        // Conta
        .account {
          border-top: 1px solid $secondary-03;
          display: flex;
          margin: (-$spacer) (-($spacer * 2));
          > * {
            // sass-lint:disable-line no-universal-selectors
            flex: 1;
            &:not(:last-child) {
              border-right: 1px solid $secondary-03;
            }
          }
          a {
            display: block;
            padding: $spacer ($spacer * 2);
            text-decoration: none;
            &:hover {
              background: $primary-pastel-01;
            }
          }
        }
        // Menu ativo
        &.is-active {
          &::after {
            border: solid transparent;
            border-bottom-color: $secondary-08;
            border-width: 12px;
            bottom: 100%;
            content: '';
            height: 0;
            pointer-events: none;
            position: absolute;
            right: ($spacer * 2);
            width: 0;
          }
        }
      }
    }
    // Avatar com usuário, pode ser imagem ou ícone
    .avatar {
      display: inline-flex;
      font-size: 40px;
      position: relative;
      img {
        max-width: 40px;
      }
      // Badge com quantidade de notificações
      & + .badge {
        background: $danger;
        border-radius: 50%;
        color: $secondary-01;
        font-size: 11px;
        font-weight: 700;
        height: 18px;
        left: -$spacer;
        margin-right: -$spacer;
        position: relative;
        top: -($spacer * 1.5);
        width: 18px;
      }
    }
    // Favoritos
    .bookmarks {
      margin-left: ($spacer * 1.5);
      // Ativador do menu
      .trigger {
        align-items: center;
        background: transparent;
        border: 0;
        border-radius: 50%;
        color: $primary;
        display: inline-flex;
        height: 32px;
        justify-content: center;
        padding: 0;
        width: 32px;
        &:hover {
          background: $primary-pastel-01;
        }
      }
      // Menu
      .menu {
        margin: 15px -12px 0 0;
        padding: ($spacer * 2);
        right: 0;
        // Título do menu
        .title {
          font-size: 12px;
          font-weight: 600;
          padding-left: 0;
          padding-right: 0;
        }
        // Menu ativo
        &.is-active {
          &::after {
            border: solid transparent;
            border-bottom-color: $secondary-08;
            border-width: 12px;
            bottom: 100%;
            content: '';
            height: 0;
            pointer-events: none;
            position: absolute;
            right: ($spacer * 2);
            width: 0;
          }
        }
      }
      // Lista de favoritos
      .list {
        columns: 5;
        .item {
          padding: 0;
        }
      }
      // Favorito
      .bookmark {
        display: inline-block;
        margin: ($spacer * 2) 0 0;
        &:hover {
          text-decoration: none;
          .brand {
            border-color: $primary-lighten-02;
          }
          .name {
            color: $primary-lighten-02;
          }
        }
      }
      // Marca
      .brand {
        background: $secondary-02;
        border: 1px solid $secondary-04;
        height: 42px;
        width: 58px;
      }
      // Nome
      .name {
        color: $secondary-07;
        display: block;
        font-size: 9px;
        font-weight: 500;
        margin-top: $spacer-half;
        text-align: center;
      }
      // Mais opções
      .more {
        font-size: 10px;
        font-weight: 600;
        margin-top: ($spacer * 2);
        text-align: center;
        text-decoration: underline;
      }
    }
  }
  // Menu sanduiche
  .menu-hamburger {
    background: transparent;
    border: 0;
    bottom: 0;
    color: $primary;
    font-size: 25px;
    left: 0;
    padding: 0 $spacer;
    position: absolute;
    text-decoration: none;
    top: $header-system-mobile-height / 2;
    z-index: 1;
    &:hover {
      color: $primary-lighten-02;
      text-decoration: none;
    }
  }
  // Versão desktop
  @include media-breakpoint-up(md) {
    // Agrupador
    .wrapper {
      height: $header-system-desktop-height;
    }
    // Logo
    .logo {
      justify-content: flex-end;
    }
    // Quebra de linha
    .break {
      flex-basis: 100%;
      height: 0;
    }
    // Busca
    .search {
      align-items: center;
      flex-grow: 0;
      margin-left: auto;
      position: static;
      .field {
        height: auto;
        input {
          display: block;
          padding-left: $spacer * 2;
          padding-right: $spacer * 2;
        }
        button {
          background-color: $secondary-03;
          padding-left: $spacer * 2;
          padding-right: $spacer * 2;
        }
      }
      // Busca ativa
      &.is-active {
        flex-grow: 1;
        .field {
          box-shadow: none;
          position: static;
        }
        .close {
          margin: 0;
          position: static;
        }
      }
    }
    // Menu sanduiche
    .menu-hamburger {
      top: $header-system-desktop-height / 2;
    }
  }
}
