.#{$prefix}list {
  @include list;
  // Cabeçalho da lista complexa
  .header {
    align-items: center;
    display: flex;
    font-size: v(font-size-scale-down-01);
    font-weight: v(font-weight-bold);
    justify-content: space-between;
    padding: $spacer $spacer * 2;
  }
  // Item da lista complexa
  // É formado por: [support] content [support]
  @include item($ellipsis: true);
  .item {
    &.active,
    &[active] {
      + .#{$prefix}list {
        max-height: 200em;
      }
    }
  }
  // Lista dentro de lista
  & & {
    background-image: linear-gradient(transparent, rgba(v(rgb-secondary-06), 0.24)),
      linear-gradient(rgba(v(rgb-secondary-06), 0.24), transparent);
    background-position: bottom, top;
    background-repeat: no-repeat;
    background-size: 100% 9px;
    max-height: 0;
    overflow: hidden;
    transition: all 400ms ease-in-out;
  }
}
