.ds-menu-lateral {
  background: $color-secondary-01;
  padding: 0;
  position: relative;
  z-index: 1;
  a,
  button {
    background: transparent;
    border: 0;
    border-bottom: 1px solid $color-primary-default;
    color: $color-primary-default;
    display: flex;
    font-size: $font-size-base * 1.25;
    font-weight: 400;
    justify-content: space-between;
    padding: $spacer ($spacer * 2);
    text-align: left;
    width: 100%;
    &:hover {
      background: $color-primary-pastel-02;
      text-decoration: none;
    }
  }
  [class*="fa-"] {
    margin-top: $spacer * 0.5;
  }
  .submenu {
    display: none;
    list-style: none;
    padding: 0;
    a,
    button {
      border-width: 0;
      color: $color-secondary-08;
      font-size: $font-size-base;
    }
    .menu-item {
      border-bottom: 1px solid $border-color;
      &:last-child {
        border-width: 0;
      }
    }
    .submenu {
      border-top: 1px solid $border-color;
      a,
      button {
        padding-left: $spacer * 4.5;
      }
    }
    [class*="fa-"] {
      color: $color-secondary-06;
    }
  }
  .is-open {
    [class*="fa-"] {
      transform: rotate(180deg);
    }
    & + .submenu {
      display: block;
    }
  }
  .is-active {
    background-color: $color-primary-lighten-01 !important;
    color: $color-secondary-01 !important;
  }
}
