.#{$prefix}message {  
  color: $color-gray-7;
  display: flex;
  margin-bottom: $margin-default * 2;
  .icon {
    align-items: center;
    color: $color-white;
    display: flex;
    font-size: 175%;
    justify-content: center;
    width: $message-icon;
    img {
      max-width: 32px;
    }
  }
  .content {
    flex: 1;
    padding: $spacer-half * 4.5 0;
    strong {
      font-weight: 600;
    }
    a {
      color: $color-gray-7;
      text-decoration: underline;
      &:hover {
        color: $link-hover-color;
      }
    }
    * {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  // Estados
  @each $state, $color in (success, $color-success), (danger, $color-danger),
    (warning, $color-warning), (info, $color-info)
  {
    &.is-#{$state} {
      background: scale-color($color, $lightness: 90%);
      .icon {
        background: transparent;
        color: $color;
      }
      .close {
        align-items: flex-start;
        display: flex;
        button {
          background: transparent;
          border: 0;
          color: $color;
          padding: $spacer $spacer * 2;
        }
      }
      @if ($state == warning) {
        .icon, .close button {
          color: $color-gray-7;
        }
      }
    }
  }
}
