.#{$prefix}select {
  position: relative;
  label {
    color: $label-color;
    font-size: $label-font-size;
    font-weight: $label-font-weight;
    margin-bottom: $spacer-half;
  }
  select {
    display: none;
  }
  // Substituto do select original
  .select-selected {
    align-items: center;
    background: $secondary-01;
    border: $input-border-width solid $input-border-color;
    border-radius: $input-radius;
    color: $input-color;
    display: flex;
    font-weight: $input-font-weight;
    height: $input-default;
    justify-content: space-between;
    padding-left: $spacer * 2;
    padding-right: $spacer * 2;
    position: relative;
    text-align-last: left;
    width: 100%;
    span {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    [class*='fa-'] {
      color: $primary;
      font-size: $input-default / 3;
      margin-left: ($spacer * 2);
    }
    &:focus {
      border-color: $primary-lighten-01;
      box-shadow: 0 0 0 1px $primary-lighten-01;
      outline: none;
    }
    &:focus,
    &:hover {
      [class*='fa-'] {
        color: $primary-lighten-01;
        margin-left: ($spacer * 2);
      }
    }
    &:disabled {
      background: $secondary-03;
      [class*='fa-'] {
        color: $secondary-06;
        margin-left: ($spacer * 2);
      }
    }
  }
  // Lista de opções
  .select-items {
    background: $secondary-01;
    box-shadow: 0 3px 6px rgba($secondary-09, 0.22);
    left: $spacer-half;
    margin-top: 1px;
    position: absolute;
    right: $spacer-half;
    z-index: 1;
    button {
      background: $secondary-01;
      border: 0;
      display: block;
      font-weight: 500;
      padding: $spacer-half ($spacer * 2);
      text-align: left;
      width: 100%;
      &:hover,
      &:focus {
        background: $primary-pastel-02;
      }
      &.same-as-selected {
        background: $primary-lighten-01;
        color: $secondary-01;
      }
    }
  }
  // Esconder elemento
  .select-hide {
    display: none;
  }
  // Tamanhos
  @each $size, $value in (medium, $input-medium), (small, $input-small) {
    &.is-#{$size} {
      .select-selected {
        height: $value;
        [class*='fa-'] {
          font-size: $value / 3;
        }
      }
    }
  }
  // Estados
  @each $state, $color in (focus, $primary-lighten-01), (valid, $success),
    (invalid, $danger)
  {
    &.is-#{$state} {
      .select-selected {
        border-color: $color;
        box-shadow: 0 0 0 1px $color;
        outline: none;
        [class*='fa-'] {
          color: $color;
          margin-left: ($spacer * 2);
        }
      }
    }
  }
}
