.#{$prefix}select {
  position: relative;
  .br-card {
    display: none;
    position: absolute;
    top: 64px;
    width: 100%;
    z-index: 100;
    &[expanded] {
      display: block;
    }
  }
  .br-list {
    cursor: pointer;
  }
}
