// TODO: Efeito resize de altura da linha - criar estilos e aplicar a variável $column-compact
// TODO: menu compacto e barrinha de opções
// TODO: barra de filtros
// TODO: barra de itens selecionados

$column-height: 56px;
$column-compact: 24px;
$column-spacing: 16px;
$column-gap: 6px;

.#{$prefix}table {
  display: grid;
  .header {
    order: 0;
  }
  .headers {
    display: none;
    order: 1;
  }
  .responsive {
    order: 2;
  }
  .footer {
    order: 3;
  }
  .top-bar {
    align-items: center;
    background-color: $color-gray-2;
    display: flex;
    height: $column-height;
    padding-left: $column-spacing;
    padding-right: $column-spacing;
    .title {
      flex-grow: 1;
      font-size: 24px;
      font-weight: 600;
    }
    .search-button {
      .br-button {
        border-color: transparent;
        &:hover {
          background-color: $color-primary-pastel-1;
        }
      }
    }
  }
  .bottom-bar {
    align-items: center;
    background-color: $color-white;
    box-shadow: 0px -1px 3px 0px rgba($color-black, 0.16);
    display: flex;
    height: $column-height;
    justify-content: space-between;
    padding-left: $column-spacing;
    padding-right: $column-spacing;
    .items {
      align-items: center;
      display: none;
    }
    .pagination {
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
      .selectors {
        align-items: center;
        display: flex;
      }
      .arrows {
        .br-button {
          background-color: transparent;
          border-color: transparent;
          &:focus,
          &:hover {
            color: $color-primary;
          }
          &:hover {
            background-color: $color-primary-pastel-1;
          }
        }
      }
    }
  }
  .search-bar {
    align-items: center;
    background-color: $color-primary;
    bottom: 0;
    display: flex;
    opacity: 0;
    padding: $column-spacing * 0.5 $column-spacing;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    transition: top 150ms, opacity 100ms;
    z-index: -1;
    #search-close {
      background-color: transparent;
      border-color: transparent;
      color: $color-white;
    }
    .br-input {
      flex-grow: 1;
      label {
        display: none;
      }
    }
    &.is-active {
      opacity: 1;
      top: 0;
      z-index: 1;
    }
  }
  table {
    display: block;
    tr {
      display: block;
    }
    th {
      color: $color-primary-darken-1;
      display: none;
      font-weight: 600;
      padding-left: $column-spacing;
      padding-right: $column-spacing;
    }
    td {
      display: block;
      padding: $column-spacing * 0.5 $column-spacing;
      &::before {
        color: $color-primary-darken-1;
        content: attr(data-th);
        display: block;
        font-weight: 600;
      }
    }
    thead {
      display: block;
    }
    tbody {
      display: block;
      tr {
        box-shadow: 0 3px 6px rgba($color-black, 0.16);
        margin: $column-spacing * 0.5 0;
        padding: $column-spacing * 0.5 0;
      }
    }
  }
  &.is-datatable {
    .header {
      position: sticky;
      top: 0;
      z-index: 1;
    }
    .footer {
      bottom: 0;
      position: sticky;
      z-index: 3;
    }
  }
  .br-select {
    .select-selected {
      color: $color-primary-lighten-2;
      border-radius: 0;
      border-color: transparent;
      padding-left: 8px;
      padding-right: 8px;
      [class*="fa-"] {
        margin-left: 8px;
      }
      &:focus {
        box-shadow: none;
      }
      &:hover {
        border-bottom-color: $color-primary-lighten-2;
      }
    }
    .select-items {
      bottom: 100%;
      min-width: 100px;
      max-height: 400px;
      overflow: auto;
    }
  }
  // Versão tablet
  @include media-breakpoint-up(sm) {
    .top-bar {
      background-color: $color-white;
    }
    .bottom-bar {
      .divider {
        margin: 0 16px 0 8px;
        &::before {
          content: none;
        }
        &::after {
          background-color: transparent;
          color: $color-gray-3;
          content: "|";
          height: auto;
          width: auto;
        }
      }
      .items {
        display: flex;
        .divider {
          margin: 0 16px 0 8px;
        }
      }
      .pagination {
        flex-grow: 0;
        .divider {
          margin: 0 8px 0 16px;
        }
      }
    }
    .responsive {
      overflow: auto;
    }
    .headers {
      background-color: $color-gray-2;
      display: block;
      overflow-y: hidden;
      position: sticky;
      top: 0;
      z-index: 2;
      .scroller {
        align-items: center;
        display: flex;
        height: $column-height;
        overflow-x: hidden;
      }
      .item {
        color: $color-primary-darken-1;
        font-weight: 600;
        padding: $column-gap;
        &:first-child {
          padding-left: $column-spacing;
        }
        &:last-child {
          padding-right: $column-spacing;
        }
      }
    }
    table {
      display: table;
      margin-top: -$column-height;
      width: 100%;
      th {
        background-color: $color-gray-2;
        display: table-cell;
      }
      td {
        border-bottom: 1px solid $color-primary-pastel-2;
        display: table-cell;
      }
      tr {
        display: table-row;
        height: $column-height;
        th,
        td {
          &:not(:first-child) {
            padding-left: $column-gap;
          }
          &:not(:last-child) {
            padding-right: $column-gap;
          }
        }
      }
      thead {
        display: table-header-group;
      }
      tbody {
        display: table-row-group;
        td {
          white-space: nowrap;
          &::before {
            content: none;
          }
        }
        tr {
          box-shadow: none;
          margin: 0;
        }
      }
    }
    &.is-datatable {
      .headers {
        top: $column-height;
      }
      table {
        thead {
          th {
            top: $column-height;
          }
        }
        tbody {
          tr {
            &.hover {
              background-color: $color-primary-pastel-1;
            }
          }
        }
      }
    }
  }
}

// .br-table{
//   width: 100%;
//   margin: 1rem auto;
//   #redimensionar thead{
//     th{
//       &:hover{
//         background-color: $color-gray-2;
//         cursor: default;
//       }
//       div:hover {
//         border-right: 2px solid $color-primary-lighten-1;
//       }
//     }

//   }
//   table{
//     width: 100%;
//     border-collapse: collapse;
//     thead{
//       th{
//         padding-left: 0;
//         vertical-align: middle;
//         height: $column-height;
//         overflow: hidden;
//         white-space: nowrap;
//         text-overflow: ellipsis;
//         width: auto;
//         background-color: $color-gray-2;
//       }
//     }
//     tbody{
//       tr{
//         height: $column-height;
//         transition: height .5s;
//         &:hover{
//           background-color: $color-primary-pastel-1;
//           cursor: pointer;
//         }
//         &.is-selected{
//           background: $color-primary-lighten-2;
//           color: $color-white;
//           &:hover{
//             background: $color-primary-lighten-2;
//             color: $color-white;
//           }
//           td{
//             color: $color-white;
//             text-overflow: ellipsis;
//             &:hover{
//               color: $color-white;
//             }
//             #expande{
//               color: $color-white;
//               margin: auto 0.3rem;
//             }

//           .modify-mobil{
//             padding:0;
//             margin: 0;
//           }
//           }
//         }
//         td{
//           padding: 0;
//           vertical-align: middle;
//           overflow: hidden;
//           white-space: nowrap;
//           text-overflow: ellipsis;
//           width: auto;
//         }
//       }
//     }
//     .interna{
//       margin: 0 5px;
//       width: 98%;
//       box-shadow: inset 0 4px $color-gray-3;
//       td, th{
//         border-bottom: none;
//       }
//     }
//   }

//   // #navigation-bar{
//   // left: 0;
//   // right: 0;
//   // position: absolute;
//   // z-index: 10;
//   // height: $column-height;
//   // }

//   .selecao{
//     background: $color-primary;
//     color: $color-white;
//     padding: 16px;
//     margin: 0;
//     font-weight: 600;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     &.is-visible{
//       display: flex;
//       transition: display  1s linear;
//     }
//     &.is-invisible{
//       display: none;
//       transition: display  1s linear;
//     }
//   }

//   .search-bar{
//     height: $column-height;
//     background: $color-primary;
//     padding: 10px;
//     margin: 0;
//     font-weight: 500;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     &.is-visible{
//       display: flex;
//     }
//     &.is-invisible{
//       display: none;
//     }
//   }

//   #close {
//     position: absolute;
//     right: 3%;
//     top: 15px;
//     cursor: pointer;
//     color:$color-white;
//   }
//   .resultado{
//     width: 96%;
//   }
//   #result {
//     width: 100%;
//     font-weight: 500;
//   }
//   #find {
//     color:$color-primary;
//     position: absolute;
//     z-index: 10;
//     right: 75px;
//     top: 15px;
//     cursor: pointer;
//   }
//   .title-bar, .densidade{
//     padding: 10px;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     height: $column-height;
//     margin:0;
//     &.is-visible{
//       display: flex;
//     }
//     &.is-invisible{
//       display: none;
//     }
//   }

//   .br-checkbox input[type="checkbox"]:checked + label::after {
//     border: solid $color-primary-lighten-2;
//     border-width: 0 4px 4px 0;
//     content: "";
//     height: 10px;
//     left: 8px;
//     position: absolute;
//     top: 11px;
//     -webkit-transform: rotate(45deg);
//     transform: rotate(45deg);
//     width: 8px;
//   }
//   .br-checkbox input[type="checkbox"]:checked + label::before {
//     background: $color-white;
//   }
//   .br-checkbox .modify-mobil input[type="checkbox"]:checked + label::before {
//     background: $color-white;
//   }
//   .br-checkbox input[type=checkbox]+label::before {
//     top: 5px;
//     vertical-align: middle;
//   }
//   .br-checkbox input[type="checkbox"]:focus + label {
//     outline: none;
//   }

//   .br-checkbox input[type="checkbox"]:checked{
//     background: $color-white;
//     color: $color-white;
//   }

//   .divisor-vertical{
//     border-left: 1px solid #ccc;
//     height: 24px;
//     opacity: 1;
//     padding: 0 5px;
//     margin-left: 10px;
//   }
//   .arrows-pages{
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//   th{
//     padding: 16px;
//     &:hover{
//       background-color: $color-primary-pastel-1;
//       cursor: pointer;
//     }
//   }
//   .actions{
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     font-weight: 600;
//     #table-search, .menu-items, #densidade-up, #densidade-down{
//       color: $color-primary;
//       cursor: pointer;
//       padding: 0 5px;
//       height: 24px;
//       width: 24px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//     }
//     #densidade-up, #densidade-down{
//       background: none;
//       box-shadow: none;
//       &.is-active{
//         border-radius: 16px;
//         height: 24px;
//         width: 24px;
//         margin:0;
//         background: $color-primary-pastel-1;
//         padding: 0 5px;
//         box-shadow: inset 0 2px $color-gray-3;
//       }
//     }
//     #lixeira, #download{
//       padding: 3px 10px;
//       cursor: pointer;
//     }
//   }
//   .table-title{
//     color: $color-gray-6;
//     font-size: 20px;
//     text-align: left;
//     font-weight: 700;
//   }
//   #navigation-bar{
//     display: flex;
//     align-items: center;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     margin: 0 auto;
//     span, div{
//       font-size: 14px;
//     }
//     .items-right{
//       display: flex;
//       justify-content: flex-end;
//       align-items: center;
//       flex: 45%;
//       [class*="angle-left"],
//       [class*="angle-right"]{
//         color: $color-primary;
//         cursor: pointer;
//         margin: 5px;
//         font-size: 24px;
//       }

//     }
//     .items-left{
//       display: flex;
//       align-items: center;
//       justify-content: flex-start;
//       flex: 55%;
//     }
//     .items-left, .items-right{
//       .br-select .select-selected{
//         border: none;
//         border-bottom: 1px solid transparent;
//         &:focus{
//           box-shadow: none;
//         }
//         &:hover{
//           border-top: none;
//           border-right: none;
//           border-left: none;
//           border-bottom: 1px solid $color-primary-lighten-2;
//           border-radius: 0;
//           color: $color-primary-lighten-2;
//         }
//       }
//     }
//   }

//   .fa.fa-angle-left:hover, .fa.fa-angle-right:hover, .menu-items:hover{
//     background:$color-primary-pastel-1;
//     border-radius: 50%;
//     height: 24px;
//     width: 24px;
//     line-height: 10px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }

//   .disabled{
//     display: none;
//   }
//   .enabled{
//     display: table-row;
//   }
//   #expande{
//     font-size: 20px;
//     color: $color-primary;
//     margin: auto 0.3rem;
//     display: flex;
//     justify-content: center;
//   }
//   .rotate{
//     transform: rotate(180deg);
//     transition: 0.5;
//   }

// }

// @media only screen and (max-width: 576px) {
// @media (hover:hover){
//   .br-table table tbody tr:hover{
//     background:transparent;
//     cursor: auto;
//   }
// }

// .br-table {
//   position: relative;
//   table {
//     .table-body{
//       max-height: 400px;
//       overflow: auto;
//       //margin-top: $column-height;
//       margin-bottom: $column-height;
//       tr{
//         height: auto;
//         td{
//           top: -20px;
//           border-bottom: none;
//           color: $body-color;
//           padding: 16px 50px;
//           text-overflow: ellipsis;
//           overflow: unset;
//         }
//         td.modify-mobil{
//           display: table;
//           left: 10px;
//           top: 13px;
//         }
//         td.expande-mobil{
//           display: flex;
//           flex-direction: row-reverse;
//           top: 40px;
//         }
//       }
//     }
//   }
//   .columnSelect{
//     border-right: 2px solid #f60;
//   }
//   .resultado{
//     width: 96%;
//   }
//   #result {
//     width: 100%;
//     font-weight: 500;
//   }
//   #find{
//     right:35px;
//   }
//   .selecao{
//     font-size: 12px;
//     height: $column-height;
//   }
//   .table-title{
//     font-size: 15px;
//     align-items: center!important;
//     display: flex;
//   }
//   .search-bar, .selecao{
//     top: 0;
//   }
//   .footer, .title-bar, .search-bar, .selecao{
//     left: 0;
//     right: 0;
//     position: absolute;
//     z-index: 10;
//     height: $column-height;
//   }
//   .footer{
//     bottom: 0;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     align-items: center;
//     .items-right{
//       display: flex;
//       justify-content: flex-end;
//       align-items: center;
//       flex: auto;
//       .fa.fa-angle-right, .fa.fa-angle-left{
//         color: $color-primary;
//         cursor: pointer;
//         padding: 10px;
//         font-size: 24px;
//       }
//     }
//     .items-left{
//       display: flex;
//       align-items: center;
//       justify-content: flex-start;
//       flex: 100%;
//     }
//   }
//   .title-bar{
//     top: 0;
//     margin: 0;
//     background: $color-gray-2;
//     box-shadow: 0 2px 2px $color-gray-3;
//   }
//   .arrows-pages{
//     display: flex;
//     align-items: flex-end;
//   }
// }
// .br-select .select-selected{
//   border:none;
//   margin-left: 10px;

// }
// .paginas{
//   margin-left: 15px;
// }

// td[disabled]:hover, tr[disabled]:hover {
//   background: transparent;
// }

// // .br-table table tbody tr:hover{
// //   background:transparent;
// //   cursor: auto;
// //   color: $color-primary-darken-1;
// // }
// /***faz com que a tabela não seja mais disposta como linha e coluna***/
// .table-responsive table,
// .table-responsive thead,
// .table-responsive tbody,
// .table-responsive th,
// .table-responsive td,
// .table-responsive tr {
// 		display: block;
// 	}

// 	/* Hide table headers (but not display: none;, for accessibility) */

//   .table-responsive thead tr {
// 		position: absolute;
// 		top: -9999px;
// 		left: -9999px;
// 	}
// .table-responsive thead th{
//   color: $color-primary-darken-1;
//   text-overflow: ellipsis;
// }

// .table-responsive tr {
//   box-shadow: 0 2px 4px #00000033;
//   margin: 5px 0;
//   td {
//   /*** Td transforma em linha ***/
//     border: none;
//     border-bottom: none;
//     position: relative;
//     padding-left: 50%;
//     white-space: normal;
//     text-align:left;
//     color: $body-color;
//     overflow: unset;
//   }
// }

//  .fas.fa-angle-down.updown-icon{
//    transform: rotate(180deg);
//  }

// // .table-responsive td:hover{
// //   color: $body-color;
// // }

// .table-responsive td:before {
// 		position: absolute;
// 		top: -5px;
// 		left: 50px;
// 		width: 45%;
// 		padding-right: 10px;
// 		white-space: nowrap;
// 		text-align:left;
//     font-weight: bold;
//     content: attr(data-title);
//     color: $color-primary-darken-1;
//   }
// }
