// Lista de Itens de Abas
.#{$prefix}tabs {
  border-bottom: 1px solid $border-color;
  display: flex;
  overflow: auto;
  padding: 0;
  &.is-vertical {
    border-bottom: 0;
    flex-direction: column;
    .item {
      border-bottom: 1px solid $border-color;
      margin: 0;
      padding: 0;
      padding-right: $tabs-vertical-icons + ($spacer * 2);
      a,
      button,
      input[type="submit"] {
        flex-direction: row;
        padding: 0;
      }
      &:hover {
        background: $color-primary-pastel-02;
      }
      &.is-active {
        box-shadow: none;
        a,
        button,
        input[type="submit"] {
          &:hover {
            box-shadow: none;
          }
        }
        .name {
          box-shadow: inset 0 -4px 0 0 $color-primary-default;
          color: $color-primary-darken-02;
        }
        .results {
          color: $color-primary-darken-02;
        }
      }
    }
    .name {
      display: inline-block;
      font-weight: $font-weight-base;
      margin-left: $tabs-vertical-icons + ($spacer * 2);
      padding: ($spacer * 2) $spacer * 0.5;
      text-align: left;
      white-space: normal;
    }
  }
  .item {
    display: flex;
    margin: 0 ($spacer * 2.5);
    &.is-active {
      box-shadow: inset 0 -4px 0 0 $color-primary-default;
      a,
      button,
      input[type="submit"] {
        &:hover {
          box-shadow: inset 0 -4px 0 0 $color-primary-default;
        }
      }
      .name {
        color: $color-primary-darken-02;
      }
      .results {
        color: $color-primary-default;
      }
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .icon {
    align-self: center;
    color: $body-color;
    justify-content: center;
    margin: 0 $spacer;
    width: $tabs-vertical-icons;
    & + .name {
      margin-left: 0;
    }
  }
  .name {
    color: $body-color;
    flex: 1;
    font-size: v(font-size-scale-up-01, $font-size-scale-up-01);
    font-weight: v(font-weight-semi-bold, $font-weight-semi-bold);
    text-align: center;
    white-space: nowrap;
  }
  .results {
    color: $body-color;
    font-size: $font-size-base * 0.875;
    font-weight: v(font-weight-semi-bold, $font-weight-semi-bold);
  }
  a,
  button,
  input[type="submit"] {
    align-items: center;
    background: transparent;
    border: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: $spacer ($spacer * 2.5) ($spacer * 1.5);
    text-decoration: none;
    &:hover {
      background: $color-primary-pastel-02;
      text-decoration: none;
      .name,
      .results {
        color: $link-hover-color;
      }
    }
  }
}