/*!
 * table - 0.3 */


.br-table{
  #redimensionar thead{
    th{
      &:hover{
        background-color: $color-gray-2;
        cursor: default;
      }
    }
    div:hover{
      border-right: 1px solid $color-primary-lighten-1;
    }
  }
  table{
    width: 100%;
    border-collapse: collapse;
    thead{
      th{
        padding-left: 0;
        vertical-align: middle;
        height: 56px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: auto;
        background-color: $color-gray-2;
      }
    }  
    tbody{
      tr{
        height: 56px;
        transition: height .5s;
        &:hover{
          background-color: $color-primary-pastel-1;
          cursor: pointer;
        }
        &.is-selected{
          background: $color-primary-lighten-2;
          color: $color-white;
          &:hover{
            background: $color-primary-lighten-2;
            color: $color-white;
          }
          td{
            color: $color-white;
            text-overflow: ellipsis;
            &:hover{
              color: $color-white;
            }
            #expande{
              color: $color-white;
              margin: auto 0.3rem;
            }
            
          .modify-mobil{
            padding:0;
            margin: 0;
          }  
          }
        }
        td{
          padding: 0;
          vertical-align: middle;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: auto;
        }  
      }
    }
    .interna{
      margin: 0 5px;
      width: 98%;
      box-shadow: inset 0 4px $color-gray-3;
      td, th{
        border-bottom: none;
      }
    }
  }
  
 

  #navigation-bar{
  left: 0;
  right: 0;
  position: absolute;
  z-index: 10;
  height: 56px;
  } 

  .selecao{
    background: $color-primary;
    color: $color-white;
    padding: 16px;
    margin: 0;
    font-weight: 600;
    flex-direction: row;
    flex-wrap: nowrap;
    &.is-visible{
      display: flex;
      transition: display  1s linear;
    }
    &.is-invisible{
      display: none;
      transition: display  1s linear;
    }
  }

  .search-bar{
    height: 56px;
    background: $color-primary;
    padding: 10px;
    margin: 0;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    &.is-visible{
      display: flex;
    }
    &.is-invisible{
      display: none;
    }
  }
   
  #close {
    position: absolute;
    right: 3%;
    top: 15px;
    cursor: pointer;
    color:$color-white;
  }
  .resultado{
    width: 96%;
  }
  #result {
    width: 100%;
    font-weight: 500;
  }
  #find {
    color:$color-primary;
    position: absolute;
    z-index: 10;
    right: 75px;
    top: 15px;
    cursor: pointer;
  }
  .title-bar, .densidade{
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 56px;
    margin:0;
    &.is-visible{
      display: flex;
    }
    &.is-invisible{
      display: none;
    }
  }
  
  .br-checkbox input[type="checkbox"]:checked + label::after {
    border: solid $color-primary-lighten-2;
    border-width: 0 4px 4px 0;
    content: "";
    height: 10px;
    left: 8px;
    position: absolute;
    top: 11px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 8px;
  }
  .br-checkbox input[type="checkbox"]:checked + label::before {
    background: $color-white; 
  }  
  .br-checkbox .modify-mobil input[type="checkbox"]:checked + label::before {
    background: $color-white; 
  }  
  .br-checkbox input[type=checkbox]+label::before {
    top: 5px;
    vertical-align: middle;
  }  
  .br-checkbox input[type="checkbox"]:focus + label {
    outline: none;
  }

  .br-checkbox input[type="checkbox"]:checked{
    background: $color-white;
    color: $color-white;
  }
  
  .divisor-vertical{
    border-left: 1px solid #ccc;
    height: 24px;
    opacity: 1;
    padding: 0 5px;
    margin-left: 10px;
  }
  .arrows-pages{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  th{
    padding: 16px;
    &:hover{
      background-color: $color-primary-pastel-1;
      cursor: pointer;
    }  
  }
  .actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 600;
    #table-search, .menu-items, #densidade-up, #densidade-down{
      color: $color-primary;
      cursor: pointer;
      padding: 0 5px;
      height: 24px;
      width: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #densidade-up, #densidade-down{
      background: none;
      box-shadow: none;
      &.is-active{
        border-radius: 16px;
        height: 25px;
        width: 26px;
        margin:0;
        background: $color-primary-pastel-1;
        padding: 0 5px;
        box-shadow: inset 0 2px $color-gray-3;
      }
    }
    #lixeira, #download{
      padding: 3px 10px;
      cursor: pointer;
    }
  }
  .table-title{
    color: $color-gray-6;
    font-size: 20px;
    text-align: left;
    font-weight: 700;
  }
  #navigation-bar{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    span, div{
      font-size: 14px;
    }
    .items-right{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 45%;
      [class*="angle-left"],
      [class*="angle-right"]{
        color: $color-primary;
        cursor: pointer;
        margin: 5px;
        font-size: 24px;
      }

    }
    .items-left{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 55%;
    }
    .items-left, .items-right{
      .br-select .select-selected{
        border: none;
        &:focus{
          box-shadow: none;
        }
        &:hover{
          border-top: none;
          border-right: none;
          border-left: none;
          border-bottom: 1px solid $color-primary-lighten-2;
          border-radius: 0;
          color: $color-primary-lighten-2;
        }
      }
    }
  }

  .fa.fa-angle-left:hover, .fa.fa-angle-right:hover, .menu-items:hover{
    background:$color-primary-pastel-1;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .disabled{
    display: none;
  }
  .enabled{
    display: table-row;
  }
  #expande{
    font-size: 20px;
    color: $color-primary;
    margin: auto 0.3rem;
  }
  .rotate{
    transform: rotate(180deg);
    transition: 0.5;
  }
 
}

// @media (min-width: 1280px){
//   .br-table table thead th{
//     padding: 16px;
//   }
// }




@media only screen and (max-width: 576px) {
@media (hover:hover){
  .br-table table tbody tr:hover{
    background:transparent;
    cursor: auto;
  }
}
	
.br-table {
  position: relative;
  table {
    .table-body{
      max-height: 400px;
      overflow: auto;
      //margin-top: 56px;
      margin-bottom: 56px;
      tr{
        height: auto;
        td{
          top: -20px;
          border-bottom: none;
          color: $body-color;
          padding: 16px 50px;
          text-overflow: ellipsis;
          overflow: unset;
        }
        td.modify-mobil{
          display: table;
          left: 10px;
          top: 13px;
        }
        td.expande-mobil{
          display: flex;
          flex-direction: row-reverse;
          top: 40px;
        }
      }
    }  
  }
  .columnSelect{
    border-right: 2px solid #f60;
  }
  .resultado{
    width: 96%;
  }
  #result {
    width: 100%;
    font-weight: 500;
  }
  #find{
    right:35px;
  }
  .selecao{
    font-size: 12px;
    height: 56px;
  }
  .table-title{
    font-size: 15px;
    align-items: center!important;
    display: flex;
  }
  .search-bar, .selecao{
    top: 0;
  }
  .footer, .title-bar, .search-bar, .selecao{
    left: 0;
    right: 0;
    position: absolute;
    z-index: 10;
    height: 56px;
  }
  .footer{
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    .items-right{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: auto;
      .fa.fa-angle-right, .fa.fa-angle-left{
        color: $color-primary;
        cursor: pointer;
        padding: 10px;
        font-size: 24px;
      }
    }
    .items-left{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 100%;
    }
  }
  .title-bar{
    top: 0;
    margin: 0;
    background: $color-gray-2;
    box-shadow: 0 2px 2px $color-gray-3;
  }
  .arrows-pages{
    display: flex;
    align-items: flex-end;
  }
}
.br-select .select-selected{
  border:none;
  margin-left: 10px;
  
}
.paginas{
  margin-left: 15px;
}

td[disabled]:hover, tr[disabled]:hover {
  background: transparent;
}

// .br-table table tbody tr:hover{
//   background:transparent;
//   cursor: auto;
//   color: $color-primary-darken-1;
// }
/***faz com que a tabela não seja mais disposta como linha e coluna***/
.table-responsive table, 
.table-responsive thead, 
.table-responsive tbody, 
.table-responsive th, 
.table-responsive td, 
.table-responsive tr { 
		display: block; 
	}
 
	/* Hide table headers (but not display: none;, for accessibility) */

  .table-responsive thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
.table-responsive thead th{
  color: $color-primary-darken-1;
  text-overflow: ellipsis;
} 

.table-responsive tr { 
  box-shadow: 0 2px 4px #00000033;
  margin: 5px 0;
  td { 
  /*** Td transforma em linha ***/
    border: none;
    border-bottom: none; 
    position: relative;
    padding-left: 50%; 
    white-space: normal;
    text-align:left;
    color: $body-color;
    overflow: unset;
  }  
}

 .fas.fa-angle-down.updown-icon{
   transform: rotate(180deg);
 }

// .table-responsive td:hover{
//   color: $body-color;
// }


.table-responsive td:before { 
		position: absolute;
		top: -5px;
		left: 50px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
    font-weight: bold;
    content: attr(data-title); 
    color: $color-primary-darken-1;
  }
}