.#{$prefix}textarea {
  position: relative;
  margin-bottom: $spacer * 4;
  textarea {
    @include input;
    &[disabled] {
      color: v(color-secondary-06);
      background-color: v(color-secondary-03);
      border: 1px solid v(color-secondary-06);
      ~ .help {
        display: none;
      }
    }
  }
  .help {
    font-size: v(font-size-scale-down-01);
  }
  .feedback {
    &.valid {
      color: v(color-success);
    }
    &.invalid {
      color: v(color-danger);
    }
  }
  &.valid {
    textarea {
      border: 2px solid v(color-success);
    }
  }
  &.invalid {
    textarea {
      border: 2px solid v(color-danger);
    }
  }
}