.#{$prefix}textarea {
  position: relative;
  textarea {
    background: v(color-secondary-01);
    border: $input-border-width solid $input-border-color;
    border-radius: $input-radius;
    height: 128px;
    display: block;
    padding-top: $spacer;
    padding-left: $spacer * 2;
    padding-right: $spacer * 5;
    width: 100%;
    &:focus {
      background: v(status-focused-background)
      linear-gradient(
        v(status-focused-overlay),
        v(status-focused-overlay)
      );
    }
    &:invalid {
      border-color: v(color-danger, v(color-danger));
      box-shadow: 0 0 0 1px v(color-danger);
    }
    &:disabled {
      background: v(status-disabled-background);
      border-color: v(color-secondary-04);
    }
  }
  // Estados
  @each $state, $color in (valid, v(color-success)), 
  (invalid, v(color-danger))
  {
    &.is-#{$state} {
      textarea {
        border-color: $color;
        box-shadow: 0 0 0 1px $color;
        outline: none;
      }
    }
  }
  &.is-#{focus} {
    textarea {
      background: v(status-focused-background)
      linear-gradient(
        v(status-focused-overlay),
        v(status-focused-overlay)
      );
    }
  }
  &.is-#{disabled} {
    label,
    ::placeholder {
      opacity: .45  ;
    }
    input {
      background: v(status-disabled-background);
      border-color: v(color-secondary-04);
      color: v(color-secondary-04); 
    }
  }
}