.#{$prefix}tooltip {
  background: v(color-info, $color-info);
  color: v(color-secondary-01, $color-secondary-01);
  font-weight:v(font-weight-semi-bold,$font-weight-semi-bold);
  padding: 16px 36px;
  font-size: v(font-size-scale-base,$font-size-scale-base);
  border-radius: 4px;
  display: block;
  position: absolute;
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  visibility: hidden;
  max-width: 240px;
  z-index: 999;

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fadeOutOpacity {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  &[data-show] {
    visibility: visible;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
  }

  &.is-popover {
    max-width: 360px;
    width: auto;
  }
  &.is-success,
  &.is-success .arrow::before {
    background: v(color-success, $color-success);
  }
  &.is-error,
  &.is-error .arrow::before {
    background: v(color-danger, $color-danger);
  }
  &.is-warning,
  &.is-warning .arrow::before {
    background: v(color-warning, $color-warning);
    color: v(color-secondary-08, $color-secondary-08);
  }
  &.is-info,
  &.is-info .arrow::before,
  .arrow::before {
    background: v(color-info, $color-info);
  }

  .arrow,
  .arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
  }
  .arrow::before {
    content: '';
    transform: rotate(45deg);
  }
  &[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
  }
  
  &[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
  }
  
  &[data-popper-placement^='left'] > .arrow {
    right: -4px;
  }
  
  &[data-popper-placement^='right'] > .arrow {
    left: -4px;
  }

  .text,
  .subtext,
  .link {
    display: block;
    width: 100%;
  }

  .popover-header {
    font-size:  v(font-size-scale-base,$font-size-scale-base);
    text-align: center;
    margin-bottom: 1em;
    width: 180px;
    float: right;
    clear: right;
    .fas,
    .svg-inline--fa {
      font-size: v(font-size-scale-up-06,$font-size-scale-up-06);
      text-align: center;
    } 
  }
  .popover-image {
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 120px;
    border: 3px solid v(color-secondary-01, $color-secondary-01);
    overflow: hidden;
    float: left;
    margin-right: 15px;
    margin-left: -10px;
    & + .popover-header {
      text-align: left;
    }
  }
  .popover-body {
    font-size: v(font-size-scale-down-01,$font-size-scale-down-01);
    margin-bottom: 1em;
    width: 180px;
    float: right;
    clear: right;
  }
  .popover-footer {
    font-size: v(font-size-scale-down-01,$font-size-scale-down-01);
    text-align: center;
    width: 180px;
    float: right;
    clear: both;
  }

  
  .text {
    font-size: v(font-size-scale-base, $font-size-scale-base);
    font-weight: v(font-weight-semi-bold,$font-weight-semi-bold);
  }

  .subtext {
    font-size: v(font-size-scale-down-01,$font-size-scale-down-01);
    font-weight: v(font-weight-medium,$font-weight-medium);
  }

  .link {
    text-decoration: underline;
    width: 100%;
    text-align: right;
    color: inherit;
  }

  .close {
    position: absolute;
    top:5px;
    right: 10px;
    cursor: pointer;
  }

  button,
  .br-button {
    font-size: v(font-size-scale-down-01,$font-size-scale-down-01);
    font-weight:  v(font-weight-medium,$font-weight-medium);
    background: transparent;
    color: inherit;
    margin: 5px 5px;
  }
}