.#{$prefix}wizard {
  .wizard-progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    background-color: v(color-secondary-02);
    min-height: 140px;
    padding-top: 56px;
  }
  
  .wizard-progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    padding-top: 20px;
    color: v(color-primary-lighten-01);
    text-indent: -9999px;
    border: none;
    background-color: transparent;
    outline: none !important;
    cursor: pointer;
    font-size: 18px;
    line-height: 64px;
  }
  
  @media (min-width: 500px) {
    .wizard-progress-btn {
      text-indent: 0;
    }
  }
  
  .wizard-progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 36px;
    height: 36px;
    margin-top: -13px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    content: attr(step);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid v(color-primary-lighten-01);
    color: v(color-primary-lighten-01);
    border-radius: 50%;
    background-color: v(color-secondary-01);
    box-sizing: border-box;
    z-index: 3;
  }

  .wizard-progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% - 13px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: v(color-primary-lighten-01);
    z-index: 1;
  }
  .wizard-progress-btn.is-active:after,
  .wizard-progress-btn.is-inactive:after {
    height: 2px;
  }
  
  .wizard-progress-btn:first-child:after {
    display: none;
  }
  
  .wizard-progress-btn.is-active {
    color: v(color-primary-default);
    font-weight: 600;
  }
  
  .wizard-progress-btn.is-inactive:before {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: v(color-primary-pastel-01);
    border-color: v(color-primary-pastel-01);
    color: v(color-primary-default);
  }
  .wizard-progress-btn.is-active:before {
    background-color: v(color-primary-default);
    border-color: v(color-primary-default);
    color: v(color-secondary-01);
    font-weight: 700;
  }
  
  .wizard-form {
    position: relative;
  }
  
  .wizard-panel {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    border-top: 1px solid v(color-secondary-04);
    border-bottom: 1px solid v(color-secondary-04);
    margin-left: 2%;
    width: 96%;
    margin-bottom: 32px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    &.is-active {
      height: auto;
      opacity: 1;
      visibility: visible;
      transition-property: all;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      transition-delay: 0s;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  .wizard-panel-btn {
    width: 104%;
    position: absolute;
    margin-top: 1px;
    min-height: 88px;
    background-color: v(color-secondary-02);
    margin-left: -2%;
  }
  .wizard-btn-next,
  .wizard-btn {
    float: right;
  }

  .wizard-btn-prev {
    float: left;
  }

}
