.#{$prefix}wizard {
  .wizard-progress {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    background-color: v(color-secondary-02);
    min-height: 164px;
    padding-top: 56px;
  }
  
  .wizard-progress-btn {
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    position: relative;
    color: v(color-primary-lighten-01);
    text-indent: 0;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  
 
  .wizard-progress-btn:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 36px;
    height: 36px;
    margin-top: -13px;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    content: attr(step) !important;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
    border: 2px solid v(color-primary-lighten-01);
    color: v(color-primary-lighten-01);
    border-radius: 50%;
    background-color: v(color-secondary-01);
    box-sizing: border-box;
    z-index: 3;
  }
  
  .wizard-progress-btn:after {
    position: absolute;
    top: 5px;
    left: calc(-50% + 34px / 2);
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    transition-delay: 0s;
    display: block;
    width: calc(100% - 34px);
    height: 1px;
    content: '';
    background-color: v(color-primary-lighten-01);
    z-index: 1;
  }
  .wizard-progress-btn.is-active:after,
  .wizard-progress-btn.is-inactive:after {
    height: 2px;
  }
  
  .wizard-progress-btn:first-child:after {
    display: none;
  }
  
  .wizard-progress-btn.is-active {
    color: v(color-primary-default);
    font-weight: 600;
  }

  .wizard-progress-btn.is-inactive {
    color: v(color-primary-default);
  }
  
  .wizard-progress-btn.is-inactive:before {
    background-color: v(color-primary-pastel-01);
    border-color: v(color-primary-pastel-01);
    color: v(color-primary-default);
  }
  .wizard-progress-btn.is-active:before {
    background-color: v(color-primary-default);
    border-color: v(color-primary-default);
    color: v(color-secondary-01);
    font-weight: 700;
  }

  .wizard-progress-btn.is-disabled {
    opacity: 0.5;
  }

  .wizard-progress-btn.is-active:hover:before,
  .wizard-progress-btn.is-inactive:hover:before {
    background-color: v(status-hover-background, $status-hover-background);
    border-color: v(status-hover-background, $status-hover-background);
    color: v(color-primary-lighten-01);
  }
  .wizard-progress-btn:hover:before {
    background-color: v(status-hover-background, $status-hover-background);
    border-color: v(color-primary-lighten-01);
  }

  .wizard-progress-btn.is-active:focus:before,
  .wizard-progress-btn.is-inactive:focus:before {
    background-color: v(status-focused-overlay, $status-focused-overlay);
    border-color: v(status-focused-overlay, $status-focused-overlay);
    color: v(color-primary-lighten-01);
  }
  .wizard-progress-btn:focus:before {
    background-color: v(status-focused-overlay, $status-focused-overlay);
    border-color: v(color-primary-lighten-01);
  }
  .wizard-progress-btn.is-disabled:hover:before,
  .wizard-progress-btn.is-disabled:focus:before {
    background-color: inherit !important;
    border-color: inherit !important;
  }
  
  .wizard-form {
    position: relative;
  }
  
  .wizard-panel {
    position: absolute;
    top: 0;
    left: 1%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    border-top: 1px solid v(color-secondary-04);
    border-bottom: 1px solid v(color-secondary-04);
    margin-left: 2%;
    width: 96%;
    margin-bottom: 32px;
    &.is-active {
      height: auto;
      opacity: 1;
      visibility: visible;
      transition-property: all;
      transition-duration: 0.5s;
      transition-timing-function: linear;
      transition-delay: 0s;
      left: 0 !important;
    }
    .wizard-panel-content {
      min-height: calc(100vh - 340px);
      max-height: calc(100vh - 320px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  .wizard-panel-btn {
    width: 103.5%;
    position: absolute;
    margin-top: 1px;
    min-height: 88px;
    background-color: v(color-secondary-02);
    margin-left: -2%;
  }
  .wizard-btn-next,
  .wizard-btn {
    float: right;
  }

  .wizard-btn-prev {
    float: left;
  }

  @include media-breakpoint-down(sm) {
    .wizard-panel-btn {
      width: 104%;
      margin-left: -2%;
      background-color: transparent;
      position: relative;
      .br-button {
        width: 90%;
        margin: 10px 20px;
        float: left;
        clear: both;
      }
    }
    .wizard-progress {
      min-height: auto;
      padding-top: 28px;
      padding-bottom: 16px;
      .wizard-progress-btn {
        padding-bottom: 8px;
        .info {
          display: none;
        }
      }
    }
  }
}
