<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>button</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="button.css">
  <link rel="stylesheet" href="card.css">
</head>
<body>
  <div class="container-fluid">
    <h2>Card Quadrado 240x240</h2>
    <div class="row">
        <a href="#" class="br-card">
          <span class="icon">
              <i class="fas fa-address-card"></i>
          </span>
          <span class="title">
              Título do Card
          </span>
        </a>
      <a href="#" class="br-card is-medium">
        <span class="icon">
          <i class="fas fa-address-card"></i>
        </span>
        <span class="title">
          Título do Card
        </span>
      </a>
    </div>
    <h2>Card com troca de Conteúdo</h2>
    <div class="row">
      <a href="#" class="br-card is-change-content">
        <span class="icon">
          <i class="fas fa-address-card"></i>
        </span>
        <span class="title">
          Título do Card
        </span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit odio quis lectus egestas.</p>
      </a>
      <a href="#" class="br-card is-large is-change-content">
        <span class="icon">
          <i class="fas fa-address-card"></i>
        </span>
        <span class="title">
          Título do Card
        </span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit odio quis lectus egestas.</p>
      </a>            
    </div>
    <h2>Card com Seta</h2>
    <div class="row">
      <a href="#" class="br-card is-medium is-change-content is-arrow">
        <span class="icon">
          <i class="fas fa-address-card"></i>
        </span>
        <span class="title">
          Título do Card
        </span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit odio quis lectus egestas.</p>
      </a>       
      <a href="#" class="br-card is-large is-change-content is-arrow">
        <span class="icon">
          <i class="fas fa-address-card"></i>
        </span>
        <span class="title">
          Título do Card
        </span>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam suscipit odio quis lectus egestas.</p>
      </a>      
    </div>     
  </div>
</body>
</html>
