<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>card</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="card.css">
</head>

<body>
  <div class="container-fluid">
    <h2>Card Quadrado 240x240</h2>
    <div class="row">
      <a href="#" class="br-card">
        <div class="icon">
          <i class="fas fa-address-card"></i>
        </div>
        <div class="title">
          Título do Card
        </div>
      </a>
      <a href="#" class="br-card">
        <div class="icon">
          <i class="fas fa-address-card"></i>
        </div>
        <div class="title">
          Título do Card
        </div>
      </a>
      <a href="#" class="br-card">
        <div class="icon">
          <i class="fas fa-address-card"></i>
        </div>
        <div class="title">
          Título do Card
        </div>
      </a>
    </div>
  </div>

  </div>
</body>

</html>
