@mixin button-configs {
  // Tokens do componente
  --button-background: transparent;
  --button-border: transparent;
  --color: var(--interactive);
  --button-radius: var(--rounder-full);
  --button-high-density: 32px;
  --button-default-density: 40px;
  --button-low-density: 48px;
  --button-density: var(--button-default-density);

  // Configuração padrão
  background-color: var(--button-background);
  border-color: currentcolor;
  border-radius: var(--button-radius);
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  display: inline-flex;
  height: var(--button-density);
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0 var(--spacing-sm);
  place-items: center;
  position: relative;
  text-decoration: none !important;
  vertical-align: middle;

  // Overlay
  > .overlay {
    background-color: currentcolor;
    inset: 0;
    opacity: 0;
    position: absolute;

    @include motion-effect("fading", "opacity");
  }

  // Conteúdo
  > .content {
    display: flex;
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-semi-bold);
    gap: var(--spacing-xs);
    place-items: center;
  }

  // Enfases
  &.primary {
    --button-background: var(--theme-interactive-main);
    --color: var(--theme-interactive-read-main);

    @include states-contrast-mode;
  }

  &.secondary {
    border-width: 1px;
  }

  // Tipo circular
  &.circle {
    border-radius: var(--rounder-full);
    padding: 0;
    width: var(--button-density);
  }

  // Cores
  &.success {
    --button-background: var(--theme-success-main);
    --color: var(--theme-success-read-main);

    @include states-contrast-mode;
  }

  &.alert {
    --button-background: var(--theme-alert-main);
    --color: var(--theme-alert-read-main);
  }

  &.error {
    --button-background: var(--theme-error-main);
    --color: var(--theme-error-read-main);

    @include states-contrast-mode;
  }

  // Densidades
  @each $density in $densities {
    &.density-#{$density} {
      --button-density: var(--button-#{$density}-density);
    }
  }

  // Estado Focus
  @include focus;

  // Estado Hover
  &:hover:not(.disabled):not([disabled]) > .overlay {
    opacity: var(--hover);
  }

  // Estado Pressed
  @include pressed;

  // Estado Ativado
  &.active {
    --button-background: var(--theme-activated-main);
    --color: var(--theme-activated-read-main);
  }

  // Estado Desativado
  &.disabled {
    cursor: not-allowed;
    opacity: var(--disabled);

    * {
      pointer-events: none;
    }
  }
}

@mixin button-input {
  // Sobrescreve estilos de input padrão
  input {
    --color: currentcolor;

    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: var(--font-size-scale-up-01);
    font-weight: var(--font-weight-semi-bold);
    margin: 0;
    padding: 0;

    &:focus {
      outline: none;
    }
  }

  // Estado Focus
  &:focus-within {
    @include focus-style;
  }
}
