//- Mixin para reusar componente Button
mixin button(icon=false)
  - const component = 'button'
  //- Button Link
  if attributes['href']
    a(class=prefix + component)&attributes(attributes)
      span.overlay
      span.content
        if block
          block
  //- Button Input
  else if attributes['value']
    div(class=[prefix + component, attributes.class])
      span.overlay
      span.content
        input(type="button" value=attributes.value)
  //- Button padrão
  else
    button(class=prefix + component, type="button")&attributes(attributes)
      span.overlay
      span.content
        if block
          block
