block vars
  - let prefix = "br-"

block partials
  include utilities/icon

block components

html(lang="pt-BR")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title= title ? title : "Template padrão"
    // Fonte Rawline
    link(rel="stylesheet" href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css")
    // Fonte Raleway
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap")
    block core-css
      // Design System de Governo
      link(rel="stylesheet" href=cdnUrl+"core.css")
    // Fontawesome
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
    block style
  body(class= templateClass ? `template-${templateClass}` : "")
    block template
    script(src=cdnUrl+"core-init.js")
    block scripts

