@mixin menu-configs {
  // Tokens do componente
  --menu-width: 320px;

  @include elevation-layer("4");
  @include motion-effect("fading", "visibility");

  box-shadow: none;

  // Configuração padrão (flutuante)
  inset: 0;
  overflow: hidden;
  position: fixed;
  visibility: hidden; // Impede navegação por tab quando está fechado

  .menu-container {
    display: flex;
    height: 100vh; // Força menu para ocupar todo o viewport
  }

  .menu-panel {
    background-color: var(--theme-surface-main-base);
    display: flex;
    flex-direction: column;
    overflow-y: scroll; // Sempre mostra scroll vertical
    position: relative;
    transform: translateY(-100vh);
    width: var(--menu-width);
    z-index: 1; // Coloca menu na frente do scrim

    @include motion-effect("sliding", "transform");
  }

  .menu-scrim {
    background: var(--overlay-scrim);
    inset: 0;
    opacity: 0;
    position: fixed;

    @include motion-effect("fading", "opacity");
  }

  .menu-header {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    padding: var(--spacing-sm);
  }

  .menu-close {
    margin-right: calc(var(--spacing-xxs) * -1);
  }

  .menu-title {
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--spacing-sm);

    img {
      max-width: 40px;
    }
  }

  .menu-body {
    --background: var(--theme-surface-main-base);
    --color: var(--interactive);

    flex: 1;
  }

  .menu-footer {
    padding-top: var(--spacing-sm);
  }

  &.active {
    visibility: visible;

    .menu-panel {
      transform: translateY(0);
    }

    .menu-scrim {
      opacity: 1;
    }
  }

  // Configuração push
  &.push {
    position: static;
    width: 0;

    @include elevation-layer("0");
    @include motion-effect("sliding", "visibility, width");

    .menu-container {
      height: auto; // Retorna configuração padrão impedindo criação de scroll
      position: static;
      width: var(--menu-width); // Impede scroll durante a animação
    }

    .menu-panel {
      overflow: auto;
      transform: translateX(calc(var(--menu-width) * -1));
    }

    // Elementos não mostrados no tipo push
    .menu-header,
    .menu-footer,
    .menu-scrim {
      display: none;
    }

    &.active {
      width: var(--menu-width);

      .menu-panel {
        transform: translateX(0);
      }
    }
  }
}
