//- Mixin para reusar componente Menu
mixin menu
  - const component = 'menu'
  div(class=prefix + component)&attributes(attributes)
    .menu-container
      .menu-panel
        if block
          block
      .menu-scrim(tabindex="0")

//- Mixin para usar logo no Menu
mixin menu-header
  .menu-header
    .menu-title
      if block
        block
    +menu-close

//- Mixin para fechar Menu
mixin menu-close
  .menu-close
    +button.circle(data-dismiss="menu")
      +icon.fa-times

//- Mixin para usar mapa do site no Menu
mixin menu-body
  nav.menu-body
    if block
      block
