extends ../layouts/_authentication

block vars
  - var title = "Esqueceu sua senha?";

block scripts
  script(src="../js/checklist.js")

block auth-menu

block content
  p
    | Para ativar sua conta enviaremos um 
    strong código
    |  para você.
  p Como prefere recebê-lo?
  .row
    .col-sm-10
      // Seleção com input
      .br-checklist
        .item
          .icon
            i.far.fa-envelope
          .br-input
            label(for='radio-email') E-mail
            input#radio-email(type='text' placeholder='Ex: fulano@email.com')
          .br-radio
            input#radio-email-check(name='preferencia' type='radio' onclick="toggleActiveField(this, 'br-checklist')")
            label(for='radio-email-check')
              span.sr-only E-mail
        .item
          .icon
            i.fas.fa-mobile-alt
          .br-input
            label(for='radio-celular') Celular
            input#radio-celular(type='text' placeholder='Ex: (xx) xxxxx-xxxx')
          .br-radio
            input#radio-celular-check(name='preferencia' type='radio' onclick="toggleActiveField(this, 'br-checklist')")
            label(for='radio-celular-check')
              span.sr-only Celular
  // Receber código
  p.label.mt-8 Receber Código por:
  .br-radio.d-block
    input#mensagem(name='codigo' type='radio' checked)
    label(for='mensagem') Mensagem SMS
  .br-radio.d-block.mt-1
    input#ligacao(name='codigo' type='radio')
    label(for='ligacao') Ligação
  // Botões de ação
  .d-flex.flex-wrap.flex-row-reverse.justify-content-center.justify-content-sm-start.mt-10.mt-sm-10
    button.br-button.is-primary(disabled) Avançar
    button.br-button.is-cancel.mt-3.mt-sm-0.mr-sm-3 Cancelar
