<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>checkbox</title>
  <link rel="stylesheet" href="../../estilos/dist/css/dsgov.min.css">
  <link rel="stylesheet" href="checkbox.css">
</head>
<body>
  <div class="container-fluid">
    <div class="br-check">
      <input type="checkbox" id="h-checkbox-padrao">
      <label for="h-checkbox-padrao">Padrão</label>
    </div>
    <div class="br-check ml-6">
      <input type="checkbox" id="h-checkbox-checado" checked>
      <label for="h-checkbox-checado">Checado</label>
    </div>
    <div class="br-check is-invalid ml-6">
      <input type="checkbox" id="h-checkbox-invalido">
      <label for="h-checkbox-invalido">Inválido</label>
    </div>
    <div class="br-check is-valid ml-6">
      <input type="checkbox" id="h-checkbox-valido">
      <label for="h-checkbox-valido">Válido</label>
    </div>
    <div class="br-check ml-6">
      <input type="checkbox" id="h-checkbox-disabled" disabled>
      <label for="h-checkbox-disabled">Desativado</label>
    </div>
    <hr>
    <div class="br-check">
      <input name="h-radio" type="radio" id="h-radio-padrao">
      <label for="h-radio-padrao">Padrão</label>
    </div>
    <div class="br-check ml-6">
      <input name="h-radio" type="radio" id="h-radio-checado" checked>
      <label for="h-radio-checado">Checado</label>
    </div>
    <div class="br-check is-invalid ml-6">
      <input name="h-radio" type="radio" id="h-radio-invalido">
      <label for="h-radio-invalido">Inválido</label>
    </div>
    <div class="br-check is-valid ml-6">
      <input name="h-radio" type="radio" id="h-radio-valido">
      <label for="h-radio-valido">Válido</label>
    </div>
    <div class="br-check ml-6">
      <input name="h-radio" type="radio" id="h-radio-disabled" disabled>
      <label for="h-radio-disabled">Desativado</label>
    </div>
    <hr>
    <div class="row">
      <div class="col-auto">
        <div class="br-check d-block">
          <input type="checkbox" id="v-checkbox-padrao">
          <label for="v-checkbox-padrao">Padrão</label>
        </div>
        <div class="br-check d-block mt-1">
          <input type="checkbox" id="v-checkbox-checado" checked>
          <label for="v-checkbox-checado">Checado</label>
        </div>
        <div class="br-check d-block is-invalid mt-1">
          <input type="checkbox" id="v-checkbox-invalido">
          <label for="v-checkbox-invalido">Inválido</label>
        </div>
        <div class="br-check d-block is-valid mt-1">
          <input type="checkbox" id="v-checkbox-valido">
          <label for="v-checkbox-valido">Válido</label>
        </div>
        <div class="br-check d-block mt-1">
          <input type="checkbox" id="v-checkbox-disabled" disabled>
          <label for="v-checkbox-disabled">Desativado</label>
        </div>
      </div>
      <div class="col">
        <div class="br-check d-block">
          <input name="v-radio" type="radio" id="v-radio-padrao">
          <label for="v-radio-padrao">Padrão</label>
        </div>
        <div class="br-check d-block mt-1">
          <input name="v-radio" type="radio" id="v-radio-checado" checked>
          <label for="v-radio-checado">Checado</label>
        </div>
        <div class="br-check d-block is-invalid mt-1">
          <input name="v-radio" type="radio" id="v-radio-invalido">
          <label for="v-radio-invalido">Inválido</label>
        </div>
        <div class="br-check d-block is-valid mt-1">
          <input name="v-radio" type="radio" id="v-radio-valido">
          <label for="v-radio-valido">Válido</label>
        </div>
        <div class="br-check d-block mt-1">
          <input name="v-radio" type="radio" id="v-radio-disabled" disabled>
          <label for="v-radio-disabled">Desativado</label>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
