extends ../../../partial/pug/isolate

block dependencies
  include ../../avatar/avatar
  include ../../button/button
  include ../../signin/signin
  include ../../divider/divider
  include ../../input/input
  include ../../item/item
  include ../../list/list
  include ../../menu/menu
  include ../../notification/notification
  include ../../tab/tab
  include ../../tag/tag
  include ../header

block content
  +header-compact("Header Compacto")
