extends ../../../partial/pug/isolate

block dependencies
	include ../cookiebar
	include ../../button/button
	include ../../card/card
	include ../../item/item
	include ../../message/message
	include ../../modal/modal
	include ../../switch/switch
	include ../../list/list

block content
	+cookiebar-padrao
