.signin-title {
  color: #1351b4;
  font-size: 20px;
  font-weight: 600;
}

.signin-menu {
  align-items: center;
  color: #555555;
  display: flex;
}

.signin-menu:hover {
  color: #2670e8;
}

.signin-menu .icon + .content {
  margin-left: 8px;
}

.signin-menu .content {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
}
