<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Cadastro</title>
  <!-- Estilos ds-gov -->
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="../../assets/styles/dsgov-components.min.css">
  <link rel="stylesheet" href="../../assets/styles/dsgov-templates.min.css">
  <!-- Ícones fontawesome -->
  <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
</head>

<body>
  <!-- Atalhos para conteúdo -->
  <ul id="skip-menu" class="skip-menu">
    <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
    <li><a accesskey="2" href="#navigation">Ir para o menu</a></li>
    <li><a accesskey="3" href="#footer-brasil">Ir para o rodapé</a></li>
  </ul>
  <!-- Barra de governo -->
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
        <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do
          Governo Brasileiro</a>
      </li>
    </ul>
  </div>
  <!-- Wrapper -->
  <div class="page-wrapper container-fluid">
    <div class="page-background row">
      <div class="container">
        <div class="row">
          <!-- Lado esquerdo -->
          <div class="col-sm-4 col-lg-5">
            <div class="row justify-content-end">
              <div class="col-md-9 col-lg-7 col-xl-6 pt-sm-8">
                <!-- Logo -->
                <a id="left-logo" class="logo text-center d-none d-sm-block py-8" href="">
                  <img src="../../assets/images/logo-color.png" alt="Governo do Brasil" class="logo-image">
                </a>
                <!-- Outras opções de cadastro -->
                <nav class="d-none d-sm-block pt-3">
                  <p class="signin-title text-center mb-5">Cadastre-se com</p>
                  <div class="mb-5">
                    <a href="" class="signin-menu mb-2">
                      <div class="icon">
                        <img src="../../assets/images/certificado-digital.png" alt="Certificado Digital">
                      </div>
                      <div class="content">
                        <span>Certificado Digital</span>
                      </div>
                    </a>
                    <a href="" class="signin-menu">
                      <div class="icon">
                        <img src="../../assets/images/neoid.png" alt="NeoID">
                      </div>
                      <div class="content">
                        <span>NeoID</span>
                      </div>
                    </a>
                  </div>
                </nav>
                <p class="text-center d-none d-sm-block my-6">
                  <a href="" class="br-button is-tertiary">Como obter Certificado Digital</a>
                </p>
                <aside class="d-none d-sm-block mx-n1 mx-lg-0 mb-8">
                  <div class="br-login-social">
                    <div class="br-divider">
                      <span class="content">Ou</span>
                    </div>
                    <button class="br-button is-social-media is-facebook" type="button">
                      <i class="fab fa-facebook-f fa-lg"></i>
                    </button>
                    <button class="br-button is-social-media is-twitter" type="button">
                      <i class="fab fa-twitter fa-lg"></i>
                    </button>
                    <button class="br-button is-social-media" type="button">
                      <img src="../../assets/images/google.png" alt="Google">
                    </button>
                  </div>
                </aside>
              </div>
            </div>
          </div>
          <!-- Lado direito -->
          <div class="col bg-white">
            <!-- Cabeçalho da página -->
            <header id="header" class="page-header pl-sm-10 pr-sm-3 pt-1 pt-sm-3">
              <!-- Acessibilidade -->
              <div class="accessibility float-right float-sm-none mt-1 mt-sm-0">
                <a id="contrast" href="" accesskey="6">
                  <span class="icon">
                    <i class="fas fa-adjust fa-2x"></i>
                  </span>
                  <span class="content d-none d-sm-inline">
                    <span class="">Alto Contraste</span>
                  </span>
                </a>
                <a id="vlibras" href="http://www.vlibras.gov.br/">
                  <span class="icon">
                    <i class="fas fa-assistive-listening-systems fa-2x"></i>
                  </span>
                  <span class="content d-none d-sm-inline">
                    <span class="">VLibras</span>
                  </span>
                </a>
              </div>
              <!-- Logo -->
              <a id="logo" class="logo d-sm-none" href="">
                <img src="../../assets/images/logo-color.png" alt="Governo do Brasil" class="logo-image">
              </a>
            </header>
            <!-- Conteúdo principal -->
            <main id="content" class="page-content pl-sm-10 pt-sm-4">
              <h1 class="main-title">Cadastre-se</h1>
              <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-8 col-xl-7">
                  <!-- Área de preenchimento do usuário -->
                  <div class="br-form">
                    <!-- Informar CPF -->
                    <div class="field">
                      <div class="br-input">
                        <label for="cpf">CPF</label>
                        <input type="text" id="cpf" placeholder="Ex: 123.456.789-99">
                      </div>
                      <p class="help">Digite somente números</p>
                    </div>
                    <!-- Informar a senha -->
                    <div class="field">
                      <div class="br-input has-icon">
                        <label for="password">Crie sua senha</label>
                        <input type="password" id="password">
                        <button class="icon" type="button">
                          <span class="sr-only">Mostrar senha</span>
                          <i class="fas fa-eye"></i>
                        </button>
                      </div>
                      <p class="help">Sua senha deve ter entre 8 e 11 dígitos</p>
                    </div>
                    <p>Já tem conta? <a href="">Fazer login</a></p>
                    <!-- Botões de ação -->
                    <div class="actions justify-content-start">
                      <button class="br-button is-primary" disabled>Avançar</button>
                    </div>
                  </div>
                  <!-- Outras opções de cadastro -->
                  <aside class="content-aside d-sm-none pt-sm-3 pb-3">
                    <div class="br-login-social">
                      <div class="br-divider">
                        <span class="content">Ou</span>
                      </div>
                      <button class="br-button is-social-media is-facebook" type="button">
                        <i class="fab fa-facebook-f fa-lg"></i>
                      </button>
                      <button class="br-button is-social-media is-twitter" type="button">
                        <i class="fab fa-twitter fa-lg"></i>
                      </button>
                      <button class="br-button is-social-media" type="button">
                        <img src="../../assets/images/google.png" alt="Google">
                      </button>
                    </div>
                  </aside>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Rodapé de governo -->
  <div class="page-footer mt-5 mt-sm-0 pb-3 text-right">
    <div class="container-fluid">
      <img src="../../assets/images/produto-serpro.png" alt="Produto Serpro">
    </div>
  </div>
  <!-- Script da barra de governo -->
  <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js" type="text/javascript"></script>
  <script src="../../components/input/input-password.js"></script>
</body>

</html>
