// Prefixo de uso nos componentes
$prefix: "br-";

// Espaçamentos
$margin-default: $spacer * 2; // margem entre elementos 16px
$button-padding: $spacer * 3; // 24px

// Bordas
$border-color: $color-gray-3;

$input-border-color: $color-gray-5;
$input-border-width: 1px;

// Arredondamentos
$input-radius: 6px;
$button-radius: 100px;
$checkbox-radius: 4px;

// Tamanhos
$button-height-default: 44px;
$button-height-small: 32px;
$button-min-width: 144px;
$button-action-min-width: 180px;
$button-action-border-width: 14px;
$button-circle-default: 36px;
$button-circle-medium: 48px;
$button-circle-large: 64px;

$checkbox-default: 24px;
$checkbox-small: 20px;

$input-default: 48px;
$input-medium: 40px;
$input-small: 32px;

$message-icon: 64px;

$tabs-vertical-icons: 32px;
