// Breakpoint
$grid-breakpoint-xsmall: 0px;
$grid-breakpoint-small: 575px;
$grid-breakpoint-medium: 992px;
$grid-breakpoint-large: 1280px;
$grid-breakpoint-xlarge: 1600px;
$tokens-breakpoints: (
  grid-breakpoint-xsmall: $grid-breakpoint-xsmall,
  grid-breakpoint-small: $grid-breakpoint-small,
  grid-breakpoint-medium: $grid-breakpoint-medium,
  grid-breakpoint-large: $grid-breakpoint-large,
  grid-breakpoint-xlarge: $grid-breakpoint-xlarge,
);

// Portrait
$grid-portrait-maxwidth: 100%;
$grid-portrait-gutter: 16px;
$grid-portrait-columns: 4;
$grid-portrait-margin: 8px;
$tokens-portrait: (
  grid-portrait-maxwidth: $grid-portrait-maxwidth,
  grid-portrait-gutter: $grid-portrait-gutter,
  grid-portrait-columns: $grid-portrait-columns,
  grid-portrait-margin: $grid-portrait-margin,
);

// Tablet
$grid-tablet-maxwidth: 100%;
$grid-tablet-gutter: 24px;
$grid-tablet-columns: 8;
$grid-tablet-margin: 40px;
$tokens-tablet: (
  grid-tablet-maxwidth: $grid-tablet-maxwidth,
  grid-tablet-gutter: $grid-tablet-gutter,
  grid-tablet-columns: $grid-tablet-columns,
  grid-tablet-margin: $grid-tablet-margin,
);

// Desktop
$grid-desktop-maxwidth: 1200px;
$grid-desktop-gutter: 24px;
$grid-desktop-columns: 12;
$grid-desktop-margin: 40px;
$tokens-desktop: (
  grid-desktop-maxwidth: $grid-desktop-maxwidth,
  grid-desktop-gutter: $grid-desktop-gutter,
  grid-desktop-columns: $grid-desktop-columns,
  grid-desktop-margin: $grid-desktop-margin,
);

// TV
$grid-tv-maxwidth: 1520px;
$grid-tv-gutter: 40px;
$grid-tv-columns: 12;
$grid-tv-margin: 40px;
$tokens-tv: (
  grid-tv-maxwidth: $grid-tv-maxwidth,
  grid-tv-gutter: $grid-tv-gutter,
  grid-tv-columns: $grid-tv-columns,
  grid-tv-margin: $grid-tv-margin,
);

// Mapa de breakpoints
$breakpoints: (
  portrait: $grid-breakpoint-xsmall,
  tablet: $grid-breakpoint-small,
  desktop: $grid-breakpoint-large,
  tv: $grid-breakpoint-xlarge,
);

// Compatibilidade com Bootstrap
$grid-gutter-width: $grid-portrait-gutter;
$grid-breakpoints: (
  xs: 0,
  sm: $grid-breakpoint-small,
  md: $grid-breakpoint-medium,
  lg: $grid-breakpoint-large,
  xl: $grid-breakpoint-xlarge,
);
$container-max-widths: (
  sm: $grid-desktop-maxwidth - 2,
  md: $grid-desktop-maxwidth - 1,
  lg: $grid-desktop-maxwidth,
  xl: $grid-tv-maxwidth,
);
