$grid-breakpoint-xsmall: 0px;
$grid-breakpoint-small: 575px;
$grid-breakpoint-medium: 992px;
$grid-breakpoint-large: 1280px;
$grid-breakpoint-xlarge: 1600px;

$grid-portrait-maxwidth: 100%;
$grid-portrait-gutter: 16px;
$grid-portrait-columns: 4;
$grid-portrait-margin: 8px;

$grid-tablet-maxwidth: 100%;
$grid-tablet-gutter: 24px;
$grid-tablet-columns: 8px;
$grid-tablet-margin: 40px;

$grid-desktop-maxwidth: 1200px;
$grid-desktop-gutter: 24px;
$grid-desktop-columns: 12;
$grid-desktop-margin: 40px;

$grid-tv-maxwidth: 1520px;
$grid-tv-gutter: 40px;
$grid-tv-columns: 12;
$grid-tv-margin: 40px;
