// Destacado
$status-highlight-overlay: rgba($support-03, 0.1);
$status-highlight-background: $secondary-01;
$status-highlight-color: $support-03;
// Interativo
$status-enabled: $primary;
$status-enabled-darken: $secondary-01;
// Desativado
$status-disabled-background: rgba($secondary-03, 0.45);
$status-disabled-color: rgba($secondary-04, 0.45);
// Hover
$status-hover: $primary-pastel-02;
// Pressionado
$status-pressed-background: $primary-darken-02;
$status-pressed-color: $primary-pastel-01;
// Foco
$status-focus-overlay: rgba($support-02, 0.3);
$status-focus-background: $secondary-01;
// Ativo
$status-active-background: $primary-darken-01;
$status-active-color: $secondary-01;
// Selecionado
$status-selected-background: $primary-lighten-01;
$status-selected-color: $secondary-01;
// Arrastado
$status-dragged-background: $secondary-03;
$status-dragged-color: $secondary-08;
$status-dragged-shadow: 0 3px 6px rgba($secondary-09, 0.16);
// Visitado
$status-visited-background: $primary-pastel-01;
$status-visited-color: $primary-darken-01;
// Ligado
$status-on-background: $primary-lighten-02;
$status-on-color: $secondary-01;
// Desligado
$status-off-background: $secondary-04;
$status-off-color: $secondary-07;

$br-status: (
  status-highlight-overlay: $status-highlight-overlay,
  status-highlight-background: $status-highlight-background,
  status-highlight-text: $status-highlight-color,
  status-enabled: $status-enabled,
  status-enabled-darken: $status-enabled-darken,
  status-disabled-background: $status-disabled-background,
  status-disabled-text: $status-disabled-color,
  status-hover: $status-hover,
  status-pressed-background: $status-pressed-background,
  status-pressed-text: $status-pressed-color,
  status-focus-overlay: $status-focus-overlay,
  status-focus-background: $status-focus-background,
  status-active-background: $status-active-background,
  status-active-text: $status-active-color,
  status-selected-background: $status-selected-background,
  status-selected-text: $status-selected-color,
  status-dragged-background: $status-dragged-background,
  status-dragged-text: $status-dragged-color,
  status-dragged-shadow: $status-dragged-shadow,
  status-visited-background: $status-visited-background,
  status-visited-text: $status-visited-color,
  status-on-background: $status-on-background,
  status-on-text: $status-on-color,
  status-off-background: $status-off-background,
  status-off-text: $status-off-color
);
