// Família de fontes base
$font-family-base: "Rawline", "Raleway", sans-serif;

// Pesos
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
$tokens-font-weight: (
  font-weight-thin: $font-weight-thin,
  font-weight-extra-light: $font-weight-extra-light,
  font-weight-light: $font-weight-light,
  font-weight-regular: $font-weight-regular,
  font-weight-medium: $font-weight-medium,
  font-weight-semi-bold: $font-weight-semi-bold,
  font-weight-bold: $font-weight-bold,
  font-weight-extra-bold: $font-weight-extra-bold,
  font-weight-black: $font-weight-black
);

// Tamanhos
$font-size-scale-base: 14px;
$font-size-scale-down-01: $font-size-scale-base * 0.833;
$font-size-scale-down-02: $font-size-scale-base * 0.694;
$font-size-scale-down-03: $font-size-scale-base * 0.579;
$font-size-scale-up-01: $font-size-scale-base * 1.2;
$font-size-scale-up-02: $font-size-scale-base * 1.44;
$font-size-scale-up-03: $font-size-scale-base * 1.728;
$font-size-scale-up-04: $font-size-scale-base * 2.074;
$font-size-scale-up-05: $font-size-scale-base * 2.488;
$font-size-scale-up-06: $font-size-scale-base * 2.986;
$font-size-scale-up-07: $font-size-scale-base * 3.583;
$tokens-font-size: (
  font-size-scale-base: $font-size-scale-base,
  font-size-scale-down-01: $font-size-scale-down-01,
  font-size-scale-down-02: $font-size-scale-down-02,
  font-size-scale-down-03: $font-size-scale-down-03,
  font-size-scale-up-01: $font-size-scale-up-01,
  font-size-scale-up-02: $font-size-scale-up-02,
  font-size-scale-up-03: $font-size-scale-up-03,
  font-size-scale-up-04: $font-size-scale-up-04,
  font-size-scale-up-05: $font-size-scale-up-05,
  font-size-scale-up-06: $font-size-scale-up-06,
  font-size-scale-up-07: $font-size-scale-up-07
);

// Altura de linhas
$font-line-height-low: 1.15;
$font-line-height-medium: 1.45;
$font-line-height-high: 1.85;
$tokens-line-height: (
  font-line-height-low: $font-line-height-low,
  font-line-height-medium: $font-line-height-medium,
  font-line-height-high: $font-line-height-high
);
