@mixin button-pill(
  $background: v(color-primary-default, $color-primary-default),
  $color: v(color-secondary-01, $color-secondary-01),
  $border: v(color-primary-default, $color-primary-default)
) {
  background: $background;
  border: 1px solid $border;
  border-radius: $button-radius;
  color: $color;
  display: inline-block;
  font-weight: v(font-weight-semi-bold);
  height: $button-height-default;
  line-height: $button-height-default;
  padding: 0 $button-padding;
  width: auto;
  // Tablet
  @include media-breakpoint-up(sm) {
    width: auto;
  }
}

@mixin button-link($color: $link-color) {
  background: transparent;
  border: 0;
  color: $color;
  cursor: pointer;
  display: inline;
  font-weight: v(font-weight-medium);
  padding: 0 24px;
  height: 44px;
  width: auto;
  border-radius: 144px;
}

@mixin estados {
  &:not(.is-disabled):hover {
    background-color: v(status-hover-background);
    color: v(color-primary-default);
  }
  &:not(.is-disabled):focus {
    background-color: v(status-focused-overlay);
    color: v(status-focused-background);
  }
  &:not(.is-disabled):not(.is-tertiary):not(.is-mobile):active {
    background-color: v(status-activated-background);
    color: v(status-activated-text);
  }
  &.is-disabled {
    opacity: 0.45;
    cursor: not-allowed;
  }
}
@mixin estados-actions {
  box-shadow: 0px 2px 3px v(color-secondary-04);
  &:hover {
    background-color: v(status-hover-background);
    color: v(color-primary-default);
  }
  &:focus {
    background-color: v(status-focused-overlay);
    color: v(status-focused-background);
    border-color: v(color-secondary-03);
  }
  &:disabled {
    border-color: v(color-secondary-03);
  }
  &:active {
    background-color: v(status-activated-background);
    color: v(status-activated-text);
  }
}
@mixin mobil {
  @include media-breakpoint-down(xs) {
    width: 100%;
    margin: 0.5em;
  }
}
