@mixin button-pill(
  $background: $color-primary,
  $color: $color-secondary-01,
  $border: $color-primary
) {
  background: $background;
  border: 1px solid $border;
  border-radius: $button-radius;
  color: $color;
  display: inline-block;
  font-weight: 600;
  height: $button-height-default;
  padding: 0 $button-padding;
  width: 100%;
  &:hover,
  &:focus {
    background-color: $color-primary-lighten-01;
    border-color: $color-primary-lighten-01;
    color: $color-secondary-01;
  }
  &:disabled {
    background-color: adjust-color(
      $background,
      $lightness: 35%,
      $saturation: -35%
    );
    border-color: adjust-color($border, $lightness: 35%, $saturation: -35%);
    color: adjust-color($color, $lightness: 35%, $saturation: -35%);
  }
  // Tablet
  @include media-breakpoint-up(sm) {
    min-width: $button-min-width;
    width: auto;
  }
}

@mixin button-link($color: $link-color) {
  background: transparent;
  border: 0;
  color: $color;
  cursor: pointer;
  display: inline;
  font-weight: $font-weight-base;
  padding: 0;
  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}
