// Criar cores de fundo
@mixin bg-colors($name, $value) {
  #{$name} {
    background-color: $value !important;
  }
}

// Criar cores de textos
@mixin text-colors($name, $value) {
  #{$name} {
    color: $value !important;
  }
}

// Criar cores de bordas
@mixin border-colors($name, $value) {
  #{$name} {
    border-color: $value !important;
  }
}
