@mixin img {
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 102px;
  max-width: 180px;
  width: auto;
  height: 48px;
}

@mixin themes($tema, $background, $logo, $acesso, $slogan) {
  &.#{$tema} {
    background-color: $background;
    .logo {
      background: url(#{$logo});
      @include img;
    }
    .text-list,
    .title-social-network,
    .assigns,
    .law-information {
      @if $tema == 'positive' {
        color: v(color-primary-darken-02);
      } @else {
        color: v(color-secondary-01);
      }
    }
    .container-list,
    .container-rights,
    .container-footer,
    .content,
    .support {
      background-color: $background;
      @if $tema == 'positive' {
        color: v(color-primary-darken-02);
      } @else {
        color: v(color-secondary-01);
      }
    }
    .logo-information {
      background: url(#{$acesso});
      @include img;
    }
    .logo-slogan {
      background: url(#{$slogan});
      @include img;
    }
  }
  @include common-area;
}

@mixin common-area {
  /*** Logo govbr ***/
  .container {
    &-logo {
      // display: flex;
      // justify-content: flex-start;
      width: 100%;
      padding: $spacer*6  $spacer*5;
      .logo {
        display: inline-flex;
        background-color: transparent;
      }
    }
    /*** container lista e acordeão ***/
    &-list {
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
      padding: $spacer  $spacer*2;
    }
    /*** Rede sociais e assinaturas ***/
    &-social {
      display: flex;
      justify-content: space-between;
      padding: $spacer  $spacer*3 $spacer*3;
      .social-network {
        justify-content: left;
        height: auto;
        font-size: v(font-size-scale-down-02);
        border: none;
        button {
          margin-right: $spacer*2;
        }
        .title-social-network {
          font-size: v(font-size-scale-up-01);
          font-weight: v(font-weight-extra-bold);
        }
      }
      .assigns {
        display: flex;
        justify-content: right;
        align-items: flex-end;
        div {
          margin-left: $spacer*5;
        }
      }
    }
    /***Informações legais***/
    &-rights {
      padding: 0 $spacer $spacer*2;
      text-align: center;
      font-size: v(font-size-scale-down-01);
      font-weight: v(font-weight-medium);
      justify-content: center;
      .bolder {
        font-weight: v(font-weight-extra-bold);
      }
    }
  }
}
