@mixin img {
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 102px;
  max-width: 180px;
  width: auto;
  height: 48px;
}

@mixin themes($tema, $background, $logo, $acesso, $slogan) {
  &.#{$tema} {
    background-color: $background;
    .around-logo {
      background: url(#{$logo});
      @include img;
    }
    .logo,
    .text-list,
    .title-social-network,
    .assigns,
    .law-information {
      @if $tema == 'negative' {
        color: v(color-secondary-01);
      } @else {
        color: v(color-primary-darken-02);
      }
    }
    .around-list,
    .around-rights,
    .around-footer {
      background-color: $background;
      @if $tema == 'negative' {
        color: v(color-secondary-01);
      } @else {
        color: v(color-primary-darken-02);
      }
    }
    .logo-information {
      background: url(#{$acesso});
      @include img;
    }
    .logo-slogan {
      background: url(#{$slogan});
      @include img;
    }
  }
  @include teste;
}

@mixin teste {
  /*** Logo govbr ***/
  .around {
    &-logo {
      border: 1px solid rgb(206, 203, 25);
      text-align: left;
      // margin-top: 2em;
    }
    /*** container lista e acordeão ***/
    &-list {
      border: 1px solid green;
      flex-direction: row;
      flex-wrap: wrap;
      display: flex;
    }
    /*** Rede sociais e assinaturas ***/
    &-social {
      border: 1px solid yellow;
      // margin: 1em;
      display: flex;
      justify-content: space-between;
      .social-network {
        justify-content: left;
        height: auto;
        font-size: v(font-size-scale-down-02);
        .title-social-network {
          font-size: v(font-size-scale-up-01);
          font-weight: v(font-weight-extra-bold);
          margin: 0 auto;
        }
        // .is-circle{
        //   height: v(icon-size-2x);
        //   font-size: v(font-size-scale-down-02);
        //   width: v(icon-size-2x);
        //   border-radius: 50%;
        //   display: inline;
        //   text-align: center;
        //   border: none;
        //   padding:0;
        //   margin: 0.8em .5em;
        // }
      }
      .assigns {
        display: flex;
        justify-content: right;
        align-items: flex-end;
      }
    }
    /***Informações legais***/
    &-rights {
      font-size: v(font-size=scale-down-01);
      font-weight: v(font-weight-medium);
      border: 2px solid green;
      justify-content: center;
      &-bolder {
        font-weight: v(font-weight-extra-bold);
      }
    }
  }
}
