@mixin grid-bs($min-width, $gutter) {
  @media (min-width: $min-width) {
    @if $min-width == $grid-breakpoint-small {
      .container,
      .container-fluid {
        padding-left: $grid-tablet-margin;
        padding-right: $grid-tablet-margin;
      }
    }
    .row {
      margin-right: -$gutter / 2;
      margin-left: -$gutter / 2;
    }
    [class^="col"] {
      padding-right: $gutter / 2;
      padding-left: $gutter / 2;
    }
  }
}

// TODO: Criar mixins da Grid DSGov

@mixin grid-breakpoint(
  $breakpoint,
  $media-breakpoint,
  $margin,
  $maxwidth,
  $gutter,
  $columns,
  $tablet: false,
  $desktop: false
) {
  @media (min-width: $media-breakpoint) {
    .container {
      --container-maxwidth: var(--grid-#{$breakpoint}-maxwidth, #{$maxwidth});
      --container-padding: var(--grid-#{$breakpoint}-margin, #{$margin});
    }
    .row {
      --row-margin: var(--grid-#{$breakpoint}-gutter, #{$gutter});
    }
    .col,
    .col-tablet,
    .col-desktop,
    .col-tv {
      --col-gutter: var(--grid-#{$breakpoint}-gutter, #{$gutter});
    }
    .col,
    #{if($tablet, ".col-#{$tablet}", "")},
    #{if($desktop, ".col-#{$desktop}", "")},
    .col-#{$breakpoint} {
      flex-basis: 100% / $columns;
    }
    @for $i from 1 through $columns {
      .#{$breakpoint}-#{$i} {
        flex-basis: 100% / $columns * $i !important;
        flex-grow: 0;
      }
    }
  }
}
