@mixin grid-breakpoint(
  $breakpoint,
  $media-breakpoint,
  $margin,
  $maxwidth,
  $gutter,
  $columns
) {
  @media (min-width: $media-breakpoint) {
    --grid-#{columns}: var(--grid-tablet-columns);
    .container {
      max-width: v(container-maxwidth, $maxwidth);
      padding-left: v(container-padding, $margin);
      padding-right: v(container-padding, $margin);
    }
    .row {
      margin-left: calc(#{v(row-margin, $gutter)} / -2);
      margin-right: calc(#{v(row-margin, $gutter)} / -2);
    }
    .col {
      flex-basis: calc(100% / #{v(grid-columns, $columns)});
      padding-left: calc(#{v(col-gutter, $gutter)} / 2);
      padding-right: calc(#{v(col-gutter, $gutter)} / 2);
    }
    @for $i from 1 through $columns {
      .#{$breakpoint}-#{$i} {
        flex-basis: calc(100% / #{v(grid-columns, $columns)} * $i) !important;
        flex-grow: 0;
      }
    }
  }
}
