@mixin scrim {
  &.is-foco {
    background-color: rgba($secondary-09, 0.4);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    .br-modal {
      -ms-transform: translate(-50%, -50%);
      background-color: $secondary-01;
      left: 50%;
      top: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 1000;
    }
    &.is-active {
      display: block;
    }
  }
  &.is-inibicao {
    position: relative;
    &::before {
      background: rgba($secondary-01, 0.64);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
  &.is-legibilidade {
    position: relative;
    .scrim-text {
      background-color: rgba($secondary-09, 0.64);
      bottom: 0;
      left: 0;
      padding: 1em 0.5em;
      position: absolute;
      width: 100%;
    }
  }
}
