@mixin hover {
  &:hover {
    background-color: v(color-primary-pastel-02);
  }
}

@mixin focus {
  &:focus {
    background: v(status-highlight-background)
      linear-gradient(v(status-focused-overlay), v(status-focused-overlay));
  }
}

@mixin active {
  &:active {
    background: v(status-pressed-background);
    color: v(status-pressed-text);
  }
}
