@mixin upload($color: $color-info) {
  @include media-breakpoint-down(sm) {
    background-position: center 0;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 180px;
  }
  background: url("https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/upload-fundo.png")
    32px 24px $color-secondary-01 no-repeat;
  border: 1px solid $color-secondary-01;
  box-shadow: 0 3px 6px $color-secondary-04;
  margin-bottom: 20px;
  min-height: 248px;
  padding-bottom: 16px;
  padding-left: 360px;
  padding-right: 48px;
  padding-top: 32px;
  &:hover {
    border: 1px solid $color-primary-lighten-01;
  }
  .upload-header {
    color: $body-color;
    font-size: $h2-font-size;
    font-weight: 400;
  }
  .upload-input {
    display: none;
  }
  .upload-info {
    color: $color-info;
    display: block;
    margin: 16px 0;
    padding-left: 40px;
    .fa-info-circle {
      font-size: 26px;
      margin-left: -40px;
      position: absolute;
    }
  }
  .upload-file-list {
    ul {
      padding-left: 0;
    }
    li {
      border-bottom: 1px solid $color-secondary-04;
      color: $color-info;
      font-size: 14px;
      list-style: none;
      padding: 8px 0 8px 8px;
      position: relative;
      width: 100%;
      .del {
        cursor: pointer;
        display: inline;
        line-height: 24px;
        position: absolute;
        right: 8px;
      }
    }
    span {
      display: inline-block;
      overflow: hidden;
      padding-right: 24px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
  .upload-add {
    display: block;
    margin: 30px 0;
    padding-left: 32px;
    .fa-plus {
      font-size: 16px;
      margin-left: -28px;
      margin-top: 6px;
      position: absolute;
    }
  }
  .upload-size {
    text-align: right;
    visibility: hidden;
  }
}
