.divider {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: $margin-default;
  &::after,
  &::before {
    background: v(color-secondary-04, $color-secondary-04);
    content: "";
    height: 1px;
    width: 100%;
  }
  .content {
    color: v(color-primary-default, $color-primary-default);
    margin: 0;
    padding: 0 ($spacer * 2) !important;
    white-space: nowrap;
  }
}
