// Feedback
.feedback {
  font-size: $feedback-font-size;
  font-style: $feedback-font-style;
  font-weight: $feedback-font-weight;
  padding: $spacer * 0.5;
  &.is-valid {
    color: $color-success;
  }
  &.is-invalid {
    color: $color-danger;
  }
}
