// Feedback
.feedback {
  font-size: v(font-size-scale-down-01, $font-size-scale-down-01);
  font-style: italic;
  font-weight: v(font-weight-medium, $font-weight-medium);
  padding: $spacer * 0.5;
  &.is-valid {
    color: $color-success;
  }
  &.is-invalid {
    color: $color-danger;
  }
  &.is-disabled {
    color: $color-gray-6;
  }
}
