// Estado destacado
.highlight {
  background: $color-secondary-01
    linear-gradient(rgba($color-support-03, 0.1), rgba($color-support-03, 0.1));
  color: $color-support-03;
  padding: 0 0.25rem;
}
// Estado desativado
[disabled],
.disabled {
  cursor: not-allowed;
}
