// Pesos
@each $item, $value in $font-weights {
  @include font-weight($item, $value);
}

// Tamanhos
@each $item, $value in $font-sizes {
  @include font-size($item, $value);
}

// Alturas de linhas
@each $item, $value in $font-line-heights {
  @include line-height($item, $value);
}

// Texto padrão
body {
  color: $color-secondary-08;
  font-family: $font-family-base;
  font-size: $font-size-scale-base;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-medium;
}

// Parágrafos
p {
  margin-bottom: 16px;
}

// Links
a {
  color: $color-primary-default;
  &:hover {
    background-color: $color-primary-pastel-02;
  }
  &:focus {
    background: $color-secondary-01
      linear-gradient(
        rgba($color-support-02, 0.3),
        rgba($color-support-02, 0.3)
      );
  }
}

// Títulos
h1,
.h1 {
  font-size: $font-size-scale-up-06;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-low;
  margin-bottom: 32px;
  margin-top: 0;
}
h2,
.h2 {
  font-size: $font-size-scale-up-05;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-low;
  margin-bottom: 20px;
  margin-top: 28px;
}
h3,
.h3 {
  font-size: $font-size-scale-up-04;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-low;
  margin-bottom: 20px;
  margin-top: 28px;
}
h4,
.h4 {
  font-size: $font-size-scale-up-03;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-low;
  margin-bottom: 20px;
  margin-top: 28px;
}
h5,
.h5 {
  font-size: $font-size-scale-up-02;
  font-weight: $font-weight-semi-bold;
  line-height: $font-line-height-low;
  margin-bottom: 16px;
  margin-top: 28px;
}
h6,
.h6 {
  font-size: $font-size-scale-up-01;
  font-weight: $font-weight-semi-bold;
  line-height: $font-line-height-low;
  margin-bottom: 16px;
  margin-top: 28px;
}

// Formulários
label,
.label {
  font-size: $font-size-scale-base;
  font-weight: $font-weight-semi-bold;
  line-height: $font-line-height-medium;
  margin-bottom: 4px;
}
fieldset legend,
.fieldset {
  font-size: $font-size-scale-up-02;
  font-weight: $font-weight-regular;
  line-height: $font-line-height-low;
  margin-bottom: 4px;
}
::placeholder,
.placeholder {
  font-size: $font-size-scale-base;
  font-style: italic;
  font-weight: $font-weight-medium;
  line-height: $font-line-height-medium;
}
input,
.input {
  font-size: $font-size-scale-up-01;
  font-weight: $font-weight-medium;
  line-height: $font-line-height-low;
  margin-bottom: 4px;
}

// Help
.help {
  color: $help-color;
  font-size: $help-font-size;
}
