@mixin separator($color: $hr-text-color) {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: $hr-margin;
  text-transform: uppercase;
  &:after,
  &:before {
    content: "";
    background: $hr-color;
    height: 1px;
    width: 100%;
  }
  .hr-text {
    color: $color;
    font-size: $hr-text-font-size;
    padding: 0 $hr-padding;
    white-space: nowrap;
  }
}
