mixin skiplink
  - let classList = [prefix +'skiplink', attributes.class]
  nav(class=classList  role="menubar" )
    if block
      block

mixin skiplink-full
  +skiplink.full
    if block
      block

mixin skiplinks
  +skiplink
    +item(href="#main-content" role="menuitem" accesskey="1")
      | Ir para o conteúdo <span aria-hidden="true">(1/4)</span> <span aria-hidden="true" class="br-tag text ml-1">1</span>
    +item(href="#header-navigation" role="menuitem" accesskey="2")
      | Ir para o menu <span aria-hidden="true">(2/4)</span> <span aria-hidden="true" class="br-tag text ml-1">2</span>
    +item(href="#main-searchbox" role="menuitem" accesskey="3")
      | Ir para a busca <span aria-hidden="true">(3/4)</span> <span aria-hidden="true" class="br-tag text ml-1">3</span>
    +item(href="#footer" role="menuitem" accesskey="4")
      | Ir para o rodapé <span aria-hidden="true">(4/4)</span> <span aria-hidden="true" class="br-tag text ml-1">4</span>

mixin skiplinks-full
  +skiplink-full
    +item(href="#main-content" role="menuitem" accesskey="1")
      | Ir para o conteúdo <span aria-hidden="true" class="br-tag text ml-1">1</span>
    +item(href="#header-navigation" role="menuitem" accesskey="2")
      | Ir para o menu <span aria-hidden="true" class="br-tag text ml-1">2</span>
    +item(href="#main-searchbox" role="menuitem" accesskey="3")
      | Ir para a busca <span aria-hidden="true" class="br-tag text ml-1">3</span>
    +item(href="#footer" role="menuitem" accesskey="4")
      | Ir para o rodapé <span aria-hidden="true" class="br-tag text ml-1">4</span>
