extends ../../partial/pug/component

append vars
  - var title = "Card";

append content
  p.h4.mt-5 Card simples e completo
  .row
    .col-sm-6.col-md-4.col-lg-3
      +card-example
    .col-sm-6.col-md-4.col-lg-3
      +card-full

  p.h4.mt-5 Card com expansão
  .row
    .col-sm-6.col-md-4.col-lg-3
      +card-collapse

  p.h4.mt-5 Card desativado
  .row
    .col-sm-6.col-md-4.col-lg-3
      +card-disabled

  p.h4.mt-5 Card com hover
  +card-hover

  p.h5 Card com altura fixa
  .row.mt-5
    .col-sm-6.col-md-4.col-lg-3
      +card-scroll
