extends ../../../partial/pug/isolate

block dependencies
  include ../modal
  include ../../divider/divider
  include ../../item/item
  include ../../button/button
  include ../../list/list

block content
  +modal-list
