extends ../../../partial/pug/isolate

block dependencies
  include ../modal
  include ../../button/button
  include ../../list/list
  include ../../input/input
  include ../../radio/radio
  include ../../select/select

block content
  +modal-login
