@mixin table-title {
  .#{$prefix}table-title {
    border-bottom: $table-title-border-size solid $table-border-thead-color;
    color: $color-gray-6;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: $table-title-margin-bottom;
    padding-bottom: $table-title-padding-bottom;
  }
}

@mixin thead {
  .#{$prefix}table-responsive {
    display: block;
    overflow-x: auto;
    width: $table-responsive-width;
  }
  .#{$prefix}table {
    width: $table-width;
    thead {
      background: $color-gray-1;
      th {
        border-bottom: $table-border-thead-size solid $table-border-thead-color;
        border-top: $table-border-thead-size solid $table-border-thead-color;
        color: $color-primary-darken-15;
        padding: $table-pading-thead-cell;
        text-align: center;
      }
    }
  }
}

@mixin tbody {
  .#{$prefix}table {
    tbody {
      tr {
        border-bottom: $table-border-tbody-size solid $table-border-tbody-color;
        &:hover {
          background: $table-hover;
          cursor: pointer;
        }
        th,
        td {
          color: $color-gray-6;
          padding: $table-pading-tbody-cell;
          i {
            color: $color-primary;
            cursor: pointer;
            margin: $table-margin-icons;
          }
        }
        &.active,
        &:active,
        &:focus {
          background: $color-primary-lighten-15;
          i,
          th,
          td {
            color: $color-white;
          }
        }
        &.show-table {
          display: table-row;
          th {
            display: none;
          }
        }
        &.hide-table {
          display: none;
        }
      }
    }
  }
}

@mixin table-responsive {
  @media (max-width: 576px) {
    .#{$prefix}table-responsive {
      display: block;
      overflow-x: auto;
      width: $table-responsive-width;
    }
    .#{$prefix}table {
      tbody {
        tr {
          &:first-child {
            th {
              &:first-child {
                background: $color-gray-1;
                border-bottom: 1px solid $table-border-thead-color;
                box-shadow: $table-shadow-responsive-first-column;
                margin-top: 1px;
              }
            }
          }
        }
      }
    }
    .#{$prefix}table {
      margin-left: $table-responsive-first-col;
      thead,
      tbody {
        tr {
          th,
          td {
            &:first-child {
              background: $color-gray-1;
              border: 0;
              border-bottom: 1px solid $table-border-thead-color;
              box-shadow: $table-shadow-responsive-first-column;
              left: 0;
              position: absolute;
              width: $table-responsive-first-col;
              z-index: 2;
            }
            &.active {
              background: $color-primary-lighten-15;
              border-color: $color-primary-lighten-15;
            }
          }
        }
        &.show-table {
          th {
            display: table-cell;
          }
        }
      }
    }
  }
  .#{$prefix}table {
    thead {
      tr {
        th {
          &:first-child {
            border-bottom: 1px solid $table-border-thead-color;
            border-top: 1px solid $table-border-thead-color;
            margin-top: 0;
          }
        }
      }
    }
  }
  .#{$prefix}table {
    tbody {
      tr {
        th {
          &:first-child {
            i,
            input[type="checkbox"] { // sass-lint:disable-line force-attribute-nesting
              margin-top: 16px;
            }
          }
        }
      }
    }
  }
}
