.portal-logo .name {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
}

.header-icons {
  margin: 15px 10px 15px 0;
  text-align: center;
}

.header-icons .ico-navegacao {
  color: #333333 !important;
  cursor: pointer;
  display: inline-block;
  font-size: 22px;
  height: 25px;
  text-decoration: none;
  width: 28px;
}

.header-icons .ico-navegacao .fa {
  font-weight: 900;
}

.header-icons .ico-navegacao .fa-times {
  display: none;
}

.header-accessibility {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 14px;
}

.header-accessibility a {
  color: #333333;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
}

.header-accessibility a:not(:last-child) {
  margin-right: 32px;
}

.header-accessibility a:hover {
  text-decoration: none;
}

.header-accessibility a:hover .accessibility-text {
  text-decoration: underline;
}

.header-accessibility ul {
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-accessibility li {
  display: inline-block;
  list-style: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-accessibility li .link-contraste,
.header-accessibility li .link-vlibras {
  border-right: 1px solid #cccccc;
  display: inline-block;
  padding: 5px 15px;
}

.header-accessibility li .link-contraste i,
.header-accessibility li .link-vlibras i {
  font-size: 18px;
  font-weight: 900;
}

.header-accessibility li.language-selection a.current-language {
  background-position: 0;
  margin-left: 15px;
  padding: 0 0 0 36px;
  position: relative;
  text-align: right;
}

.header-accessibility li.language-selection a.current-language::after {
  background: transparent url("../../assets/images/components_img/portal/angle-down.png") no-repeat 50%;
  content: "";
  display: inline-block;
  height: 14px;
  width: 9px;
}

.header-accessibility li.language-selection ul {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  border-top: 1px solid #ffcd07;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
  display: none;
  font-size: 16px;
  padding: 0;
  position: absolute;
  right: 296px;
  text-align: left;
  top: 100%;
  z-index: 160;
}

.header-accessibility li.language-selection ul li {
  display: block;
  margin-right: 20px;
  text-transform: none;
  white-space: nowrap;
}

.header-accessibility li.language-selection ul li a {
  font-size: 14px;
}

.header-accessibility li.language-selection ul .title {
  border-bottom: 1px solid #cccccc;
  color: #071d41;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  margin: 10px 20px 0;
  padding-bottom: 4px;
}

.header-accessibility li.language-selection a.language-pt-br,
.header-accessibility li.language-selection li.language-pt-br a {
  background-image: url("../../assets/images/components_img/portal/flag-br.png");
  background-position: 16px;
  background-repeat: no-repeat;
  background-size: 28px 21px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  margin-left: 0;
  padding: 9px 0;
  padding-left: 49px;
  text-align: left;
}

.desktop-header .shadow-bottom .container {
  height: 64px;
}

.desktop-header .br-search {
  height: 64px;
}

.desktop-header .br-search {
  align-items: center;
  display: flex;
}

.desktop-header .br-search .br-input input {
  background: transparent;
  border-color: transparent;
  font-size: 20px;
  font-weight: 400;
}

.desktop-header .br-search .br-input input:focus {
  box-shadow: none;
}

.desktop-header .br-search .br-input input::placeholder {
  color: #555555;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-align: right;
}

.desktop-header .br-search .br-button:focus {
  box-shadow: none;
}

.desktop-header .br-search .br-button.is-primary, .desktop-header .br-search .br-button.is-primary:hover {
  background: transparent;
  border-color: transparent transparent transparent #555555;
  border-radius: 0 !important;
  color: #1351b4;
  margin-left: 20px;
  padding-left: 16px !important;
}

.desktop-header .br-search .br-button.is-secondary, .desktop-header .br-search .br-button.is-secondary:hover {
  background: transparent;
  border-color: transparent;
  color: #555555;
}

.desktop-header .br-search .br-button + .br-button {
  margin-left: 0;
}

.desktop-header .br-search .clear-button {
  background: transparent;
  border: 0;
}

.mobile-header .br-search {
  flex-direction: column;
}

.mobile-header .br-search .br-input {
  order: 1;
  width: 100%;
}

.mobile-header .br-search .br-input input {
  border-radius: 0;
}

.mobile-header .br-search .br-input input:focus {
  box-shadow: none;
}

.navigation-wrapper {
  background: #ffffff;
  box-shadow: 0 8px 6px -6px #cccccc;
  color: #555555;
  display: none;
  position: absolute;
  width: 100%;
}

.navigation-wrapper.is-active {
  border-top: 2px solid #ffcd07;
  display: block;
  z-index: 103;
}

.navigation-wrapper.is-active .navigation-cell {
  position: relative;
}

.navigation-wrapper.is-active .navigation-cell::before {
  color: #1351b4;
  content: "\25B2";
  font-size: 20px;
  left: 5px;
  line-height: 1rem;
  position: absolute;
  top: -19px;
}

#main-navigation .header-accessibility {
  display: none;
}

#main-navigation .list-navigation {
  border-bottom: 1px solid #ededed;
  margin: 0;
  padding: 25px 0;
  width: 100%;
}

#main-navigation .list-navigation li {
  display: block;
  margin: 5px 0;
  width: 230px;
}

#main-navigation .list-navigation li.selected {
  background-color: #0c326f !important;
}

#main-navigation .list-navigation li.selected > a {
  align-items: center;
  background-color: #1351b4;
  color: #ffffff !important;
  display: flex;
  font-weight: 600;
}

#main-navigation .list-navigation li:hover > ul {
  display: block;
}

#main-navigation .list-navigation li a {
  align-items: center;
  color: #555555;
  display: flex;
  font-size: 16px;
  padding: 5px;
  position: relative;
  text-decoration: none;
}

#main-navigation .list-navigation li.dropdown-submenu.selected > a::after {
  color: #ffffff !important;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  position: absolute;
}

#main-navigation .list-navigation li.dropdown-submenu > a::after {
  color: #333333 !important;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-size: 9px;
  font-weight: 600;
  position: absolute;
  right: 8px;
  top: 12px;
}

#main-navigation .list-navigation ul {
  background: #f8f8f8;
  border-left: 1px solid #ededed;
  box-sizing: border-box;
  display: none;
  height: calc(100% - 1px);
  left: 230px;
  margin: -5px 0 0;
  padding: 25px 0;
  position: absolute;
  top: 5px;
  width: 230px;
}

#main-navigation .list-navigation ul li a {
  padding: 5px 20px;
}

#main-navigation .list-navigation ul li a img {
  display: none;
}

#main-navigation .list-navigation ul li:hover > a {
  background-color: #1351b4;
  color: #ffffff !important;
  font-weight: 600;
}

#main-navigation .list-navigation ul li:hover > a::after {
  color: #ffffff !important;
}

#main-navigation .list-navigation ul li:hover > ul {
  background: #f8f8f8;
  display: block;
}

#main-navigation .list-navigation ul li ul {
  height: 100%;
  top: 5px;
}

#main-navigation .list-navigation ul li ul li a {
  background-color: transparent;
}

#main-navigation .redes-sociais {
  float: right;
  padding-bottom: 10px;
  padding-top: 15px;
}

#main-navigation .redes-sociais h3 {
  color: #1351b4;
  display: inline;
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
}

#main-navigation .redes-sociais .portal-redes {
  display: inline-block;
  margin-left: 30px;
}

#main-navigation .redes-sociais .portal-redes li {
  background-image: none;
  margin: 0 10px;
  position: relative;
}

#main-navigation .redes-sociais .portal-redes li::before {
  align-items: center;
  color: #1351b4;
  display: flex;
  font-family: "Font Awesome 5 Brands";
  font-weight: 900;
  height: 30px;
  justify-content: center;
  pointer-events: none;
  position: absolute;
  width: 30px;
}

#main-navigation .redes-sociais .portal-redes li.portalredes-twitter::before {
  content: "\f099";
}

#main-navigation .redes-sociais .portal-redes li.portalredes-youtube::before {
  content: "\f167";
}

#main-navigation .redes-sociais .portal-redes li.portalredes-facebook::before {
  content: "\f39e";
}

#main-navigation .redes-sociais .portal-redes li.portalredes-flickr::before {
  content: "\f16e";
}

#portal-footer {
  background-color: #071d41;
  clear: both;
  color: #ffffff;
  font-size: 75%;
  margin-bottom: 0;
  padding: 60px 32px;
}

#portal-footer ul {
  margin: 0;
  padding: 0;
}

#portal-footer ul li {
  display: block;
  margin: 0;
  padding: 0;
}

#portal-footer ul.submenu li {
  float: none;
}

#portal-footer a {
  color: #ffffff;
}

#portal-footer .govbr-logo {
  background-image: url("../../assets/images/components_img/portal/govbr.png");
  background-size: cover;
  height: 60px;
  margin-bottom: 50px;
  width: 165px;
}

#portal-footer .coluna-menu .rodape-navigation {
  display: flex;
  flex-wrap: wrap;
}

#portal-footer .coluna-menu .rodape-navigation li {
  -webkit-box-flex: 1;
  flex: 1;
  margin: 0 12px;
}

#portal-footer .coluna-menu .rodape-navigation li .submenu li {
  margin: 8px 0;
  width: 100%;
}

#portal-footer .coluna-menu .rodape-navigation li .submenu li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin-right: 0;
  min-height: auto;
  text-transform: none;
}

#portal-footer .coluna-menu .rodape-navigation li a {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-right: 0;
  min-height: 50px;
  padding-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#portal-footer .logo-acesso-footer {
  display: inline-block;
  height: 49px;
  margin-right: 45px;
  width: 117px;
}

#portal-footer .logo-governo-federal {
  display: inline-block;
  height: 42px;
  width: 149px;
}

#portal-footer .redes-e-logos .redes-sociais .portal-redes li {
  display: inline-block;
  margin-right: 45px;
}

#portal-footer .redes-e-logos .redes-sociais .portal-redes li a {
  display: inline-block;
  height: 33px;
  text-indent: -3000px;
  width: 34px;
}

#portal-footer .redes-e-logos .redes-sociais h3 {
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#portal-footer .portalredes-twitter {
  background-image: url("../../assets/images/components_img/portal/sprite.png");
  background-position: -99px -159px;
  height: 28px;
  width: 27px;
}

#portal-footer .portalredes-youtube {
  background-image: url("../../assets/images/components_img/portal/sprite.png");
  background-position: -67px -159px;
  height: 28px;
  width: 32px;
}

#portal-footer .portalredes-facebook {
  background-image: url("../../assets/images/components_img/portal/sprite.png");
  background-position: -153px -159px;
  height: 28px;
  width: 25px;
}

#portal-footer .portalredes-flickr {
  background-image: url("../../assets/images/components_img/portal/sprite.png");
  background-position: -58px -194px;
  height: 29px;
  width: 29px;
}

#portal-footer .logos-footer {
  text-align: right;
}

#portal-footer .colunas-rodape {
  flex-wrap: wrap;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  #portal-footer .coluna-menu .rodape-navigation {
    width: 100%;
  }
  #portal-footer .coluna-menu .rodape-navigation li {
    -webkit-box-flex: 1;
    flex: auto;
  }
  #portal-footer .coluna-menu .rodape-navigation li.plain {
    border-top: 1px solid #ffffff;
    display: inline-block;
    padding: 12px 0;
    position: relative;
    width: 100%;
  }
  #portal-footer .coluna-menu .rodape-navigation li.plain ul {
    display: none;
  }
  #portal-footer .coluna-menu .rodape-navigation li.plain.dropdown-submenu {
    cursor: pointer;
  }
  #portal-footer .coluna-menu .rodape-navigation li.plain.dropdown-submenu.opened::after {
    content: "\F068";
  }
  #portal-footer .coluna-menu .rodape-navigation li.plain.dropdown-submenu::after {
    content: "\F067";
    font-family: Font Awesome\ 5 Free;
    font-size: 14px;
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 25px;
  }
  #portal-footer .logos-footer {
    text-align: left;
  }
  #portal-footer .redes-sociais {
    margin-bottom: 40px;
  }
}

@media (max-width: 996px) {
  .br-button.is-primary {
    background: none;
    border: 0;
    color: #1351b4;
  }
  .br-button.is-secondary {
    border: 0;
  }
  .header-icons {
    display: inline-block;
    margin: 15px 0;
    text-align: left;
    width: 34px;
  }
  .logo {
    display: inline-block;
  }
}

@media (max-width: 640px) {
  .br-button.is-primary {
    margin-top: 0;
  }
  .br-button.is-secondary {
    display: none !important;
  }
}
