// Carregar variáveis do DS-Gov
@import "../../base/dsgov-base";

// logo
.portal-logo {
  .name {
    font-size: 26px;
    font-weight: 400;
    text-transform: none;
  }
}

//Menu Hamburguer
.header-icons {
  margin: 15px 10px 15px 0;
  text-align: center;
  & .ico-navegacao {
    color: $color-gray-7 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    height: 25px;
    text-decoration: none;
    width: 28px;
    & .fa {
      font-weight: 900;
    }
    & .fa-times {
      display: none;
    }
  }
}

// Acessibilidade
.header-accessibility {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding-left: 0;
  padding-top: 14px;
  a {
    color: $color-gray-7;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    &:not(:last-child) {
      margin-right: $spacing-6;
    }
    &:hover {
      text-decoration: none;
      .accessibility-text {
        text-decoration: underline;
      }
    }
  }
  ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    & .link-contraste,
    & .link-vlibras {
      border-right: 1px solid $color-gray-3;
      display: inline-block;
      padding: 5px 15px;
      & i {
        font-size: 18px;
        font-weight: 900;
      }
    }
    &.language-selection {
      & a.current-language {  // sass-lint:disable-line force-element-nesting
        background-position: 0;
        margin-left: 15px;
        padding: 0 0 0 36px;
        position: relative;
        text-align: right;
        &::after {
          background: transparent url("../../assets/images/components_img/portal/angle-down.png") no-repeat 50%;
          content: "";
          display: inline-block;
          height: 14px;
          width: 9px;
        }
      }
      & ul {
        -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22); // sass-lint:disable-line no-color-literals
        background-color: $color-white;
        border-top: 1px solid $color-warning;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22); // sass-lint:disable-line no-color-literals
        display: none;
        font-size: 16px;
        padding: 0;
        position: absolute;
        right: 296px;
        text-align: left;
        top: 100%;
        z-index: 160;
        & li {
          display: block;
          margin-right: 20px;
          text-transform: none;
          white-space: nowrap;
          & a {
            font-size: 14px;
          }
        }
        & .title {
          border-bottom: 1px solid $color-gray-3;
          color: $color-primary-darken-25;
          font-size: 14px;
          font-style: italic;
          font-weight: 600;
          margin: 10px 20px 0;
          padding-bottom: 4px;
        }
      }
    }
    &.language-selection a.language-pt-br, // sass-lint:disable-line force-element-nesting
    &.language-selection li.language-pt-br a { // sass-lint:disable-line force-element-nesting
      background-image: url("../../assets/images/components_img/portal/flag-br.png");
      background-position: 16px;
      background-repeat: no-repeat;
      background-size: 28px 21px;
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      margin-left: 0;
      padding: 9px 0;
      padding-left: 49px;
      text-align: left;
    }
  }
}

// Busca

.desktop-header {
  & .shadow-bottom {
    & .container {
      height: 64px;
    }
  }
  & .br-search {
    height: 64px;
  }
}

.br-search {
  // Versão desktop
  .desktop-header & {
    align-items: center;
    display: flex;
    //caixa de texto

    .br-input {
      input {
        background: transparent;
        border-color: transparent;
        font-size: 20px;
        font-weight: 400;
        &:focus {
          box-shadow: none;
        }
        &::placeholder {
          // color: $color-black;
          color: $color-gray-6;
          font-size: 16px;
          font-style: italic;
          font-weight: 400;
          text-align: right;
        }
      }
    }
    //botão de busca
    .br-button {
      &:focus {
        box-shadow: none;
      }
      &.is-primary {
        &,
        &:hover {
          background: transparent;
          border-color: transparent transparent transparent $color-gray-6;
          border-radius: 0 !important;
          color: $color-primary;
          margin-left: $spacing-4;
          padding-left: $spacing-3 !important;
        }
      }
      &.is-secondary {
        &,
        &:hover {
          background: transparent;
          border-color: transparent;
          color: $color-gray-6;
        }
      }
      & + .br-button {
        margin-left: 0;
      }
    }
    //botão de limpar
    .clear-button {
      background: transparent;
      border: 0;
    }
  }
  // Versão mobile
  .mobile-header & {
    flex-direction: column;
    .br-input {
      order: 1;
      width: 100%;
      input {
        border-radius: 0;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

// Main menu
.navigation-wrapper {
  background: $color-white;
  box-shadow: 0 8px 6px -6px $color-gray-3;
  color: $color-gray-6;
  display: none;
  position: absolute;
  width: 100%;
  &.is-active {
    border-top: 2px solid $color-warning;
    display: block;
    z-index: 103;
    .navigation-cell {
      position: relative;
      &::before {
        color: $color-primary;
        content: "\25B2";
        font-size: 20px;
        left: 5px;
        line-height: 1rem;
        position: absolute;
        top: -19px;
      }
    }
  }
}
#main-navigation {
  .header-accessibility {
    display: none;
  }

  .list-navigation {
    border-bottom: 1px solid $color-gray-2;
    margin: 0;
    padding: 25px 0;
    width: 100%;

    li {
      display: block;
      margin: 5px 0;
      width: 230px;

      &.selected {
        background-color: $color-primary-darken-15 !important;
        & > a {
          align-items: center;
          background-color: $color-primary;
          color: $color-white !important;
          display: flex;
          font-weight: 600;
        }
      }

      &:hover {
        & > ul {
          display: block;
        }
      }

      a {
        align-items: center;
        color: $color-gray-6;
        display: flex;
        font-size: 16px;
        padding: 5px;
        position: relative;
        text-decoration: none;
      }

      &.dropdown-submenu {
        &.selected {
          & > a {
            &::after {
              color: $color-white !important;
              content: "\f054";
              font-family: "Font Awesome 5 Free";
              position: absolute;
            }
          }
        }

        & > a {
          &::after {
            color: $color-gray-7 !important;
            content: "\f054";
            font-family: "Font Awesome 5 Free";
            font-size: 9px;
            font-weight: 600;
            position: absolute;
            right: 8px;
            top: 12px;
          }
        }
      }
    }

    ul {
      background: $color-gray-1;
      border-left: 1px solid $color-gray-2;
      box-sizing: border-box;
      display: none;
      height: calc(100% - 1px);
      left: 230px;
      margin: -5px 0 0;
      padding: 25px 0;
      position: absolute;
      top: 5px;
      width: 230px;

      li {
        a {
          padding: 5px 20px;

          img {
            display: none;
          }
        }

        &:hover {
          & > a {
            background-color: $color-primary;
            color: $color-white !important;
            font-weight: 600;

            &::after {
              color: $color-white !important;
            }
          }

          & > ul {
            background: $color-gray-1;
            display: block;
          }
        }

        ul {
          height: 100%;
          top: 5px;

          li {
            a {
              background-color: transparent;
            }
          }
        }
      }
    }
  }

  .redes-sociais {
    float: right;
    padding-bottom: 10px;
    padding-top: 15px;

    h3 {
      color: $color-primary;
      display: inline;
      font-size: 14px;
      margin: 0;
      text-transform: uppercase;
    }

    .portal-redes {
      display: inline-block;
      margin-left: 30px;

      li {
        background-image: none;
        margin: 0 10px;
        position: relative;

        &::before {
          align-items: center;
          color: $color-primary;
          display: flex;
          font-family: "Font Awesome 5 Brands";
          font-weight: 900;
          height: 30px;
          justify-content: center;
          pointer-events: none;
          position: absolute;
          width: 30px;
        }

        &.portalredes-twitter {
          &::before {
            content: "\f099";
          }
        }

        &.portalredes-youtube {
          &::before {
            content: "\f167";
          }
        }

        &.portalredes-facebook {
          &::before {
            content: "\f39e";
          }
        }

        &.portalredes-flickr {
          &::before {
            content: "\f16e";
          }
        }
      }
    }
  }
}

#portal-footer {
  background-color: $color-primary-darken-25;
  clear: both;
  color: $color-white;
  font-size: 75%;
  margin-bottom: 0;
  padding: 60px 32px;

  & ul {
    margin: 0;
    padding: 0;
    & li {
      display: block;
      margin: 0;
      padding: 0;
    }
    &.submenu li { // sass-lint:disable-line force-element-nesting
      float: none;
    }
  }
  & a {
    color: $color-white;
  }
  & .govbr-logo {
    background-image: url("../../assets/images/components_img/portal/govbr.png");
    background-size: cover;
    height: 60px;
    margin-bottom: 50px;
    width: 165px;

  }
  & .coluna-menu {
    & .rodape-navigation {
      display: flex;
      flex-wrap: wrap;
      & li {
        -webkit-box-flex: 1;
        flex: 1;
        margin: 0 12px;
        & .submenu li { // sass-lint:disable-line force-element-nesting
          margin: 8px 0;
          width: 100%;
          & a {
            font-size: 14px;
            font-weight: 400;
            line-height: 1.4;
            margin-right: 0;
            min-height: auto;
            text-transform: none;
          }
        }
        & a {
          display: inline-block;
          font-size: 16px;
          font-weight: 600;
          margin-right: 0;
          min-height: 50px;
          padding-right: 20px;
          text-decoration: none;
          text-transform: uppercase;
        }
      }
    }
  }
  & .logo-acesso-footer {
    display: inline-block;
    height: 49px;
    margin-right: 45px;
    width: 117px;
  }
  & .logo-governo-federal {
    display: inline-block;
    height: 42px;
    width: 149px;
  }


  & .redes-e-logos {
    & .redes-sociais {
      & .portal-redes li { // sass-lint:disable-line force-element-nesting
        display: inline-block;
        margin-right: 45px;
        & a {
          display: inline-block;
          height: 33px;
          text-indent: -3000px;
          width: 34px;
        }
      }
      & h3 {
        font-weight: 600;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
    }
  }
  & .portalredes-twitter {
    background-image: url("../../assets/images/components_img/portal/sprite.png");
    background-position: -99px -159px;
    height: 28px;
    width: 27px;
  }
  & .portalredes-youtube {
    background-image: url("../../assets/images/components_img/portal/sprite.png");
    background-position: -67px -159px;
    height: 28px;
    width: 32px;
  }
  & .portalredes-facebook {
    background-image: url("../../assets/images/components_img/portal/sprite.png");
    background-position: -153px -159px;
    height: 28px;
    width: 25px;
  }
  & .portalredes-flickr {
    background-image: url("../../assets/images/components_img/portal/sprite.png");
    background-position: -58px -194px;
    height: 29px;
    width: 29px;
  }
  & .logos-footer {
    text-align: right;
  }
  & .colunas-rodape {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  #portal-footer {
    & .coluna-menu {
      & .rodape-navigation {
        width: 100%;
        & li {
          -webkit-box-flex: 1;
          flex: auto;
          &.plain {
            border-top: 1px solid $color-white;
            display: inline-block;
            padding: 12px 0;
            position: relative;
            width: 100%;
            & ul {
              display: none;
            }
            &.dropdown-submenu {
              cursor: pointer;
              &.opened::after { // sass-lint:disable-line force-pseudo-nesting
                content: "\F068";
              }
              &::after {
                content: "\F067";
                font-family: Font Awesome\ 5 Free;
                font-size: 14px;
                font-weight: 900;
                position: absolute;
                right: 10px;
                top: 25px;
              }
            }
          }
        }
      }
    }
    & .logos-footer {
      text-align: left;
    }
    .redes-sociais {
      margin-bottom: 40px;
    }
  }
}


@media (max-width: 996px) {
  .br-button.is-primary { // sass-lint:disable-line force-element-nesting
    background: none;
    border: 0;
    color: $color-primary;
  }
  .br-button.is-secondary { // sass-lint:disable-line force-element-nesting
    border: 0;
  }
  .header-icons {
    display: inline-block;
    margin: 15px 0;
    text-align: left;
    width: 34px;
  }
  .logo {
    display: inline-block;
  }
}

@media (max-width: 640px) {
  .br-button.is-primary { // sass-lint:disable-line force-element-nesting
    margin-top: 0;
  }
  .br-button.is-secondary { // sass-lint:disable-line force-element-nesting
    display: none !important;
  }
}
