<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Table</title>
  <link rel="stylesheet" href="../../estilos/dist/css/dsgov.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="table.css">
</head>
<body>


  <p class="br-table-title">Tabela com Linhas Expansíveis e Selecionáveis</p>
  <div class="br-table-responsive">
      <table class="br-table br-table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Coluna 1</th>
            <th scope="col">Coluna 2</th>
            <th scope="col">Coluna 3</th>
            <th scope="col">Coluna 4</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="text-center" scope="row"><i onclick="ShowHideTable(this)" class="fas fa-plus"></i></th>
            <td class="text-center">A</td>
            <td class="text-center">100%</td>
            <td class="text-center">30</td>
            <td class="text-center">C</td>
            <td class="text-center"><i class="fas fa-eye"></i><i class="fas fa-edit"></i></td>
          </tr>
          <tr class="row-content hide-table" >
            <th scope="col"></th>
            <td colspan="6">
              <p>Lorem ipsum dolor sit amet, lacinia nec turpis vestibulum lacinia proin amet, ipsum pharetra velit, nisl luctus dolor nulla. Laoreet interdum mauris quisque platea ante. Sit pede gravida aliquam felis enim, erat in ac omnis facilisis velit, cras aenean nunc. Quis scelerisque rutrum lobortis lacinia</p>
            </td>
          </tr>
          <tr>
              <th class="text-center" scope="row"><i onclick="ShowHideTable(this)" class="fas fa-plus"></i></th>
              <td class="text-center">Z</td>
              <td class="text-center">35%</td>
              <td class="text-center">40</td>
              <td class="text-center">A</td>
              <td class="text-center"><i class="fas fa-eye"></i><i class="fas fa-edit"></i></td>
          </tr>
          <tr class="row-content hide-table" >
              <th scope="col"></th>
              <td colspan="6">
                  <p>Lorem ipsum dolor sit amet, lacinia nec turpis vestibulum lacinia proin amet, ipsum pharetra velit, nisl luctus dolor nulla. Laoreet interdum mauris quisque platea ante. Sit pede gravida aliquam felis enim, erat in ac omnis facilisis velit, cras aenean nunc. Quis scelerisque rutrum lobortis lacinia</p>
              </td>
            </tr>
          <tr>
              <th class="text-center" scope="row"><label for="marcar-linha-1" class="sr-only">Marcar Linha</label><input id="marcar-linha-1" onclick="setActive(this)" type="checkbox"></th>
              <td class="text-center">F</td>
              <td class="text-center">87%</td>
              <td class="text-center">10</td>
              <td class="text-center">D</td>
              <td class="text-center"><i class="fas fa-eye"></i><i class="fas fa-edit"></i></td>
          </tr>
          <tr>
              <th class="text-center" scope="row"><label for="marcar-linha-2" class="sr-only">Marcar Linha</label><input id="marcar-linha-2" onclick="setActive(this)" type="checkbox"></th>
              <td class="text-center">E</td>
              <td class="text-center">97%</td>
              <td class="text-center">17</td>
              <td class="text-center">B</td>
              <td class="text-center"><i class="fas fa-eye"></i><i class="fas fa-edit"></i></td>
          </tr>
        </tbody>
      </table>
  </div>

<br><br><br>

<p class="br-table-title">Tabela com Colunas Ordenáveis</p>
<div class="br-table-responsive">
    <table class="br-table br-table-hover sortable-table">
        <thead>
            <tr>
                <th scope="col">Token</th>
                <th scope="col">Symbol</th>
                <th scope="col" class="numeric-sort">Volume <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">Price <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">Change <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">Required <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">Nodes <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">Coins <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">Worth <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">Daily <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">Weekly <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">Monthly <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">Yearly <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">ROI % (annual) <i class="fa fa-sort"></i></th>
                <th scope="col" class="numeric-sort">ROI days <i class="fa fa-sort"></i></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><a href="javascript:void(0)">Dash</a></td>
                <td>DASH</td>
                <td>$210,097,837</td>
                <td>$212.36</td>
                <td>-2.52%</td>
                <td>1,000.0</td>
                <td>3,616</td>
                <td>0.19</td>
                <td>$212,360.00</td>
                <td>$40.35</td>
                <td>$282.44</td>
                <td>$1,210.45</td>
                <td>$14,727.17</td>
                <td>6.935%</td>
                <td>5264</td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)">ZCoin</a></td>
                <td>XZC</td>
                <td>$654,600</td>
                <td>$14.32</td>
                <td>9.42%</td>
                <td>1,000.0</td>
                <td>3,497</td>
                <td>0.67</td>
                <td>$14,323.30</td>
                <td>$9.60</td>
                <td>$67.18</td>
                <td>$287.90</td>
                <td>$3,502.76</td>
                <td>24.455%</td>
                <td>1493</td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)">Alqo</a></td>
                <td>ALQO</td>
                <td>$18,110</td>
                <td>$0.10</td>
                <td>3.94%</td>
                <td>10,000.0</td>
                <td>3,693</td>
                <td>22.44</td>
                <td>$962.00</td>
                <td>$2.16</td>
                <td>$15.11</td>
                <td>$64.76</td>
                <td>$787.94</td>
                <td>81.906%</td>
                <td>446</td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)">Gincoin</a></td>
                <td>GIN</td>
                <td>$80,169</td>
                <td>$4.69</td>
                <td>2.00%</td>
                <td>1,000.0</td>
                <td>1,928</td>
                <td>3.52</td>
                <td>$4,685.70</td>
                <td>$16.49</td>
                <td>$115.46</td>
                <td>$494.81</td>
                <td>$6,020.19</td>
                <td>128.480%</td>
                <td>285</td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)">Infinex</a></td>
                <td>IFX</td>
                <td>$7,419</td>
                <td>$0.52</td>
                <td>0.00%</td>
                <td>1,000.0</td>
                <td>1,458</td>
                <td>3.11</td>
                <td>$518.60</td>
                <td>$1.61</td>
                <td>$11.29</td>
                <td>$48.39</td>
                <td>$588.69</td>
                <td>113.515%</td>
                <td>322</td>
            </tr>
        </tbody>
    </table>
  </div>
  <script type="text/javascript" src="table.js"></script>
  <script type="text/javascript" src="sortable-tables.min.js"></script>
</body>
</html>
