// Definições
$btn-font-weight: 700;
$btn-margin-horizontal: spacer(4);
$btn-margin-vertical: spacer(3);

$btn-pill-font-size: 16px;
$btn-pill-radius: 100px;
$btn-pill-padding: spacer(1) spacer(4);
$btn-pill-min-width: 144px;

$btn-link-font-size: 14px;
