// Definições
$btn-font-weight: 700;
$btn-margin-horizontal: $spacing-5;
$btn-margin-vertical: $spacing-3;

$btn-pill-font-size: 16px;
$btn-pill-radius: 100px;
$btn-pill-padding: $spacing-1 $spacing-5;
$btn-pill-min-width: 144px;

$btn-circle-size: 32px;
