// Definições
$btn-font-weight: 700;
$btn-margin-horizontal: 24px;
$btn-margin-vertical: 16px;

$btn-pill-font-size: 16px;
$btn-pill-radius: 100px;
$btn-pill-padding: $spacer;
$btn-pill-min-width: 144px;
$btn-pill-bg: 16px;

$btn-link-font-size: 14px;

// Base de botões pílula
%btn-pill {
  background: $color-white;
  border: 1px solid $color-primary;
  border-radius: $btn-pill-radius;
  color: $color-primary;
  cursor: pointer;
  font-size: $btn-pill-font-size;
  display: inline-block;
  padding: $btn-pill-padding;
  text-align: center;
  width: 100%;
  @include media-breakpoint-up(sm) {
    min-width: $btn-pill-min-width;
    width: auto;
  }
  &:focus,
  &.is-focus {
    outline: 0;
    box-shadow: 0 3px 6px -3px $color-primary;
  }
  &:hover,
  &.is-hover {
    background-color: $color-primary-lighten-15;
    border-color: $color-primary-lighten-15;
    color: $color-white;
    text-decoration: none;
  }
  &:disabled,
  &.is-disabled {
    background: $color-gray-5;
    border-color: $color-gray-5;
    color: $color-white;
  }
}

// Base de botões link
%btn-link {
  background: transparent;
  border: 0;
  border-bottom: 1px solid currentColor;
  color: $color-primary;
  cursor: pointer;
  display: inline-block;
  font-size: $btn-link-font-size;
  padding: 0;
  &:focus,
  &.is-focus {
    outline: 0;
    text-shadow: 0 3px 6px currentColor;
  }
  &:hover,
  &.is-hover {
    color: $color-primary-lighten-15;
    text-decoration: none;
  }
  &:disabled,
  &.is-disabled {
    color: $color-gray-5;
  }
}
