/*!
 * button - 0.1.8 */
.br-btn.is-primary {
  background: #1351b4;
  border: 1px solid #1351b4;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 24px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: normal;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-family: Rawline;
}

@media (min-width: 576px) {
  .br-btn.is-primary {
    min-width: 144px;
    width: auto;
  }
}

.br-btn.is-primary:focus, .br-btn.is-primary.is-focus {
  outline: 0;
  -webkit-box-shadow: 0 3px 6px -3px #1351b4;
          box-shadow: 0 3px 6px -3px #1351b4;
}

.br-btn.is-primary:hover, .br-btn.is-primary.is-hover {
  background-color: #2b74e9;
  border-color: #2b74e9;
  color: #ffffff;
  text-decoration: none;
}

.br-btn.is-primary:disabled, .br-btn.is-primary.is-disabled {
  background: #888888;
  border-color: #888888;
  color: #ffffff;
  cursor: default;
}

.br-btn.is-secondary {
  background: #ffffff;
  border: 1px solid #1351b4;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
  padding: 8px 24px;
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: normal;
  color: #1351b4;
  font-style: normal;
  font-weight: 500;
  font-family: Rawline;
}

@media (min-width: 576px) {
  .br-btn.is-secondary {
    min-width: 144px;
    width: auto;
  }
}

.br-btn.is-secondary:focus, .br-btn.is-secondary.is-focus {
  outline: 0;
  -webkit-box-shadow: 0 3px 6px -3px #1351b4;
          box-shadow: 0 3px 6px -3px #1351b4;
}

.br-btn.is-secondary:hover, .br-btn.is-secondary.is-hover {
  background-color: #2b74e9;
  border-color: #2b74e9;
  color: #ffffff;
  text-decoration: none;
}

.br-btn.is-secondary:disabled, .br-btn.is-secondary.is-disabled {
  background: #888888;
  border-color: #888888;
  color: #ffffff;
  cursor: default;
}

.br-btn.is-tertiary {
  background: transparent;
  border: 0;
  color: #1351b4;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #1351b4;
  text-decoration: underline;
  font-style: normal;
  font-weight: 500;
  font-family: Rawline;
}

.br-btn.is-tertiary:focus, .br-btn.is-tertiary.is-focus {
  outline: 0;
  text-shadow: 0 3px 6px currentColor;
}

.br-btn.is-tertiary:hover, .br-btn.is-tertiary.is-hover {
  color: #2b74e9;
  text-decoration: underline;
}

.br-btn.is-tertiary:disabled, .br-btn.is-tertiary.is-disabled {
  color: #888888;
  cursor: default;
}

.br-btn.is-cancel {
  background: transparent;
  border: 0;
  color: #555555;
  cursor: pointer;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #1351b4;
  text-decoration: underline;
  font-style: normal;
  font-weight: 500;
  font-family: Rawline;
  color: #555555;
}

.br-btn.is-cancel:focus, .br-btn.is-cancel.is-focus {
  outline: 0;
  text-shadow: 0 3px 6px currentColor;
}

.br-btn.is-cancel:hover, .br-btn.is-cancel.is-hover {
  color: #2b74e9;
  text-decoration: underline;
}

.br-btn.is-cancel:disabled, .br-btn.is-cancel.is-disabled {
  color: #888888;
  cursor: default;
}

.br-btn.is-circle {
  border-radius: 50% !important;
  padding: 0 !important;
  height: 32px !important;
  width: 32px !important;
}

@media (min-width: 576px) {
  .br-btn.is-circle {
    min-width: 0;
    height: 32px !important;
    width: 32px !important;
  }
}

.br-btn + .br-btn {
  margin-top: 16px;
}

@media (min-width: 576px) {
  .br-btn + .br-btn {
    margin-left: 24px;
    margin-top: 0;
  }
}
/*# sourceMappingURL=button.css.map */