.br-btn {
  display: inline-block;
  font-family: "rawline", sans-serif;
  font-weight: 700;
}

.br-btn + .br-btn {
  margin-top: 16px;
}

@media (min-width: 576px) {
  .br-btn + .br-btn {
    margin-top: 0;
    margin-left: 24px;
  }
}

.br-btn.btn-primary {
  background: #1351b4;
  color: #fff;
  border: 1px solid #1351b4;
  border-radius: 100px;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

@media (min-width: 576px) {
  .br-btn.btn-primary {
    min-width: 144px;
    max-width: 100%;
    width: auto;
  }
}

.br-btn.btn-primary:focus, .br-btn.btn-primary.focus {
  outline: none !important;
  -webkit-box-shadow: 0 3px 6px -3px #1351b4 !important;
          box-shadow: 0 3px 6px -3px #1351b4 !important;
}

.br-btn.btn-primary:hover, .br-btn.btn-primary.hover {
  background: #2b74e9 !important;
  border-color: #2b74e9 !important;
  color: #fff !important;
  text-decoration: none !important;
}

.br-btn.btn-primary:disabled, .br-btn.btn-primary.disabled {
  background: #9d9d9d !important;
  color: #fff !important;
  border-color: #9d9d9d !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.br-btn.btn-secondary {
  background: #fff;
  color: #1351b4;
  border: 1px solid #1351b4;
  border-radius: 100px;
  font-size: 16px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

@media (min-width: 576px) {
  .br-btn.btn-secondary {
    min-width: 144px;
    max-width: 100%;
    width: auto;
  }
}

.br-btn.btn-secondary:focus, .br-btn.btn-secondary.focus {
  outline: none !important;
  -webkit-box-shadow: 0 3px 6px -3px #1351b4 !important;
          box-shadow: 0 3px 6px -3px #1351b4 !important;
}

.br-btn.btn-secondary:hover, .br-btn.btn-secondary.hover {
  background: #2b74e9 !important;
  border-color: #2b74e9 !important;
  color: #fff !important;
  text-decoration: none !important;
}

.br-btn.btn-secondary:disabled, .br-btn.btn-secondary.disabled {
  background: #9d9d9d !important;
  color: #fff !important;
  border-color: #9d9d9d !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.br-btn.btn-tertiary {
  background: transparent;
  border: 0;
  color: #1351b4;
  padding: 0;
  text-decoration: underline;
}

.br-btn.btn-tertiary:focus, .br-btn.btn-tertiary.focus {
  outline: none !important;
  text-shadow: 0 3px 6px currentColor !important;
}

.br-btn.btn-tertiary:hover, .br-btn.btn-tertiary.hover {
  color: #2b74e9 !important;
}

.br-btn.btn-tertiary:disabled, .br-btn.btn-tertiary.disabled {
  color: #9d9d9d !important;
  text-shadow: none !important;
}

.br-btn.btn-cancel {
  background: transparent;
  border: 0;
  color: #555;
  padding: 0;
  text-decoration: underline;
}

.br-btn.btn-cancel:focus, .br-btn.btn-cancel.focus {
  outline: none !important;
  text-shadow: 0 3px 6px currentColor !important;
}

.br-btn.btn-cancel:hover, .br-btn.btn-cancel.hover {
  color: #2b74e9 !important;
}

.br-btn.btn-cancel:disabled, .br-btn.btn-cancel.disabled {
  color: #9d9d9d !important;
  text-shadow: none !important;
}
/*# sourceMappingURL=button.css.map */