// Carregar variáveis do DS-Gov
@import "../../estilos/scss/dsgov-base.scss";

// Carregar dependências
@import "configs";

/*!
 * Design System de Governo - DS-Gov
 * Componente Botão (button)
 * Versão 0.0.3
 * Suporte:
   - Serpro: DIDES/SUPSE/SESEP/SEDEP
 */

// Estilos de botões
.#{$prefix}btn {
  font-weight: $btn-font-weight;
  &.is-primary {
    @extend %btn-pill;
    background: $primary;
    border-color: $primary;
    color: $white;
  }
  &.is-secondary {
    @extend %btn-pill;
  }
  &.is-tertiary {
    @extend %btn-link;
  }
  &.is-cancel {
    @extend %btn-link;
    color: $dark;
  }
  & + & {
    margin-top: $btn-margin-vertical;
    @include media-breakpoint-up(sm) {
      margin-left: $btn-margin-horizontal;
      margin-top: 0;
    }
  }
}
