extends ../../../partial/pug/isolate

block dependencies
  include ../tag

block content
  +tag-text.bg-orange-vivid-40.small
    span Alta
  +tag-text.bg-green-warm-vivid-40.medium
    span Padrão
  +tag-text.bg-indigo-warm-vivid-50.large
    span Baixa
