extends ../../../partial/pug/isolate

block dependencies
  include ../tag
  include ../../button/button

block content
  +tag-interaction#interaction01
    +icon.fa-car
    span Label
    +button(aria-label="Fechar" data-dismiss="interaction01")
      +icon.fa-times
  +tag-interaction#interaction02
    +icon.fa-car
    span Label
    +button(aria-label="Fechar" data-dismiss="interaction02")
      +icon.fa-times
