@mixin breadcrumb {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  @include crumb-home;
  @include crumb-item;
  @include crumb-separator;
  @include crumb-active;
}

@mixin crumb-home {
  .home a {
    color: $breadcrumb-color;
    &:hover,
    &:focus {
      color: $breadcrumb-active;
      text-decoration: none;
    }
  }
}

@mixin crumb-item {
  li {
    align-items: center;
    color: $breadcrumb-color;
    display: flex;
    font-weight: $breadcrumb-font-weight;
    font-size: $breadcrumb-font-size;
    a {
      color: $breadcrumb-color;
      font-weight: $breadcrumb-font-weight;
      text-decoration: none;
      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}

@mixin crumb-active {
  .is-active {
    color: $breadcrumb-active;
    font-weight: $breadcrumb-active-font-weight;
    a {
      color: $breadcrumb-active;
      font-weight: $breadcrumb-active-font-weight;
      text-decoration: none;
    }
  }
}

@mixin crumb-separator {
  li + li:before {
    color: $breadcrumb-divider-color;
    content: $breadcrumb-divider-content;
    font-size: $breadcrumb-divider-size;
    font-weight: 400;
    padding: 0 $breadcrumb-padding;
  }
}
