extends ../../../partial/pug/isolate

block dependencies
  include ../item
  include ../../checkbox/checkbox
  include ../../radio/radio

block content
  .exemplo(style="max-width: 500px;")
    +item-selection-checkbox
    +item-selection-radio
