// Lista de Itens de Abas 
@mixin tab-item() {
  border-bottom: 1px solid $tab-border;
  display: flex;
  overflow: auto;
  padding: 0;
  &.flex-column {
    border-bottom: 0;
    .item {
      border-bottom: 1px solid $tab-border;
      margin: 0;
      padding: 0;
      padding-right: $tab-icon-size + ($tab-results-margin * 2);
      &.is-active {
        box-shadow: none;
        .name {
          box-shadow: $tab-active-border;
          color: $tab-results-color;
        }
        .results {
          color: $tab-results-color;
        }
      }
    }
    .name {
      display: inline-block;
      margin-left: $tab-icon-size + ($tab-results-margin * 2);
      padding: $tab-item-padding ($tab-results-margin / 2);
      text-align: left;
    }
  }
  .item {
    display: flex;
    padding: $tab-item-padding 0;
    margin: 0 $tab-padding;
    a,
    button {
      &:hover,
      &:focus {
        .icon,
        .name,
        .results {
          color: $tab-item-hover;
        }
    }
    }
    &.is-active {
      box-shadow: $tab-active-border;
      .name {
        color: $tab-active-color;
      }
      .results {
        color: $tab-results-color;
      }
    }
  }
  .icon {
    color: $tab-item-color;
    align-self: center;
    justify-content: center;
    margin: 0 $tab-results-margin;
    width: $tab-icon-size;
    & + .name {
      margin-left: 0;
    }
  }
  .name {
    color: $tab-item-color;
    flex: 1;
    font-weight: $tab-font-weight;
    text-align: center;
  }
  .results {
    color: $tab-item-color;
    font-size: $tab-results-font-size;
    font-weight: $tab-font-weight;
    margin-left: $tab-results-margin;
  }
  a,
  button {
    display: flex;
    align-items: baseline;
    flex: 1;
    &:hover {
      text-decoration: none;
    }
  }
}
