$breadcrumb-padding: $spacing-2;

$breadcrumb-color: $color-gray-7;
$breadcrumb-font-size: 14px;
$breadcrumb-font-weight: 500;

$breadcrumb-active: $color-primary-lighten-15;
$breadcrumb-active-font-weight: 600;

$breadcrumb-divider-color: $color-gray-4;
$breadcrumb-divider-content: ">";
$breadcrumb-divider-size: 12px;
