@mixin breadcrumb-configs {
  align-items: center;
  display: flex;
  gap: var(--spacing-xxs);
  list-style: none;
  margin: 0;
  padding: 0;

  .breadcrumb-divider {
    opacity: 0.35;
  }

  .breadcrumb-item {
    align-items: center;
    display: flex;
    font-size: var(--font-size-scale-down-01);
    gap: var(--spacing-xxs);
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }
}
