//- Mixin para reusar componente Breadcrumbs
mixin breadcrumb
  - const component = 'breadcrumb'
  ul(class=prefix + component)&attributes(attributes)
    li(class=component + '-item')
      +button.circle(href=`${baseUrl}/`)
        span.sr-only Página inicial
        +icon.fa-home 
    if block
      block

mixin crumb
  li.breadcrumb-item
    span.breadcrumb-divider
      +icon.fa-chevron-right
    if block
      block
  