extends ../../layouts/base

append vars
  - var title = "Template Base";
  
block template
  .scrim-menu
    +menu
      +menu-principal-content    
  +header()(sticky)
    .container-lg
      +header-base-content
  .container-lg.content
    .row
      .context-menu.col-sm-6.col-md-4
        +menu
          a.header
            .support
              i.fas.fa-angle-up
            .content Menu Contextual
          +menu-auxiliar-content
      .col.col-main
        +breadcrumb
          +crumb("Tela Anterior")
          +crumb("Tela Anterior2")
          +crumb("Tela Anterior3")
          +crumb("Tela Anterior4")
          +crumb("Tela Atual", "is-active")
        p.h2=title
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam consequuntur ratione suscipit voluptatem reprehenderit aut recusandae autem voluptas quo nulla tenetur, quos a dolores enim ad, cum, eius et odio!
  +footer
    .container-lg
      +footer-logo.text-center
      +list()(collapsible horizontal unique)
        +footer-list-filler()(total=6 col=2)
      +footer-bottom-filler
    .br-divider
    .container-lg
      +footer-info