extends ../../layouts/authentication

append vars
  - var title = "Acesse sua conta";

append auth-menu
  // Menu de navegação
  +tabs("is-vertical")(id="navigation")
    +tab-item("Entrar com CPF")
    +tab-item(class="is-active")
      img.icon(src='https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/icons/certificado-digital.png' alt='Certificado Digital')
      span.name Entrar com Certificado Digital
    +tab-item
      img.icon(src='https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/icons/neoid.png' alt='NeoID')
      span.name Entrar com NeoID

block content
  .row
    .col-sm-10.col-md-8
      // Informar CPF
      +input("CPF")(id="cpf" placeholder="Ex: 123.456.789-99")
      // Informar a senha
      +input("Senha")(id="password" class="has-icon mt-3" type="password" placeholder="Digite sua senha de 8 a 11 dígitos")
        button.icon(type='button' onclick="toggleInputAction(this)")
          span.sr-only Mostrar senha
          i.fas.fa-eye
      // Facilidades de senha
      .row.mt-8.mt-sm-3
        .col-auto
          a(href='') Esqueceu a Senha?
        .col-auto.ml-auto
          +checkbox("Manter logado?")(id="manter-logado")
      // Botões de ação
      .d-flex.flex-wrap.flex-row-reverse.justify-content-center.mt-6.mt-sm-10
        +button(class="is-primary") Entrar
        +button(class="is-secondary mt-3 mt-sm-0 mr-sm-3") Cadastrar
      // Outras opções de login em smartphones
      .d-sm-none.mt-12
        .row
          .col
            a.d-inline-flex(href='')
              .icon
                img(src='https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/icons/certificado-digital.png' alt='Certificado Digital')
              .name Entrar com Certificado Digital
          .col
            a.d-inline-flex(href='')
              .icon
                img(src='https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/icons/neoid.png' alt='NeoID')
              .name Entrar com NeoID
      // Outras opções de login
      aside.mt-3.mt-sm-10
        +divider ou
        .text-center
          +button(class="is-circle is-large border-facebook bg-facebook text-white")
            i.fab.fa-facebook-f
          +button(class="is-circle is-large border-twitter bg-twitter text-white ml-1")
            i.fab.fa-twitter
          +button(class="is-circle is-large border-google-plus bg-google-plus text-white ml-1")
            i.fab.fa-google-plus-g
