extends ../../layouts/authentication

append vars
  - var title = "Verifique seu celular";

append message
  +message("is-info")
    p 
      strong Não recebeu o código?
      |  Verifique sua caixa de spam.
    a(href='password-recovery.html') Escolha outra forma de Entrar
    br
    a(href='password-recovery-ajuda.html') Precisa de ajuda?

append content
  p
    | Um código foi enviado para 
    strong (61) 1234-5678
  p Por favor digite-o no campo abaixo:
  // Código
  .row
    .col-6.col-sm-4
      +input("Código de 04 dígitos")(id="codigo" placeholder="XXXX")
  +feedback("Código correto")(class="is-valid")
  // Opção de reenvio
  .mt-3
    +button(class="is-tertiary")
      u Reenviar código
  // Opção de alterar número
  .mt-3
    +button(class="is-tertiary")
      u Informou o número errado?
  .row.mt-3
    .col-sm-6
      +input("Celular")(id="phone" placeholder="Ex: (xx) x xxxx-xxxx")
  // Botões de ação
  .d-flex.flex-wrap.flex-row-reverse.justify-content-center.justify-content-sm-start.mt-10
    +button(class="is-primary") Entrar
    +button(class="is-secondary mt-3 mt-sm-0 mr-sm-3") Voltar
