extends ../../layouts/authentication

append vars
  - var title = "Altere sua Senha";

block content
  .br-message.is-info
    .icon
      i.fas.fa-info-circle
    .content
      p.mb-0: strong Regras:
      p De 8 a 12 caracteres, letras maiúsculas e minúsculas, números e símbolos
  .row
    .col-md-10
      // Informar CPF
      .br-input
        label(for='cpf') CPF
        input#cpf(type='text' placeholder='Digite seu CPF')
      // Informar a nova senha
      .br-input.has-icon.mt-3
        label(for='new-password') Nova Senha
        input#new-password(type='new-password' placeholder='Digite a nova Senha')
        button.icon(type='button')
          span.sr-only Mostrar senha
          i.fas.fa-eye
      // Repetir a nova senha
      .br-input.has-icon.mt-3
        label(for='new-password') Repita a Senha
        input#new-password(type='new-password' placeholder='Repita a nova Senha')
        button.icon(type='button')
          span.sr-only Mostrar senha
          i.fas.fa-eye
  // Botões de ação
  .d-flex.flex-wrap.flex-row-reverse.justify-content-center.justify-content-sm-start.mt-10
    button.br-button.is-primary Alterar
    button.br-button.is-secondary.mt-3.mt-sm-0.mr-sm-3(type='button') Voltar
