extends ../../layouts/authentication

append vars
  - var title = "Altere sua Senha";

append message
  +message("is-info")
    p.mb-0: strong Regras:
    p De 8 a 12 caracteres, letras maiúsculas e minúsculas, números e símbolos

append content
  .row
    .col-md-10
      // Informar CPF
      +input("CPF")(id="cpf" placeholder="Digite seu CPF")
      // Informar a nova senha
      +input("Nova Senha")(id="password" type="password" placeholder="Digite a nova Senha")
        button.icon(type='button' onclick="toggleInputAction(this)")
          span.sr-only Mostrar senha
          i.fas.fa-eye
      // Repetir a nova senha
      +input("Repita a Senha")(id="new-password" type="password" placeholder="Repita a nova Senha")
        button.icon(type='button' onclick="toggleInputAction(this)")
          span.sr-only Mostrar senha
          i.fas.fa-eye
  // Botões de ação
  .d-flex.flex-wrap.flex-row-reverse.justify-content-center.justify-content-sm-start.mt-10
    +button(class="is-primary") Alterar
    +button(class="is-secondary mt-3 mt-sm-0 mr-sm-3") Voltar
