extends ../../layouts/authentication

append vars
  - var title = "Verifique seu celular";

block content
  // Mensagem de alerta
  .br-message.is-info
    .icon
      i.fas.fa-info-circle
    .content
      p 
        strong Não recebeu o código?
        |  Verifique sua caixa de spam.
      a(href='password-recovery.html') Escolha outra forma de Entrar
      br
      a(href='password-recovery-ajuda.html') Precisa de ajuda?
    .close
      button(type='button')
        i.fas.fa-times
        span.sr-only Fechar
  p
    | Um código foi enviado para 
    strong (61) 1234-5678
  p Por favor digite-o no campo abaixo:
  // Código
  .br-input.mt-6
    label(for='codigo') Código de 04 dígitos
    .row
      .col-6.col-sm-4
        input#codigo(type='text' placeholder='xxxx')
  // Opção de reenvio
  div
    button.br-button.is-tertiary.mt-3(type='button')
      u Reenviar código
  // Opção de alterar número
  div.mt-3
    button.br-button.is-tertiary(type='button')
      u Informou o número errado?
  .br-input.mt-3
    .row
      .col-sm-6
        label(for='phone') Celular
        input#phone.phone(type='text' placeholder='Ex: (xx) x xxxx-xxxx')
  // Botões de ação
  .d-flex.flex-wrap.flex-row-reverse.justify-content-center.justify-content-sm-start.mt-10
    button.br-button.is-primary Entrar
    button.br-button.is-secondary.mt-3.mt-sm-0.mr-sm-3(type='button') Voltar
