extends ../../layouts/authentication

append vars
  - var title = "Esqueceu sua senha?";

append scripts
  script(src=jscompoents+"checklist.js")

append content
  p
    | Para ativar sua conta enviaremos um 
    strong código
    |  para você.
  p Como prefere recebê-lo?
  .row
    .col-sm-10
      // Seleção com input
      +checklist
        +check-item
          .icon: i.far.fa-envelope
          +input("E-mail")(id="email" placeholder="Ex: fulano@email.com")
          +radio("")(id="radio-email" name="radio")
        +check-item
          .icon: i.fas.fa-mobile-alt
          +input("Celular")(id="celular" placeholder="Ex: (xx) xxxxx-xxxx")
          +radio("")(id="radio-celular" name="radio")
  // Receber código
  p.label.mt-8 Receber Código por:
  +radio("Mensagem SMS")(id="mensagem" class="d-block mb-1")
  +radio("Ligação")(id="ligacao" class="d-block mb-1")
  // Botões de ação
  .d-flex.flex-wrap.flex-row-reverse.justify-content-center.justify-content-sm-start.mt-10.mt-sm-10
    +button(class="is-primary" disabled) Avançar
    +button(class="is-cancel mt-3 mt-sm-0 mr-sm-3") Cancelar
