extends ../../layouts/authentication

append vars
  - var title = "Precisa de ajuda?";

block content
  p Utilize o campo de busca para encontrar mais rápido o que procuras.
  // Pesquisa de ajuda
  .row
    .col-sm-6
      .br-input.has-icon
        label.sr-only(for='search-autocomplete') Autocomplete
        input#search-autocomplete(type='text' placeholder='Digite sua dúvida')
        span.icon
          i.fas.fa-search
  p.h2.mt-10.mb-3 Dúvidas frequentes
  p: a(href='#') Você está sem telefone e pode acessar o seu e-mail?
  p: a(href='#') Você sabe verificar as mensagens que chegam por SMS? Aprenda a verificar
  p: a(href='#') Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  p: a(href='#') Phasellus purus nulla, aliquam eu nulla a, facilisis rhoncus enim.
  p: a(href='#') Fusce et efficitur sapien. Nunc blandit odio orci, mattis vehicula turpis condimentum vitae.
  p: a(href='#') In fermentum leo velit, ut efficitur ex venenatis eget. 
  p: a(href='#') Suspendisse in tellus dignissim, sollicitudin tortor sed, ornare mi.
  // Botões de ação
  .d-flex.flex-wrap.flex-row-reverse.justify-content-center.justify-content-sm-start.mt-10
    button.br-button.is-primary Ver mais
    button.br-button.is-secondary.mt-3.mt-sm-0.mr-sm-3(type='button') Voltar
