extends ../../layouts/authentication

append vars
  - var title = "Cadastre-se";

append auth-menu
  // Menu de navegação
  nav#navigation.d-none.d-sm-block
    p.subtitle-1.align-center Cadastre-se com
    .signin-menu.mt-4
      a(href="javascript:void(0)")
        img.icon(src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/icons/certificado-digital.png" alt="Certificado Digital")
        span.name Certificado Digital
      a(href="javascript:void(0)")
        img.icon(src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/icons/neoid.png" alt="NeoID")
        span.name NeoID
    p.align-center.mt-8: a(href="javascript:void(0)") Como obter certificado digital
    // Outras opções de cadastro
    aside.mt-sm-4
      +divider ou
      .align-center
        +button(class="is-circle is-medium border-facebook bg-facebook text-white")
          i.fab.fa-facebook-f
        +button(class="is-circle is-medium border-twitter bg-twitter text-white ml-1")
          i.fab.fa-twitter
        +button(class="is-circle is-medium border-google-plus bg-google-plus text-white ml-1")
          i.fab.fa-google-plus-g
        +button(class="is-circle is-medium is-primary ml-1")
          span.govbr gov.br

append content
  // Informar CPF
  .row
    .col-sm-10.col-md-8
      +input("CPF")(id="cpf" placeholder="Ex: 123.456.789-99")
  p.help Digite somente números
  // Informar a senha
  .row.mt-6
    .col-sm-10.col-md-8
      +input("Crie sua senha")(id="password" type="password" placeholder="Digite sua senha de 8 a 11 dígitos")
        button.icon(type='button' onclick="toggleInputAction(this)")
          span.sr-only Mostrar senha
          i.fas.fa-eye
  p.help Sua senha deve ter entre 8 e 11 dígitos
  // Sugerir login
  p.mt-6
    | Já tem conta? 
    a(href="javascript:void(0)") Fazer login
  // Botões de ação
  .d-flex.flex-wrap.flex-row-reverse.justify-content-center.justify-content-sm-start.mt-6.mt-sm-10
    +button(class="is-primary" disabled) Avançar
  // Outras opções de cadastro
  aside.d-sm-none.mt-4.mt-sm-10
    +divider ou
    .align-center
      +button(class="is-circle is-medium border-facebook bg-facebook text-white")
        i.fab.fa-facebook-f
      +button(class="is-circle is-medium border-twitter bg-twitter text-white ml-1")
        i.fab.fa-twitter
      +button(class="is-circle is-medium border-google-plus bg-google-plus text-white ml-1")
        i.fab.fa-google-plus-g
      +button(class="is-circle is-medium is-primary ml-1")
        span.govbr gov.br
