// Mixins
@mixin select-configs {
  position: relative;

  // Lista de opções
  .select-list {
    --background: var(--theme-surface-main-base);

    left: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
  }

  // Cria rolagem de Itens
  .select-overflow {
    max-height: 200px;
    overflow: auto;
  }
}
