doctype html
html(lang="pt-BR")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title starter
    // Fonte Rawline
    link(rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css")
    // Design System de Governo
    link(rel="stylesheet" href="../css/dsgov.css")
    // Fontawesome
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js")
  body
    .container-fluid
      .br-accordeon(single)
        .field
          button.header(type='button')
            span.icon
              i.fas.fa-chevron-down
            span.title Lorem ipsum dolor sit amet
          .content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet pariatur deserunt accusamus aut delectus dolorem inventore, earum error veniam molestiae vitae unde aliquid consectetur nam fuga molestias non totam.
        .field.is-active
          button.header(type='button')
            span.icon
              i.fas.fa-chevron-up
            span.title Lorem ipsum dolor sit amet
          .content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet pariatur deserunt accusamus aut delectus dolorem inventore, earum error veniam molestiae vitae unde aliquid consectetur nam fuga molestias non totam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil deserunt modi et temporibus. Doloribus nulla molestiae iste maiores consequatur ea corrupti deleniti tenetur unde minima, dolorem illo similique repudiandae voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias molestiae explicabo ducimus quam debitis dolore ratione, vero harum officia reiciendis et? Iste velit in reiciendis odio? Nam molestiae eligendi saepe. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam sit, aspernatur nihil minima accusamus vel fugit repudiandae beatae vitae, odit harum eaque quidem rerum officiis explicabo fugiat commodi illum molestiae.
        .field
          button.header(type='button')
            span.icon
              i.fas.fa-chevron-down
            span.title Lorem ipsum dolor sit amet
          .content
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit amet pariatur deserunt accusamus aut delectus dolorem inventore, earum error veniam molestiae vitae unde aliquid consectetur nam fuga molestias non totam.
