mixin avatar
  .br-avatar&attributes(attributes)
    if attributes.change
      button.change(type="button" aria-label="Trocar a imagem")
        if block
          block
        span.icon.text-primary-default
          +icon.fa-camera
    else
      if block
        block
