mixin avatar
  .br-avatar&attributes(attributes)
    if block
      block
    if attributes.change
      button.change(type="button")
        span.icon: i.fas.fa-camera
    if attributes.menu
      button.menu(type="button")
        span.icon: i.fas.fa-angle-down
