mixin avatar
  .br-avatar&attributes(attributes)
    if attributes.change
      button.change(type="button")
        if block
          block
        span.icon.color-primary-default: i.fas.fa-camera
    else
      if block
        block
