mixin breadcrumb
  - let className = attributes.class
  - let componentClass = prefix + "breadcrumb"
  - className = className ? componentClass + " " + className : componentClass
  ul(class=className)
    li.home
      a(href='')
        span.sr-only Página inicial
        i.fas.fa-home
    if block
      block

mixin crumb(name="crumb", className)
  li(class=className ? className : "")
    a(href='')=name
