mixin breadcrumbs
  ul.br-breadcrumb
    li.home
      a(href='')
        span.sr-only Página inicial
        i.fas.fa-home
    if block
      block

mixin crumb(name="crumb", className)
  li(class=className ? className : "")
    a(href='')=name
