mixin breadcrumb
  - let className = [attributes.class, prefix + "breadcrumb", "pt-3"]
  div(class=className)&attributes(attributes)
    ul.crumb-list
      li.crumb.home
        a(href="javascript:void(0)")
          span.sr-only Página inicial
          i.icon.fas.fa-home
      if block
        block

mixin crumb(name="crumb")
  - className = ["crumb", attributes.class]
  li(class=className active=attributes.active)
    i.icon.fas.fa-chevron-right
    if attributes.active
      span=name
    else
      a(href="javascript:void(0)")=name
