mixin button
  - let className = attributes.class
  - let accesskey = attributes.accesskey
  - let disabled = attributes.disabled
  button.br-button(
    class=className ? className : ""
    type="button"
    accesskey=accesskey ? accesskey : 0
    disabled=disabled ? disabled : 0)
    if block
      block
