mixin checklist
  .br-checklist(class=attributes.class)
    if block
      block

mixin check-item(icon)
  .item(class=attributes.class)
    if icon
      .icon
        i(class=icon ? icon : "fas fa-question-circle")
    else
      .icon
        | Passar o ícone por parâmetro!
    if block
      block
    else
      | Incluir INPUT e CHECKBOX/RADIO
