doctype html
html(lang="pt-BR")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title divider
    // Fonte Rawline
    link(rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css")
    // Design System de Governo
    link(rel="stylesheet" href="../css/dsgov.css")
    // Fontawesome
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js")
  body
    .container-fluid
      .br-divider
        span.content Ou
      .br-divider
        p.content.text-wrap Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nulla repudiandae dignissimos dolorem quas, maxime libero autem. Nemo nisi voluptatibus, totam itaque ut minima! Maiores sit amet eveniet nulla quidem!
      .br-divider
        span.content
          i.fas.fa-check-circle.fa-2x
      .br-divider
        span.content
          img(src='/dist/assets/images/certificado-digital.png' alt='Certificado Digital')
