mixin header-system
  - let className = attributes.class
  - let componentClass = prefix + "header-system"
  - className = className ? componentClass + " " + className : componentClass
  div(class=className)
    .container-fluid
      // Barra principal
      .wrapper
        // Logo
        .logo
          a#logo.name(href='') Nome do órgão
          span.description Assinatura do órgão
        // Links rápidos
        .quicklinks.d-none.d-md-flex
          ul
            li: a(href='') Acesso à informação
            li: a(href='') Participe
            li: a(href='') Acessibilidade
          // Altocontraste
          +button(class="is-tertiary ml-16" accesskey="6")
            i.fas.fa-adjust
            span.d-none.d-md-inline-block.ml-md-1.text-uppercase Alto contraste
        // Quebra de linha
        .break
        // Busca geral
        .search.mx-n1.ml-md-auto.mr-md-0
          .field
            label.sr-only(for='search') Autocomplete
            input#search(type='search' placeholder='O que você procura?')
            button(type='button')
              i.fas.fa-search
              span.sr-only buscar
          button.close(type='button')
            i.fas.fa-times
            span.sr-only fechar a busca
        // Barra do usuário
        .user-bar.d-none.d-md-flex.ml-md-10
          // Configurações do usuário
          .configs.dropdown
            button.trigger(type='button')
              // Avatar do usuário
              span.avatar
                <i class="fas fa-user-circle"></i>
              // Notificações
              span.badge 5
              // Seta para abrir menu
              span.arrow
                i.fas.fa-chevron-down
            .menu
              // Informações do usuário
              .title.user
                .name Márcia Vinícius Tavares de Almeida
                .email marcia-vinicius.almeida@serpro.gov.br
              // Lista de configurações
              span.title
                i.fas.fa-cog
                |                   Configuração/Perfil
              a.item(href='') Configuração 01
              a.item(href='') Configuração 02
              a.item(href='') Configuração 03
          // Sistemas favoritos do usuário
          .bookmarks.dropdown
            button.trigger(type='button')
              i.fas.fa-th-large
            .menu
              .title Sistemas
              .list
                .item
                  a.bookmark(href='')
                    .brand
                    .name Sistema 01
                .item
                  a.bookmark(href='')
                    .brand
                    .name Sistema 02
                .item
                  a.bookmark(href='')
                    .brand
                    .name Sistema 03
                .item
                  a.bookmark(href='')
                    .brand
                    .name Sistema 04
                .item
                  a.bookmark(href='')
                    .brand
                    .name Sistema 05
                .item
                  a.bookmark(href='')
                    .brand
                    .name Sistema 06
                .item
                  a.bookmark(href='')
                    .brand
                    .name Sistema 07
                .item
                  a.bookmark(href='')
                    .brand
                    .name Sistema 08
                .item
                  a.bookmark(href='')
                    .brand
                    .name Sistema 09
                .item
                  a.bookmark(href='')
                    .brand
                    .name Sistema 10
              .more
                a(href='') Mais
          // Logout
          +button(class="is-small is-primary ml-3") Sair
        // Menu sanduiche
        button.menu-hamburger.ml-n1(type='button')
          i.fa.fa-bars.fa-fw

