mixin header
  div(class=prefix+"header")&attributes(attributes)
    if block
      block

mixin header-default-content
  .container-lg
    .flex-container
      .logo
        //img(src="https://picsum.photos/200/300" alt="logo")
        img(src="https://www.gov.br/++theme++padrao_govbr/img/govbr-colorido-b.png" alt="logo")
        .sign Ministério da Ciência e Tecnologia, Inovações e Comunicações
      .actions
        .links
          +button.circle.small(aria-label="Abrir Acesso Rápido")
            +icon.fa-ellipsis-v
          ul
            li.title Acesso Rápido
            li: a(href="javascript:void(0);") Link de acesso 1
            li: a(href="javascript:void(0);") Link de acesso 2
            li: a(href="javascript:void(0);") Link de acesso 3
            li: a(href="javascript:void(0);") Link de acesso 4
        .functions
          +button.circle.small(aria-label="Abrir Funcionalidades do Sistema")
            +icon.fa-th
          ul
            li.title Funcionalidades do Sistema
            li
              +button.circle.small
                +icon.fa-chart-bar
                span.text Funcionalidade 1
            li
              +button.circle.small
                +icon.fa-headset
                span.text Funcionalidade 2
            li
              +button.circle.small
                +icon.fa-comment
                span.text Funcionalidade 3
            li
              +button.circle.small
                +icon.fa-adjust
                span.text Funcionalidade 4
        .search-btn
          +button.circle.small(aria-label="Abrir Busca")
            +icon.fa-search
        .login
          +button.small
            +icon.fa-user
            span.ml-1 Entrar
        .avatar
          +badge()(danger)
            .icon 5
            .content
              +avatar
                .image: img(src="https://picsum.photos/id/823/400" alt="Avatar")
          +button.circle.small(aria-label="Abrir Menu de usuário")
            +icon.fa-angle-down
      .menu
        +button.circle.small(aria-label="Abrir Menu Principal")
          +icon.fa-bars
        .title Sistema Nacional de Laboratórios em Nanotecnologias (SisNANO)
        .subtitle Subtítulo do Cabeçalho
      .search
        +input("")( type="text" class="has-icon" placeholder="O que você procura?")
          button.icon(type='button')
            span.icon
              +icon.fa-search
        +button.circle.small.search-close(aria-label="Fechar Busca")
          +icon.fa-times

mixin header-base-content
  .flex-container
    .logo
      img(src=`https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/logo-positive.png` alt="logo")
      .sign Assinatura Padrão do Cabeçalho
    .actions
      .links
        +button.circle.small(aria-label="Abrir Acesso Rápido")
          +icon.fa-ellipsis-v
        ul
          li.title Acesso Rápido
          li: a(href="javascript:void(0);") Link de acesso 1
          li: a(href="javascript:void(0);") Link de acesso 2
          li: a(href="javascript:void(0);") Link de acesso 3
          li: a(href="javascript:void(0);") Link de acesso 4
      .functions
        +button.circle.small(aria-label="Abrir Funcionalidades do Sistema")
          +icon.fa-th
        ul
          li.title Funcionalidades do Sistema
          li
            +button.circle.small
              +icon.fa-chart-bar
              span.text Funcionalidade 1
          li
            +button.circle.small
              +icon.fa-headset
              span.text Funcionalidade 2
          li
            +button.circle.small
              +icon.fa-comment
              span.text Funcionalidade 3
          li
            +button.circle.small
              +icon.fa-adjust
              span.text Funcionalidade 4
      .search-btn
        +button.circle.small(aria-label="Abrir Busca")
          +icon.fa-search
      .login
        +button.small
          +icon.fa-user
          span.ml-1 Entrar
      div.avatar
        +badge()(danger)
          .icon 5
          .content
            +avatar
              .image: img(src="https://picsum.photos/id/823/400" alt="Avatar")
        +button.circle.small(aria-label="Abrir Menu de usuário")
          +icon.fa-angle-down
      +notification()()
        +notification-filler
    .menu
      +button.circle.small(aria-label="Abrir Menu Principal")
        +icon.fa-bars
      .title Título Padrão do Cabeçalho
      .subtitle Subtítulo do Cabeçalho
    .search
      +input("")( type="text" class="has-icon" placeholder="O que você procura?")
        button.icon(type='button')
          span.icon
            +icon.fa-search
      +button.circle.small.search-close(aria-label="Fechar Busca")
        +icon.fa-times
