mixin language
  - let className = attributes.class
  - let componentClass = prefix + "language"
  - className = className ? componentClass + " " + className : componentClass
  div.dropdown(class=className)
    button.trigger(type='button')
      span.name Português
      i.fas.fa-chevron-down.arrow
    .menu
      .title Idioma/Language
      button.item.is-active(type='button')
        span.name Português
      button.item(type='button')
        span.name English
      button.item(type='button')
        span.name Español
