mixin message
  - let componentClass = prefix + 'message'
  div(class=componentClass)&attributes(attributes)
    if attributes.danger
      .icon(aria-label="informações erradas")
        i.fas.fa-times-circle.fa-lg
        span.sr-only Erro!
    if attributes.success
      .icon(aria-label="informações corretas")
        i.fas.fa-check-circle.fa-lg
        span.sr-only Sucesso!
    if attributes.warning
      .icon(aria-label="atenção as informações")
        i.fas.fa-exclamation-triangle.fa-lg
        span.sr-only Atenção!
    if attributes.info
      .icon(aria-label="mensagem de informação")
        i.fas.fa-info-circle.fa-lg
        span.sr-only Informação!
    .content(aria-label="informações do conteúdo")
      if block
        block
    .close
      +button()(circle small aria-label="Fechar") 
        i.fas.fa-times
        span.sr-only Fechar
