nav#system-nav.br-navigation.is-system.is-active
  header.header
    .container-fluid
      // Configurações do usuário
      .user-bar
        // Configurações do usuário
        .configs.menu.is-active
          button.trigger(type='button')
            // Avatar do usuário
            span.avatar
              img(src='../../assets/images/avatar.png' alt='Avatar')
              // <i class="fas fa-user-circle"></i>
            // Notificações
            span.badge 5
            // Seta para abrir menu
            span.arrow
              i.fas.fa-chevron-down
        // Altocontraste
        button.contrast(type='button' accesskey='6')
          i.fas.fa-adjust.fa-lg
        // Sistemas favoritos do usuário
        .bookmarks.menu
          button.trigger(type='button')
            i.fas.fa-th-large
      // Voltar navegação
      button.go-back(type='button')
        span.arrow
          i.fas.fa-chevron-left
        span.node Alterar Dados Cadastrais
  .navigation
    .container-fluid
      // Informações do usuário
      ul.tree.info-nav
        li.title
          strong M&aacute;rcia Vin&iacute;cius Tavares de Almeida
          span marcia-vinicius.almeida@serpro.gov.br
        li.label
          i.fas.fa-cog
          |             Configura&ccedil;&atilde;o/Perfil
        // Lista de configurações
        li.item
          a(href='') Configura&ccedil;&atilde;o 01
        li.item
          a(href='') Configura&ccedil;&atilde;o 02
        li.item
          a(href='') Configura&ccedil;&atilde;o 03
      // Favoritos
      ul.tree.favorite-nav
        li.label
          i.fas.fa-th-large
          |             Sistemas
        li.item
          a(href='') Sistema 01
        li.item
          a(href='') Sistema 02
        li.item
          a(href='') Sistema 03
        li.item
          a(href='') Sistema 04
        li.item
          a(href='') Sistema 05
        li.item
          a(href='') Sistema 06
        li.item
          a(href='') Sistema 07
        li.item
          a(href='') Sistema 08
        li.item
          a(href='') Sistema 09
        li.item
          a(href='') Sistema 10
      // Navegação
      ul.tree.menu-nav.is-active
        li.item.has-children.is-active
          button.trigger.label(type='button')
            span.name In&iacute;cio
            span.arrow
              i.fas.fa-chevron-right
          ul.tree.menu-nav.is-active
            li.item.is-active
              a(href='') Alterar Dados Cadastrais
            li.item.has-children.is-active
              button.trigger(type='button')
                span.name Altera&ccedil;&atilde;o de Senha
                span.arrow
                  i.fas.fa-chevron-right
              ul.tree.menu-nav
                li.item
                  a(href='') Terceiro n&iacute;vel
                li.item
                  a(href='') Terceiro n&iacute;vel
                li.item.has-children.is-active
                  button.trigger(type='button')
                    span.name Outros
                    span.arrow
                      i.fas.fa-chevron-right
                  ul.tree.menu-nav
                    li.item
                      a(href='') Outros Terceiro n&iacute;vel
                    li.item
                      a(href='') Outros Terceiro n&iacute;vel
                    li.item.has-children.is-active
                      button.trigger(type='button')
                        span.name Outros 2
                        span.arrow
                          i.fas.fa-chevron-right
                      ul.tree.menu-nav
                        li.item
                          a(href='') Outros 2 Terceiro n&iacute;vel
                        li.item
                          a(href='') Outros 2 Terceiro n&iacute;vel
                        li.item
                          a(href='') Outros 2 Terceiro n&iacute;vel
            li.item.is-active
              a(href='') Confiabilidade Cadastral
            li.item.is-active
              a(href='') Autorizar Uso de Dados Pessoais
            li.item.has-children.is-active
              button.trigger(type='button')
                span.name Recuperar DNI
                span.arrow
                  i.fas.fa-chevron-right
              ul.tree.menu-nav
                li.item
                  a(href='') Recuperar DNI - Terceiro n&iacute;vel
                li.item
                  a(href='') Recuperar DNI - Terceiro n&iacute;vel
                li.item
                  a(href='') Recuperar DNI - Terceiro n&iacute;vel
            li.item.is-active
              a(href='') CNPJ
        li.item.has-children.is-active
          button.trigger.label(type='button')
            span.name Servi&ccedil;os do Governo
            span.arrow
              i.fas.fa-chevron-right
          ul.tree.menu-nav.is-active
            li.item.is-active
              a(href='') Portal de Servi&ccedil;os
            li.item.has-children.is-active
              button.trigger(type='button')
                span.name Outros
                span.arrow
                  i.fas.fa-chevron-right
              ul.tree.menu-nav
                li.item
                  a(href='') Outros Terceiro n&iacute;vel
                li.item
                  a(href='') Outros Terceiro n&iacute;vel
                li.item.has-children.is-active
                  button.trigger(type='button')
                    span.name Outros 2
                    span.arrow
                      i.fas.fa-chevron-right
                  ul.tree.menu-nav
                    li.item
                      a(href='') Outros 2 Terceiro n&iacute;vel
                    li.item
                      a(href='') Outros 2 Terceiro n&iacute;vel
                    li.item.has-children.is-active
                      button.trigger(type='button')
                        span.name Outros 3
                        span.arrow
                          i.fas.fa-chevron-right
                      ul.tree.menu-nav
                        li.item
                          a(href='') Outros 3 Terceiro n&iacute;vel
                        li.item
                          a(href='') Outros 3 Terceiro n&iacute;vel
                        li.item
                          a(href='') Outros 3 Terceiro n&iacute;vel
  footer.footer
    .container-fluid
      .row.justify-content-between
        .col-auto
          // Timeout
          .timeout
            i.fas.fa-clock
            span.session Sess&atilde;o:
            span.timer 00 min. e 00 seg
        .col-auto
          // Logout
          button.logout(type='button') Sair
