doctype html
html(lang="pt-BR")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Menu Lateral DS
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
    link(rel='stylesheet' href='/dist/css/dsgov.css')
    link(rel='stylesheet' href='menu-ds.css')
  body
    nav.ds-menu-lateral
      .menu-item
        button.is-open(type='button' data-toggle='collapse') Título Item
        ul.submenu.level-1
          // Item sem filhos
          li.menu-item
            a Texto link
          li
            // Item com filhos
            button.is-open(type='button' data-toggle='collapse') Sub Título
            ul.submenu.level-2
              li.menu-item
                a  Texto link 
    script(src='menu-ds.js')
