mixin back-button(text='Voltar')
  button.go-back(type="button")
    span.arrow: i.fas.fa-chevron-left
    span.node=text

mixin user-bar
  .user-bar
    .configs.menu.is-active
      button.trigger(type="button")
        span.avatar
          i.fas.fa-user-circle
        span.badge 5
        span.arrow
          i.fas.fa-chevron-down
    button.contrast(type="button" accesskey="6")
      i.fas.fa-adjust.fa-lg
    .bookmarks.menu
      button.trigger(type="button")
        i.fas.fa-th-large

mixin nav-system
  ul.tree.info-nav
    li.title
      strong Márcia Vinícius Tavares de Almeida
      span marcia-vinicius.almeida@serpro.gov.br
    li.label
      i.fas.fa-cog
      |  Configuração/Perfil
    li.item.is-active: a(href="") Configuração 01
    li.item.is-active: a(href="") Configuração 02
    li.item.is-active: a(href="") Configuração 03
  ul.tree.favorite-nav
    li.label
      i.fas.fa-th-large
      |  Sistemas
    li.item: a(href="") Sistema 01
    li.item: a(href="") Sistema 02
    li.item: a(href="") Sistema 03
    li.item: a(href="") Sistema 04
    li.item: a(href="") Sistema 05
    li.item: a(href="") Sistema 06
    li.item: a(href="") Sistema 07
    li.item: a(href="") Sistema 08
    li.item: a(href="") Sistema 09
    li.item: a(href="") Sistema 10
  ul.tree.menu-nav.is-active
    li.item.has-children.is-active
      button.trigger.label(type="button")
        span.name Início
        span.arrow: i.fas.fa-chevron-right
      ul.tree.menu-nav.is-active
        li.item.is-active: a(href="") Alterar Dados Cadastrais
        li.item.has-children.is-active
          button.trigger(type="button")
            span.name Alteração de Senha
            span.arrow: i.fas.fa-chevron-right
          ul.tree.menu-nav
            li.item: a(href="") Terceiro nível
            li.item: a(href="") Terceiro nível
            li.item.has-children.is-active
              button.trigger(type="button")
                span.name Outros
                span.arrow: i.fas.fa-chevron-right
              ul.tree.menu-nav
                li.item: a(href="") Outros Terceiro nível
                li.item: a(href="") Outros Terceiro nível
                li.item.has-children.is-active
                  button.trigger(type="button")
                    span.name Outros 2
                    span.arrow: i.fas.fa-chevron-right
                  ul.tree.menu-nav
                    li.item: a(href="") Outros 2 Terceiro nível
                    li.item: a(href="") Outros 2 Terceiro nível
                    li.item: a(href="") Outros 2 Terceiro nível
        li.item.is-active: a(href="") Confiabilidade Cadastral
        li.item.is-active: a(href="") Autorizar Uso de Dados Pessoais
        li.item.has-children.is-active
          button.trigger(type="button")
            span.name Recuperar DNI
            span.arrow: i.fas.fa-chevron-right
          ul.tree.menu-nav
            li.item: a(href="") Recuperar DNI - Terceiro nível
            li.item: a(href="") Recuperar DNI - Terceiro nível
            li.item: a(href="") Recuperar DNI - Terceiro nível
        li.item.is-active: a(href="") CNPJ
    li.item.has-children.is-active
      button.trigger.label(type="button")
        span.name Serviços do Governo
        span.arrow: i.fas.fa-chevron-right
      ul.tree.menu-nav.is-active
        li.item.is-active: a(href="") Portal de Serviços
        li.item.has-children.is-active
          button.trigger(type="button")
            span.name Outros
            span.arrow: i.fas.fa-chevron-right
          ul.tree.menu-nav
            li.item: a(href="") Outros Terceiro nível
            li.item: a(href="") Outros Terceiro nível
            li.item.has-children.is-active
              button.trigger(type="button")
                span.name Outros 2
                span.arrow: i.fas.fa-chevron-right
              ul.tree.menu-nav
                li.item: a(href="") Outros 2 Terceiro nível
                li.item: a(href="") Outros 2 Terceiro nível
                li.item.has-children.is-active
                  button.trigger(type="button")
                    span.name Outros 3
                    span.arrow: i.fas.fa-chevron-right
                  ul.tree.menu-nav
                    li.item: a(href="") Outros 3 Terceiro nível
                    li.item: a(href="") Outros 3 Terceiro nível
                    li.item: a(href="") Outros 3 Terceiro nível

mixin nav-site
  ul.tree.menu-nav.is-active
    li.item.has-children.is-active
      button.trigger(type="button")
        span.name Item de nível 1
        span.arrow
          i.fas.fa-chevron-right
      ul.tree.menu-nav
        li.item: a(href="") Item de nível 1.1
        li.item.has-children
          button.trigger(type="button")
            span.name Item de nível 1.2
            span.arrow
              i.fas.fa-chevron-right
          ul.tree.menu-nav
            li.item: a(href="") Item ne nível 1.2.1
            li.item: a(href="") Item ne nível 1.2.2
            li.item: a(href="") Item ne nível 1.2.3
        li.item: a(href="") Item de nível 1.3
    li.item.has-children.is-active
      button.trigger(type="button")
        span.name Conheça a presidência
        span.arrow
          i.fas.fa-chevron-right
      ul.tree.menu-nav
        li.item: a(href="") Biografia do Presidente
        li.item: a(href="") Ministros
        li.item: a(href="") Principais Tropas
        li.item: a(href="") Principais Tropas
        li.item: a(href="") Acervo
        li.item: a(href="") Ritos e Solenidades
        li.item: a(href="") Presentes recebidos pelo Presidente da República
    li.item.has-children.is-active
      button.trigger(type="button")
        span.name Vice-Presidência
        span.arrow
          i.fas.fa-chevron-right
      ul.tree.menu-nav
        li.item: a(href="") Agenda Vice-Presidente
        li.item: a(href="") Agendas do Gabinete Pessoal da Vice-Presidência
        li.item: a(href="") Biografia
        li.item: a(href="") Atribuições
        li.item: a(href="") Discursos e Pronunciamentos
    li.item.has-children.is-active
      button.trigger(type="button")
        span.name Acesso à Informação
        span.arrow
          i.fas.fa-chevron-right
      ul.tree.menu-nav
        li.item: a(href="") Institucional
        li.item: a(href="") Ações e Programas
        li.item: a(href="") Dados abertos
        li.item: a(href="") Auditorias
        li.item: a(href="") Convênios
        li.item: a(href="") Despesas
        li.item: a(href="") Licitações e contratos
        li.item: a(href="") Servidores
        li.item: a(href="") Informações Classificadas
        li.item: a(href="") Serviço de Informação ao Cidadão
    li.item.has-children.is-active
      button.trigger(type="button")
        span.name Centrais de Conteúdo
        span.arrow
          i.fas.fa-chevron-right
      ul.tree.menu-nav
        li.item: a(href="") Imagens
        li.item: a(href="") Vídeos
        li.item: a(href="") Áudios
    li.item.has-children.is-active
      button.trigger(type="button")
        span.name Fale Conosco
        span.arrow
          i.fas.fa-chevron-right
      ul.tree.menu-nav
        li.item: a(href="") Fale com o Presidente
        li.item: a(href="") Ouvidoria
    li.item.is-active: a(href="") Mensagem do Presidente
  ul.tree.menu-nav.is-active
    li.item.has-children.is-active
      button.trigger.govbr(type="button")
        span.name gov.br
        span.arrow
          i.fas.fa-chevron-right
      ul.tree.menu-nav
        li.item: a(href="") Notícias
        li.item: a(href="") Agenda do Presidente
        li.item: a(href="") Agenda do Presidente em exercício
        li.item: a(href="") Discursos
        li.item: a(href="") Pronunciamentos
        li.item: a(href="") Notas Oficiais
        li.item: a(href="") Notas
        li.item: a(href="") Entrevistas
        li.item: a(href="") Foto Oficial
        li.item: a(href="") Área de Imprensa
        li.item: a(href="") Porta-voz
        li.item: a(href="") WhatsApp

mixin footer-system
  .row.justify-content-between
    .col-auto
      .timeout
        i.fas.fa-clock
        span.session Sessão:
        span.timer 00 min. e 00 seg
    .col-auto
      button.logout(type="button") Sair

mixin footer-site
  .row.align-items-center.no-gutters.mx-0
    .col-auto.mr-3
      .language.menu
        button.trigger(type="button")
          span.name Português
          span.arrow
            i.fas.fa-chevron-down
        .items
          .title Idioma/Language
          button.item.is-active(type="button")
            span.name Português
          button.item(type="button")
            span.name English
          button.item(type="button")
            span.name Español
    .col-auto
      button.contrast(type="button" accesskey="6")
        i.fas.fa-adjust.fa-lg
  .row.justify-content-between
    .col-md
      .links
        span Links úteis 
        a(href="")
          | Acesso à Informação 
          i.fas.fa-external-link-alt
        a(href="")
          | Participe
          i.fas.fa-external-link-alt
        a(href="")
          | Órgãos do Governo
          i.fas.fa-external-link-alt
        a(href="")
          | Acessibilidade
          i.fas.fa-external-link-alt
    .col-md-auto
      .social-network
        span Redes sociais
        a(href="https://www.twitter.com/twitter.com/govbr")
          i.fab.fa-twitter.fa-lg
          span.sr-only Twitter
        a(href="https://www.youtube.com/youtube.com/govbr")
          i.fab.fa-youtube.fa-lg
          span.sr-only YouTube
        a(href="https://www.facebook.com/facebook.com/govbr")
          i.fab.fa-facebook-f.fa-lg
          span.sr-only Facebook
        a(href="https://www.flickr.com/flickr/govbr")
          i.fab.fa-flickr.fa-lg
          span.sr-only Flickr

mixin navigation
  nav.br-navigation(
    id=attributes.id
    class=attributes.class
  )
    header.header
      .container
        if (attributes.class === 'is-site')
          .logo.is-active
            span.name Secretaria da Receita do Brasil - RFB
            span.description Ministério da Economia
        if (attributes.class === 'is-system')
          +user-bar
        +back-button
    .navigation
      .container
        if (attributes.class === 'is-site')
          +nav-site
        if (attributes.class === 'is-system')
          +nav-system
    footer.footer
      .container
        if (attributes.class === 'is-site')
          +footer-site
        if (attributes.class === 'is-system')
          +footer-system
