mixin notification
  +tooltip()(notification)&attributes(attributes)
    if block
      block

mixin notification-header
  .notification-header
    if block
      block

mixin notification-body
  .notification-body
    if block
      block

mixin notification-footer
  .notification-footer
    if block
      block

mixin notification-filler
  +notification-header
    .user-name Fulano da Silva
    .user-email fulano.silva@email.com
  +notification-body
    +tabs()
      +tab-nav()
        +tab-item(title="Configurações" panel="panel-1")
          i.fas.fa-cog
        +tab-item(title="Notificações" panel="panel-2" class="is-active")
          i.fas.fa-bell
        +tab-item(title="Mensagens" panel="panel-3" )
          i.fas.fa-envelope
      +tab-content
        +tab-pane(id="panel-1")
          p Painel Configurações
        +tab-pane(id="panel-2" class="is-active")
          +list
            +list-item()(link).divider
              +badge()(success)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
          
            +list-item()(link).divider
              +badge()(success)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
          
            +list-item()(link).divider
              +badge()(success)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
          
            +list-item()(link).divider
              +badge()(success)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
          
            +list-item()(link).divider
              +badge()(success)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
          
            +list-item()(link).divider
              +badge()(danger)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
          
            +list-item()(link).divider
              +badge()(success)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
          
            +list-item()(link).divider
              +badge()(success)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
          
            +list-item()(link)
              +badge()(warning)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
          
            +list-item()(link).divider
              +badge()(success)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
          
            +list-item()(link)
              +badge()(success)
                .icon
              div.title Título Notificação
              div.subtitle Subtítulo Notificação
              div.date 08/04/2020
              div.content
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 

        +tab-pane(id="panel-3")
          +list
            +list-header("Lista de Mensagens")
              .actions
                +button()(tertiary circle mini)
                  i.fas.fa-sort-alpha-up
                span.mx-3 |
                +button()(tertiary circle mini)
                  i.fas.fa-search
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope-open
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope-open
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope-open
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope-open
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope-open
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link).divider
              div.icon.active
                i.fa-lg.fas.fa-envelope-open
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
            +list-item()(link)
              div.icon.active
                i.fa-lg.fas.fa-envelope
              div.title Título Mensagem
              div.content
                div.subtitle Subtítulo Mensagens
                div.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dapibus massa nisi, id efficitur tortor tincidunt rutrum.
              div.date 08/04/2020
              div.contextual-btn
                i.fa-lg.fas.fa-ellipsis-v
              div.contextual-menu
                div.action Ocultar esta notificação
                div.action Ocultar todas as notificações 
              
  //- +notification-footer
  //-   +button()(secondary mini)
  //-     | Cancelar
  //-   +button()(primary mini)
  //-     | Retornar