mixin notification
  +tooltip(notification=true)&attributes(attributes)
    if block
      block

mixin notification-header
  .notification-header
    if block
      block

mixin notification-body
  .notification-body
    if block
      block

mixin notification-footer
  .notification-footer
    if block
      block

  