mixin pagination
  - let pages = 10;
  - let page = 3;
  - let className = attributes.class
  - let componentClass = prefix + "pagination"
  - className = className ? componentClass + " " + className : componentClass
  nav
    ul(class=className)
      li.is-first.is-disabled
        a(href="javascript:void(0)")
          i.fas.fa-chevron-left
          span.sr-only primeiro
      li.is-active
        a(href="javascript:void(0)") 1
      li: a(href="javascript:void(0)") 2
      li.d-sm-none
        label.sr-only(for=attributes.id)
        select(id=attributes.id)
          while page < pages
            option=page++
      - page = 3;
      while page < pages
        li.d-none.d-sm-inline
          a(href="javascript:void(0)")=page++
      li: a(href="javascript:void(0)")=pages
      li.is-last
        a(href="javascript:void(0)")
          i.fas.fa-chevron-right
          span.sr-only último
