mixin select(label="Label")
  - let className = [prefix + "select", attributes.class]
  div(class=className 
      multiple=attributes.multiple)
    +input(label)(type="text" select)
    p.help Texto auxiliar ao preenchimento, tem a função de previnir erros.
    +card
      .front
        .content
          if attributes.multiple
            +list.condensed.selected-list
            +divider
          +list.condensed.options-list
            if block
              block

mixin option(item="item")
  +list-item()
    if attributes.multiple
      .support: i.fas.fa-plus-circle.text-primary-default
    .content=item
