mixin skip-menu
  ul#skip-menu.skip-menu
    li: a(accesskey="1" href="#content") Ir para o conteúdo
    li: a(accesskey="2" href="#navigation") Ir para o menu
    li: a(accesskey="3" href="#footer") Ir para o rodapé
