mixin tag
    .br-tag&attributes(attributes)
        .content
            if block
                block
        if attributes.class == "tag-input-close"   
            .close
                button(type='button')
                    i.fas.fa-times
                    span.sr-only Fechar

mixin tag-button
    button.br-tag&attributes(attributes)
        .content
            if block
                block