mixin tag
    .br-tag&attributes(attributes)
        .content
            if block
                block    
        .close
            button(type='button')
                i.fas.fa-times
                span.sr-only Fechar
