mixin textarea(label)
  - let className = attributes.class
  - let componentClass = prefix + "textarea"
  - className = className ? componentClass + " " + className : componentClass
  div(class=className
      valid=attributes.valid
      invalid=attributes.invalid)
    if label  
      label(for=attributes.id)=label
    textarea&attributes(attributes)
    if block
      block
