mixin tooltip(label)
  - let className = attributes.notification ? prefix + "notification" : prefix + "tooltip"
  div(class=className role="tooltip")&attributes(attributes)
    if (attributes.popover || attributes.notification)
      if block
        block
    else
      span.text(role="tooltip" id=attributes.ariaDescribedby)=label
      if block
        block
  mixin popover-image
    div.popover-image
      if block
        block
  mixin popover-header
    div.popover-header
      if block
        block
  mixin popover-body
    div.popover-body
      if block
        block
  mixin popover-footer
    div.popover-footer
      if block
        block

