mixin wizard(label="Título", labelClass)
  - let className = attributes.class
  - let componentClass = prefix + "wizard"
  - className = className ? componentClass + " " + className : componentClass
  div(
    id=attributes.id
    class=className)
    .wizard-progress
      <button class="wizard-progress-btn is-active" type="button" title="Dados Pessoais" step="1">Dados Pessoais</button>
      <button class="wizard-progress-btn" type="button" title="Validar Dados" step="2">Validar Dados</button>
      <button class="wizard-progress-btn" type="button" title="Habilitar Cadastro" step="3">Habilitar Cadastro</button>
      <button class="wizard-progress-btn" type="button" title="Cadastrar Senha" step="4">Cadastrar Senha</button>
    .wizard-form
      .wizard-panel.is-active
        .h3 Dados Pessoais
        .wizard-panel-btn
          +button(class="is-primary wizard-btn-next") Avançar
      .wizard-panel
        .h3 Validar Dados
        .wizard-panel-btn
          +button(class="is-primary wizard-btn-prev") Voltar
          +button(class="is-primary wizard-btn-next") Avançar
      .wizard-panel
        .h3 Habilitar Cadastro
        .wizard-panel-btn
          +button(class="is-primary wizard-btn-prev") Voltar
          +button(class="is-primary wizard-btn-next") Avançar
      .wizard-panel
        .h3 Cadastrar Senha
        .wizard-panel-btn
          +button(class="is-primary wizard-btn-prev") Voltar
          +button(class="is-primary wizard-btn") Finalizar
    if block
      block