<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>portlets</title>
  <link rel="stylesheet" href="../../estilos/dist/css/dsgov.min.css">
  <link rel="stylesheet" href="../checkbox/checkbox.min.css">
  <link rel="stylesheet" href="../button/button.min.css">
  <link rel="stylesheet" href="portlet.css">
</head>
<body>
  <div class="container-fluid">
    <div class="br-portlet">
      <div class="header">Redefine a sua busca</div>
      <div class="content">
        <p class="text-primary">
          <strong>124</strong>
          Resultados
        </p>
      </div>
    </div>
    <div class="br-portlet">
      <div class="header">Filtrar</div>
      <div class="content">
        <p>Filtro 1</p>
        <div class="br-check d-block">
          <input type="checkbox" id="filtro-1-check-01" checked>
          <label for="filtro-1-check-01">Opção 01</label>
        </div>
        <div class="br-check d-block">
          <input type="checkbox" id="filtro-1-check-02" checked>
          <label for="filtro-1-check-02">Opção 02</label>
        </div>
        <div class="br-check d-block">
          <input type="checkbox" id="filtro-1-check-03">
          <label for="filtro-1-check-03">Opção 03</label>
        </div>
        <div class="br-check d-block">
          <input type="checkbox" id="filtro-1-check-04">
          <label for="filtro-1-check-04">Opção 04</label>
        </div>
        <div class="br-check d-block">
          <input type="checkbox" id="filtro-1-check-05">
          <label for="filtro-1-check-05">Opção 05</label>
        </div>
        <hr class="my-5">
        <p>Filtro 2</p>
        <div class="br-check d-block">
          <input type="checkbox" id="filtro-2-check-01" checked>
          <label for="filtro-2-check-01">Opção 01</label>
        </div>
        <div class="br-check d-block">
          <input type="checkbox" id="filtro-2-check-02">
          <label for="filtro-2-check-02">Opção 02</label>
        </div>
        <div class="br-check d-block">
          <input type="checkbox" id="filtro-2-check-03">
          <label for="filtro-2-check-03">Opção 03</label>
        </div>
        <div class="br-check d-block">
          <input type="checkbox" id="filtro-2-check-04" checked>
          <label for="filtro-2-check-04">Opção 04</label>
        </div>
        <div class="br-check d-block">
          <input type="checkbox" id="filtro-2-check-05">
          <label for="filtro-2-check-05">Opção 05</label>
        </div>
        <hr>
        <p>Filtro 3</p>
        <div class="br-check d-block">
          <input name="radio" type="radio" id="radio-padrao" checked>
          <label for="radio-padrao">Opção 01</label>
        </div>
        <div class="br-check d-block">
          <input name="radio" type="radio" id="radio-checado">
          <label for="radio-checado">Opção 02</label>
        </div>
        <div class="br-check d-block">
          <input name="radio" type="radio" id="radio-invalido">
          <label for="radio-invalido">Opção 03</label>
        </div>
        <div class="d-flex justify-content-center">
          <button class="br-button is-secondary mt-5" type="button">Limpar</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
