// Carregar variáveis do DS-Gov
@import "../../estilos/scss/dsgov-base";

// Background da página
.page-background {
  @include media-breakpoint-up(sm) {
    background: linear-gradient(to right, $color-gray-1 50%, $color-white 50%);
  }
}

// Navegação principal
$navigation-font-size: 17px;
.page-navigation {
  a {
    font-size: $navigation-font-size;
  }
}

// Tabs
.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tab-item {
  display: flex;
  border-bottom: 1px solid $color-gray-3;
  padding: 0 spacer(3);
  &.is-active {
    .tab-link {
      box-shadow: inset 0 -4px 0 0 $color-primary;
      color: $color-primary;
      font-weight: 700;
    }
  }
}
.tab-link {
  color: $color-gray-6;
  display: flex;
  flex: 1;
  font-weight: 500;
  padding: spacer(3) 0;
  &:hover {
    text-decoration: none;
  }
}
.tab-icon {
  align-self: center;
  justify-content: center;
  & + .tab-name {
    margin-left: spacer(half);
  }
}
.tab-name {
  padding: 0 spacer(1) 0 0;
  margin-left: 32px + spacer(half);
}

// Navs
.nav {
  display: flex;
  list-style: none;
  padding-left: 0;
}

// Acessibilidade
.accessibility {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: flex-end;
  li:not(:last-child) {
    margin-right: $spacer * 3;
  }
  a {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: $color-gray-7;
  }
  img {
    @include media-breakpoint-up(sm) {
      max-width: 16px;
    }
  }
}

// Logo
.logo {
  justify-content: center;
  &-image {
    flex-shrink: 0;
  }
}

// Descrição da página
.nav-description {
  text-align: right;
}

// Cabeçalho do conteúdo principal
$content-title-color: $color-primary;
$content-title-font-size: 32px;
$content-title-font-weight: 500;
.content-title {
  color: $content-title-color;
  font-size: $content-title-font-size;
  font-weight: $content-title-font-weight;
  margin-bottom: 0;
}

// Esqueceu a senha
$forgot-password: 12px;
.forgot-password {
  font-size: $forgot-password;
}

// Conteúdo de midia
.media {
  display: flex;
  align-items: center;
  &-left {
    & + .media-content {
      margin-left: $spacer;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    & + .media-right {
      margin-left: $spacer;
    }
  }
}

// Navegação para smartphones
.content-navigation a {
  // font-size: 10px;
  text-decoration: none;
  color: $color-gray-6;
}

// Divisores de conteúdo
$hr-font-size: 13px;
.hr-horizontal {
  border-bottom: 1px solid $color-gray-5;
  display: flex;
  justify-content: center;
  margin: 0 0 ($spacer * 3);
  text-transform: uppercase;
  @include media-breakpoint-up(sm) {
    text-transform: none;
  }
  .hr-text {
    background: $color-white;
    font-size: $hr-font-size;
    padding: 0 ($spacer * 2);
    position: relative;
    top: 0.75em;
    + .hr-text {
      padding-left: 0;
      margin-left: -0.75em;
    }
  }
}
.hr-vertical {
  border-right: 1px solid $color-gray-5;
}

// Login com redes sociais
.login-social-network {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
