#barra-brasil {
  background: inherit;
  border-bottom: inherit;
}

.media {
  align-items: center;
  display: flex;
}

.media-left + .media-content {
  margin-left: 8px;
}

.media-content {
  display: flex;
  flex-direction: column;
}

.media-content + .media-right {
  margin-left: 8px;
}

.media a {
  color: #555555;
  text-decoration: none;
}
