// Carregar variáveis do DS-Gov
@import "../../estilos/scss/dsgov-base";

// Navegação para smartphones
.media {
  align-items: center;
  display: flex;
  &-left {
    & + .media-content {
      margin-left: $spacing-1;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    & + .media-right {
      margin-left: $spacing-1;
    }
  }
  a {
    color: $color-gray-6;
    text-decoration: none;
  }
}
