.login-mobile {
  align-items: center;
  display: flex;
}

.login-mobile .icon + .content {
  margin-left: 8px;
}

.login-mobile .content {
  display: flex;
  flex-direction: column;
}

.login-mobile a {
  color: #555555;
  text-decoration: none;
}
