mixin scrim-default
  #scrimexample.br-scrim.foco(data-trigger="scrim")
      .br-modal.medium
        .br-modal-dialog
          .br-modal-content
            .br-modal-header
              h1.br-modal-title Scrim com Foco
            .br-modal-body
              p Exemplo utilizando o componente scrim com FOCO
            .br-modal-footer.justify-content-center
              +button.secondary(data-dismiss="scrimexample") Cancelar
              +button.primary.mt-3.mt-sm-0.ml-sm-3 Retornar

mixin scrim-big
  #scrimfocobig.br-scrim.foco(data-trigger="scrim")
      .br-modal.medium
        .br-modal-dialog
          .br-modal-content
            .br-modal-header
              h1.br-modal-title Scrim com Foco
            .br-modal-body
              p Exemplo utilizando o componente scrim com FOCO
              p Exemplo utilizando o componente scrim com FOCO
              p Exemplo utilizando o componente scrim com FOCO
              p Exemplo utilizando o componente scrim com FOCO
              p Exemplo utilizando o componente scrim com FOCO
              p Exemplo utilizando o componente scrim com FOCO
              p Exemplo utilizando o componente scrim com FOCO
              p Exemplo utilizando o componente scrim com FOCO
              p Exemplo utilizando o componente scrim com FOCO
              p Exemplo utilizando o componente scrim com FOCO
            .br-modal-footer.justify-content-center
              +button.secondary(data-dismiss="scrimfocobig") Cancelar
              +button.primary.mt-3.mt-sm-0.ml-sm-3 Retornar
