/// Carregar blocos internos
/// @group Card
@mixin card-configs {
  // Configuração padrão
  border-radius: var(--rounder-xs);
  box-shadow: $layer-1;
  display: block;
  padding: var(--spacing-sm);

  @include elevation-layer("1");

  // Remove qualquer espaçamento extra para o último elemento
  *:last-child {
    margin-bottom: 0;
  }
}
