//- Mixin para reusar componente Card
mixin card
  - const component = 'card'
  //- Card Link
  if attributes['href']
    a(class=prefix + component)&attributes(attributes)
        if block
          block
  //- Card padrão
  else
    div(class=prefix + component)&attributes(attributes)
      if block
        block
