include ../button/button
include ../../partial/pug/utilities/icon

mixin card (props={})
  - let className = 'br-card'
  div(class=className)&attributes(attributes)
    if block
      block
    if props.hasCollapse
      .card-footer
        .text-right
          +button.circle(aria-label="Expandir o card" data-toggle="collapse" data-target="expanded" aria-controls="expanded" aria-expanded="false" data-visible="false")
            +icon.fa-chevron-down
        #expanded(hidden)
         p Esse conteúdo estava magicamente invisível


