@mixin item-configs {
  --focus-offset: -4px;

  background-color: var(--background);
  display: block;
  padding: var(--spacing-sm);
  position: relative;

  // Remove qualquer espaçamento extra para o último elemento
  *:last-child {
    margin-bottom: 0;
  }
}

@mixin item-link {
  --color: var(--interactive);

  text-decoration: none;
}

@mixin item-button {
  --color: var(--interactive);

  border: 0;
  text-align: left;
  width: 100%;

  @include motion-effect("fading", "background-color");

  &:hover:not([disabled]) {
    background-color: var(--theme-hover-main);

    &:active {
      background-color: var(--theme-pressed-main);
    }
  }

  // Estado Desativado
  &[disabled] {
    cursor: not-allowed;
    opacity: var(--disabled);

    * {
      pointer-events: none;
    }
  }
}
