//- Mixin para reusar componente Item
mixin item
  - const component = 'item'
  //- Item Link
  if attributes['href']
    a(class=prefix + component)&attributes(attributes)
      if block
        block
  //- Item Button
  else if attributes['type'] === 'button'
    button(class=prefix + component)&attributes(attributes)
      if block
        block
  //- Item padrão
  else
    div(class=prefix + component)&attributes(attributes)
      if block
        block
