// Logo
$logo-bg: $color-gray-1;

$logo-name-color: $color-primary-darken-25;
$logo-name-size: 16px;

$logo-description-color: $color-gray-7;
$logo-description-size: 12px;

// Menu de navegação
$itens-bg: $color-gray-2;
