@mixin navigation-component {
  // Logo
  @include logo;
  // Árvore de navegação
  @include tree;
  // Logout
}

@mixin logo {
  .logo {
    background: $logo-bg;
    display: flex;
    flex-flow: column-reverse;
    font-weight: 600;
    .name {
      color: $logo-name-color;
      font-size: $logo-name-size;
    }
    .description {
      color: $logo-description-color;
      font-size: $logo-description-size;
    }
  }
}

@mixin tree {
  .tree {
    background: $itens-bg;
    .label {
      box-shadow: inset 0 1px 0 $color-primary-pastel-2, inset 0 -1px 0 $color-primary-pastel-2;
      color: $color-primary;
      display: block;
      font-weight: 600;
      margin: 0;
      padding: $spacing-1 $spacing-3;
      text-transform: uppercase;
    }
    .trigger {
      align-items: center;
      background: transparent;
      border: 0;
      color: $color-gray-6;
      display: inline-flex;
      flex: 1;
      justify-content: space-between;
      padding: $spacing-1 $spacing-3;
      &:hover {
        background: $color-primary-darken-15;
        color: $color-white;
      }
    }
    .item {
      display: flex;
      flex-flow: column;
    }
    .govbr {
      box-shadow: inset 0 1px 0 $color-gray-3;
      font-weight: 900;
      letter-spacing: -1px;
    }
    .arrow {
      font-size: 12px;
    }
    .level-1,
    .level-2 {
      display: none;
    }
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
    }
    a {
      color: $color-gray-6;
      padding: $spacing-1 $spacing-3;
      &:hover {
        background: $color-primary-darken-15;
        color: $color-white;
        text-decoration: none;
      }
    }
    &.is-hidden {
      display: none;
    }
    &.is-active {
      // Esconder labels
      .label,
      .trigger {
        display: none;
      }
      // Itens que não estiverem ativos não são mostrados
      .item {
        &:not(.is-active) {
          display: none;
        }
      }
      // Itens de nível 1 ficam visíveis
      .level-1 {
        display: block;
        > .item {
          display: flex;
          > .trigger {
            display: inline-flex;
          }
        }
      }
      // Itens de nível 2 ativos
      &.level-2 {
        .level-1 {
          > .item {
            display: none;
            &.is-active {
              display: flex;
              > .trigger {
                display: none;
              }
              .level-2 {
                display: block;
                > .item {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
  }
}
