@mixin navigation-component {
  @include visibility;
  // Cabeçalho
  @include header;
  // Navegação
  @include navigation;
  // Rodapé
  @include footer;
  // Menu dropdown
  @include menu;
  // Avatar do usuário
  @include user-avatar;
  // Configurações do usuário
  @include user-configs;
  // Favoritos do usuário
  @include user-bookmarks;
  // Logo
  @include logo;
  // Voltar navegação
  @include go-back;
  // Árvore de navegação
  @include tree;
  // Idioma
  @include language;
  // Altocontraste
  @include contrast;
  // Links úteis
  @include links;
  // Redes sociais
  @include social-network;
  // Botão logout
  @include user-logout;
  // Tempo restante de sessão
  @include timeout;
}

@mixin visibility {
  display: none;
  &.is-active {
    display: block;
  }
}

@mixin header {
  .header {
    padding: $spacing-1 0;
  }
  // Versão de site
  &.is-site {
    .header {
      background: $color-gray-1;
    }
    @include media-breakpoint-up(md) {
      .header {
        display: none;
      }
    }
  }
  // Versão de sistema
  &.is-system {
    .header {
      background: $color-gray-2;
    }
    // Desktop
    @include media-breakpoint-up(md) {
      .header {
        display: none;
      }
    }
  }
}

@mixin footer {
  .footer {
    padding: $spacing-1 0;
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .footer {
      background: $color-gray-1;
      padding: 0;
    }
  }
  // Versão de sistema
  &.is-system {
    .footer {
      background: $color-gray-2;
    }
    // Desktop
    @include media-breakpoint-up(md) {
      .footer {
        display: none;
      }
    }
  }
}

@mixin navigation {
  .navigation {
    background: $color-gray-2;
    .container {
      position: relative;
    }
  }
  // Versão de site
  &.is-site {
    // Desktop
    @include media-breakpoint-up(md) {
      .navigation {
        .container {
          display: flex;
          flex-flow: column;
          min-height: 60vh;
          overflow: auto;
        }
      }
    }
  }
  // Versão de sistema
  &.is-system {
    // Desktop
    @include media-breakpoint-up(md) {
      .navigation {
        .container {
          padding: 0;
        }
      }
    }
  }
}

@mixin logo {
  .logo {
    background: $logo-bg;
    display: none;
    flex-flow: column-reverse;
    font-weight: 600;
    .name {
      color: $logo-name-color;
      font-size: $logo-name-size;
    }
    .description {
      color: $logo-description-color;
      font-size: $logo-description-size;
    }
    &.is-active {
      display: flex;
    }
  }
  // Versão tablet
  @include media-breakpoint-up(sm) {
    .logo {
      &.is-active {
        display: none;
      }
    }
  }
}

@mixin go-back {
  .go-back {
    background: transparent;
    border: 0;
    display: none;
    font-size: 26px;
    margin: 0;
    padding: 0;
    .arrow {
      color: $color-primary;
      margin-right: $spacing-3;
    }
    &.is-active {
      display: block;
    }
  }
  // Versão de sistema
  &.is-system {
    .go-back {
      margin-top: $spacing-1;
    }
  }
}

@mixin tree {
  .tree {
    background: $itens-bg;
    margin: 0 (-$spacing-1);
    padding: $spacing-1 0;
    .title {
      display: flex;
      flex-flow: column;
      padding: $spacing-1 $spacing-3;
    }
    .label {
      box-shadow: inset 0 1px 0 $color-primary-pastel-2,
        inset 0 -1px 0 $color-primary-pastel-2;
      color: $color-primary;
      display: block;
      font-weight: 600;
      margin: 0;
      padding: $spacing-1 $spacing-3;
      text-transform: uppercase;
    }
    .trigger {
      align-items: center;
      background: transparent;
      border: 0;
      color: $color-gray-6;
      display: inline-flex;
      flex: 1;
      justify-content: space-between;
      padding: $spacing-1 $spacing-3;
      &:hover {
        background: $color-primary-darken-15;
        color: $color-white;
      }
    }
    .item {
      display: flex;
      flex-flow: column;
    }
    .govbr {
      font-weight: 900;
      letter-spacing: -1px;
    }
    .arrow {
      font-size: 12px;
    }
    // Esconder filhos por padrão
    .level-1,
    .level-2 {
      display: none;
    }
    // Remover estilo de listas
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
    }
    // Links
    a {
      color: $color-gray-6;
      padding: $spacing-1 $spacing-3;
      &:hover {
        background: $color-primary-darken-15;
        color: $color-white;
        text-decoration: none;
      }
    }
    // Oculto
    &.is-hidden {
      display: none;
    }
    // ativo
    &.is-active {
      box-shadow: none;
      // Esconder labels
      .label,
      .trigger {
        display: none;
      }
      // Itens que não estiverem ativos não são mostrados
      .item {
        &:not(.is-active) {
          display: none;
        }
      }
      // Itens de nível 1 ficam visíveis
      .level-1 {
        display: block;
        > .item {
          display: flex;
          > .trigger {
            display: inline-flex;
          }
        }
      }
      // Itens de nível 2 ativos
      &.level-2 {
        .level-1 {
          > .item {
            display: none;
            &.is-active {
              display: flex;
              > .trigger {
                display: none;
              }
              .level-2 {
                display: block;
                > .item {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
  }
  // Versão de site
  &.is-site {
    .tree {
      // Separador de menus
      & + .tree {
        box-shadow: inset 0 1px 0 $color-gray-3;
      }
    }
    // Desktop
    @include media-breakpoint-up(md) {
      .tree {
        border-right: 1px solid $color-gray-3;
        flex: 1;
        width: 25%;
        .item {
          &:hover {
            > {
              .trigger,
              a {
                background: $color-primary-darken-15;
                color: $color-white;
              }
              ul {
                display: block;
              }
            }
          }
          .item {
            &:hover {
              > {
                .trigger,
                a {
                  background: $color-primary;
                }
              }
            }
          }
        }
        .level-1 {
          border-right: 1px solid $color-gray-3;
          bottom: 0;
          left: 25%;
          padding: $spacing-1 0;
          position: absolute;
          top: 0;
          width: 25%;
        }
        .level-2 {
          border-right: 1px solid $color-gray-3;
          bottom: 0;
          left: 100%;
          padding: $spacing-1 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
  }
  // Versão de sistema
  &.is-system {
    .tree {
      padding: 0 0 $spacing-3;
    }
    // Desktop
    @include media-breakpoint-up(md) {
      .tree {
        padding: $spacing-3 0;
        .level-0 {
          > .item {
            box-shadow: inset 0 1px 0 $color-primary-pastel-2;
            > .trigger {
              color: $color-primary;
              font-weight: 600;
              &:hover {
                background: transparent;
                .arrow {
                  background: $color-primary-pastel-1;
                }
              }
              .arrow {
                align-items: center;
                border-radius: 50%;
                display: inline-flex;
                height: 24px;
                justify-content: center;
                margin-right: -$spacing-1;
                transform: rotate(-90deg);
                width: 24px;
              }
            }
            &.is-active {
              > .trigger {
                .arrow {
                  transform: rotate(90deg);
                }
              }
              .level-1 {
                display: none;
              }
            }
          }
        }
        .level-1 {
          display: block;
          > .item {
            &:first-child {
              box-shadow: inset 0 1px 0 $color-primary-pastel-2;
            }
          }
          .item {
            position: relative;
            &:hover {
              > {
                .trigger,
                a {
                  background: $color-primary-darken-15;
                  color: $color-white;
                }
                ul {
                  background: $color-gray-1;
                  display: table;
                  left: 100%;
                  position: absolute;
                }
              }
            }
            .item {
              &:hover {
                > {
                  .trigger,
                  a {
                    background: $color-primary;
                  }
                }
              }
            }
          }
        }
        .level-2 {
          box-shadow: 2px 2px 3px rgba($color-black, 0.16); // sass-lint:disable-line no-color-literals
          .item {
            white-space: nowrap;
          }
        }
      }
    }
  }
}

@mixin language {
  .language {
    z-index: 4;
    // Idioma selecionado e trigger
    .trigger {
      align-items: baseline;
      background: transparent;
      border: 0;
      display: flex;
      font-weight: 600;
      .arrow {
        font-size: 10px;
        margin-left: $spacing-1;
      }
    }
    // Listagem de idiomas
    .menu {
      border-top: 1px solid $color-warning;
      margin: $spacing-1 0 0;
      right: 0;
      // Rótulo da seleção
      .title {
        border-bottom: 1px solid $color-gray-3;
        font-size: 14px;
        font-style: italic;
        font-weight: 600;
        margin: $spacing-3 $spacing-3 $spacing-1;
        padding: 0;
      }
      // Item selecionável
      .item {
        white-space: nowrap;
        // Item selecionado
        &.is-active {
          color: $color-primary;
          font-weight: 600;
        }
      }
    }
  }
  // Versão desktop
  @include media-breakpoint-up(md) {
    .language {
      display: none;
    }
  }
}

@mixin links {
  .links {
    border-top: 1px solid $color-gray-2;
    display: flex;
    flex-flow: column;
    font-size: 14px;
    margin: $spacing-2 0 0;
    padding: $spacing-3 0;
    position: relative;
    span {
      display: block;
      font-weight: 700;
      margin: 0;
      text-transform: uppercase;
    }
    a {
      align-items: center;
      display: inline-flex;
      padding: $spacing-half 0;
      [class*="fa-"] {
        margin-left: $spacing-1;
      }
    }
  }
  // Tablet
  @include media-breakpoint-up(sm) {
    .links {
      display: block;
      span {
        width: 100%;
      }
      a {
        margin-right: $spacing-6;
      }
    }
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .links {
      border-top: 0;
      margin-top: 0;
    }
  }
}

@mixin social-network {
  .social-network {
    border-top: 1px solid $color-gray-2;
    margin: 0;
    padding: $spacing-3 0;
    text-transform: uppercase;
    span {
      display: block;
      font-size: 14px;
      font-weight: 700;
      margin-right: $spacing-4;
    }
    a {
      @include btn-icon;
    }
  }
  // Desktop
  @include media-breakpoint-up(md) {
    .social-network {
      border-top: 0;
      display: flex;
      flex-flow: row wrap;
      margin-top: 0;
      span {
        display: block;
        width: 100%;
      }
      a {
        margin-right: $spacing-3;
      }
    }
  }
}

@mixin user-logout {
  .logout {
    align-items: center;
    background: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 100px;
    color: $color-white;
    display: inline-flex;
    font-size: 12px;
    font-weight: 600;
    height: 32px;
    margin-left: $spacing-3;
    padding: 0 $spacing-5;
    text-align: center;
    &:hover {
      background: $color-primary-lighten-15;
      border-color: $color-primary-lighten-15;
    }
  }
}

@mixin timeout {
  .timeout {
    .session {
      font-size: 14px;
      font-weight: 600;
    }
    .timer {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

@mixin menu {
  .menu {
    position: relative;
    z-index: 1;
    .trigger {
      align-items: baseline;
      display: inline-flex;
      padding: 0;
      &:hover {
        .arrow {
          &::after {
            background: $color-primary-pastel-1;
          }
        }
      }
    }
    .arrow {
      align-items: center;
      display: inline-flex;
      font-size: 10px;
      justify-content: center;
      margin-left: $spacing-1;
      &::after {
        border-radius: 50%;
        content: "";
        display: block;
        height: 16px;
        position: absolute;
        width: 16px;
        z-index: -1;
      }
    }
    .items {
      background: $color-white;
      box-shadow: 0 3px 6px rgba($color-black, 0.22); // sass-lint:disable-line no-color-literals
      display: none;
      position: absolute;
    }
    .title {
      border-bottom: 1px solid $color-gray-3;
      display: block;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      padding: $spacing-1 $spacing-3;
    }
    .item {
      background: $color-white;
      border: 0;
      color: $color-gray-6;
      display: block;
      padding: $spacing-1 $spacing-3;
      position: relative;
      text-align: left;
      text-decoration: none;
      white-space: nowrap;
      width: 100%;
      &:hover {
        background: $color-primary-pastel-1;
      }
      // Item pré selecionado
      &.is-active {
        color: $color-primary;
        font-weight: 500;
      }
    }
    // Menu ativo
    &.is-active {
      .items {
        display: block;
      }
    }
  }
}

@mixin contrast {
  .contrast {
    @include btn-icon;
    background: transparent;
    border: 0;
    display: inline-flex;
    position: relative;
  }
  // Versão desktop
  @include media-breakpoint-up(md) {
    .contrast {
      display: none;
    }
  }
}

@mixin user-avatar {
  .avatar {
    // color: $color-primary;
    display: inline-flex;
    font-size: 40px;
    position: relative;
    img {
      max-width: 40px;
    }
    // Badge com quantidade de notificações
    & + .badge {
      background: $color-danger;
      border-radius: 50%;
      color: $color-white;
      font-size: 11px;
      font-weight: 700;
      height: 18px;
      left: -$spacing-1;
      margin-right: -$spacing-1;
      position: relative;
      top: -$spacing-2;
      width: 18px;
    }
  }
}

@mixin user-configs {
  .configs {
    .trigger {
      align-items: center;
      background: transparent;
      border: 0;
    }
    // Menu
    .items {
      right: 0;
      // Nome
      .name {
        font-weight: 600;
        white-space: nowrap;
      }
      // E-mail
      .email {
        font-size: 13px;
        font-weight: 500;
        white-space: nowrap;
      }
      // Menu ativo
      &.is-active {
        &::after {
          border: solid transparent;
          border-bottom-color: $color-gray-7;
          border-width: 12px;
          bottom: 100%;
          content: "";
          height: 0;
          pointer-events: none;
          position: absolute;
          right: $spacing-3;
          width: 0;
        }
      }
    }
  }
}

@mixin user-bookmarks {
  .bookmarks {
    // Ativador do menu
    .trigger {
      @include btn-icon;
      background: transparent;
      border: 0;
      position: relative;
    }
    // Menu
    .items {
      margin: 15px -12px 0 0;
      right: 0;
      // Menu ativo
      &.is-active {
        &::after {
          border: solid transparent;
          border-bottom-color: $color-gray-7;
          border-width: 12px;
          bottom: 100%;
          content: "";
          height: 0;
          pointer-events: none;
          position: absolute;
          right: $spacing-3;
          width: 0;
        }
      }
    }
    // Lista de favoritos
    .list {
      columns: 5;
      padding: 0 $spacing-3;
      .item {
        padding: 0;
      }
    }
    // Favorito
    .bookmark {
      display: inline-block;
      margin: $spacing-3 0 0;
      &:hover {
        text-decoration: none;
        .brand {
          border-color: $color-primary-lighten-15;
        }
        .name {
          color: $color-primary-lighten-15;
        }
      }
      // Marca
      .brand {
        background: $color-gray-1;
        border: 1px solid $color-gray-3;
        height: 42px;
        width: 58px;
      }
      // Nome
      .name {
        color: $color-gray-6;
        display: block;
        font-size: 9px;
        font-weight: 500;
        margin-top: $spacing-half;
        text-align: center;
      }
    }
    // Mais opções
    .more {
      font-size: 10px;
      font-weight: 600;
      margin: $spacing-3 0;
      text-align: center;
      text-decoration: underline;
    }
  }
}

@mixin btn-icon {
  align-items: center;
  color: $color-primary;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  width: 36px;
  &:hover {
    color: $color-primary-lighten-15;
    z-index: 1;
    &::after {
      background: $color-primary-pastel-1;
      border-radius: 50%;
      content: "";
      display: block;
      height: 32px;
      position: absolute;
      width: 32px;
      z-index: -1;
    }
  }
}
