<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>navigation</title>
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="navigation.css">
  <!-- Ícones fontawesome -->
  <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
</head>

<body>
  <!-- Navegação de site -->
  <nav class="br-navigation is-site">
    <div class="wrapper">
      <div class="container">
        <!-- Logo -->
        <div class="logo">
          <span class="name">Secretaria da Receita do Brasil - RFB</span>
          <span class="description">Ministério da Economia</span>
        </div>
        <!-- Menu de navegação -->
        <div class="tree">
          <ul class="level-0">
            <li class="item has-children">
              <button type="button">
                <span class="name">Item de nível 1</span>
                <span class="arrow"><i class="fas fa-chevron-right"></i></span>
              </button>
              <ul class="level-1">
                <li class="item has-children">
                  <button type="button">
                    <span class="name">Item de nível 2.1</span>
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                  </button>
                  <ul class="level-2">
                    <li class="item"><a href="">Item de nível 3.1</a></li>
                    <li class="item"><a href="">Item de nível 3.1</a></li>
                    <li class="item"><a href="">Item de nível 3.1</a></li>
                  </ul>
                </li>
                <li class="item has-children">
                  <button type="button">
                    <span class="name">Item de nível 2.2</span>
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                  </button>
                  <ul class="level-2">
                    <li class="item"><a href="">Item de nível 3.2</a></li>
                    <li class="item"><a href="">Item de nível 3.2</a></li>
                    <li class="item"><a href="">Item de nível 3.2</a></li>
                  </ul>
                </li>
                <li class="item has-children">
                  <button type="button">
                    <span class="name">Item de nível 2.3</span>
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                  </button>
                  <ul class="level-2">
                    <li class="item"><a href="">Item de nível 3.3</a></li>
                    <li class="item"><a href="">Item de nível 3.3</a></li>
                    <li class="item"><a href="">Item de nível 3.3</a></li>
                  </ul>
                </li>
                <li class="item has-children">
                  <button type="button">
                    <span class="name">Item de nível 2.4</span>
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                  </button>
                  <ul class="level-2">
                    <li class="item"><a href="">Item de nível 3.4</a></li>
                    <li class="item"><a href="">Item de nível 3.4</a></li>
                    <li class="item"><a href="">Item de nível 3.4</a></li>
                  </ul>
                </li>
                <li class="item has-children">
                  <button type="button">
                    <span class="name">Item de nível 2.5</span>
                    <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                  </button>
                  <ul class="level-2">
                    <li class="item"><a href="">Item de nível 3.5</a></li>
                    <li class="item"><a href="">Item de nível 3.5</a></li>
                    <li class="item"><a href="">Item de nível 3.5</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="item has-children">
              <button type="button">
                <span class="name">Conheça a Presidência</span>
                <span class="arrow"><i class="fas fa-chevron-right"></i></span>
              </button>
              <ul class="level-1">
                <li class="item"><a href="">Biografia do Presidente</a></li>
                <li class="item"><a href="">Ministros</a></li>
                <li class="item"><a href="">Principais Tropas</a></li>
                <li class="item"><a href="">Palácio e Residências</a></li>
                <li class="item"><a href="">Acervo</a></li>
                <li class="item"><a href="">Ritos e Solenidades</a></li>
                <li class="item"><a href="">Presentes recebidos pelo Presidênte da República</a></li>
              </ul>
            </li>
            <li class="item has-children">
              <button type="button">
                <span class="name">Vice-Presidência</span>
                <span class="arrow"><i class="fas fa-chevron-right"></i></span>
              </button>
              <ul>
                <li class="item"><a href="">Agenda Vice-Presidente</a></li>
                <li class="item"><a href="">Agendas do Gabinete Pessoal da Vice-Presidência</a></li>
                <li class="item"><a href="">Biografia</a></li>
                <li class="item"><a href="">Atribuições</a></li>
                <li class="item"><a href="">Discursos e Pronunciamentos</a></li>
              </ul>
            </li>
            <li class="item has-children">
              <button type="button">
                <span class="name">Acesso à Informação</span>
                <span class="arrow"><i class="fas fa-chevron-right"></i></span>
              </button>
              <ul>
                <li class="item"><a href="">Institucional</a></li>
                <li class="item"><a href="">Ações e Programas</a></li>
                <li class="item"><a href="">Dados abertos</a></li>
                <li class="item"><a href="">Auditorias</a></li>
                <li class="item"><a href="">Convênios</a></li>
                <li class="item"><a href="">Despesas</a></li>
                <li class="item"><a href="">Licitações e contratos</a></li>
                <li class="item"><a href="">Servidores</a></li>
                <li class="item"><a href="">Informações Classificadas</a></li>
                <li class="item"><a href="">Serviço de Informação ao Cidadão</a></li>
              </ul>
            </li>
            <li class="item has-children">
              <button type="button">
                <span class="name">Centrais de Conteúdo</span>
                <span class="arrow"><i class="fas fa-chevron-right"></i></span>
              </button>
              <ul>
                <li class="item"><a href="">Imagens</a></li>
                <li class="item"><a href="">Vídeos</a></li>
                <li class="item"><a href="">Áudios</a></li>
              </ul>
            </li>
            <li class="item has-children">
              <button class="trigger" type="button">
                <span class="name">Fale Conosco</span>
                <span class="arrow"><i class="fas fa-chevron-right"></i></span>
              </button>
              <ul>
                <li class="item"><a href="">Fale com o Presidente</a></li>
                <li class="item"><a href="">Ouvidoria</a></li>
              </ul>
            </li>
            <li class="item">
              <a href="">Mensagem do Presidente</a>
            </li>
          </ul>
        </div>
        <div class="tree is-hidden">
          <ul class="level-0">
            <li class="item has-children">
              <button class="govbr" type="button">
                <span class="name">gov.br</span>
                <span class="arrow"><i class="fas fa-chevron-right"></i></span>
              </button>
              <ul class="level-1">
                <li class="item"><a href="">Notícias</a></li>
                <li class="item"><a href="">Agenda do Presidente</a></li>
                <li class="item"><a href="">Agenda do Presidente em exercício</a></li>
                <li class="item"><a href="">Discursos</a></li>
                <li class="item"><a href="">Pronunciamentos</a></li>
                <li class="item"><a href="">Notas Oficiais</a></li>
                <li class="item"><a href="">Notas</a></li>
                <li class="item"><a href="">Entrevistas</a></li>
                <li class="item"><a href="">Foto Oficial</a></li>
                <li class="item"><a href="">Área de Imprensa</a></li>
                <li class="item"><a href="">Porta-voz</a></li>
                <li class="item"><a href="">WhatsApp</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="container">
        <!-- Idioma -->
        <div class="language menu">
          <button class="trigger" type="button">
            <span class="name">Português</span>
            <span class="arrow"><i class="fas fa-chevron-down"></i></span>
          </button>
          <div class="items">
            <div class="title">Idioma/Language</div>
            <button class="item" type="button">
              <span class="name">Português</span>
            </button>
            <button class="item" type="button">
              <span class="name">English</span>
            </button>
            <button class="item" type="button">
              <span class="name">Español</span>
            </button>
          </div>
        </div>
        <!-- Altocontraste -->
        <button type="button" class="contrast" accesskey="6">
          <span class="icon"><i class="fas fa-adjust fa-lg"></i></span>
          <span class="sr-only">Alto contraste</span>
        </button>
        <!-- Links úteis -->
        <div class="links">
          <span>Links úteis</span>
          <a href="">Acesso à Informação <i class="fas fa-external-link-alt"></i></a>
          <a href="">Participe <i class="fas fa-external-link-alt"></i></a>
          <a href="">Órgãos do Governo <i class="fas fa-external-link-alt"></i></a>
          <a href="">Acessibilidade <i class="fas fa-external-link-alt"></i></a>
        </div>
        <!-- Redes sociais -->
        <div class="social-network">
          <span>Redes sociais</span>
          <ul>
            <li class="item">
              <a href="https://www.twitter.com/twitter.com/govbr">
                <i class="fab fa-twitter fa-lg"></i>
                <span class="sr-only">Twitter</span>
              </a>
            </li>
            <li class="item">
              <a href="https://www.youtube.com/youtube.com/govbr">
                <i class="fab fa-youtube fa-lg"></i>
                <span class="sr-only">YouTube</span>
              </a>
            </li>
            <li class="item">
              <a href="https://www.facebook.com/facebook.com/govbr">
                <i class="fab fa-facebook-f fa-lg"></i>
                <span class="sr-only">Facebook</span>
              </a>
            </li>
            <li class="item">
              <a href="https://www.flickr.com/flickr/govbr">
                <i class="fab fa-flickr fa-lg"></i>
                <span class="sr-only">Flickr</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <hr>

  <!-- Navegação de sistema -->
  <nav class="br-navigation is-system">
    <div class="wrapper">
      <div class="overflow-auto">
        <div class="container">
          <!-- Logo e avatar -->
          <div class="header-bar">
            <!-- Configurações do usuário -->
            <div class="configs menu">
              <button class="trigger" type="button">
                <!-- Avatar do usuário -->
                <span class="avatar">
                  <img src="../../assets/images/avatar.png" alt="Avatar">
                  <!-- <i class="fas fa-user-circle"></i> -->
                </span>
                <!-- Notificações -->
                <span class="badge">5</span>
                <!-- Seta para abrir menu -->
                <span class="arrow">
                  <i class="fas fa-chevron-down"></i>
                </span>
              </button>
              <div class="items">
                <!-- Informações do usuário -->
                <div class="title user">
                  <div class="name">Márcia Vinícius Tavares de Almeida</div>
                  <div class="email">marcia-vinicius.almeida@serpro.gov.br</div>
                </div>
                <!-- Lista de configurações -->
                <span class="title">
                  <i class="fas fa-cog"></i>
                  Configuração/Perfil
                </span>
                <a href="" class="item">Configuração 01</a>
                <a href="" class="item">Configuração 02</a>
                <a href="" class="item">Configuração 03</a>
              </div>
            </div>
            <!-- Altocontraste -->
            <button type="button" class="contrast" accesskey="6">
              <span class="icon"><i class="fas fa-adjust fa-lg"></i></span>
              <span class="sr-only">Alto contraste</span>
            </button>
            <!-- Sistemas favoritos do usuário -->
            <div class="bookmarks menu">
              <button class="trigger" type="button">
                <i class="fas fa-th-large"></i>
              </button>
              <div class="tree">
                <div class="title">Sistemas</div>
                <div>
                  <a href="" class="bookmark">
                    <div class="brand"></div>
                    <div class="name">Sistema 01</div>
                  </a>
                  <a href="" class="bookmark">
                    <div class="brand"></div>
                    <div class="name">Sistema 02</div>
                  </a>
                  <a href="" class="bookmark">
                    <div class="brand"></div>
                    <div class="name">Sistema 03</div>
                  </a>
                  <a href="" class="bookmark">
                    <div class="brand"></div>
                    <div class="name">Sistema 04</div>
                  </a>
                  <a href="" class="bookmark">
                    <div class="brand"></div>
                    <div class="name">Sistema 05</div>
                  </a>
                  <a href="" class="bookmark">
                    <div class="brand"></div>
                    <div class="name">Sistema 06</div>
                  </a>
                  <a href="" class="bookmark">
                    <div class="brand"></div>
                    <div class="name">Sistema 07</div>
                  </a>
                  <a href="" class="bookmark">
                    <div class="brand"></div>
                    <div class="name">Sistema 08</div>
                  </a>
                  <a href="" class="bookmark">
                    <div class="brand"></div>
                    <div class="name">Sistema 09</div>
                  </a>
                  <a href="" class="bookmark">
                    <div class="brand"></div>
                    <div class="name">Sistema 10</div>
                  </a>
                </div>
                <div class="more">
                  <a href="">Mais</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Menu de navegação -->
          <div class="tree">
            <span class="label">Início</span>
            <ul class="level-0">
              <li class="item"><a href="">Alterar Dados Cadastrais</a></li>
              <li class="item has-children">
                <button type="button">
                  <span class="name">Alteração de Senha</span>
                  <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                </button>
                <ul class="level-1">
                  <li class="item"><a href="">Terceiro nível</a></li>
                  <li class="item"><a href="">Terceiro nível</a></li>
                  <li class="item"><a href="">Terceiro nível</a></li>
                </ul>
              </li>
              <li class="item"><a href="">Confiabilidade Cadastral</a></li>
              <li class="item"><a href="">Autorizar Uso de Dados Pessoais</a></li>
              <li class="item has-children is-active">
                <button type="button">
                  <span class="name">Recuperar DNI</span>
                  <span class="arrow"><i class="fas fa-chevron-right"></i></span>
                </button>
                <ul class="level-1">
                  <li class="item"><a href="">Terceiro nível</a></li>
                  <li class="item"><a href="">Terceiro nível</a></li>
                  <li class="item"><a href="">Terceiro nível</a></li>
                </ul>
              </li>
              <li class="item"><a href="">CNPJ</a></li>
            </ul>
            <span class="label">Serviços do Governo</span>
            <ul class="level-0">
              <li class="item"><a href="">Portal de Serviços</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <!-- Timeout -->
        <div class="timeout">
          <i class="fas fa-clock"></i>
          <span class="session">Sessão:</span>
          <span class="timer">00 min. e 00 seg</span>
        </div>
        <!-- Logout -->
        <button class="logout" type="button">Sair</button>
      </div>
    </div>
  </nav>
</body>

</html>
