/*!
 * navigation - 0.1.0 */
.br-navigation {
  display: none;
}

.br-navigation.is-active {
  display: block;
}

.br-navigation .header {
  padding: 8px 0;
}

.br-navigation.is-site .header {
  background: #f8f8f8;
}

@media (min-width: 998px) {
  .br-navigation.is-site .header {
    display: none;
  }
}

.br-navigation.is-system .header {
  background: #ededed;
}

@media (min-width: 998px) {
  .br-navigation.is-system .header {
    display: none;
  }
}

.br-navigation .navigation {
  background: #ededed;
}

.br-navigation .navigation .container {
  position: relative;
}

@media (min-width: 998px) {
  .br-navigation.is-site .navigation .container {
    display: flex;
    flex-flow: column;
    min-height: 60vh;
    overflow: auto;
  }
}

@media (min-width: 998px) {
  .br-navigation.is-system .navigation .container {
    padding: 0;
  }
}

.br-navigation .footer {
  padding: 8px 0;
}

@media (min-width: 998px) {
  .br-navigation .footer {
    background: #f8f8f8;
    padding: 0;
  }
}

.br-navigation.is-system .footer {
  background: #ededed;
}

@media (min-width: 998px) {
  .br-navigation.is-system .footer {
    display: none;
  }
}

.br-navigation .menu {
  position: relative;
  z-index: 1;
}

.br-navigation .menu .trigger {
  align-items: baseline;
  display: inline-flex;
  padding: 0;
}

.br-navigation .menu .trigger:hover .arrow::after {
  background: #dbe8fb;
}

.br-navigation .menu .arrow {
  align-items: center;
  display: inline-flex;
  font-size: 10px;
  justify-content: center;
  margin-left: 8px;
}

.br-navigation .menu .arrow::after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 16px;
  position: absolute;
  width: 16px;
  z-index: -1;
}

.br-navigation .menu .items {
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
  display: none;
  position: absolute;
}

.br-navigation .menu .title {
  border-bottom: 1px solid #cccccc;
  display: block;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  padding: 8px 16px;
}

.br-navigation .menu .item {
  background: #ffffff;
  border: 0;
  color: #555555;
  display: block;
  padding: 8px 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  width: 100%;
}

.br-navigation .menu .item:hover {
  background: #dbe8fb;
}

.br-navigation .menu .item.is-active {
  color: #1351b4;
  font-weight: 500;
}

.br-navigation .menu.is-active .items {
  display: block;
}

.br-navigation .avatar {
  display: inline-flex;
  font-size: 40px;
  position: relative;
}

.br-navigation .avatar img {
  max-width: 40px;
}

.br-navigation .avatar + .badge {
  background: #e60000;
  border-radius: 50%;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  height: 18px;
  left: -8px;
  margin-right: -8px;
  position: relative;
  top: -12px;
  width: 18px;
}

.br-navigation .configs .trigger {
  align-items: center;
  background: transparent;
  border: 0;
}

.br-navigation .configs .items {
  right: 0;
}

.br-navigation .configs .items .name {
  font-weight: 600;
  white-space: nowrap;
}

.br-navigation .configs .items .email {
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
}

.br-navigation .configs .items.is-active::after {
  border: solid transparent;
  border-bottom-color: #333333;
  border-width: 12px;
  bottom: 100%;
  content: "";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 16px;
  width: 0;
}

.br-navigation .bookmarks .trigger {
  align-items: center;
  color: #1351b4;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  width: 36px;
  background: transparent;
  border: 0;
  position: relative;
}

.br-navigation .bookmarks .trigger:hover {
  color: #2670e8;
  z-index: 1;
}

.br-navigation .bookmarks .trigger:hover::after {
  background: #dbe8fb;
  border-radius: 50%;
  content: "";
  display: block;
  height: 32px;
  position: absolute;
  width: 32px;
  z-index: -1;
}

.br-navigation .bookmarks .items {
  margin: 15px -12px 0 0;
  right: 0;
}

.br-navigation .bookmarks .items.is-active::after {
  border: solid transparent;
  border-bottom-color: #333333;
  border-width: 12px;
  bottom: 100%;
  content: "";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 16px;
  width: 0;
}

.br-navigation .bookmarks .list {
  columns: 5;
  padding: 0 16px;
}

.br-navigation .bookmarks .list .item {
  padding: 0;
}

.br-navigation .bookmarks .bookmark {
  display: inline-block;
  margin: 16px 0 0;
}

.br-navigation .bookmarks .bookmark:hover {
  text-decoration: none;
}

.br-navigation .bookmarks .bookmark:hover .brand {
  border-color: #2670e8;
}

.br-navigation .bookmarks .bookmark:hover .name {
  color: #2670e8;
}

.br-navigation .bookmarks .bookmark .brand {
  background: #f8f8f8;
  border: 1px solid #cccccc;
  height: 42px;
  width: 58px;
}

.br-navigation .bookmarks .bookmark .name {
  color: #555555;
  display: block;
  font-size: 9px;
  font-weight: 500;
  margin-top: 4px;
  text-align: center;
}

.br-navigation .bookmarks .more {
  font-size: 10px;
  font-weight: 600;
  margin: 16px 0;
  text-align: center;
  text-decoration: underline;
}

.br-navigation .logo {
  background: #f8f8f8;
  display: none;
  flex-flow: column-reverse;
  font-weight: 600;
}

.br-navigation .logo .name {
  color: #071d41;
  font-size: 16px;
}

.br-navigation .logo .description {
  color: #333333;
  font-size: 12px;
}

.br-navigation .logo.is-active {
  display: flex;
}

@media (min-width: 576px) {
  .br-navigation .logo.is-active {
    display: none;
  }
}

.br-navigation .go-back {
  background: transparent;
  border: 0;
  display: none;
  font-size: 26px;
  margin: 0;
  padding: 0;
}

.br-navigation .go-back .arrow {
  color: #1351b4;
  margin-right: 16px;
}

.br-navigation .go-back.is-active {
  display: block;
}

.br-navigation.is-system .go-back {
  margin-top: 8px;
}

.br-navigation .tree {
  background: #ededed;
  display: none;
  list-style: none;
  margin: 0 -8px;
  padding: 8px 0;
}

.br-navigation .tree .title {
  display: flex;
  flex-flow: column;
  padding: 8px 16px;
}

.br-navigation .tree .trigger {
  align-items: center;
  background: transparent;
  border: 0;
  color: #555555;
  display: inline-flex;
  flex: 1;
  justify-content: space-between;
  padding: 8px 16px;
}

.br-navigation .tree .trigger:hover {
  background: #0c326f;
  color: #ffffff;
}

.br-navigation .tree .item {
  display: none;
  flex-flow: column;
}

.br-navigation .tree .label {
  box-shadow: inset 0 1px 0 #c5d4eb, inset 0 -1px 0 #c5d4eb;
  color: #1351b4;
  display: flex;
  font-weight: 600;
  margin: 0;
  padding: 8px 16px;
  text-transform: uppercase;
}

.br-navigation .tree .label .arrow {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  height: 24px;
  justify-content: center;
  margin-right: -8px;
  transform: rotate(-90deg);
  width: 24px;
}

.br-navigation .tree .label:hover {
  background: transparent;
  color: #1351b4;
}

.br-navigation .tree .label:hover .arrow {
  background: #dbe8fb;
}

.br-navigation .tree .govbr {
  font-weight: 900;
  letter-spacing: -1px;
}

.br-navigation .tree .arrow {
  font-size: 12px;
}

.br-navigation .tree a {
  color: #555555;
  padding: 8px 16px;
}

.br-navigation .tree a:hover {
  background: #0c326f;
  color: #ffffff;
  text-decoration: none;
}

.br-navigation .tree .tree {
  margin: 0;
  padding: 0;
}

.br-navigation .tree.is-active {
  box-shadow: none;
  display: block;
}

.br-navigation .tree.is-active .item.is-active {
  display: flex;
}

.br-navigation .tree.is-active .is-hidden {
  display: none;
}

.br-navigation.is-site .tree + .tree {
  box-shadow: inset 0 1px 0 #cccccc;
}

@media (min-width: 998px) {
  .br-navigation.is-site .tree {
    box-shadow: inset -1px 0 0 #cccccc;
    flex: 1;
    width: 25%;
  }
  .br-navigation.is-site .tree .item:hover > .trigger,
  .br-navigation.is-site .tree .item:hover > a {
    background: #0c326f;
    color: #ffffff;
  }
  .br-navigation.is-site .tree .item:hover > .tree {
    display: block;
  }
  .br-navigation.is-site .tree .item:hover > .tree > .item {
    display: flex;
  }
  .br-navigation.is-site .tree .item .item:hover > .trigger,
  .br-navigation.is-site .tree .item .item:hover > a {
    background: #1351b4;
  }
  .br-navigation.is-site .tree .tree {
    bottom: 0;
    left: 25%;
    padding: 8px 0;
    position: absolute;
    top: 0;
    width: 25%;
  }
  .br-navigation.is-site .tree .tree .tree {
    left: 100%;
    width: 100%;
  }
  .br-navigation.is-site .tree + .tree {
    box-shadow: inset -1px 0 0 #cccccc, inset 0 1px 0 #cccccc;
  }
}

.br-navigation.is-system .tree {
  padding: 0 0 16px;
}

@media (min-width: 998px) {
  .br-navigation.is-system .tree {
    padding: 16px 0;
  }
  .br-navigation.is-system .tree .tree {
    padding: 0;
  }
  .br-navigation.is-system .tree .tree .item {
    position: relative;
  }
  .br-navigation.is-system .tree .tree .item:hover > .trigger,
  .br-navigation.is-system .tree .tree .item:hover > a {
    background: #0c326f;
    color: #ffffff;
  }
  .br-navigation.is-system .tree .tree .item:hover > .tree {
    display: block;
    left: 100%;
    position: absolute;
  }
  .br-navigation.is-system .tree .tree .item:hover > .tree > .item {
    display: flex;
  }
  .br-navigation.is-system .tree .tree .item .item {
    background: #f8f8f8;
  }
  .br-navigation.is-system .tree .tree .item .item:hover > .trigger,
  .br-navigation.is-system .tree .tree .item .item:hover > a {
    background: #1351b4;
  }
  .br-navigation.is-system .tree .tree .tree .item {
    white-space: nowrap;
  }
}

.br-navigation .language {
  z-index: 4;
}

.br-navigation .language .trigger {
  align-items: baseline;
  background: transparent;
  border: 0;
  display: flex;
  font-weight: 600;
}

.br-navigation .language .trigger .arrow {
  font-size: 10px;
  margin-left: 8px;
}

.br-navigation .language .menu {
  border-top: 1px solid #ffcd07;
  margin: 8px 0 0;
  right: 0;
}

.br-navigation .language .menu .title {
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
  margin: 16px 16px 8px;
  padding: 0;
}

.br-navigation .language .menu .item {
  white-space: nowrap;
}

.br-navigation .language .menu .item.is-active {
  color: #1351b4;
  font-weight: 600;
}

@media (min-width: 998px) {
  .br-navigation .language {
    display: none;
  }
}

.br-navigation .contrast {
  align-items: center;
  color: #1351b4;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  width: 36px;
  background: transparent;
  border: 0;
  display: inline-flex;
  position: relative;
}

.br-navigation .contrast:hover {
  color: #2670e8;
  z-index: 1;
}

.br-navigation .contrast:hover::after {
  background: #dbe8fb;
  border-radius: 50%;
  content: "";
  display: block;
  height: 32px;
  position: absolute;
  width: 32px;
  z-index: -1;
}

@media (min-width: 998px) {
  .br-navigation .contrast {
    display: none;
  }
}

.br-navigation .links {
  border-top: 1px solid #ededed;
  display: flex;
  flex-flow: column;
  font-size: 14px;
  margin: 12px 0 0;
  padding: 16px 0;
  position: relative;
}

.br-navigation .links span {
  display: block;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
}

.br-navigation .links a {
  align-items: center;
  display: inline-flex;
  padding: 4px 0;
}

.br-navigation .links a [class*="fa-"] {
  margin-left: 8px;
}

@media (min-width: 576px) {
  .br-navigation .links {
    display: block;
  }
  .br-navigation .links span {
    width: 100%;
  }
  .br-navigation .links a {
    margin-right: 32px;
  }
}

@media (min-width: 998px) {
  .br-navigation .links {
    border-top: 0;
    margin-top: 0;
  }
}

.br-navigation .social-network {
  border-top: 1px solid #ededed;
  margin: 0;
  padding: 16px 0;
  text-transform: uppercase;
}

.br-navigation .social-network span {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-right: 20px;
}

.br-navigation .social-network a {
  align-items: center;
  color: #1351b4;
  display: inline-flex;
  height: 36px;
  justify-content: center;
  width: 36px;
}

.br-navigation .social-network a:hover {
  color: #2670e8;
  z-index: 1;
}

.br-navigation .social-network a:hover::after {
  background: #dbe8fb;
  border-radius: 50%;
  content: "";
  display: block;
  height: 32px;
  position: absolute;
  width: 32px;
  z-index: -1;
}

@media (min-width: 998px) {
  .br-navigation .social-network {
    border-top: 0;
    display: flex;
    flex-flow: row wrap;
    margin-top: 0;
  }
  .br-navigation .social-network span {
    display: block;
    width: 100%;
  }
  .br-navigation .social-network a {
    margin-right: 16px;
  }
}

.br-navigation .logout {
  align-items: center;
  background: #1351b4;
  border: 1px solid #1351b4;
  border-radius: 100px;
  color: #ffffff;
  display: inline-flex;
  font-size: 12px;
  font-weight: 600;
  height: 32px;
  margin-left: 16px;
  padding: 0 24px;
  text-align: center;
}

.br-navigation .logout:hover {
  background: #2670e8;
  border-color: #2670e8;
}

.br-navigation .timeout .session {
  font-size: 14px;
  font-weight: 600;
}

.br-navigation .timeout .timer {
  font-size: 14px;
  font-weight: 500;
}

/*# sourceMappingURL=navigation.css.map */