extends ../../../partial/pug/isolate

block dependencies
  include ../tag

block content
  .row
    .col-md
      p.h4 Seleção múltipla
      +tag-interaction-select
        input(id="tag01" type="checkbox")
        label(for="tag01")
          +icon.fa-car
          span Label
      +tag-interaction-select.selected
        input(id="tag02" type="checkbox" checked)
        label(for="tag02")
          +icon.fa-ship
          span Label
    .col-md
      p.h4 Seleção única
      +tag-interaction-select
        input(id="tag03" type="radio" name="vehicle")
        label(for="tag03")
          +icon.fa-car
          span Label
      +tag-interaction-select.selected
        input(id="tag04" type="radio" checked name="vehicle")
        label(for="tag04")
          +icon.fa-ship
          span Label
