extends ../../../partial/pug/isolate

block dependencies
  include ../tag

block content
  +tag-icon.bg-magenta-vivid-50
    +icon.fa-car
  +tag-icon.bg-orange-50
    +icon.fa-search
  +tag-icon.bg-violet-warm-vivid-70
    +icon.fa-user
