extends ../../../partial/pug/isolate

block dependencies
  include ../tag
  include ../../../partial/pug/utilities/icon.pug

block content
  +tag-interaction-select
    input(id="tag" type="checkbox" aria-label="selecionar tag" tabindex="0")
    label(for="tag")
      +icon.fa-car
      span Label
  +tag-interaction-select.selected
    input(id="tag01" type="checkbox" aria-label="selecionar tag" checked tabindex="0")
    label(for="tag01")
      +icon.fa-car
      span Label
