extends ../../../partial/pug/isolate

block dependencies
  include ../tag
  include ../../tooltip/tooltip

block content
  +tag-icon.support-03
    +icon.fa-car
  +tag-icon.support-04
    +icon.fa-search
  +tag-icon.support-08
    +icon.fa-user
