+footer#footer.bg-contrast-base
  div(class=containerType)
    +footer-copyright
      .py-4.text-center Todo o conteúdo deste site está publicado sob a licença Creative Commons Atribuição-SemDerivações 3.0 Não Adaptada
