+skiplink
  +item(href="#main-content" accesskey="1")
    | Ir para o conteúdo
  +item(href="#header-navigation" accesskey="2")
    | Ir para o menu
  +item(href="#main-searchbox" accesskey="3")
    | Ir para a busca
  +item(href="#footer" accesskey="4")
    | Ir para o rodapé
