@mixin divider-configs {
  @include divider-default;

  // Versão alternativa
  &-alternative {
    --border: var(--theme-border-main-alternative);
  }

  // Versão contraste
  &-contrast {
    --border: var(--theme-border-contrast-base);
  }

  // Versão contraste alternativo
  &-contrast-alternative {
    --border: var(--theme-border-contrast-alternative);
  }

  // Tipo vertical
  &.vertical {
    align-self: stretch;
    border-right-width: 1px;
    border-top-width: 0;

    &.content {
      flex-direction: column;

      &::after,
      &::before {
        border-right-width: 1px;
        border-top-width: 0;
        margin: 0;
      }
    }
  }
}

@mixin divider-default {
  border-color: var(--border);
  border-style: solid;
  border-width: 0;
  border-top-width: 1px;
  display: block;
}
