//- Reset CSS
link(rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css")

//- Fonte Rawline
link(rel="stylesheet" href="https://cdngovbr-ds.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css")

//- Font Awesome
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")

//- Core
//- link(rel="stylesheet", href=`${baseUrl}/css/core-v3.css`)
link(rel="stylesheet", href=`${baseUrl}/css/core.css`)

//- Tokens
link(rel="stylesheet" href=`${baseUrl}/tokens/tokens.css`)

//- Tema
link(rel="stylesheet" href=`${baseUrl}/tokens/themes/light.css`)

//- Estilos customizados
block styles
