extends ../../../partial/pug/isolate

block dependencies
  include ../switch

block content
  .row
    .col-md
      +switch-small
    .col-md.mt-3.mt-md-0
      +switch-medium
    .col-md.mt-3.mt-md-0
      +switch-large
