include ../switch

.row
  .col-md
    p
      label Densidade Alta
    +switch-small

  .col-md
    p 
      label Densidade Média (Padrão)
    +switch-medium

  .col-md
    p 
      label Densidade Baixa
    +switch-large