include ../switch

.row
  .col-md
    p
      label Alinhamento do Label à Esquerda
    +switch-left

  .col-md
    p 
      label Alinhamento do Label à Direita
    +switch-right

  .col-md
    p 
      label Alinhamento do Label ao Topo
    +switch-top