// Carregar variáveis do DS-Gov
@import "../../base/dsgov-base";

// Listagem de resultados
.result {
  &-list {
    padding: $spacing-5;
  }
  &-item {
    & + .result-item {
      border-top: 1px solid $color-gray-4;
      margin-top: $spacing-5;
      padding-top: $spacing-5;
    }
    > *:last-child { // sass-lint:disable-line no-universal-selectors
      margin-bottom: 0;
    }
  }
}
