<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Busca</title>
  <link rel="stylesheet" href="../../estilos/dist/css/dsgov.min.css">
  <link rel="stylesheet" href="../../assets/estilos/dsgov-components.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
  integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../starter/starter.css">
  <link rel="stylesheet" href="search.css">
</head>
<body>
  <!-- Atalhos para conteúdo -->
  <ul id="skip-menu" class="skip-menu">
    <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
    <li><a accesskey="2" href="#navigation">Ir para o menu</a></li>
    <li><a accesskey="3" href="#footer-brasil">Ir para o rodapé</a></li>
  </ul>
  <!-- Barra de governo -->
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
        <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do
          Governo Brasileiro</a>
      </li>
    </ul>
  </div>
  <header id="header" class="page-header bg-white">
    <div class="container">
      <!-- Acessibilidade -->
      <div class="accessibility">
        <a id="contrast" href="#" accesskey="6">
          <span class="accessibility-icon">
            <img src="../../assets/images/alto-contraste.png" alt="Alto contraste">
          </span>
          <span class="accessibility-text d-none">
            <span class="">Alto Contraste</span>
          </span>
        </a>
        <a id="vlibras" href="http://www.vlibras.gov.br/">
          <span class="accessibility-icon">
            <img src="../../assets/images/vlibras.png" alt="VLibras">
          </span>
          <span class="accessibility-text d-none">
            <span class="">VLibras</span>
          </span>
        </a>
      </div>
      <!-- Logo -->
      <a id="logo" class="logo" href="#">
        <img src="../../assets/images/logo-color.png" alt="Governo do Brasil" class="logo-image">
      </a>
    </div>
  </header>
  <!-- Conteúdo principal -->
  <main id="content" class="page-content bg-gray-1">
    <div class="container">
      <!-- Cabeçalho do conteúdo principal -->
      <header class="content-header pb-5 pb-sm-8 pt-3">
        <div autocomplete="off" id="search-container" class="br-search px-4">
          <div class="search-container">
            <input id="search-autocomplete" type="text" name="myCountry" placeholder="Country">
            <span class="action">
              <span class="sr-only">Buscar</span>
              <i class="fas fa-search"></i>
            </span>
          </div>
          <button class="br-btn is-primary ml-3" type="button">Buscar</button>
        </div>
        <hr>
        <p>Breadcrumbs</p>
      </header>
      <section>
        Conteúdo principal
      </section>
      <!-- Navegação adicional para celular -->
      <nav class="content-navigation"></nav>
      <!-- Conteúdo acessório -->
      <aside class="content-aside"></aside>
    </div>
  </main>
  <!-- Rodapé de governo -->
  <div id="footer-brasil" class="page-footer mt-5 mt-sm-0"></div>
  <!-- Script da barra de governo -->
  <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js" type="text/javascript"></script>
  <script src="search.js"></script>
  <script>
    autocomplete(document.getElementById("myInput"), countries);
  </script> 
</body>
</html>
