extends ../../partial/pug/component


append vars
  - var title = "Upload";

append content
  p.h4.mt-5 Envio de 1 arquivo
  .row
    .col-md-6
      +upload-single

  p.h4.mt-5.d-block Envio de vários arquivos
  .row
    .col-md-6
      +upload-multiple

  p.h4.mt-5.d-block Upload com mensagem de feedback
  .row
    .col-md-6
      +upload-feedback

  p.h4.mt-5.d-block Upload desabilitado
  .row
    .col-md-6
      +upload-disabled
