extends ../../partial/pug/component

append vars
  - var title = "Utilitário de Arredondamento";

append content
  p.h4.mt-5=title

  .bg-support-02.d-inline-block.m-1.text-weight-bold.p-3.rounder-none rounder-none
  .bg-support-02.d-inline-block.m-1.text-weight-bold.p-3.rounder-sm rounder-sm
  .bg-support-02.d-inline-block.m-1.text-weight-bold.p-3.rounder-md rounder-md
  .bg-support-02.d-inline-block.m-1.text-weight-bold.p-3.rounder-lg rounder-lg
  .bg-support-02.d-inline-block.m-1.text-weight-bold.p-3.rounder-pill rounder-pill
