// Carregar variáveis do DS-Gov
@import "../../base/dsgov-base";

// Fieldset - pode ser aplicado usando tab ou classe
%fieldset {
  color: $color-primary;
  font-size: 22px;
  font-weight: 400;
  margin: $spacing-5 0;
}
fieldset legend, // sass-lint:disable-line force-element-nesting
.fieldset {
  @extend %fieldset;
}

// Label
.label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}
