// Definições

$table-width: 100%;
$table-responsive-width: 100%;
$table-responsive-first-col: 150px;

$table-border-thead-size: 1px;
$table-border-thead-color: #C5D4EB;

$table-border-tbody-size: 1px;
$table-border-tbody-color: #C5D4EB;

$table-pading-thead-cell: 30px 25px;
$table-pading-tbody-cell: 20px 25px;

$table-margin-icons: 0 8px;

$table-title-margin-bottom: 40px;
$table-title-padding-bottom: 10px;
$table-title-border-size: 2px;

