<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>textarea</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="textarea.css">
</head>

<body onload="updateSize();">
  <div class="container-fluid">
    <div class="br-textarea">
      <textarea placeholder="Exemplo de TextArea"></textarea>
    </div>
    <br>
    <div class="br-textarea is-focus">
      <textarea placeholder="Exemplo de TextArea - Hover"></textarea>
    </div>
    <br>
    <div class="br-textarea is-disabled">
      <textarea placeholder="Exemplo de TextArea - Disabled"></textarea>
    </div>
    <br>
    <div class="br-textarea is-valid">
      <textarea placeholder="Exemplo de TextArea - Valid"></textarea>
    </div>
    <br>
    <div class="br-textarea is-invalid">
      <textarea placeholder="Exemplo de TextArea - Invalid"></textarea>
    </div>
    <br>
    <div class="br-textarea is-medium">
      <textarea placeholder="Exemplo de TextArea Médio"></textarea>
    </div>
    <br>
    <div class="br-textarea is-large">
      <textarea placeholder="Exemplo de TextArea Grande"></textarea>
    </div>
    <br>
  </div>
</body>

</html>
