<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>textarea</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="textarea.css">
</head>

<body onload="updateSize();">
  <div class="container-fluid">
    <div class="br-textarea">
      <label for="ex1">Exemplo de TextArea</label>
      <textarea id="ex1" placeholder="Exemplo de TextArea"></textarea>
    </div>
    <br>
    <div class="br-textarea is-focus">
        <label for="ex2">Exemplo de TextArea - Hover</label>
      <textarea id="ex2" placeholder="Exemplo de TextArea - Hover"></textarea>
    </div>
    <br>
    <div class="br-textarea is-disabled">
        <label for="ex3">Exemplo de TextArea - Disabled</label>
      <textarea id="ex3" placeholder="Exemplo de TextArea - Disabled"></textarea>
    </div>
    <br>
    <div class="br-textarea is-valid">
        <label for="ex4">Exemplo de TextArea - Valid</label>
      <textarea id="ex4" placeholder="Exemplo de TextArea - Valid"></textarea>
    </div>
    <br>
    <div class="br-textarea is-invalid">
        <label for="ex5">Exemplo de TextArea - Invalid</label>
      <textarea id="ex5" placeholder="Exemplo de TextArea - Invalid"></textarea>
    </div>
    <br>
    <div class="br-textarea is-medium">
        <label for="ex6">Exemplo de TextArea Médio</label>
      <textarea id="ex6" placeholder="Exemplo de TextArea Médio"></textarea>
    </div>
    <br>
    <div class="br-textarea is-large">
        <label for="ex7">Exemplo de TextArea Grande</label>
      <textarea id="ex7" placeholder="Exemplo de TextArea Grande"></textarea>
    </div>
    <br>
  </div>
</body>

</html>
