// Definições
$input-font-family: $fonts;
$input-font-size: 16px;
$input-font-weight: 600;

$input-padding: ($spacer) ($spacer * 2);

$input-border-color: #888;
$input-border-width: 1px;
$input-border-style: solid;
$input-radius: 6px;

$input-bg: $white;
$input-bg-disabled: br-color(gray, 6);
$input-color: br-color(gray, 1);

$placeholder-font-size: 13px;
$placeholder-font-style: italic;

$feedback-padding: $spacer-half;
$feedback-font-size: 13px;
$feedback-font-style: italic;
$feedback-font-weight: 500;
