// Base
@mixin input {
  background: $input-bg;
  border: $input-border-width $input-border-style $input-border-color;
  border-radius: $input-radius;
  color: $input-color;
  display: block;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  padding: $input-padding;
  width: 100%;
}

@mixin input-focus($color) {
  border-color: $color;
  box-shadow: 0 0 0 1px $color;
  outline: none;
}

@mixin input-state($color) {
  border-color: $color;
  &:focus {
    @include input-focus($color);
  }
  & + .feedback {
    color: $color;
  }
}

@mixin input-states {
  &:focus {
    @include input-focus($color-primary-lighten-15);
  }
  &:invalid {
    @include input-state($color-danger);
  }
  &:disabled {
    background: $input-bg-disabled;
  }
}

// Feedback
@mixin feedback {
  & + .feedback {
    font-size: $feedback-font-size;
    font-style: $feedback-font-style;
    font-weight: $feedback-font-weight;
    padding: $feedback-padding;
    .is-valid & {
      color: $color-success;
    }
    .is-invalid & {
      color: $color-danger;
    }
  }
}

// Placeholder
@mixin placeholder {
  font-size: $placeholder-font-size;
  font-style: $placeholder-font-style;
}
