// Base
@mixin input {
  @include font-system-default-text;
  background: $input-bg;
  border: $input-border-width $input-border-style $input-border-color;
  border-radius: $input-radius;
  display: block;
  line-height: 1.5;
  padding: $input-padding;
  width: 100%;
}

@mixin input-focus($color) {
  border-color: $color;
  box-shadow: 0 0 0 1px $color;
  outline: none;
}

@mixin input-state($color) {
  input {
    border-color: $color;
    box-shadow: 0 0 0 1px $color;
    &:focus {
      @include input-focus($color);
    }
  }
}

@mixin input-states {
  &:focus {
    @include input-focus($color-primary-lighten-15);
  }
  &:invalid {
    border-color: $color-danger;
    box-shadow: 0 0 0 1px $color-danger;
    &:focus {
      @include input-focus($color-danger);
    }
  }
  &:disabled {
    background: $input-bg-disabled;
  }
}

// Versão com botão de ação
@mixin input-action {
  input {
    padding-right: $action-padding * 3;
  }
  // Botão de ação
  .action {
    background: transparent;
    border: 0;
    color: $color-primary;
    font-size: $input-font-size;
    margin: 0 $action-padding;
    min-width: 0;
    padding: 0;
    position: absolute;
    right: 0;
    transform: translate(0, -34px);
    width: auto;
    img {
      max-width: $input-icon-image;
      min-width: $input-icon-image;
      transform: translate(0, -4px);
    }
  }
}

// Autocomplete
@mixin search-itens {
  &-items {
    background: $color-white;
    box-shadow: 0 3px 6px rgba($color-black, 0.22);
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    div {
      padding: $spacing-1 $spacing-3;
      cursor: pointer;
      &:hover {
        background-color: $color-primary-pastel;
      }
    }
  }
}

@mixin search-active {
  &-active {
    background-color: $color-primary-pastel !important;
  }
}

// Feedback
@mixin feedback($color: $color-gray-6) {
  color: $color;
  font-size: $feedback-font-size;
  font-style: $feedback-font-style;
  font-weight: $feedback-font-weight;
  padding: $feedback-padding;
}

// Placeholder
@mixin placeholder {
  @include font-placeholder;
}
