extends ../../../partial/pug/isolate

block dependencies
  include ../../../components/button/button

  include ../scrim

block content
  +scrim-default
  .scrimutilexemplo
    +button.primary Testar Efeito
