<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Template para sistemas</title>
  <!-- Estilos ds-gov -->
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="../../assets/styles/dsgov-components.min.css">
  <link rel="stylesheet" href="../../assets/styles/dsgov-templates.min.css">
  <!-- Ícones fontawesome -->
  <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
</head>

<body class="template-system">
  <!-- Atalhos para conteúdo -->
  <ul id="skip-menu" class="skip-menu">
    <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
    <li><a accesskey="2" href="#navigation">Ir para o menu</a></li>
    <li><a accesskey="3" href="#footer">Ir para o rodapé</a></li>
  </ul>
  <!-- Cabeçalho da página -->
  <header id="header" class="page-header" data-type="system">
    <!-- Sombra do topo -->
    <div class="shadow-bottom">
      <div class="container-fluid">
        <!-- Barra principal -->
        <div class="header-bar">
          <!-- Logo -->
          <div class="logo">
            <span class="description">Assinatura do Órgão</span>
            <a href="" id="logo" class="name">Nome do Órgão</a>
          </div>
          <!-- Links rápidos -->
          <div class="quicklinks">
            <ul>
              <li><a href="">Acesso à informação</a></li>
              <li><a href="">Participe</a></li>
              <li><a href="">Acessibilidade</a></li>
            </ul>
            <!-- Altocontraste -->
            <a href="" id="contrast" class="contrast" accesskey="6">
              <i class="fas fa-adjust fa-lg"></i>
              <span class="d-none d-md-block">Alto contraste</span>
            </a>
          </div>
          <!-- Busca geral -->
          <div class="search">
            <div class="field">
              <label for="search" class="sr-only">Autocomplete</label>
              <input id="search" type="search" placeholder="O que você procura?">
              <button class="" type="button">
                <i class="fas fa-search fa-lg"></i>
                <span class="sr-only">buscar</span>
              </button>
            </div>
            <button class="close" type="button">
              <i class="fas fa-times fa-lg"></i>
              <span class="sr-only">fechar a busca</span>
            </button>
          </div>
          <!-- Barra do usuário -->
          <div class="user-bar">
            <!-- Configurações do usuário -->
            <div class="configs dropdown">
              <button class="trigger" type="button">
                <!-- Avatar do usuário -->
                <div class="avatar">
                  <img src="../../assets/images/avatar.png" alt="Avatar">
                  <!-- <i class="fas fa-user-circle"></i> -->
                </div>
                <!-- Notificações -->
                <span class="badge">5</span>
                <!-- Seta para abrir menu -->
                <div class="arrow">
                  <i class="fas fa-chevron-down"></i>
                </div>
              </button>
              <div class="menu">
                <!-- Informações do usuário -->
                <div class="title user">
                  <div class="name">Márcia Vinícius Tavares de Almeida</div>
                  <div class="email">marcia-vinicius.almeida@serpro.gov.br</div>
                </div>
                <!-- Lista de configurações -->
                <span class="title">
                  <i class="fas fa-cog"></i>
                  Configuração/Perfil
                </span>
                <a href="" class="item">Configuração 01</a>
                <a href="" class="item">Configuração 02</a>
                <a href="" class="item">Configuração 03</a>
              </div>
            </div>
            <!-- Sistemas favoritos do usuário -->
            <div class="bookmarks dropdown">
              <button class="trigger" type="button">
                <i class="fas fa-th-large"></i>
              </button>
              <div class="menu">
                <div class="title">Sistemas</div>
                <div class="list">
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 01</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 02</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 03</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 04</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 05</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 06</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 07</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 08</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 09</div>
                    </a>
                  </div>
                  <div class="item">
                    <a href="" class="bookmark">
                      <div class="brand"></div>
                      <div class="name">Sistema 10</div>
                    </a>
                  </div>
                </div>
                <div class="more">
                  <a href="">Mais</a>
                </div>
              </div>
            </div>
            <!-- Logout -->
            <button class="logout" type="button">Sair</button>
          </div>
          <!-- Menu sanduiche -->
          <button class="menu-hamburger" type="button">
            <i class="fa fa-bars"></i>
          </button>
        </div>
      </div>
    </div>
  </header>
  <!-- Wrapper principal -->
  <div class="page-wrapper">
    <!-- Menu de navegação -->
    <nav id="navigation" class="navigation" data-type="system" data-level="0">
      <div class="wrapper">
        <div class="overflow-auto">
          <div class="container">
            <!-- Logo e avatar -->
            <div class="header-bar">
              <!-- Avatar do usuário -->
              <div class="nav-avatar">
                <!-- Configurações do usuário -->
              </div>
              <!-- Altocontraste -->
              <div class="nav-contrast">
              </div>
              <!-- Sistemas favoritos do usuário -->
              <div class="nav-bookmarks">
              </div>
              <!-- Logo -->
              <div class="nav-logo"></div>
            </div>
            <!-- Menu de navegação -->
            <div class="items">
              <!-- Navegação local -->
              <ul class="local" data-level="0">
                <li class="item">
                  <button type="button">Item de nível 1</button>
                  <ul class="submenu level-1" data-level="1">
                    <li class="item">
                      <button type="button">Item de nível 2.1</button>
                      <ul class="submenu level-2" data-level="2">
                        <li class="item"><a href="">Item de nível 3.1</a></li>
                        <li class="item"><a href="">Item de nível 3.1</a></li>
                        <li class="item"><a href="">Item de nível 3.1</a></li>
                      </ul>
                    </li>
                    <li class="item">
                      <button type="button">Item de nível 2.2</button>
                      <ul class="submenu level-2" data-level="2">
                        <li class="item"><a href="">Item de nível 3.2</a></li>
                        <li class="item"><a href="">Item de nível 3.2</a></li>
                        <li class="item"><a href="">Item de nível 3.2</a></li>
                      </ul>
                    </li>
                    <li class="item">
                      <button type="button">Item de nível 2.3</button>
                      <ul class="submenu level-2" data-level="2">
                        <li class="item"><a href="">Item de nível 3.3</a></li>
                        <li class="item"><a href="">Item de nível 3.3</a></li>
                        <li class="item"><a href="">Item de nível 3.3</a></li>
                      </ul>
                    </li>
                    <li class="item">
                      <button type="button">Item de nível 2.4</button>
                      <ul class="submenu level-2" data-level="2">
                        <li class="item"><a href="">Item de nível 3.4</a></li>
                        <li class="item"><a href="">Item de nível 3.4</a></li>
                        <li class="item"><a href="">Item de nível 3.4</a></li>
                      </ul>
                    </li>
                    <li class="item">
                      <button type="button">Item de nível 2.5</button>
                      <ul class="submenu level-2" data-level="2">
                        <li class="item"><a href="">Item de nível 3.5</a></li>
                        <li class="item"><a href="">Item de nível 3.5</a></li>
                        <li class="item"><a href="">Item de nível 3.5</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="item">
                  <button type="button">Conheça a Presidência</button>
                  <ul class="submenu level-1" data-level="1">
                    <li class="item"><a href="">Biografia do Presidente</a></li>
                    <li class="item"><a href="">Ministros</a></li>
                    <li class="item"><a href="">Principais Tropas</a></li>
                    <li class="item"><a href="">Palácio e Residências</a></li>
                    <li class="item"><a href="">Acervo</a></li>
                    <li class="item"><a href="">Ritos e Solenidades</a></li>
                    <li class="item"><a href="">Presentes recebidos pelo Presidênte da República</a></li>
                  </ul>
                </li>
                <li class="item">
                  <button type="button">Vice-Presidência</button>
                  <ul class="submenu level-1" data-level="1">
                    <li class="item"><a href="">Agenda Vice-Presidente</a></li>
                    <li class="item"><a href="">Agendas do Gabinete Pessoal da Vice-Presidência</a></li>
                    <li class="item"><a href="">Biografia</a></li>
                    <li class="item"><a href="">Atribuições</a></li>
                    <li class="item"><a href="">Discursos e Pronunciamentos</a></li>
                  </ul>
                </li>
                <li class="item">
                  <button type="button">Acesso à Informação</button>
                  <ul class="submenu level-1" data-level="1">
                    <li class="item"><a href="">Institucional</a></li>
                    <li class="item"><a href="">Ações e Programas</a></li>
                    <li class="item"><a href="">Dados abertos</a></li>
                    <li class="item"><a href="">Auditorias</a></li>
                    <li class="item"><a href="">Convênios</a></li>
                    <li class="item"><a href="">Despesas</a></li>
                    <li class="item"><a href="">Licitações e contratos</a></li>
                    <li class="item"><a href="">Servidores</a></li>
                    <li class="item"><a href="">Informações Classificadas</a></li>
                    <li class="item"><a href="">Serviço de Informação ao Cidadão</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <!-- Links rápidos -->
          <div class="nav-quicklinks"></div>
          <!-- Logout -->
          <div class="nav-logout">
            <div class="nav-timeout">
            </div>
            <div class="nav-buttontimeout">
            </div>
          </div>
          <!-- Links úteis e redes sociais -->
          <div class="row">
            <!-- Links úteis -->
            <!-- Redes sociais -->
          </div>
        </div>
      </div>
    </nav>
    <div class="flex-fill">
      <!-- Sombra do topo -->
      <div class="">
        <div class="container-fluid">
          <!-- Barra de sistema -->
          <div class="row system-bar">
            <!-- Breadcrumbs -->
            <div class="col">
              <ul class="br-breadcrumb">
                <li class="home">
                  <a href="">
                    <span class="sr-only">Página inicial</span>
                    <i class="fas fa-home"></i>
                  </a>
                </li>
                <li><a href="">Tela anterior</a></li>
                <li class="is-active"><a href="">Tela atual</a></li>
              </ul>
            </div>
            <!-- Timeout -->
            <div class="col-auto">
              <div class="timeout">
                <i class="fas fa-clock"></i>
                <span class="session">Sessão:</span>
                <span class="timer">00 min. e 00 seg</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-0">
      <!-- Conteúdo principal -->
      <main id="content" class="page-content px-1 pl-sm-4 px-lg-5 py-4">
        <div class="not-found">
          <div class="row justify-content-center">
            <div class="col-sm mt-3">
              <img src="../../assets/images/unhappy-face.png" alt="Não encontrado...">
            </div>
            <div class="col-sm text-center text-sm-left">
              <div class="row justify-content-center">
                <div class="col-sm-12">
                  <p class="not-found-title">Desculpe!</p>
                  <p class="not-found-message mt-3">A página que você está procurando não existe.<br class="d-none">
                    Pesquise o que deseja ou acesse os links sugeridos.</p>
                </div>
                <div class="col-sm-12">
                  <div class="br-search">
                    <div class="br-input has-icon">
                      <label for="search-autocomplete" class="sr-only">Autocomplete</label>
                      <input id="search-autocomplete" type="text" placeholder="Digite um país">
                      <span class="icon">
                        <i class="fas fa-search"></i>
                      </span>
                    </div>
                    <div class="action">
                      <button class="br-button is-primary ml-3" type="button">Buscar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-10 hint justify-content-around">
            <div class="col-sm-auto">
              <div class="box">
                <div class="icon text-center">
                  <i class="fas fa-home fa-2x" aria-hidden="true"></i>
                </div>
                <div class="content">
                  <span class="title">Home</span>
                  <p class="message mb-0 mt-1">
                    <span class="d-sm-none">Página inicial</span>
                    <span class="d-none d-sm-block">Acesse a Página inicial</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-auto vertical-divider">
              <hr class="d-block d-sm-none">
            </div>
            <div class="col-sm-auto">
              <div class="box">
                <div class="icon text-center">
                  <i class="fas fa-question fa-2x" aria-hidden="true"></i>
                </div>
                <div class="content">
                  <span class="title">Ajuda</span>
                  <p class="message mb-0 mt-1">
                    <span class="d-sm-none">Tópicos para ajudar você</span>
                    <span class="d-none d-sm-block">
                      Acesse tópicos pra ajudar você<br>
                      a encontrar o que deseja
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-auto vertical-divider">
              <hr class="d-block d-sm-none">
            </div>
            <div class="col-sm-auto">
              <div class="box">
                <div class="icon text-center">
                  <i class="fas fa-chalkboard-teacher fa-2x" aria-hidden="true"></i>
                </div>
                <div class="content">
                  <span class="title">Serviços</span>
                  <p class="message mb-0 mt-1">
                    <span class="d-sm-none">Principais serviços do Governo Federal</span>
                    <span class="d-none d-sm-block">
                      Acesse os principais serviços do<br>
                      Governo Federal
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-auto d-sm-none">
              <hr class="d-block d-sm-none">
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  <!-- Rodapé de governo -->
  <footer id="footer" class="page-footer">
    <div class="chancela-serpro">
      <img src="../../assets/images/produto-serpro.png" alt="Produto Serpro">
    </div>
  </footer>
  <script src="not-found.js"></script>
</body>

</html>
