// Carregar variáveis do DS-Gov
@import "../../base/dsgov-base";

.not-found {
  background-image: url("../../assets/images/unhappy-face.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 80%;
  padding-top: 140px;
  .not-found-title {
    color: $color-primary-lighten-15;
    font-size: 40px;
    font-weight: 700;
    @include media-breakpoint-up(sm) {
      font-size: 110px;
    }
  }
  .not-found-message {
    color: $color-gray-6;
    font-size: 16px;
    font-weight: 500;
  }
}
.hint {
  .box {
    display: flex;
  }
  hr {
    color: $color-gray-7;
  }
  .icon {
    color: $color-primary-lighten-15;
    width: 60px;
  }
  .title {
    color: $color-primary-darken-15;
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .message {
    color: $color-gray-6;
    font-size: 14px;
    font-weight: 500;
  }
  .vertical-divider {
    @include media-breakpoint-up(md) {
      border-right: 1px solid;
    }
  }
}
