@mixin header-configs {
  // Tokens do componente
  --header-high-density: var(--spacing-xxs);
  --header-default-density: var(--spacing-sm);
  --header-low-density: var(--spacing-lg);
  --header-density: var(--header-default-density);

  background-color: var(--theme-surface-main-base);
  padding: var(--header-density) 0;
  position: relative;

  @include elevation-layer("2");

  // Overlay
  .header-overlay {
    background-color: currentcolor;
    inset: 0;
    opacity: 0;
    position: absolute;

    @include motion-effect("fading", "opacity");
  }

  // Elementos do topo
  .header-top {
    display: flex;
  }

  // Container do Logo e assinatura
  .header-logo {
    align-items: center;
    display: flex;
    flex: 1;

    img {
      max-width: 40px;
    }
  }

  // Assinatura do órgão
  .header-sign {
    // display: none;
    font-size: var(--font-size-scale-down-01);
    margin-left: var(--spacing-sm);

    @include media-breakpoint("desktop") {
      // display: block;
    }
  }

  // Container para links, funcionalidades, busca e sign-in
  .header-actions {
    align-items: center;
    display: flex;
  }

  .header-links {
    // display: flex;
    // gap: var(--spacing-xs);
  }

  // Ativador da busca
  .header-search-trigger {
    @include media-breakpoint("desktop") {
      display: none;
    }
  }

  // Seletor de tema
  .header-theme-selector {
    // display: none;

    @include media-breakpoint("desktop") {
      display: block;
    }
  }

  // Container para Menu e Busca
  .header-bottom {
    display: flex;
  }

  .header-top + .header-bottom {
    padding-top: var(--spacing-sm);
  }

  // Menu do Header
  .header-menu {
    align-items: center;
    display: flex;
    flex: 1;
    gap: var(--spacing-xs);
  }

  .header-info {
    display: grid;
    gap: var(--spacing-xxxs);
  }

  // Título
  .header-title {
    font-size: var(--font-size-scale-up-03);
  }

  // Barra de busca
  .header-search {
    // display: none;

    @include media-breakpoint("desktop") {
      display: block;
    }
  }
}
