//- Mixin para reusar componente Header
mixin header
  - const component = 'header'
  header(class=prefix + component)&attributes(attributes)
    if block
      block

//- Mixin para usar logo no Header
mixin header-logo
  .header-logo
    if block
      block

//- Mixin para usar links no Header
mixin header-actions
  .header-actions
    if block
      block

//- Mixin para usar Menu no Header
mixin header-menu
  .header-menu
    if block
      block

//- Mixin para usar busca no Header
mixin header-search
  .header-search&attributes(attributes)
    if block
      block
