// Família Rawline
$raw-line-thin: "../../estilos/vendors/rawline/font/rawline-100";
$raw-line-thin-italic: "../../estilos/vendors/rawline/font/rawline-100i";
$raw-line-extra-light: "../../estilos/vendors/rawline/font/rawline-200";
$raw-line-extra-light-italic: "../../estilos/vendors/rawline/font/rawline-200i";
$raw-line-light: "../../estilos/vendors/rawline/font/rawline-300";
$raw-line-light-italic: "../../estilos/vendors/rawline/font/rawline-300i";
$raw-line-regular: "../../estilos/vendors/rawline/font/rawline-400";
$raw-line-regular-italic: "../../estilos/vendors/rawline/font/rawline-400i";
$raw-line-medium: "../../estilos/vendors/rawline/font/rawline-500";
$raw-line-medium-italic: "../../estilos/vendors/rawline/font/rawline-500i";
$raw-line-semi-bold: "../../estilos/vendors/rawline/font/rawline-600";
$raw-line-semi-bold-italic: "../../estilos/vendors/rawline/font/rawline-600i";
$raw-line-bold: "../../estilos/vendors/rawline/font/rawline-700";
$raw-line-bold-italic: "../../estilos/vendors/rawline/font/rawline-700i";
$raw-line-extra-bold: "../../estilos/vendors/rawline/font/rawline-800";
$raw-line-extra-bold-italic: "../../estilos/vendors/rawline/font/rawline-800i";
$raw-line-black: "../../estilos/vendors/rawline/font/rawline-900";
$raw-line-black-italic: "../../estilos/vendors/rawline/font/rawline-900i";

// Tamanhos
$size10: 10px;
$size12: 12px;
$size14: 14px;
$size16: 16px;
$size18: 18px;
$size20: 20px;
$size22: 22px;
$size24: 24px;
$size28: 28px;
$size36: 36px;
$size40: 40px;
$size46: 46px;
$size52: 52px;
$size58: 58px;
