# Code Owners for a file
.commitlintrc.yml @oliveira.rafael @marcosalves3 @tiagoalexandreos
.czrc @oliveira.rafael @marcosalves3 @tiagoalexandreos
.editorconfig @oliveira.rafael @marcosalves3 @tiagoalexandreos
.eslintignore @oliveira.rafael @marcosalves3 @tiagoalexandreos
.eslintrc.yaml @oliveira.rafael @marcosalves3 @tiagoalexandreos
.htmlvalidate.json @oliveira.rafael @marcosalves3 @tiagoalexandreos
.prettierignore @oliveira.rafael @marcosalves3 @tiagoalexandreos
.prettierrc.yml @oliveira.rafael @marcosalves3 @tiagoalexandreos
.stylelintignore @oliveira.rafael @marcosalves3 @tiagoalexandreos
.stylelintrc.json @oliveira.rafael @marcosalves3 @tiagoalexandreos
package.json @oliveira.rafael @marcosalves3 @tiagoalexandreos
CODEOWNERS @oliveira.rafael @marcosalves3 @tiagoalexandreos

# Code Owners for a directory
#directoryname/ @username1 @username2

# All group members as Code Owners for a file
#filename @groupname

# All group members as Code Owners for a directory
#directoryname/ @groupname
