@mixin input-action {
  position: relative;
  // Input
  input {
    @include input;
    @include input-states;
    // Padding para os botões
    &:first-child {
      padding-right: $action-margin;
    }
    &:last-child {
      padding-left: $action-margin;
    }
    // Placeholder
    &::placeholder {
      @include placeholder;
    }
  }
  // Botão de ação
  .action {
    background: transparent;
    border: 0;
    font-size: $input-font-size;
    margin: 0 $action-padding;
    min-width: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0;
    }
  }
  // Feedback
  & + .feedback {
    @include feedback;
  }
  // Estados
  &.is-focus {
    input {
      @include input-focus($color-primary-lighten-15);
    }
  }
  &.is-invalid {
    input {
      @include input-state($color-danger);
    }
    & + .feedback {
      @include feedback($color-danger);
    }
  }
  &.is-valid {
    input {
      @include input-state($color-success);
    }
    & + .feedback {
      @include feedback($color-success);
    }
  }
}
