// Carregar variáveis do DS-Gov
@import "../../estilos/scss/dsgov-base.scss";

// Carregar as dependências
@import "../input/input.scss";

/*!
 * Design System de Governo - DS-Gov
 * Componente input-action
 * Versão 0.0.1
 * Suporte:
   - Serpro: DIDES/SUPSE/SESEP/SEDEP
 */

 // Definições
$action-padding: $spacer * 2;
$action-margin: $spacer * 6;

// Estilos específicos
.#{$prefix}input-action {
  position: relative;
  input {
    @extend %input;
    &:first-child {
      padding-right: $action-margin;
    }
    &:last-child {
      padding-left: $action-margin;
    }
  }
  .action {
    background: transparent;
    border: 0;
    font-size: $input-font-size;
    margin: 0 $action-padding;
    min-width: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: auto;
    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 0;
    }
  }
}
