@mixin search {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  .br-input {
    flex: 1;
  }
  .feedback,
  .help {
    order: 1;
    width: 100%;
  }
  .action {
    display: none;
  }
  @include media-breakpoint-up(sm) {
    .action {
      display: block;
    }
  }
}
