// Border Bottom
$tab-border-bottom-active: inset 0 -4px 0 0 $color-primary;
$tab-border-bottom-default: 1px solid $color-gray-3;

// Margin Left
$tab-margin-left-icon: 0;
$tab-margin-left: 32px;

// Font Weight
$tab-font-weight-default: 500;
$tab-font-weight-active: 700;

// Spacing Itens
$tab-space-item: 0 $spacing-3;
$tab-space-link: 0;

