// Definições
$check-font-size: 14px;
$check-font-weight: 500;

$check-size: 24px;
$check-small: 20px;

$check-radius: 4px;
$check-border-size: 1px;

$check-radio-active-size: 6px;
$check-radio-active-small: 5px;

$check-hover: rgba($color-primary-lighten-15, 0.45);
$check-hover-size: 4px;

$check-disabled-bg: $color-gray-4;
$check-disabled-color: $color-gray-5;
