@mixin checkbox-configs {
  @include checkbox-box;
  @include checkbox-checked;

  // Tokens do componente
  --checkbox-size: 26px;

  // Configuração padrão
  display: inline-flex;
  position: relative;

  // Esconder checkbox padrão
  input {
    margin: 0;
    opacity: 0;
    position: absolute;
  }

  // Container do componente
  label {
    display: inline-flex;
    flex: 1;
    gap: var(--spacing-xxs);
    margin: 0;

    // Caixa do checkbox
    &::before {
      content: "";

      @extend %checkbox;
      @include motion-effect("fading", "background-color");
    }

    // Checked
    &::after {
      content: "";
      margin-left: 9px;
      margin-top: 5px;

      @extend %checkbox-checked;
    }

    // Overlay
    > .overlay {
      background-color: currentcolor;
      inset: 0;
      opacity: 0;
      position: absolute;

      @include motion-effect("fading", "opacity");
    }

    // Conteúdo
    > .content {
      flex: 1;
      font-size: var(--font-size-scale-base);
      font-weight: var(--font-weight-medium);
      padding-top: 3px;
    }
  }

  // Estado Selecionado
  input:checked + label::after {
    transform: scale(1) rotate(45deg);
  }

  // Estado Focus
  input:focus-visible + label::before {
    @include focus-soft-style;
  }

  // Estado Hover
  input:hover:not([disabled]) + label::before {
    background-color: var(--theme-hover-main);
  }

  // Estado Desativado
  input[disabled] + label {
    cursor: not-allowed;
    opacity: var(--disabled);
  }

  // Tipo Item, usado no Select
  &.item {
    display: flex;

    // Container do componente
    label {
      background-color: var(--background);
      cursor: pointer;
      padding: var(--spacing-sm);

      // Caixa do checkbox
      &::before {
        margin-top: -3px;
        position: absolute;
        z-index: 1;
      }

      // Checked
      &::after {
        margin-top: 2px;
        z-index: 1;
      }

      // Conteúdo
      > .content {
        padding-left: calc(var(--checkbox-size) + var(--spacing-xxs));
        padding-top: 0;
      }
    }

    // Estado Selecionado
    input:checked + label {
      background-color: var(--theme-selected-main);

      @include contrast-mode;
    }

    // Estado Hover
    input:hover + label {
      &::before {
        background-color: var(--theme-surface-main-base);
      }

      > .overlay {
        opacity: var(--hover);
      }
    }

    // Cria separador automático
    & + & {
      border-top: 1px solid var(--theme-border-main-base);
    }
  }
}

@mixin checkbox-box {
  // Caixa do checkbox
  %checkbox {
    background-color: var(--theme-surface-main-base);
    border-color: var(--theme-border-main-base);
    border-radius: var(--rounder-sm);
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
  }
}

@mixin checkbox-checked {
  // Checado
  %checkbox-checked {
    border: solid var(--theme-selected-main);
    border-width: 0 3px 3px 0;
    height: 12px;
    position: absolute;
    transform: scale(0) rotate(25deg);
    width: 8px;
  
    @include motion-effect("zooming", "transform");
  }
}
