<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>modal</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="modal.css">
</head>

<body>
  <h1>Modal</h1>
  <div class="container-fluid">
    <div class="br-scrim is-foco"></div>
    <div onclick="openModal(this)">
      <div class="br-modal is-medium">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-header">
              <h2 class="br-modal-title">Retornar para página inicial?</h2>
            </div>
            <div class="br-modal-body">
              <p>Você está sendo redirecionado para a página inicial do sistema</p>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Cancelar</button>
              <button class="br-button is-primary is-small" type="button" onclick="closeModal()">Retornar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="my-9">Modal com botão de Fechar</h3>
    <div onclick="openModal(this)">
      <div class="br-modal is-medium">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-header">
              <h2 class="br-modal-title">Retornar para página inicial?</h2>
              <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="br-modal-body">
              <p>Você está sendo redirecionado para a página inicial do sistema</p>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Ação 1</button>
              <button class="br-button is-primary is-small" type="button" onclick="closeModal()">Ação 2</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="my-9">Título do modal de exemplo com uso de duas linhas</h3>
    <div onclick="openModal(this)">
      <div class="br-modal is-medium">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-header">
              <h2 class="br-modal-title">Título do modal de exemplo com uso de duas linhas, título do modal de
                exemplo com uso de duas linhas</h2>
              <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="br-modal-body">
              <p>Texto com duas linhas Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Ação 1</button>
              <button class="br-button is-primary is-small" type="button" onclick="closeModal()">Ação 2</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="my-9">Título do modal contraído</h3>
    <div onclick="openModal(this)">
      <div class="br-modal is-medium">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-header">
              <h2 class="br-modal-title is-inline">Título do modal de exemplo com uso de uma linha</h2>
              <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="br-modal-body">
              <p>Texto com uma linha Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Ação 1</button>
              <button class="br-button is-primary is-small" type="button" onclick="closeModal()">Ação 2</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="my-9">Botões</h3>
    <div onclick="openModal(this)">
      <div class="br-modal is-xsmall">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-body justify-content-center">
              <span class="br-load is-loading mb-5">Carregando...</span>
            </div>
            <div class="br-modal-footer justify-content-around">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="my-9">Modal de alerta sem título</h3>
    <div onclick="openModal(this)">
      <div class="br-modal is-medium">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-body">
              <p>Modal de alerta sem título Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Ação 1</button>
              <button class="br-button is-primary is-small" type="button" onclick="closeModal()">Ação 2</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="my-9">Por lista</h3>
    <button class="br-button is-secondary is-small" type="button" onclick="openModalId('lista')">Escolha uma conta</button>
    <div class="br-scrim is-foco" id="lista">
      <div class="br-modal is-medium">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-header">
              <h2 class="br-modal-title">Escolha uma conta</h2>
              <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="br-modal-body">
              <div class="br-form">
                <div class="field">
                  <div class="br-select">
                    <label for="simples">Opções</label>
                    <select id="simples">
                      <option value="0">Selecione uma opção</option>
                      <option value="opcao-1">opção 1</option>
                      <option value="opcao-2">opção 2</option>
                      <option value="opcao-3">opção 3</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Cancelar</button>
              <button class="br-button is-primary is-small" type="button" onclick="closeModal()">Retornar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="my-9">Por seleção</h3>
    <button class="br-button is-secondary is-small" type="button" onclick="openModalId('selecao')">Buscar pelos estados</button>
    <div class="br-scrim is-foco" id="selecao">
      <div class="br-modal is-medium">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-header">
              <h2 class="br-modal-title">Buscar pelos estados</h2>
              <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="br-modal-body">
              <div class="br-form">
                <div class="field">
                  <div class="br-check d-block">
                    <input type="checkbox" id="v-checkbox-padrao">
                    <label for="v-checkbox-padrao">Acre(AC)</label>
                  </div>
                  <div class="br-check d-block">
                    <input type="checkbox" id="v-checkbox-padrao1" checked>
                    <label for="v-checkbox-padrao1">Alagoas(AL)</label>
                  </div>
                  <div class="br-check d-block">
                    <input type="checkbox" id="v-checkbox-padrao2">
                    <label for="v-checkbox-padrao2">Amapá(AP)</label>
                  </div>
                  <div class="br-check d-block">
                    <input type="checkbox" id="v-checkbox-padrao3">
                    <label for="v-checkbox-padrao3">Amazonas(AM)</label>
                  </div>
                  <div class="br-check d-block">
                    <input type="checkbox" id="v-checkbox-padrao4" checked>
                    <label for="v-checkbox-padrao4">Bahia(BA)</label>
                  </div>
                  <div class="br-check d-block">
                    <input type="checkbox" id="v-checkbox-padrao5">
                    <label for="v-checkbox-padrao5">Ceará(CE)</label>
                  </div>
                  <div class="br-check d-block">
                    <input type="checkbox" id="v-checkbox-padrao6">
                    <label for="v-checkbox-padrao6">Distrito Federal (DF)</label>
                  </div>
                  <div class="br-check d-block">
                    <input type="checkbox" id="v-checkbox-padrao7">
                    <label for="v-checkbox-padrao7">Espírito Santo (ES)</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Cancelar</button>
              <button class="br-button is-primary is-small" type="button" onclick="closeModal()">Retornar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="br-button is-secondary is-small" type="button" onclick="openModalId('visualizacao')">Opções de Visualização</button>
    <div class="br-scrim is-foco" id="visualizacao">
      <div class="br-modal is-medium mt-9">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-header">
              <h2 class="br-modal-title">Opções de Visualização</h2>
              <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="br-modal-body">
              <div class="br-form">
                <div class="field">
                  <div class="br-check d-block">
                    <input name="v-radio" type="radio" id="v-radio-padrao">
                    <label for="v-radio-padrao">Fotos</label>
                  </div>
                  <div class="br-check d-block">
                    <input name="v-radio" type="radio" id="v-radio-padrao1" checked>
                    <label for="v-radio-padrao1">Filmes</label>
                  </div>
                  <div class="br-check d-block">
                    <input name="v-radio" type="radio" id="v-radio-padrao2">
                    <label for="v-radio-padrao2">Áudio</label>
                  </div>
                  <div class="br-check d-block">
                    <input name="v-radio" type="radio" id="v-radio-padrao3">
                    <label for="v-radio-padrao3">Todas</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Cancelar</button>
              <button class="br-button is-primary is-small" type="button" onclick="closeModal()">Retornar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="my-9">Modal de Entrada</h3>
    <button class="br-button is-secondary is-small" type="button" onclick="openModalId('entrada')">Autenticar pelo Gov.br</button>
    <div class="br-scrim is-foco" id="entrada">
      <div class="br-modal is-medium">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-header">
              <h2 class="br-modal-title">Autenticar pelo Gov.br</h2>
              <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="br-modal-body">
              <div class="br-form">
                <div class="field">
                  <div class="br-select">
                    <label for="simples1">Domínio da autenticação</label>
                    <select id="simples1">
                      <option value="0">Governo Federal do Brasil (Gov.br)</option>
                    </select>
                  </div>
                </div>
                <div class="field">
                  <div class="br-input">
                    <label for="simples2">Usuário</label>
                    <input id="simples2" type="text" placeholder="Nome do usuário ou E-mail">
                  </div>
                </div>
                <div class="field">
                  <div class="br-input has-icon">
                    <label for="password">Senha</label>
                    <input type="password" id="password" placeholder="Digite sua senha de 8 a 11 dígitos">
                    <button class="icon" type="button" onclick="toggleInputAction(this, 'is-action')">
                      <span class="sr-only">Mostrar senha</span>
                      <i class="fas fa-eye"></i>
                    </button>
                  </div>
                  <a href="#">Esqueceu a senha?</a>
                </div>
              </div>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Cancelar</button>
              <button class="br-button is-primary is-small" type="button" onclick="closeModal()">Entrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="br-button is-secondary is-small" type="button" onclick="openModalId('entrada2')">Marcar Novo Evento</button>
    <div class="br-scrim is-foco" id="entrada2">
      <div class="br-modal is-large mt-9">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-header">
              <h2 class="br-modal-title">Novo evento</h2>
              <button type="button" class="close" data-dismiss="br-modal" aria-label="Close" onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="br-modal-body">
              <div class="br-form">
                <div class="field">
                  <div class="row align-items-end">
                    <div class="col">
                      <div class="field">
                        <div class="br-input">
                          <label for="simples3">Nome do evento</label>
                          <input id="simples3" type="text" placeholder="Digite o nome do evento">
                        </div>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="field">
                        <div class="br-check d-block">
                          <input type="checkbox" id="v-checkbox-padrao8" checked>
                          <label for="v-checkbox-padrao8">Marcar como ocupado</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-end">
                  <div class="col-6">
                    <div class="field">
                      <div class="br-input has-icon">
                        <label for="data">Inicial</label>
                        <input type="date" id="data" placeholder="Quinta, 13 de setembro de 2019">
                        <button class="icon" type="button">
                          <i class="fas fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="field">
                      <div class="br-select">
                        <label for="simples4">Hora Inicial</label>
                        <select id="simples4">
                          <option value="0">11:00</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row align-items-end">
                  <div class="col-6">
                    <div class="field">
                      <div class="br-input has-icon">
                        <label for="data1">Final</label>
                        <input type="date" id="data1" placeholder="Data final">
                        <button class="icon" type="button">
                          <i class="fas fa-calendar"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div class="field">
                      <div class="br-select">
                        <label for="simples5">Hora Final</label>
                        <select id="simples5">
                          <option value="0">12:00</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Cancelar</button>
              <button class="br-button is-primary is-small" type="button" onclick="closeModal()">Entrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3 class="my-9">Rolagem</h3>
    <div onclick="openModal(this)">
      <div class="br-modal is-scroll is-medium">
        <div class="br-modal-dialog">
          <div class="br-modal-content">
            <div class="br-modal-header">
              <h2 class="br-modal-title">Concorda com os termos?</h2>
            </div>
            <div class="br-modal-body mb-5">
              <div class="br-card">
                Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Mauris id gravida nulla. Cras sagittis dapibus
                felis vitae semper. Donec vel hendrerit ante. Etiam sed blandit nisi. Praesent iaculis, nisl eget rutrum
                vehicula, lacus tortor feugiat diam, et euismod lacus metus eget nisi. Sed fermentum, nunc nec efficitur
                pharetra, felis dolor feugiat massa, et semper turpis felis quis ligula. Quisque non metus at risus
                maximus ultrices. Nam vel massa tellus. Vestibulum lobortis dui et pellentesque porta. Cras rhoncus
                augue
                a mauris porttitor, in malesuada metus eleifend. Praesent ac lacinia lorem. Sed cursus nisl ligula, vel
                ultrices ex pellentesque eu. Curabitur facilisis egestas libero, non pharetra lacus ultricies quis.
                Mauris
                non finibus justo, eu varius metus. Donec nec eros semper, consequat turpis id, fermentum dolor.
              </div>
            </div>
            <div class="br-modal-footer justify-content-end">
              <button class="br-button is-secondary is-small" type="button" onclick="closeModal()">Negar</button>
              <button class="br-button is-primary is-disabled is-small" type="button" onclick="closeModal()">Aceitar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/design-system/components/select/select.js"></script>
  <script src="modal.js"></script>
</body>

</html>
