// Carregar variáveis do DS-Gov
@import "../../base/dsgov-base";

.br-load {
  &.is-loading {
    color: $font-portal-services-subtitle-color;
    font-size: 18px;
    margin-bottom: 1rem;
    &::before {
      animation: spinAround 0.5s infinite linear;
      border: 3px solid currentColor;
      border-color: transparent transparent $font-secondary-button-color $font-secondary-button-color !important;
      border-radius: 50%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 2.8em;
      margin-left: calc(50% - (3em / 2));
      width: 2.8em;
    }
  }
}

.br-modal {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  padding: 20px 0 15px;
  position: relative;
  width: 28.8rem;
  & h4 {
    color: $font-portal-services-subtitle-color;    
    display: -webkit-box;
    font-weight: bold;
    line-height: 22.5px;
    margin: 0;
    max-height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;      
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    width: 80%;

    &.is-inline {
      max-height: 22.5px;
      -webkit-line-clamp: 1; /* number of lines to show */
    }
  }

  &.scroll {
    .br-modal-body {
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      & textarea {        
        border: none;
        font-size: $font-portal-small-news-sticker-font-size;
        resize: none;
        width: 100%;
        &:focus,
        &:active {
          outline: none;
        }
        /* width */
        &::-webkit-scrollbar {
          width: 8px;
        }
        /* Track */
        &::-webkit-scrollbar-track {
          background: $color-gray-2;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: $color-gray-5;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: $color-gray-6;
        }
      }
    }
  }

  & .br-modal-header,
  .br-modal-body,
  .br-modal-footer {
    flex: 1;
    padding: 0 20px;
  }

  .br-modal-body {
    display: flex;
    & textarea {
      width: 100%;
      /* width */
      &::-webkit-scrollbar {
        width: 8px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: $color-gray-2;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $color-gray-5;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $color-gray-6;
      }
    }
  }

  & .br-modal-header {
    padding-bottom: 12px;
  }

  & .br-modal-footer {
    display: flex;
  }

  .close {
    background: transparent;
    border: none;
    color: $font-title-registration-login-color;
    position: absolute;
    right: 8px;
    top: -19px;
    & span {
      font-size: $font-title-registration-login-font-size;
      font-weight: 500;
    }
  }
}

@media (min-width: 576px) {
  .br-modal {
    &.is-xsmall {
      min-width: 220px;
      max-width: 220px;
    }
    &.is-small {
      min-width: 300px;
      max-width: 300px;
    }
    &.is-medium {
      min-width: 500px;
      max-width: 500px;
    }
    &.is-large {
      min-width: 640px;
      max-width: 640px;
    }
  }
}
