extends ../../../partial/pug/isolate

block dependencies
  include ../notification
  include ../../button/button
  include ../../divider/divider
  include ../../item/item
  include ../../list/list
  include ../../tab/tab
  include ../../tag/tag

block content
  +notification-full
