extends ../../layouts/component

append vars
  - var title = "Accordion";

append content
  .row.mb-5
    .col-sm-12
        p.label Accordion default
    .col-sm-12
      .row.justify-content-around
        .col-sm-5
          p.label Accordion positivo
          +accordion()()
            +accordion-item("O que é esse serviço?") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Quem pode utilizar esse serviço?") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Etapas para realização desse serviço") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Outras informações sobre esse serviço") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-5
          p.label Accordion negativo
          +accordion()(negative)
            +accordion-item("O que é esse serviço?") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Quem pode utilizar esse serviço?") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Etapas para realização desse serviço") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Outras informações sobre esse serviço") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  .row.mb-5
    .col-sm-12
        p.label Accordion single
    .col-sm-12
      .row.justify-content-around
        .col-sm-5
          p.label Accordion positivo
          +accordion()(single)
            +accordion-item("Assuntos") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Serviços") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Canais de atendimento") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Galeria de aplicativos") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Centrais de conteúdo") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Navegação") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Planalto") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .col-sm-5
          p.label Accordion negativo
          +accordion()(negative single)
            +accordion-item("Assuntos") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Serviços") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Canais de atendimento") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Galeria de aplicativos") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Centrais de conteúdo") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Navegação") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            +accordion-item("Planalto") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
