extends ../../layouts/component

append vars
  - var title = "Acordeão";



append content
  +accordeon
    +accordeon-item("Item 1") Lorem 3ipsum dolor sit amet consectetur adipisicing elit. Impedit amet pariatur deserunt accusamus aut delectus dolorem inventore, earum error veniam molestiae vitae unde aliquid consectetur nam fuga molestias non totam.
    +accordeon-item("Item 2") Lorem 3ipsum dolor sit amet consectetur adipisicing elit. Impedit amet pariatur deserunt accusamus aut delectus dolorem inventore, earum error veniam molestiae vitae unde aliquid consectetur nam fuga molestias non totam.
    +accordeon-item("Item 3") Lorem 3ipsum dolor sit amet consectetur adipisicing elit. Impedit amet pariatur deserunt accusamus aut delectus dolorem inventore, earum error veniam molestiae vitae unde aliquid consectetur nam fuga molestias non totam.
    +accordeon-item("Item 4") Lorem 3ipsum dolor sit amet consectetur adipisicing elit. Impedit amet pariatur deserunt accusamus aut delectus dolorem inventore, earum error veniam molestiae vitae unde aliquid consectetur nam fuga molestias non totam.

