extends ../../layouts/component

append vars
  - var title = "Avatar";

append content
  .row
    .col.col-sm-3.col-lg-1
      .p-3
        +avatar()(menu)
          .image: img(src="https://i.picsum.photos/id/823/40/40.jpg" alt="Imagem Placeholder")
          +badge("fa-layers-counter fa-layers-top-left") 5
    .col.col-sm-3.col-lg-1
      .p-3
        +avatar()(menu)
          .image: i.fas.fa-user
          +badge("fa-layers-counter fa-layers-top-left") 5
    .col-sm-10.col-lg-5
      .card.card-3.p-3.d-flex
        .mr-3
          +avatar(size="small")
            .image: img(src="https://i.picsum.photos/id/823/40/40.jpg" alt="Imagem Placeholder")
        .flex-grow-1
          p.h6.color-primary-default.mt-0.mb-1.px-0 Maria Amorim
          span UX Designer
        div
          +button.is-tertiary.is-circle
            span.icon: i.fas.fa-phone
          +button.is-tertiary.is-circle
            span.icon: i.fas.fa-comment
  .row.mt-3
    .col-sm-9.col-md-8.col-lg-7.col-xl-5
      .card.p-3.d-flex
        .mr-3
          +avatar(size="small")
            .image: img(src="https://i.picsum.photos/id/823/40/40.jpg" alt="Imagem Placeholder")
        .flex-grow-1
          +textarea("")(id="comments" placeholder="Digite seu comentário")
          .d-flex.justify-content-end
            +button.is-tertiary Cancelar
            +button.is-primary Enviar
    .col-sm-5.col-md-4.col-lg-3.col-xl-2
      .card.p-3.text-center.mt-3.mt-md-0
        +avatar(size="medium")
          .image: img(src="https://i.picsum.photos/id/823/100/100.jpg" alt="Imagem Placeholder")
        p.h5.color-primary-default Maria Amorim
        p UX Designer
        hr
        p
          i.fas-fa-phone
          |
          | +55 81 9999 9999
    .col-sm-7.col-lg-6.col-xl-5
      .card.p-3.mt-3.mt-xl-0
        .text-center
          +avatar(size="large" change)
            .image: i.fas.fa-user
        p.h4.text-center Clique na imagem acima para trocar sua foto no perfil.
        .d-flex.color-info.px-0
          .pr-1
            span.icon-lg: i.fas.fa-info-circle
          spam Os arquivos devem ser nos formatos PNG, JPG, PDF e ter no máximo 1G

append style
  style.
    .card {
      box-shadow: 0 3px 6px rgba(var(--rgb-secondary-09), 0.16);
      border-radius: 4px;
    }
