extends ../../layouts/component

append vars
  - var title = "Avatar";

append content
  .row.justify-content-between
    .col-auto.ml-1.mt-5
      p.h5 Avatar icônico
      .d-flex.align-items-center
        +badge()(danger)
          .icon 5
          .content
            +avatar
              .image
                +icon.fa-user
        +button.circle.small(aria-label="Abrir menu de usuário")
          +icon.fa-angle-down
    .col-auto.ml-1.mt-5
      p.h5 Avatar fotográfico
      .d-flex.align-items-center
        +badge()(danger)
          .icon 5
          .content
            +avatar
              .image: img(src="https://picsum.photos/id/823/400" alt="Avatar")
        +button.circle.small(aria-label="Abrir menu de usuário")
          +icon.fa-angle-down
  p.h5.mt-5 Em telas de Chat
  .row
    .col-sm-12.col-md-6
      +card
        .front
          .content
            .d-flex.align-items-center
              +avatar
                .image: img(src="https://picsum.photos/id/823/400" alt="Avatar")
              .flex-fill.mx-3
                .text-primary-default.text-up-01 Maria Amorim
                span UX Designer
              div
                +button.circle.small(aria-label="Ver telefone")
                  +icon.fa-phone
                +button.circle.small(aria-label="Enviar comentário")
                  +icon.fa-comment
    .col-sm-12.col-md-6
      +card
        .front
          .content
            .d-flex
              +avatar.mt-1
                .image: img(src="https://picsum.photos/id/823/400" alt="Avatar")
              .flex-fill.ml-3
                +textarea("")(id="comments" placeholder="Digite seu comentário")
          .footer
            .row.justify-content-end
              .col.col-xs-12.text-right
                +button Cancelar
                +button.primary.mt-2 Enviar
  .row
    .col-sm-12.col-md-6
      +card
        .front
          .content.text-center
            +badge()(medium success)
              .icon
              .content
                +avatar()(medium)
                  .image: img(src="https://picsum.photos/id/823/400" alt="Avatar")
            p.h5.text-primary-default Maria Amorim
            p UX Designer
            hr
            p
              +icon.fa-phone
              span  +55 81 9999 9999
    .col-sm-12.col-md-6
      +card
        .front
          .content
            .text-center
              +avatar()(large change)
                span.image
                  +icon.fa-user
            p.h4.text-center Clique na imagem acima para trocar sua foto no perfil.
            .feedback.text-info
              +icon.fa-info-circle
              span Os arquivos devem ser nos formatos PNG, JPG, PDF e ter no máximo 1G
