extends ../../layouts/component

append vars
  - var title = "Badge";

block content
  .row(style='font-size: 20px;')
    .col-3
      .br-badge.is-top.is-sucess
        i.fas.fa-user
        span.icon
    .col-3
      .br-badge.is-top.is-warning
        i.fas.fa-user
        span.icon
    .col-3
      .br-badge.is-bottom.is-info
        i.fas.fa-user
        span.icon
    .col-3
      .br-badge.is-bottom.is-danger
        i.fas.fa-user
        span.icon
  .row(style='font-size: 24px;')
    .col-3
      .br-badge.is-symbol
        i.fas.fa-file
        i.fas.fa-check.icon
    .col-3
      .br-badge.is-symbol.is-left.is-bottom.is-warning
        i.fas.fa-file
        i.fas.fa-check.icon
    .col-3
      .br-badge.is-symbol.is-right.is-bottom.is-info
        i.fas.fa-file
        i.fas.fa-check.icon
    .col-3
      .br-badge.is-symbol.is-right.is-top.is-danger
        i.fas.fa-file
        i.fas.fa-check.icon
  .row(style='font-size: 32px;')
    .col-3
      .br-badge.is-symbol
        i.fas.fa-file
        i.fas.fa-check.icon
    .col-3
      .br-badge.is-symbol.left.is-bottom.is-warning
        i.fas.fa-plane-departure
        i.fas.fa-info.icon
    .col-3
      .br-badge.is-symbol.is-right.is-bottom.is-info
        i.fas.fa-car
        i.fas.fa-euro-sign.icon
    .col-3
      .br-badge.is-symbol.is-right.is-top.is-danger
        i.fas.fa-comment
        i.fas.fa-times.icon
  .row(style='font-size: 36px;')
    .col-3
      .br-badge.is-count.is-danger
        i.fas.fa-envelope
        span.number 1
    .col-3
      .br-badge.is-count.is-left.is-bottom.is-danger
        i.fas.fa-envelope
        span.number 5
    .col-3
      .br-badge.is-count.is-right.is-bottom.is-danger
        i.fas.fa-envelope
        span.number 5
    .col-3
      .br-badge.is-count.is-right.is-top.is-danger
        i.fas.fa-envelope
        span.number 999+
