extends ../../layouts/component

append vars
  - var title = "Badge";

append content
  .row(style='font-size: 28px;margin: 1em;')
    .col-auto
      i.fas.fa-user
      +badge("is-top is-left icon")
        i.fas.fa-circle.is-success
    .col-auto
      i.fas.fa-user
      +badge("is-top is-right icon")
        i.fas.fa-circle.is-warning
    .col-auto
      i.fas.fa-user
      +badge("is-bottom is-left icon")
        i.fas.fa-circle.is-info
    .col-auto
      i.fas.fa-user
      +badge("is-bottom is-right icon")
        i.fas.fa-circle.is-danger
  .row(style='font-size: 36px;margin: 1em;')
    .col-auto
      i.fas.fa-file
      +badge("is-top is-left simbol ")
        i.fas.fa-check.is-success
    .col-auto
      i.fas.fa-file
      +badge("is-bottom is-left simbol ")
        i.fas.fa-check.is-warning
    .col-auto
      i.fas.fa-file
      +badge("is-bottom is-right simbol")
        i.fas.fa-check.is-info
    .col-auto
      i.fas.fa-file
      +badge("is-top is-right simbol")
        i.fas.fa-check.is-danger
  .row(style='font-size: 36px;margin: 1em;')
    .col-auto
      i.fas.fa-file
      +badge("is-top is-left simbol")
        i.fas.fa-check.is-success
    .col-auto
      i.fas.fa-plane-departure
      +badge("is-bottom is-left simbol")
        i.fas.fa-info.is-warning
    .col-auto
      i.fas.fa-car
      +badge("is-bottom is-right simbol")
        i.fas.fa-euro-sign.is-info
    .col-auto
      i.fas.fa-comment
      +badge("is-top is-right simbol")
        i.fas.fa-times.is-danger
  .row(style='font-size: 46px;margin: 1em;')
    .col-auto
      i.fas.fa-envelope
      +badge("fa-layers-counter fa-layers-top-left") 1
    .col-auto
      i.fas.fa-envelope
      +badge("fa-layers-counter fa-layers-bottom-left") 5
    .col-auto
      i.fas.fa-envelope
      +badge("fa-layers-counter fa-layers-bottom-right") 5
    .col-auto
      i.fas.fa-envelope
      +badge("fa-layers-counter fa-layers-top-right") 999+
