extends ../../layouts/component

append vars
  - var title = "Badge";

append content
  .row.mt-1
    .col-auto
      +badge()(bottom danger)
        .icon
        .content: i.fas.fa-user-tie.fa-2x.text-primary-default
    .col-auto
      +badge()(bottom warning)
        .content: i.fas.fa-file.fa-2x
        .icon: i.fas.fa-exclamation-triangle
    .col-auto
      +badge()(bottom success)
        .icon: i.fas.fa-check
        .content: i.fas.fa-plane-departure.fa-2x
    .col-auto
      +badge()(danger)
        .icon 5
        .content: i.fas.fa-car.fa-2x
    .col-auto
      +badge()(danger)
        .content: i.fas.fa-envelope.fa-2x
        .icon 999+
