extends ../../layouts/component

append vars
  - var title = "Breadcrumb";

append content
  .row.mb-5
    .col-auto
      +breadcrumb
        +crumb("Página Ancestral 01")
        +crumb("Página Ancestral 02")
        +crumb("Página Ancestral 03")
        +crumb("Página Ancestral 04")
        +crumb("Página Ancestral 05")
        +crumb("Página Ancestral 06")
        +crumb("Página Ancestral 07")
        +crumb("Página Ancestral 08")
        +crumb("Página Ancestral 09")
        +crumb("Página Ancestral 10")
        +crumb("Página Ancestral 11")
        +crumb("Página Ancestral 12")
        +crumb("Página Atual")(active)
