extends ../../layouts/component

append vars
  - var title = "Breadcrumb";

append content
  +breadcrumb
    +crumb("Tela Anterior")
    +crumb("Tela Anterior2")
    +crumb("Tela Anterior3")
    +crumb("Tela Anterior4")
    +crumb("Tela Atual", "is-active")
