extends ../../layouts/component

append vars
  - var title = "Botão";

append content
  .row
    .engloba
      | Botão Primário
      +button(class="is-primary") Entrar
    .engloba
      | Botão Secundário
      +button(class="is-secondary ml-3") Cadastrar
    .engloba
      | Botão Terciário
      +button(class="is-tertiary ml-3") Adicionar
    .engloba
      | Botão desabilitado
      +button(class="is-primary is-disabled ml-3")  Acessar
  hr
  p Botões com ícones *
  +button(class="is-primary")
    span
      i.fas.fa-print
      | Imprimir
  +button(class="is-secondary ml-3")    
    span
      i.fas.fa-edit
      | Editar
  +button(class="is-primary ml-3")
    span  Avançar
      i.fas.fa-chevron-right
  +button(class="is-tertiary ml-3")
    span
      i.fas.fa-sliders-h
      | Filtrar
  hr
  p Botões gov.br e Botão Call to Action(Web e mobile)
  +button(class="is-primary")
    span Entrar com
    strong gov.br
  +button(class="is-secondary ml-3")
    span Entrar com
    strong gov.br
  +button(class="is-call-to-action ml-3") Solicitar
  hr
  p Botões circulares
  +button(class="is-circle is-primary")
    i.fas.fa-chevron-up
  +button(class="is-circle is-secondary")
    i.fas.fa-chevron-down
  +button(class="is-circle is-medium text-white bg-twitter border-twitter")
    i.fab.fa-twitter
  +button(class="is-circle is-medium text-white bg-facebook border-facebook")
    i.fab.fa-facebook-f
  +button(class="is-circle is-large text-white bg-google-plus border-google-plus")
    i.fab.fa-google-plus-g
  +button(class="is-circle is-large is-primary")
    strong gov.br
  +button(class="is-circle is-large is-call-to-action is-mobil")
    i.fas.fa-plus
  hr
  p Botões de loading
  +button(class="is-primary is-loading")
  +button(class="is-secondary ml-3 is-loading")
  +button(class="is-call-to-action ml-3 is-loading")
  +button(class="is-circle is-large is-call-to-action is-mobile ml-3 is-loading")