extends ../../layouts/component

append vars
  - var title = "Botão";

append content
  p.h5 Ênfase
  div
    +button.primary Botão
    +button.secondary.mt-3.mt-sm-0.ml-sm-3
      +icon.fa-city.mr-1
      | Botão
    +button.mt-3.mt-sm-0.ml-sm-3 Botão
  .mt-3.text-center.text-sm-left
    +button.primary.circle(aria-label="Ícone ilustrativo")
      +icon.fa-city
    +button.secondary.circle.ml-3(aria-label="Ícone ilustrativo")
      +icon.fa-city
    +button.circle.ml-3(aria-label="Ícone ilustrativo")
      +icon.fa-city

  p.h5.mt-5 Densidade
  div
    +button.secondary.large
      | Baixa
    +button.secondary.mt-3.mt-sm-0.ml-sm-3
      | Padrão
    +button.secondary.small.mt-3.mt-sm-0.ml-sm-3
      | Alta
  .mt-3.text-center.text-sm-left
    +button.secondary.circle.large(aria-label="Ícone ilustrativo")
      +icon.fa-city
    +button.circle.secondary.ml-3(aria-label="Ícone ilustrativo")
      +icon.fa-city
    +button.secondary.circle.small.ml-3(aria-label="Ícone ilustrativo")
      +icon.fa-city

  p.h5.mt-5 Estados
  +button.secondary(disabled) Desativado
  .mt-3.mt-sm-0.d-sm-inline-block.ml-sm-3
    +button.primary.loading Carregando
