extends ../../layouts/component

append vars
  - var title = "Botão";

append content
  p.h5 Primário
  .row
    .col-sm-auto
      +button()(primary) Entrar
    .col-sm-auto.mt-3.mt-sm-0.text-center
      +button()(primary mini) Entrar
    .col-sm-auto.mt-3.mt-sm-0
      +button()(primary)
        i.fas.fa-edit
        | Editar
    .col-sm-auto.mt-3.mt-sm-0
      +button()(primary)
        i.fas.fa-print
        | Imprimir
    .col-sm-auto.mt-3.mt-sm-0
      +button()(primary)
        | Avançar
        i.fas.fa-angle-right

  p.h5.mt-5 Call to Action
  .row
    .col-sm-auto
      +button()(action) Adicionar
    .col-sm-auto.mt-3.mt-sm-0.text-center
      +button()(action circle): i.fas.fa-plus

  p.h5.mt-5 Secundário
  .mb-3.mb-sm-0.d-sm-inline
    +button()(secondary) Voltar
  .mb-3.mb-sm-0.text-center.text-sm-left.d-sm-inline
    +button()(secondary mini) Voltar
  .mb-3.mb-sm-0.d-sm-inline
    +button()(secondary)
      i.fas.fa-eraser
      | Limpar
  .mb-3.mb-sm-0.d-sm-inline
    +button()(secondary)
      i.fas.fa-angle-left
      | Voltar

  p.h5.mt-5 Terciário sem ícone
  +button: u Fazer login

  p.h5.mt-5 Terciário sem ícone
  .mb-3.mb-sm-0.d-sm-inline
    +button
      i.fas.fa-sliders-h
      | Filtrar
  .mb-3.mb-sm-0.d-sm-inline
    +button
      i.fas.fa-edit
      | Editar
  .mb-3.mb-sm-0.d-sm-inline
    +button
      i.fas.fa-print
      | Imprimir
  .mb-3.mb-sm-0.d-sm-inline
    +button
      i.fas.fa-download
      | Download
  .mb-3.mb-sm-0.d-sm-inline
    +button
      i.fas.fa-upload
      | Upload
  .mb-3.mb-sm-0.d-sm-inline
    +button
      i.fas.fa-plus
      | Adicionar
  .mb-3.mb-sm-0.d-sm-inline
    +button
      | Voltar ao Topo
      i.fas.fa-chevron-circle-up
  .mb-3.mb-sm-0.d-sm-inline
    +button
      | Avançar
      i.fas.fa-angle-right

  p.h5.mt-5 Circular
  +button()(circle): i.fas.fa-envelope
  +button()(circle): i.fas.fa-phone
  +button()(circle): i.fas.fa-chevron-down
  +button()(circle): i.fas.fa-plus

  p.h5.mt-5 Circular mini
  +button()(mini circle): i.fas.fa-envelope
  +button()(mini circle): i.fas.fa-phone
  +button()(mini circle): i.fas.fa-chevron-down
  +button()(mini circle): i.fas.fa-plus

  .row
    .col-sm-4.col-md-auto.text-center
      p.h5.mt-5 Desativado
      .mt-3
        +button()(primary disabled) Entrar
      .mt-3
        +button()(secondary disabled) Voltar
      .mt-3
        +button()(disabled)
          u Entrar
      .mt-3
        +button()(action disabled) Solicitar
      .mt-3
        +button()(action circle disabled)
          i.fas.fa-plus
    .col-sm-4.col-md-auto.text-center
      p.h5.mt-5 Progresso
      .mt-3
        +button()(primary loading) Entrar
      .mt-3
        +button()(secondary loading) Voltar
      .mt-3
        +button()(loading) Entrar
      .mt-3
        +button()(action loading) Solicitar
      .mt-3
        +button()(action circle loading): i.fas.fa-plus
