extends ../../layouts/component

append vars
  - var title = "Botão";

append content
  .row
    .around
      | Botão Primário
      +button(class="is-primary") Entrar
    .around
      | Botão Secundário
      +button(class="is-secondary") Cadastrar
    .around
      | Botão Terciário
      +button(class="is-tertiary") Adicionar
    .around
      | Botão desabilitado
      +button(class="is-primary is-disabled")  Acessar
  hr

  p Botões com ícones *
  +button(class="is-primary")
    span
      i.fas.fa-print
      | Imprimir
  +button(class="is-secondary")    
    span
      i.fas.fa-edit
      | Editar
  +button(class="is-primary")
    span  Avançar
      i.fas.fa-chevron-right
  +button(class="is-tertiary")
    span
      i.fas.fa-sliders-h
      | Filtrar
  hr

  p Botões Call to Action(Web e mobile)
  +button(class="is-call-to-action") Solicitar
  +button(class="is-circle is-large is-call-to-action is-mobile")
    i.fas.fa-plus
  hr

  p Botões circulares
  +button(class="is-circle is-primary")
    i.fas.fa-chevron-up
  +button(class="is-circle is-secondary")
    i.fas.fa-chevron-down
  +button(class="is-circle is-medium color-secondary-01 background-color-twitter border-color-twitter")
    i.fab.fa-twitter
  +button(class="is-circle is-medium color-secondary-01 background-color-facebook border-color-facebook")
    i.fab.fa-facebook-f
  +button(class="is-circle is-large color-secondary-01 background-color-google-plus border-color-google-plus")
    i.fab.fa-google-plus-g
  hr

  p Botões de loading
  +button(class="is-primary is-loading")
  +button(class="is-secondary is-loading color-primary-default")
  +button(class="is-call-to-action is-loading")
  +button(class="is-circle is-large is-call-to-action is-mobile is-loading")
  hr


  p Botões Web mini
  +button(class="is-primary is-small") Entrar
  +button(class="is-secondary is-small") Voltar
  +button(class="is-tertiary is-small") Filtrar
