extends ../../layouts/component

append vars
  - var title = "Botão";

append content
  p.h5 Primário
  +button()(primary) Entrar
  .mt-3
    +button()(primary)
      i.fas.fa-print
      | Imprimir
  .mt-3
    +button()(primary)
      | Avançar
      i.fas.fa-angle-right

  p.h5.mt-5 Call to Action
  +button()(action) Adicionar
  
  p.h5.mt-5 Secundário
  +button()(secondary) Voltar
  .mt-3
    +button()(secondary)
      i.fas.fa-eraser
      | Limpar
  .mt-3
    +button()(secondary)
      i.fas.fa-angle-left
      | Voltar

  p.h5.mt-5 Terciário
  +button: u Cancelar
  .mt-3
    +button
      i.fas.fa-sliders-h
      | Filtrar

  p.h5.mt-5 Circular
  +button()(primary circle): i.fas.fa-plus
  .d-inline.ml-3
    +button()(secondary circle): i.fas.fa-plus
  .d-inline.ml-3
    +button()(circle): i.fas.fa-plus
  .d-inline.ml-3
    +button()(action circle): i.fas.fa-plus

  p.h5.mt-5 Mini
  +button()(primary mini) Entrar
  .d-inline.ml-3
    +button()(secondary mini) Voltar
  .mt-3
    +button()(primary circle mini): i.fas.fa-plus
    .d-inline.ml-3
      +button()(secondary circle mini): i.fas.fa-plus
    .d-inline.ml-3
      +button()(circle mini): i.fas.fa-plus

  p.h5.mt-5 Estados
  +button()(primary disabled) Entrar
  .mt-3
    +button()(primary loading) Entrar
