extends ../../layouts/component

append vars
  - var title = "Checkbox";

append content
  p.label Selecione 1 ou mais opções
  .row.ml-1
    +checkbox("Padrão")(id="h-checkbox-default")
    +checkbox("Checado")(id="h-checkbox-checked" class="ml-sm-7" checked)
    +checkbox("Inválido")(id="h-checkbox-invalid" class="is-invalid ml-sm-7")
      i.fas.fa-times-circle(style="font-size: 12px;color: #e60000;display: block;margin: 0.3em;") 
      span.invalido Preenchimento Obrigatório
    +checkbox("Válido")(id="h-checkbox-valid" class="is-valid ml-sm-7" checked)
      i.fas.fa-check-circle(style="font-size: 12px;color: #168821;display:block;margin: 0.3em;") 
      span.valido Campo Correto
    +checkbox("Desativado")(id="h-checkbox-disabled" class="ml-sm-7" disabled)
  hr
  .row
    .col-sm-3
      p.label Vertical
      +checkbox("Padrão")(id="v-checkbox-default" class="d-block")
      +checkbox("Checado")(id="v-checkbox-checked" class="d-block" checked)
      +checkbox("Inválido")(id="v-checkbox-invalid" class="is-invalid d-block mb-3")
        i.fas.fa-times-circle(style="font-size: 12px;color: #e60000;display: block;margin: 0.3em;") 
        span.invalido Preenchimento Obrigatório
      +checkbox("Válido")(id="v-checkbox-valid" class="is-valid d-block mb-3" checked)
        i.fas.fa-check-circle(style="font-size: 12px;color: #168821;display:block;margin: 0.3em;") 
        span.valido Campo Correto
      +checkbox("Desativado")(id="v-checkbox-disabled" class="d-block" disabled)
    .col-sm-3
      p.label Pequeno
      +checkbox("Padrão")(id="v-s-checkbox-default" class="is-small d-block")
      +checkbox("Checado")(id="v-s-checkbox-checked" class="is-small d-block" checked)
      +checkbox("Inválido")(id="v-s-checkbox-invalid" class="is-small is-invalid d-block mb-3")
        i.fas.fa-times-circle(style="font-size: 12px;color: #e60000;display: block;margin: 0.3em;") 
        span.invalido Preenchimento Obrigatório
      +checkbox("Válido")(id="v-s-checkbox-valid" class="is-small is-valid d-block mb-3" checked)
        i.fas.fa-check-circle(style="font-size: 12px;color: #168821;display:block;margin: 0.3em;") 
        span.valido Campo Correto
      +checkbox("Desativado")(id="v-s-checkbox-disabled" class="is-small d-block" disabled)
    .col-sm-3(style="background-color:#1351b4;")
      p.label(style="color: #fff") Fundo Negativo ou Invertido
      +checkbox("Padrão")(id="v-i-checkbox-default" class="is-inverted d-block")
      +checkbox("Checado")(id="v-i-checkbox-checked" class="is-inverted d-block" checked)
      +checkbox("Inválido")(id="v-i-checkbox-invalid" class="is-inverted is-invalid d-block mb-3")
        i.fas.fa-times-circle(style="font-size: 12px;color: #e60000;display: block;margin: 0.3em;") 
        span.invalido-invertido Preenchimento Obrigatório
      +checkbox("Válido")(id="v-i-checkbox-valid" class="is-inverted is-valid d-block mb-3" checked)
        i.fas.fa-check-circle(style="font-size: 12px;color: #ffffff;display:block;margin: 0.3em;") 
        span.valido-invertido Campo Correto
      +checkbox("Desativado")(id="v-i-checkbox-disabled" class="is-inverted d-block" disabled)