extends ../../layouts/component

append vars
  - var title = "Checklist";

append scripts
  script(src="../js/checklist.js")

append content
  +checklist
    +check-item("far fa-envelope")
      +input("E-mail")(id="email" placeholder="Ex: fulano@email.com")
      +radio("")(id="radio-email" name="radio")
    +check-item("fas fa-mobile-alt")(class="is-invalid is-active")
      +input("Celular")(id="celular" class="is-invalid" placeholder="Ex: (xx) xxxxx-xxxx")
      +radio("")(id="radio-celular" class="is-invalid" name="radio" checked)
  .feedback.is-invalid
    i.fas.fa-times-circle
    span.message  Preencha o campo de texto
  p.help Texto auxiliar ao preenchimento, tem a função de previnir erros.
  +checklist(class="mt-10")
    +check-item("far fa-envelope")
      +input("E-mail")(id="box-email" placeholder="Ex: fulano@email.com")
      +checkbox("")(id="checkbox-email")
    +check-item("fas fa-phone")(class="is-active")
      +input("Telefone")(id="box-phone" placeholder="(XX) 1234-5678")
      +checkbox("")(id="checkbox-phone" checked)
    +check-item("fas fa-mobile-alt")
      +input("Celular")(id="box-cellphone" placeholder="(XX) 91234-5678")
      +checkbox("")(id="checkbox-cellphone")
