extends ../../layouts/component

append vars
  - var title = "DatePicker";

append scripts
  script(src="../js/datepicker.min.js")
  script(src="../js/datepicker.js")

append content
  .row
    .col-sm
      .mb-3
        +input("Data")(id="date-start" type="text" placeholder="dd/mm/aaa")

