extends ../../layouts/component

append vars
  - var title = "DatePicker";

append content
  .row
    .col
      p.label Versão Simples
      +datepicker("Data")(id="normal" placeholder="dd/mm/aaaa")
    .col
      p.label Versão Data Inicial / Data Final
      .row
        .col
          +datepicker("Data Inicial")(id="date-start" class="range" type="text" placeholder="dd/mm/aaaa")
        .col
          +datepicker("Data Final")(id="date-end" class="range" type="text" placeholder="dd/mm/aaaa")










