extends ../../layouts/component

append vars
  - var title = "DatePicker";

append scripts
  script(src="../js/components/datepicker.min.js")
  script(src="../js/components/datepicker.js")

append content
  .row
    .col-sm
      .mb-3
        +input("Normal")(id="default" class="datepicker" placeholder="dd/mm/aaaa")
        p.help Texto auxiliar ao preenchimento, tem a função de previnir erros.  
    .col-sm
      .mb-3
        +input("Focus")(id="focus" class="datepicker is-focus" placeholder="dd/mm/aaaa")
    .col-sm
      .mb-3
        +input("Desativado")(id="disabled" class="datepicker" placeholder="01/01/2020" disabled)
  .row
    .col-sm
      .mb-3

    .col-sm
      .mb-3
        +input("Válido")(id="valid" class="datepicker is-valid" placeholder="dd/mm/aaaa")
        +feedback("Texto válido")(class="is-valid")
    .col-sm
      .mb-3
        +input("Inválido")(id="invalid" class="datepicker is-invalid" placeholder="dd/mm/aaaa")
        +feedback("Texto inválido")
  .row
    .col-sm
      .mb-3
        +input("Data Início")(id="date-start" class="datepicker" type="text" placeholder="dd/mm/aaaa")
    .col-sm
      .mb-3
        +input("Data Fim")(id="date-end" class="datepicker" type="text" placeholder="dd/mm/aaaa")
