extends ../../layouts/component

append vars
  - var title = "DatePicker";

append content
  .row
    .col
      p.label Versão Simples
      +datepicker("Data")(id="normal" placeholder="dd/mm/aaaa")
    .col
      p.label Versão Data Inicial / Data Final
      .row
        .col
          +datepicker("Data Inicial")(id="date-end" class="range" type="text" placeholder="dd/mm/aaaa")
        .col
          +datepicker("Data Final")(id="date-end" class="range" type="text" placeholder="dd/mm/aaaa")













  //- .row
  //-   div.h3 Estados do componente:
  //- .row
  //-   .col-sm
  //-     .mb-3
  //-       +datepicker("Normal")(id="normal" placeholder="dd/mm/aaaa")
  //-       +feedback("", "Data válida")(class="is-valid")
  //-       +feedback("", "Data inválida")
  //-   .col-sm
  //-     .mb-3
  //-       +datepicker("Focus")(id="focus" class="is-focus" placeholder="dd/mm/aaaa")
  //-       +feedback("", "Data válida")(class="is-valid")
  //-       +feedback("", "Data inválida")
  //- .row
  //-   .col-sm
  //-     .mb-3
  //-       +datepicker("Válido")(id="valid" class="is-valid" placeholder="dd/mm/aaaa")
  //-       +feedback("", "Data válida")(class="is-valid")
  //-       +feedback("", "Data inválida")
  //-   .col-sm
  //-     .mb-3
  //-       +datepicker("Inválido")(id="invalid" class="is-invalid" placeholder="dd/mm/aaaa")
  //-       +feedback("", "Data válida")(class="is-valid")
  //-       +feedback("", "Data inválida")
  //- .row
  //-   .col-sm
  //-     .mb-3
  //-       +datepicker("Desativado")(id="disabled" class="is-disabled" placeholder="01/01/2020" disabled)
  //-       +feedback("", "Data válida")(class="is-valid")
  //-       +feedback("", "Data inválida")
  //-   .col-sm
  //-     .mb-3
  //- .row
  //-   div.h3 Campo funcional para demonstração:
  //- .row
  //-   .col-sm
  //-     .mb-3
  //-       +datepicker("Data")(id="default" placeholder="dd/mm/aaaa")
  //-       +feedback("", "Data válida")(class="is-valid")
  //-       +feedback("", "Data inválida")
  //-       p.help Insira a data no formato "dd/mm/aaaa", apenas números.  
  //-   .col-sm
  //- .row
  //-   div.h3 Campos vinculados para definir um período:
  //- .row
  //-   .col-sm
  //-     .mb-3
  //-       +datepicker("Data Inicial")(id="date-start" class="range" type="text" placeholder="dd/mm/aaaa")
  //-       +feedback("", "Data válida")(class="is-valid")
  //-       +feedback("", "Data inválida")
  //-       p.help Insira a data inicial do período no formato "dd/mm/aaaa".  
  //-   .col-sm
  //-     .mb-3
  //-       +datepicker("Data Final")(id="date-end" class="range" type="text" placeholder="dd/mm/aaaa")
  //-       +feedback("", "Data válida")(class="is-valid")
  //-       +feedback("", "Data inválida")
  //-       p.help Insira a data final do período no formato "dd/mm/aaaa".
