extends ../../layouts/component

append vars
  - var title = "DatePicker";

append scripts
  script(src="../js/datepicker.min.js")

append content
  .row
    .col-sm
      .mb-3
        +input("Senha")(id="password" class="has-icon" type="password" placeholder="Digite sua senha de 8 a 11 dígitos")
          button.icon(type='button' onclick="toggleInputAction(this)")
            span.sr-only Mostrar senha
            i.fas.fa-calendar-alt
