extends ../../layouts/component

append vars
  - var title = "DatePicker";

append content
  p.h5 Versão Simples
  +datepicker("Data")(id="normal" placeholder="dd/mm/aaaa")

  p.h5.mt-5 Versão Data Inicial / Data Final
  +datepicker("Data Inicial")(id="date-start" class="range" type="text" placeholder="dd/mm/aaaa")
  .mt-3
    +datepicker("Data Final")(id="date-end" class="range" type="text" placeholder="dd/mm/aaaa")
  