extends ../../layouts/component

append vars
  - var title = "Divisor";

append content
  p.h5 Versão padrão
  +divider

  p.h5.mt-5 Em fundo escuro
  .bg-primary-darken-02.text-secondary-01.text-black.p-1
    +divider
    span ASSUNTO
    i.fas.fa-angle-down
    +divider

  p.h5.mt-5 Em fundo neutro
  .bg-secondary-04.text-black.p-1
    +divider(class="fundo-neutro")
    span ASSUNTO
    span.text-primary-default
      i.fas.fa-angle-down
    +divider(class="fundo-neutro")
    