extends ../../layouts/component

append vars
  - var title = "footer";


append content
  p Exemplo de Footer Versão Negativa 
  +footer.negative.br-divider.fundo-neutro
    div.around-logo
      .logo
    +list()(collapsible horizontal unique).around-list
      +footer-list-filler(total=8 col=2)
    +footer-bottom-filler()(negative)
  <br><br>
  p Exemplo de Footer Versão Negativa (col automática)
  +footer.negative.br-divider.fundo-neutro
    div.around-logo
      .logo
    +list()(collapsible horizontal unique).around-list
      +footer-list-filler(total=4 col)
    +footer-bottom-filler()(negative)
  <br><br>
  p Exemplo de Footer Versão Positiva
  +footer.positive.br-divider
    div.around-logo
      .logo
    +list()(collapsible horizontal unique).around-list
      +footer-list-filler(total=12 col=2)
    +footer-bottom-filler
