extends ../../layouts/component

append vars
  - var title = "footer";


append content
  p Exemplo de Footer Versão Negativa
  +footer(class="negative")
    .line(class="around-logo")
    .line(class="around-list")
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha1
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
    .line(class="around-social")
        div(class="social-network")
          p(class="title-social-network") Redes Sociais
          button(class="br-button tertiary is-circle" type="button")
            img(alt="botão facebook" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.svg")
          button(class="br-button tertiary is-circle" type="button")
            img(alt="botão twitter" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.svg")
          button(class="br-button tertiary is-circle" type="button")
            img(alt="botão google" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.svg")
          button(class="br-button tertiary is-circle" type="button")
            img(alt="botão govbr" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.svg")  
        div(class="assigns")
          div(class="logo-information ml-2 mr-2")
          div(class="logo-slogan ml-2 mr-2")
    .line(class="around-rights")
      p 
      | Texto destinado a exibição de informações relacionadas à 
      span.around-rights-bolder  licensa de uso.       
  p Exemplo de Footer Versão Positiva
  +footer(class="positive")
    .line(class="around-logo")
    .line(class="around-list")
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha4
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
        .col-md-2
          .engloba
            .br-list
                dl(class="is-simple")
                  dt Texto de uma linha5
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
                  dt Texto de uma linha
                  dd Texto de uma linha
    .line(class="around-social")
        div(class="social-network")
          p(class="title-social-network") Redes Sociais
          button(class="br-button tertiary is-circle color-secondary-01 background-color-facebook border-color-facebook" type="button")
            img(alt="botão facebook" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-positive.svg")
          button(class="br-button tertiary is-circle color-secondary-01 background-color-twitter border-color-twitter" type="button")
            img(alt="botão twitter" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-positive.svg")
          button(class="br-button tertiary is-circle color-secondary-01 background-color-secondary-01 border-color-youtube" type="button")
            img(alt="botão google" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-positive.svg")
          button(class="br-button tertiary is-circle color-secondary-01 background-color-secondary-01 border-color-youtube" type="button")
            img(alt="botão govbr" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-positive.svg")  
        div(class="assigns")
          div(class="logo-information ml-2 mr-2")
          div(class="logo-slogan ml-2 mr-2")
    .line(class="around-rights")
      p 
      | Texto destinado a exibição de informações relacionadas à 
      span.around-rights-bolder licensa de uso.      
append style
  style.
    .engloba {
        align-items: flex-start;
        display: flex!important;
        flex-direction: row;
        justify-content: center;
    }
    .br-list{
      background-color: transparent;  
    }
    .line{
      display: flex;
      flex-direction: row;
      //- magin: 1em;
    }
    img {
      max-width: 90%;
      width: auto;
    } 

