extends ../../layouts/component

append vars
  - var title = "footer";


append content
  p Exemplo de Footer Versão Negativa
  +footer(class="negative br-divider fundo-neutro")
    div(class="around-logo m-4")
      .logo
    div(class="around-list m-4")
      .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
      .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
      .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
      .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
      .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
      .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
    div(class="around-social m-4")
      div(class="social-network p-0")
        p(class="title-social-network") Redes Sociais
        button(class="br-button tertiary is-circle" type="button")
          img(alt="botão facebook" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png")
        button(class="br-button tertiary is-circle" type="button")
          img(alt="botão twitter" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png")
        button(class="br-button tertiary is-circle" type="button")
          img(alt="botão google" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png")
        button(class="br-button tertiary is-circle" type="button")
          img(alt="botão govbr" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-negative.png")  
      div(class="assigns")
        div(class="logo-information ml-2 mr-2")
        div(class="logo-slogan ml-2 mr-2")
    .br-divider.fundo-neutro.m-0
      div(class="around-rights m-3")
        span Texto destinado a exibição de informações relacionadas à 
          span.around-rights-bolder licensa de uso.      
  p Exemplo de Footer Versão Positiva
  +footer(class="positive br-divider")
    div(class="around-logo m-4")
      .logo
    div(class="around-list m-4")
     .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
     .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
     .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
     .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
     .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
     .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
     .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
     .col-md-2
        +list()(collapsible)
          +list-item()(link active)
            .content Texto de uma linha
            .support: i.fas.fa-angle-down
          +list
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
            +list-item
              .content Texto de uma linha
    .div(class="around-social m-4")
      div(class="social-network p-0")
        p(class="title-social-network") Redes Sociais
        button(class="br-button tertiary is-circle" type="button")
          img(alt="botão facebook" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-positive.png")
        button(class="br-button tertiary is-circle" type="button")
          img(alt="botão twitter" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-positive.png")
        button(class="br-button tertiary is-circle" type="button")
          img(alt="botão google" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-positive.png")
        button(class="br-button tertiary is-circle" type="button")
          img(alt="botão govbr" src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/button-positive.png")  
      div(class="assigns")
        div(class="logo-information ml-2 mr-2")
        div(class="logo-slogan ml-2 mr-2")
    .br-divider.m-0
      div(class="around-rights m-3")
        span Texto destinado a exibição de informações relacionadas à 
          span.around-rights-bolder licensa de uso.
append style
  style.
    .br-list{
      background-color: transparent;  
    }
    .br-button.tertiary.is-circle:hover {
      background: transparent;
    }