extends ../../layouts/component

append vars
  - var title = "footer";

append content
  p Exemplo de Footer Versão Negativa
  +footer
      .container-lg
        +footer-logo.text-center
        +list()(collapsible horizontal unique)
          +footer-list-filler()(total=6 col=2)
        +footer-bottom-filler
      .br-divider
      .container-lg
        +footer-info
  <br><br>
  p Exemplo de Footer Versão Positiva
  +footer.inverted
      .container-lg
        +footer-logo.text-center(inverted)
        +list()(collapsible horizontal unique)
          +footer-list-filler()(total=6 col=2)
        +footer-bottom-filler()(inverted)
      .br-divider
      .container-lg
        +footer-info