extends ../../layouts/component

append vars
  - var title = "footer";

append content
  p.h2 Footer escuro
  +footer
    div.container-logo
      .logo
    +list()(collapsible horizontal unique).container-list
      +footer-list-filler()(total=6 col=2)
    +footer-bottom-filler()

  p.h2 Variação de footer escuro
  +footer.negative
    div.container-logo.text-center
      .logo
    +list()(collapsible horizontal unique).container-list
      +footer-list-filler()(total=4 col)
    +footer-bottom-filler()

  p.h2 Footer claro
  +footer.positive
    div.container-logo
      .logo
    +list()(collapsible horizontal unique).container-list
      +footer-list-filler(total=6 col=2)
    +footer-bottom-filler()(positive)
