extends ../../layouts/component

append vars
  - var title = "footer";

append content
  p.h5 Versão padrão
  +footer
      .container-lg
        +footer-logo.text-center
        +list()(collapsible horizontal unique)
          +footer-list-filler()(total=6 col=2)
        +footer-bottom-filler
      .br-divider
      .container-lg
        +footer-info

  p.h5.mt-5 Versão Clara
  +footer.inverted
      .container-lg
        +footer-logo.text-center(inverted)
        +list()(collapsible horizontal unique)
          +footer-list-filler()(total=6 col=2)
        +footer-bottom-filler()(inverted)
      .br-divider
      .container-lg
        +footer-info