extends ../../layouts/component

append vars
  - var title = "footer";

append content
  p.h2 Footer padrão
  +footer
    .container-lg
      +footer-logo
      +list()(collapsible horizontal unique)
        +footer-list-filler()(total=6 col=2)
      +footer-bottom-filler
    .br-divider
    .container-lg
      +footer-info

  p.h2 Versão simples
  +footer
    +footer-logo.text-center
    .br-divider
    .container-lg
      +footer-info

  p.h2 Tema 2
  +footer()(inverted)
    .container-lg
      +footer-logo()(inverted)
      +list()(collapsible horizontal unique)
        +footer-list-filler(total=6 col=2)
      +footer-bottom-filler()(inverted)
    .br-divider
    .container-lg
      +footer-info
