extends ../../layouts/component

append vars
  - var title = "Header";

append content
  //- .h6 Teste 
  //- +header()(no-logo no-login no-sign no-subtitle no-links no-search no-functions)
  //-   +header-default-content
  //- <br><br><br>
  //- +header()(compact no-logo no-login no-links no-search no-functions)
  //-   +header-default-content
  //- <br><br><br>
  //- .h6 Menu Sticky
  //- +header()(sticky)
  //-   +header-default-content
  //- .content
  .h6 Menu Padrão 
  +header
    +header-default-content
  <br><br><br>
  .h6 Menu Compacto (compact)
  +header()(compact)
    +header-default-content
  <br><br><br>
  .h6 Menu sem Links (no-links)
  +header()(no-links)
    +header-default-content
  <br><br><br>
  +header()(compact no-links)
    +header-default-content
  <br><br><br>
  .h6 Menu sem logo (compact, no-logo, no-liks)
  +header()(compact no-logo no-links)
    +header-default-content
  <br><br><br>
  .h6 Menu sem Assinatura (no-sign)
  +header()(no-sign)
    +header-default-content
  <br><br><br>
  .h6 Menu sem Subtítulo (no-subtitle)
  +header()(no-subtitle)
    +header-default-content
  <br><br><br>
  .h6 Menu sem Funcionalidades (no-functions)
  +header()(no-functions)
    +header-default-content
  <br><br><br>
  .h6 Menu sem Login (no-login)
  +header()(no-login)
    +header-default-content
  <br><br><br>
  +header()(compact no-login)
    +header-default-content
  <br><br><br>
  .h6 Menu sem Busca (no-search)
  +header()(no-search)
    +header-default-content
  <br><br><br>
  +header()(compact no-search)
    +header-default-content
  <br><br><br>