extends ../../layouts/component

append vars
  - var title = "Header";

append content
  p.h5 Header padrão 
  +header
    +header-default-content

  p.h5.mt-5 Compacto
  +header()(compact)
    +header-default-content

  p.h5.mt-5 Sem Links
  +header()(no-links)
    +header-default-content
  .mt-3
    +header()(compact no-links)
      +header-default-content

  p.h5.mt-5 Sem logo
  +header()(compact no-logo no-links)
    +header-default-content

  p.h5.mt-5 Sem Assinatura
  +header()(no-sign)
    +header-default-content

  p.h5.mt-5 Sem Subtítulo
  +header()(no-subtitle)
    +header-default-content

  p.h5.mt-5 Sem Funcionalidades
  +header()(no-functions)
    +header-default-content

  p.h5.mt-5 Sem Login
  +header()(no-login)
    +header-default-content
  .mt-3
    +header()(compact no-login)
      +header-default-content

  p.h5.mt-5 Sem Busca
  +header()(no-search)
    +header-default-content
  .mt-3
    +header()(compact no-search)
      +header-default-content