extends ../../layouts/component

append vars
  - var title = "Input";

append content
  p.h5 Input padrão
  .row
    .col-sm-4
      +input("CPF")(id="cpf-id1" type="text" placeholder="Digite somente números")

  p.h5.mt-5 Input com botão
  .row
    .col-sm-4
      +input("Senha")(id="password-id1" type="password" placeholder="Sua senha de 8 a 11 digitos")

  p.h5.mt-5 Input pequeno
  .row
    .col-sm-6
      .bg-primary-pastel-02.p-1
        +input("Filtrar por:")(id="filtro-id" type="text" placeholder="Pesquisar em notícias" filter)

  p.h5.mt-5 Validação e estados
  .row
    .col-sm-4
      +input("CPF")(id="cpf-id2" type="text" placeholder="Digite somente números" valid)
      .mt-1
        .feedback.color-success
          .icon: +icon.fa-check-circle
          | CPF válido
    .col-sm-4
      +input("CPF")(id="cpf-id3" type="text" placeholder="Digite somente números" invalid)
      .mt-1
        .feedback.color-danger
          .icon: +icon.fa-times-circle
          | CPF inválido
    .col-sm-4
      +input("CPF")(id="cpf-id4" type="text" placeholder="Digite somente números" disabled)
      .mt-1
        .feedback
          .icon: +icon.fa-exclamation-triangle
          | Campo Desabilitado
