extends ../../layouts/component

append vars
  - var title = "Input";

append content
  .row.justify-content-around.mb-5
    .col-sm-4
      p.h2 Input Simples
      .mb-3
        +input("CPF")(id="cpf-id1" type="text" placeholder="Digite somente números")
      .mb-3
        +input("CPF")(id="cpf-id2" type="text" placeholder="Digite somente números" valid)
          +feedback("fa-check-circle", "CPF válido")(valid)
      .mb-3
        +input("CPF")(id="cpf-id3" type="text" placeholder="Digite somente números" invalid)
          +feedback("fa-times-circle", "CPF inválido")(invalid)
      .mb-3
        +input("CPF")(id="cpf-id4" type="text" placeholder="Digite somente números" disabled)
          +feedback("fa-exclamation-triangle", "Campo Desabilitado")(disabled)
    .col-sm-4
      p.h2 Input com Ícone
      .mb-3
        +input("Senha")(id="password-id1" type="password" placeholder="Sua senha de 8 a 11 digitos")
      .mb-3
        +input("Senha")(id="password-id2" type="password" placeholder="Sua senha de 8 a 11 digitos" valid)
          +feedback("fa-check-circle", "Campo correto")(valid)
      .mb-3
        +input("Senha")(id="password-id3" type="password" placeholder="Sua senha de 8 a 11 digitos" invalid)
          +feedback("fa-times-circle", "Senha incorreta")(invalid)
      .mb-3
        +input("Senha")(id="password-id4" type="password" placeholder="Sua senha de 8 a 11 digitos" disabled)
          +feedback("fa-exclamation-triangle", "Campo Desabilitado")(disabled)

  .row.justify-content-around.mb-5
    .col-sm-4
      p.h2 Input com Ícone e Texto Auxiliar
      .mb-3
        +input("Senha")(id="password-id5" type="password" placeholder="Sua senha de 8 a 11 digitos")
          p.help Texto auxiliar ao preenchimento, tem a função de previnir erros.
      .mb-3
        +input("Senha")(id="password-id6" type="password" placeholder="Sua senha de 8 a 11 digitos" valid)
          +feedback("fa-check-circle", "Campo correto")(valid)
          p.help Texto auxiliar ao preenchimento, tem a função de previnir erros.
      .mb-3
        +input("Senha")(id="password-id7" type="password" placeholder="Sua senha de 8 a 11 digitos" invalid)
          +feedback("fa-times-circle", "Senha incorreta")(invalid)
          p.help Texto auxiliar ao preenchimento, tem a função de previnir erros.
      .mb-3
        +input("Senha")(id="password-id8" type="password" placeholder="Sua senha de 8 a 11 digitos" disabled)
          +feedback("fa-exclamation-triangle", "Campo Desabilitado")(disabled)
          p.help Texto auxiliar ao preenchimento, tem a função de previnir erros.
    .col-sm-4
      p.h2 Input para Filtros
      .mb-3
        +input("Filtrar por:")(id="filtro-id" type="text" placeholder="Pesquisar em notícias" filter)
