extends ../../layouts/component

append vars
  - var title = "Input";



append content
  .row
    .col-sm
      .mb-3
        +input("Normal")(id="normal" type="text" placeholder="Insira um texto")
        p.help Texto auxiliar ao preenchimento, tem a função de previnir erros.
    .col-sm
      .mb-3
        +input("Focus")(id="focus" type="text" class="is-focus" placeholder="Insira um texto")
    .col-sm
      .mb-3
        +input("Desativado")(id="desativado" type="text" placeholder="Insira um texto" disabled)
  .row
    .col-sm
      .mb-3
        +input("Desativado")(id="disabled" placeholder="Insira um texto" disabled)
        +feedback("fa-exclamation-triangle", "Campo Desabilitado")(class="is-disabled")
    .col-sm
      .mb-3
        +input("Inválido")(id="invalid" class="is-invalid" placeholder="Insira um texto")
        +feedback("fa-times-circle", "Texto inválido")(class="is-invalid")
      .mb-3
        +input("Válido")(id="valid" class="is-valid" placeholder="Insira um texto")
        +feedback("fa-check-circle", "Texto válido")(class="is-valid")
    .col-sm
      .mb-3
        +input("Senha")(id="senha" type="password" class="has-icon" placeholder="Digite sua senha de 8 a 11 dígitos")
          button.icon(type='button')
            span.sr-only Mostrar senha
            i.fas.fa-eye
  .row
    .col-sm
      .mb-3
        +input("Autocomplete")(id="autocomplete" type="text" class="search-autocomplete has-icon" placeholder="Digite um país")
          span.icon
            i.fas.fa-search
