extends ../../layouts/component

append vars
  - var title = "Loading";

append content
  p.h5 Com porcentagem
  .row
    .col-auto
      .d-flex.justify-content-top.flex-column.align-items-center
        +card
          .front
            .content
              .br-loading(data-progress="75")
                .br-loading-mask(full)
                  .br-loading-fill
                .br-loading-mask
                  .br-loading-fill
            button.br-button.is-tertiary(type="button") Cancelar

  p.h5.mt-5 Indeterminado médio
  .row
    .col-auto
      .d-flex.justify-content-top.flex-column.align-items-center
        div(loading md label)
        span Carregando...

  p.h5.mt-5 Indeterminado pequeno
  .row
    .col-auto
      .d-flex.justify-content-top.flex-column.align-items-center
        .d-flex.align-items-center
          div(loading label)
          span Carregando...
