extends ../../layouts/component

append vars
  - var title = "Menu DS";

append scripts
  script(src="../js/menu-ds.js")

append content
  +menu-ds
    +menu-folder("Nível 1")(class="is-open")
      +menu-item("Nível 2")
      +menu-folder("Nível 2 com menu")
        +menu-item("Nível 3")
        +menu-item("Nível 3")
        +menu-item("Nível 3")
      +menu-item("Nível 2")
      +menu-item("Nível 2")
      +menu-folder("Nível 2 com menu")(class="is-open")
        +menu-item("Nível 3")
        +menu-item("Nível 3")
        +menu-item("Nível 3")
    +menu-item("Nível 1")
    +menu-item("Nível 1")
