extends ../../layouts/component

append vars
  - var title = "Menu";

append content
  p.h5 Menu Principal
  .row
    .col-sm-6.col-lg-4.col-xl-3
      +menu
        +menu-principal-content

  p.h5.mt-5 Menu Auxiliar
  .row
    .col-sm-6.col-lg-4.col-xl-3
      +menu
        +menu-auxiliar-content
