extends ../../layouts/component

append vars
  - var title = "Menu DS";

append scripts
  script(src="../js/menu-ds.js")

block content
  nav.ds-menu-lateral
    .menu-item
      button.is-open(type='button' data-toggle='collapse') T&iacute;tulo Item
      ul.submenu.level-1
        // Item sem filhos
        li.menu-item
          a Texto link
        li
          // Item com filhos
          button.is-open(type='button' data-toggle='collapse') Sub T&iacute;tulo
          ul.submenu.level-2
            li.menu-item
              a  Texto link 
