extends ../../layouts/component

append vars
  - var title = "Mensagem";

append content
  +message("is-danger")
    strong Erro.
    span  Mensagem. 
    a(href='') Exemplo de link
  +message("is-success")
    strong Sucesso.
    span  Mensagem. 
    a(href='') Exemplo de link
  +message("is-warning")
    strong Atenção.
    span  Mensagem. 
    a(href='') Exemplo de link
  +message("is-info")
    strong Informação.
    span  Mensagem. 
    a(href='') Exemplo de link
  .row
    .col
      +message("is-danger")
        p
          strong Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          br
          | Voluptatum, illo totam. A neque iusto dolores rem assumenda? Officiis error inventore laudantium quam vel illum nemo nesciunt accusamus. Dolore, aliquid assumenda.
        p
          strong Lorem ipsum dolor sit amet consectetur adipisicing elit.
          br
          | Ad fuga quod odio laborum sequi aspernatur ut nulla molestiae? Officiis earum, expedita amet optio ex necessitatibus voluptatem sequi accusamus numquam suscipit.
      +message("is-success")
        p
          strong Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          br
          | Omnis quae laudantium error explicabo amet. Dicta provident sit tempore sed incidunt reprehenderit aliquam iusto, rem architecto quibusdam tempora animi. Odio, ipsa.
        p
          strong Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          br
          | Exercitationem itaque beatae maxime repudiandae, consequuntur odio necessitatibus facilis nesciunt dicta in id error autem saepe fugiat laboriosam atque nisi dolor? Rem.
    .col
      +message("is-warning")
        p
          strong Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          br
          | Architecto quasi ex ipsa ipsum in iure quaerat harum, iusto enim, perferendis, accusamus et asperiores cum quis totam modi natus illo esse.
        p
          strong Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          br
          | Hic quam tenetur consequatur ipsam, facere molestias mollitia officia possimus voluptas provident corrupti culpa ullam quo voluptate! Iusto nesciunt temporibus adipisci aut.
      +message("is-info")
        p
          strong Lorem ipsum dolor sit amet consectetur adipisicing elit.
          br
          | Iste aperiam accusamus fugit itaque ullam temporibus quasi voluptatem ea officia architecto cupiditate qui libero numquam neque, et cumque porro molestiae enim.
        p
          strong Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          br
          | Rem minus dolorum hic, molestias cumque adipisci eos voluptatum mollitia accusantium distinctio nihil sint laboriosam, repudiandae fugit culpa enim asperiores ea labore!
