extends ../../layouts/component

append vars
  - var title = "Modal";

append content
  p.h5 Acionamento por botão
  .br-scrim.is-foco
    +modal
      +modal-header("Retornar para página inicial?")
      +modal-body
        p Você está sendo redirecionado para a página inicial do sistema
      +modal-footer
        +button()(secondary) Cancelar
        +button().ml-3(primary) Retornar

  +button()(secondary) Modal com Scrim

  p.h5.mt-5 Modal simples
  +modal
    +modal-header("Retornar para página inicial?")
      +modal-close
    +modal-body
      p Você está sendo redirecionado para a página inicial do sistema
    +modal-footer
      +button()(secondary) Cancelar
      +button().ml-3(primary) Retornar

  p.h5.mt-5 Modal login
  +modal
    +modal-header("Autenticar pelo Gov.br")
      +modal-close
    +modal-body
      +select("Domínio da autenticação")(id="auth-dominio")
        +option("Governo Federal do Brasil (gov.br)", "0")
      .mt-3
        +input("Usuário")#auth-usuario(placeholder="Insira um texto")
      .mt-3
        +input("Senha")#auth-password(type="password" placeholder="Digite sua senha de 8 a 11 dígitos")
          button.icon(type='button')
            i.fas.fa-eye
            span.sr-only Mostrar senha
    +modal-footer
      +button()(secondary) Cancelar
      +button().ml-3(primary) Retornar

  p.h5.mt-5 Modal com scroll
  +modal(class="is-scroll")
    +modal-header("Concorda com os termos?")
    +modal-body
      .br-card Lorem Ipsum dolor sit amet, consectetur adipiscing elit. Mauris id gravida nulla. Cras sagittis dapibus felis vitae semper. Donec vel hendrerit ante. Etiam sed blandit nisi. Praesent iaculis, nisl eget rutrum vehicula, lacus tortor feugiat diam, et euismod lacus metus eget nisi. Sed fermentum, nunc nec efficitur pharetra, felis dolor feugiat massa, et semper turpis felis quis ligula. Quisque non metus at risus maximus ultrices. Nam vel massa tellus. Vestibulum lobortis dui et pellentesque porta. Cras rhoncus augue a mauris porttitor, in malesuada metus eleifend. Praesent ac lacinia lorem. Sed cursus nisl ligula, vel ultrices ex pellentesque eu. Curabitur facilisis egestas libero, non pharetra lacus ultricies quis. Mauris non finibus justo, eu varius metus. Donec nec eros semper, consequat turpis id, fermentum dolor.
    +modal-footer
      +button()(secondary) Negar
      +button().ml-3(primary disabled) Aceitar
