extends ../../layouts/component

append vars
  - var title = "Navegação para sites";

append content
  button#site.br-button.is-secondary(type="button") Navegação de sites
  button#system.br-button.is-secondary.mb-3.mt-3.mt-sm-0.ml-md-3(type="button") Navegação de sistemas
  +navigation#site-nav.is-site
  +navigation#system-nav.is-system

append style
  style.
    @media (min-width: 1280px) {
      .br-navigation.is-system {
        max-width: 320px;
      }
    }

append scripts
  script.
    let activeClass = "is-active";
    function toggleNavigation(element) {
      let trigger = document.querySelector(element);
      let nav = document.querySelector(element + "-nav");
      trigger.addEventListener("click", function() {
        this.classList.toggle(activeClass);
        nav.classList.toggle(activeClass);
      });
    }
    toggleNavigation("#site");
    toggleNavigation("#system");
