extends ../../layouts/component

append vars
  - var title = "Radio button";

append content
  .description
    p.title-radiobutton Radio Button Horizontal Padrão (Titulo opcional).
    p.auxiliary-text Texto auxiliar(opcional).
  .list-options
    +radio("Padrão")(class="pb-5 pr-5 ml-3 d-inline-block" id="h-radio-default" name="selecione")
    +radio("Checado")(class="pb-5 pr-5 ml-3 d-inline-block" id="h-radio-checked" name="selecione" checked)
    +radio("Inválido")(class="pb-5 pr-5 ml-3 d-inline-block is-invalid" id="h-radio-invalid" name="selecione")
      +feedback("fa-times-circle", "Preenchimento Obrigatório")(class="is-invalid p-0")
    +radio("Válido")(class="pb-5 pr-5 ml-3 d-inline-block is-valid" id="h-radio-valid" name="selecione")
      +feedback("fa-check-circle", "Campo Correto")(class="is-valid p-0")
    +radio("Desabilitado")(class="pb-5 pr-5 ml-3 d-inline-block" id="h-radio-disabled" name="selecione" disabled)
  hr
  .row
    .col-md-4.pb-5.pr-5
      .description
        p.title-radiobutton Radio Button Vertical Padrão (Título opcional).
        p.auxiliary-text Texto auxiliar(opcional).
      .list-options
        +radio("Padrão")(id="v-radio-default" name="vertical")
        +radio("Checado")(id="v-radio-checked" name="vertical" checked)
        +radio("Inválido")(id="v-radio-invalid" name="vertical" class="is-invalid")
          +feedback("fa-times-circle", "Preenchimento Obrigatório")(class="is-invalid p-0")
        +radio("Válido")(id="v-radio-valid" name="vertical" class="is-valid")
          +feedback("fa-check-circle", "Campo Correto")(class="is-valid p-0")
        +radio("Desabilitado")(id="v-radio-disabled" name="vertical" class="d-block mb-1" disabled)
    .col-md-4.pb-5.pr-5
      .description
        p.title-radiobutton Radio Button Vertical Pequeno (Título opcional).
        p.auxiliary-text Texto auxiliar(opcional).
      .list-options
        +radio("Padrão")(id="v-s-radio-default" name="pequeno" class="is-small")
        +radio("Checado")(id="v-s-radio-checked" name="pequeno" class="is-small" checked)
        +radio("Inválido")(id="v-s-radio-invalid" name="pequeno" class="is-small is-invalid")
          +feedback("fa-times-circle", "Preenchimento Obrigatório")(class="is-invalid p-0")
        +radio("Válido")(id="v-s-radio-valid" name="pequeno" class="is-small is-valid")
          +feedback("fa-check-circle", "Campo Correto")(class="is-valid p-0")
        +radio("Desabilitado")(id="v-s-radio-disabled" name="pequeno" class="is-small" disabled)