extends ../../layouts/component

append vars
  - var title = "Scrim";

append content
  .br-scrim.is-foco
    .br-modal.is-medium
      .br-modal-dialog
        .br-modal-content
          .br-modal-header
            h1.br-modal-title Scrim com Foco
          .br-modal-body
            p Exemplo utilizando o componente scrim com FOCO
          .br-modal-footer.justify-content-center
            +button.secondary Cancelar
            +button.primary.mt-3.mt-sm-0.ml-sm-3 Retornar
  p.h5 Foco
  .scrimexemplo
    +button.primary Testar Efeito

  p.h5.mt-5 Legibilidade
  .row
    .col-auto
      +card.legibilidade
        .front
          .content.p-0
            img(src="https://picsum.photos/400" alt="iamgem aleatória")
            .effect
              .p-3 Scrim - Legibilidade

append style
  style.
    .legibilidade .content {
      position: relative;
    }
    .legibilidade .effect {
      background: rgba(var(--rgb-secondary-09), 0.45);
      color: var(--color-secondary-01);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
