extends ../../layouts/component

append vars
  - var title = "Select";
  //- - var i = 0;

append content
  .row.justify-content-center.mb-5
    .col
      +select("Componente Select Simples")
        +option("Item 1")
        +option("Item 2")
        +option("Item 3")
        +option("Item 4")
        +option("Item 5")
        +option("Item 6")
        +option("Item 7")
        +option("Item 8")
  .row.justify-content-center
    .col
      +select("Componente Select Múltiplo")(multiple)
        +option("Item 1")(multiple)
        +option("Item 2")(multiple)
        +option("Item 3")(multiple)
        +option("Item 4")(multiple)
        +option("Item 5")(multiple)
        +option("Item 6")(multiple)
        +option("Item 7")(multiple)
        +option("Item 8")(multiple)