extends ../../layouts/component

append vars
  - var title = "Tabela";

append scripts
  script(src=jscompoents+"table.js")
  script(src=jscompoents+"select.js")
  

append content
  .br-table
    .row.selecao.is-invisible.col-sm-12.col-md-12.col-lg-12
      .item-selecionado.col-sm-8.col-md-8.align-items-start
        | 1 item selecionado
      .actions.col-sm-4.col-md-4.align-items-end
        | Excluir
        #lixeira
          i.fa.fa-trash-alt
        |   Download
        #download
          i.fa.fa-download
    .row.search-bar.is-invisible.col-sm-12.col-md-12.col-lg-12
      .resultado.align-items-start
        label.sr-only(for='result') Busca da tabela
        input#result(type='text' name='result')
      .actions.align-items-end
        #find
          i.fa.fa-search
      #close.toogle-search
        i.fa.fa-times
    .row.densidade.is-visible.col-sm-12.col-md-12.col-lg-12
      .table-title.col-sm-11.col-md-11.align-items-start
        | T&iacute;tulo da Tabela
      .actions.col-sm-1.col-md-1.align-items-end
        #densidade-up
          i.fa.fa-th
        #densidade-down
          i.fa.fa-th-large
        .divisor-vertical
        .menu-items
          i.fa.fa-ellipsis-v
    .row.title-bar.is-visible.col-sm-12.col-md-12.col-lg-12
      .table-title.col-sm-11.col-md-11.align-items-start
        | T&iacute;tulo da Tabela
      .actions.col-sm-1.col-md-1.align-items-end
        #table-search.toogle-search
          i.fa.fa-search
        .menu-items
          i.fa.fa-ellipsis-v
    table#table.table-responsive
      thead
        tr
          th
          th.modify-mobil
            +checkbox("")(id="checkbox1")
          th Coluna 1
          th Coluna 2
          th Coluna 3
          th Coluna 4
          th Coluna 5
      tbody.table-body
        tr
          td
          td.modify-mobil
            +checkbox("")(id="checkbox2")
          td(data-title='Coluna 1') Lorem ipsum dolor 
          td(data-title='Coluna 2') 484
          td(data-title='Coluna 3') 10%
          td(data-title='Coluna 4') 3258 bytes
          td(data-title='Coluna 5') Curabitur tincidunt
        tr
          td
          td.modify-mobil
            +checkbox("")(id="checkbox3")
          td(data-title='Coluna 1') Nam mattis nisi
          td(data-title='Coluna 2') 484
          td(data-title='Coluna 3') 17%
          td(data-title='Coluna 4') 3258 bytes
          td(data-title='Coluna 5') Curabitur tincidunt
        tr
          td.expande-mobil
            #expande
              i.fas.fa-angle-up.rotate
          td.modify-mobil
            +checkbox("")(id="checkbox4")
          td(data-title='Coluna 1') Integer ut pretium
          td(data-title='Coluna 2') 484
          td(data-title='Coluna 3') 67%
          td(data-title='Coluna 4') 3258 bytes
          td(data-title='Coluna 5') Curabitur tincidunt
        tr.disabled
          td(colspan='7')
            .br-table
              table.interna
                thead
                  tr
                    th Coluna1
                    th Coluna2
                    th Coluna3
                    th Coluna4
                    th Coluna5
                tbody
                  tr
                    td TESTE
                    td TESTE
                    td MORE
                    td MORE
                    td TESTE
                  tr
                    td TESTE
                    td TESTE
                    td MORE
                    td MORE
                    td TESTE
                  tr
                    td TESTE
                    td TESTE
                    td MORE
                    td MORE
                    td TESTE
        tr
          td
          td.modify-mobil
           +checkbox("")(id="checkbox5")
          td(data-title='Coluna 1') Nunc imperdiet risus
          td(data-title='Coluna 2') 484
          td(data-title='Coluna 3') 93%
          td(data-title='Coluna 4') 3258 bytes
          td(data-title='Coluna 5') Curabitur tincidunt
        tr
          td
          td.modify-mobil
           +checkbox("")(id="checkbox6")
          td(data-title='Coluna 1') Pellentesque fringilla
          td(data-title='Coluna 2') 484
          td(data-title='Coluna 3') 100%
          td(data-title='Coluna 4') 3258 bytes
          td(data-title='Coluna 5') Curabitur tincidunt
        tr
          td
          td.modify-mobil
            +checkbox("")(id="checkbox7")
          td(data-title='Coluna 1') Duis id libero posuere
          td(data-title='Coluna 2') 395
          td(data-title='Coluna 3') 100%
          td(data-title='Coluna 4') 7575 bytes
          td(data-title='Coluna 5') tincidunt arcu sed
    .footer.d-sm-none
      .items-left
        .br-select.is-small
          select#simples(name='select')
            option(value='0') 12
            option(value='opcao-1') 1
            option(value='opcao-2') 10
            option(value='opcao-3') 15
            option(value='opcao-4') 20
        .paginas de 48 p&aacute;ginas
      .items-right
        .arrows-pages
          i.fa.fa-angle-left
          i.fa.fa-angle-right
    #navigation-bar.row.col-sm-12.col-md-12.col-lg-12.d-none.d-sm-flex
      .items-left
        span Exibir:
        .br-select.is-small
          select(name='select')
            option(value='0') 10
            option(value='opcao-1') 1
            option(value='opcao-2') 10
            option(value='opcao-3') 15
            option(value='opcao-4') 20
        .divisor-vertical
        div 0-10 de 50 itens
      .items-right
        .br-select.is-small
          select(name='select')
            option(value='0') 12
            option(value='opcao-1') 1
            option(value='opcao-2') 10
            option(value='opcao-3') 15
            option(value='opcao-4') 20
        div de 48 p&aacute;ginas
        .divisor-vertical
        .arrows-pages
          i.fa.fa-angle-left
          i.fa.fa-angle-right
  h2 Exemplo de tabela com coluna 
  .br-table
    .row.title-bar.is-visible.col-sm-12.col-md-12.col-lg-12
      .table-title.col-sm-11.col-md-11.align-items-start
        | T&iacute;tulo da Tabela
      .actions.col-sm-1.col-md-1.align-items-end
        #table-search
          i.fa.fa-search.toogle-search
        .menu-items  
          i.fa.fa-ellipsis-v
    table#redimensionar
      thead
        tr
          th Coluna 1
          th Coluna 2
          th Coluna 3
          th Coluna 4
          th Coluna 5
      tbody.table-body
        tr
          td(data-title='Coluna 1') Lorem ipsum dolor
          td(data-title='Coluna 2') 484
          td(data-title='Coluna 3') 10%
          td(data-title='Coluna 4') 3258 bytes
          td(data-title='Coluna 5') Curabitur tincidunt
        tr
          td(data-title='Coluna 1') Nam mattis nisi
          td(data-title='Coluna 2') 484
          td(data-title='Coluna 3') 17%
          td(data-title='Coluna 4') 3258 bytes
          td(data-title='Coluna 5') Curabitur tincidunt
        tr
          td(data-title='Coluna 1') Integer ut pretium
          td(data-title='Coluna 2') 84
          td(data-title='Coluna 3') 67%
          td(data-title='Coluna 4') 3258 bytes
          td(data-title='Coluna 5') Curabitur tincidunt
        tr
          td(data-title='Coluna 1') Nunc imperdiet risus
          td(data-title='Coluna 2') 484
          td(data-title='Coluna 3') 93%
          td(data-title='Coluna 4') 3258 bytes
          td(data-title='Coluna 5') Curabitur tincidunt
        tr
          td(data-title='Coluna 1') Pellentesque fringilla
          td(data-title='Coluna 2') 484
          td(data-title='Coluna 3') 100%
          td(data-title='Coluna 4') 3258 bytes
          td(data-title='Coluna 5') Curabitur tincidunt
        tr
          td(data-title='Coluna 1') Duis id libero posuere
          td(data-title='Coluna 2') 395
          td(data-title='Coluna 3') 100%
          td(data-title='Coluna 4') 7575 bytes
          td(data-title='Coluna 5') tincidunt arcu sed
    .footer.d-sm-none
      .items-left
        .br-select.is-small
          select#simples(name='select')
            option(value='0') 12
            option(value='opcao-1') 1
            option(value='opcao-2') 10
            option(value='opcao-3') 15
            option(value='opcao-4') 20
        .paginas de 48 p&aacute;ginas
      .items-right
        .arrows-pages
          i.fa.fa-angle-left
          i.fa.fa-angle-right
    #navigation-bar.row.col-sm-12.col-md-12.col-lg-12.d-none.d-sm-flex
      .items-left
        span Exibir:
        .br-select.is-small
          select(name='select')
            option(value='0') 10
            option(value='opcao-1') 1
            option(value='opcao-2') 10
            option(value='opcao-3') 15
            option(value='opcao-4') 20
        .divisor-vertical
        div 0-10 de 50 itens
      .items-right
        .br-select.is-small
          select(name='select')
            option(value='0') 12
            option(value='opcao-1') 1
            option(value='opcao-2') 10
            option(value='opcao-3') 15
            option(value='opcao-4') 20
        div de 48 p&aacute;ginas
        .divisor-vertical
        .arrows-pages
          i.fa.fa-angle-left
          i.fa.fa-angle-right
