extends ../../layouts/component

append vars
  - var title = "Abas";



append content
  .row
    .col
      p.label 1 | Abas Padrão
      +tabs()
        +tab-nav()
          +tab-item(title="Sobre" pane="panel-1")
          +tab-item(title="Todos" pane="panel-2")
          +tab-item(title="Notícias" class="is-active" pane="panel-3")
          +tab-item(title="Serviços" pane="panel-4")
          +tab-item(title="Aplicativos" pane="panel-5")
          +tab-item(title="Mídias" pane="panel-6")
        +tab-content
          +tab-pane(id="panel-1")
            p Painel Sobre
          +tab-pane(id="panel-2")
            p Painel Todos
          +tab-pane(id="panel-3" class="is-active")
            p Painel Noticias
          +tab-pane(id="panel-4")
            p Painel Serviços
          +tab-pane(id="panel-5")
            p Painel Aplicativos
          +tab-pane(id="panel-6")
            p Painel Mídias
  .row.mt-10
    .col
      p.label 2 | Abas com Contadores
      +tabs(counter="true")
        +tab-nav
          +tab-item(title="Refine a sua busca" count="124" notTab="true")
          +tab-item(title="Todos" pane="pane-7" count="124")
          +tab-item(title="Notícias" class="is-active" pane="pane-8" count="74")
          +tab-item(title="Serviços" pane="pane-9" count="16")
          +tab-item(title="Aplicativos" pane="pane-10" count="12")
        +tab-content
          +tab-pane(id="pane-7")
            p Painel Todos
          +tab-pane(id="pane-8"  class="is-active")
            p Painel Notícias
          +tab-pane(id="pane-9")
            p Painel Serviços
          +tab-pane(id="pane-10")
            p Painel Aplicativos
