extends ../../layouts/component

append vars
  - var title = "Abas";

append content
  p.h5 Padrão
  +tabs()
    +tab-nav()
      +tab-item(title="Sobre" panel="panel-1")
      +tab-item(title="Todos" panel="panel-2")
      +tab-item(title="Notícias" class="is-active" panel="panel-3")
      +tab-item(title="Serviços" panel="panel-4")
      +tab-item(title="Aplicativos" panel="panel-5")
      +tab-item(title="Mídias" panel="panel-6")
    +tab-content
      +tab-pane(id="panel-1")
        p Painel Sobre
      +tab-pane(id="panel-2")
        p Painel Todos
      +tab-pane(id="panel-3" class="is-active")
        p Painel Noticias
      +tab-pane(id="panel-4")
        p Painel Serviços
      +tab-pane(id="panel-5")
        p Painel Aplicativos
      +tab-pane(id="panel-6")
        p Painel Mídias

  p.h5.mt-5 Com Contadores
  +tabs(counter="true")
    +tab-nav
      +tab-item(title="Refine a sua busca" count="124" notTab="true")
      +tab-item(title="Todos" panel="panel-7" count="124")
      +tab-item(title="Notícias" class="is-active" panel="panel-8" count="74")
      +tab-item(title="Serviços" panel="panel-9" count="16")
      +tab-item(title="Aplicativos" panel="panel-10" count="12")
    +tab-content
      +tab-pane(id="panel-7")
        p Painel Todos
      +tab-pane(id="panel-8"  class="is-active")
        p Painel Notícias
      +tab-pane(id="panel-9")
        p Painel Serviços
      +tab-pane(id="panel-10")
        p Painel Aplicativos
