extends ../../layouts/component

append vars
    - var title = "Tag";

append content
    h1 Tags de Entrada
    +tag.is-start
        .icon: i.fa.fa-car
        span Mitsubishi Outlander
    +tag.is-start-close
        .icon: i.fa.fa-car
        span Mitsubishi Outlander
    +tag.is-start.disabled
        .icon: i.fa.fa-car
        span Mitsubishi Outlander
    .br-tag-input
    .br-tag-list
        +tag.is-start
            .icon: i.fa.fa-car
            span Mitsubishi Outlander
        +tag.is-start
            .icon: i.fa.fa-car
            span Mitsubishi Outlander
    .br-tag-filter
        +tag.is-start
            .icon: i.fa.fa-car
            span Mitsubishi Outlander
        +tag.is-start
            .icon: i.fa.fa-car
            span Mitsubishi Outlander

