extends ../../layouts/component

append vars
    - var title = "Tag";

append content
    h1 Tag
    h2 Estados (enabled, disabled, selected, hover)
    +tag
        .icon: i.fa.fa-car
        span Mitsubishi Outlander
    +tag.tag-input-close
        .icon: i.fa.fa-car
        span Mitsubishi Outlander
    +tag.disabled
        .icon: i.fa.fa-car
        span Mitsubishi Outlander
    hr
    h2 Tag de Entrada
    .br-tag-input
    hr
    h2 Tag de Escolha
    .br-tag-list
        +tag
            span Alta Prioridade
        +tag
            span Baixa Prioridade
    hr
    h2 Tag de Filtro        
    .br-tag-filter
        +tag
            .icon: i.fas.fa-check
            span Modelo de Automóvel
        +tag
            .icon: i.fas.fa-check
            span Tipo de Combustível