extends ../../layouts/component

append vars
  - var title = "Textarea";

append content
  .row.justify-content-around
    .col-sm-4
      +textarea("Digite sua mensagem aqui")(id="textarea-id1" placeholder="Exemplo de textarea" rows=5 cols=5)
    .col-sm-4
      +textarea("Digite sua mensagem aqui")(id="textarea-id2" placeholder="Exemplo de textarea" rows=5 cols=5 disabled)