extends ../../layouts/component

append vars
  - var title = "Textarea";

append content
  p.h5 Textarea padrão
  .row
    .col-sm-4
      +textarea("Digite sua mensagem aqui")(id="textarea-id1" placeholder="Exemplo de textarea simples" rows=5 cols=5)
      p.text-down-01.mt-1 Texto auxiliar ao preenchimento, tem a função de previnir erros.

  p.h5.mt-5 Validação e estados
  .row
    .col-sm-4
      +textarea("Digite sua mensagem aqui")(id="textarea-id4" placeholder="Exemplo de textarea válido" rows=5 cols=5 valid)
      .feedback.color-success.mt-1
        +icon.fa-check-circle
        span Campo correto
    .col-sm-4
      +textarea("Digite sua mensagem aqui")(id="textarea-id5" placeholder="Exemplo de textarea inválido" rows=5 cols=5 invalid)
      .feedback.color-danger.mt-1
        +icon.fa-times-circle
        span Campo inválido
    .col-sm-4
      +textarea("Digite sua mensagem aqui")(id="textarea-id7" placeholder="Exemplo de textarea desabilitado" rows=5 cols=5 disabled)
      .feedback.mt-1
        +icon.fa-exclamation-triangle
        span Campo Desabilitado
