extends ../../layouts/component

append vars
  - var title = "Upload";



append content
  p.titulo Upload Com Título
  .engloba
    h4 - Documentos do Trabalhador
    +upload
  hr
  p.titulo Upload Sem Título
  .engloba
    +upload
  hr
  p.titulo Upload Contido no Colapse
  .engloba
    +accordeon
      +accordeon-item("Documentos do Trabalhador")
        +upload


