extends ../../layouts/component

append vars
  - var title = "Upload";



append content
  h1 Upload Com Título
  .engloba
    h4 - Documentos do Trabalhador
    +upload
  hr
  h1 Upload Sem Título
  .engloba
    +upload
  hr
  h1 Upload Contido no Colapse
  .engloba
    +accordeon
      +accordeon-item("Documentos do Trabalhador")
        +upload


