extends ../../layouts/component

append vars
  - var title = "Upload";

append content
  p.titulo Upload Com Título
  .engloba
    p.titulo - Documentos do Trabalhador
    +upload("input-file-a")
  hr
  p.titulo Upload Sem Título
  .engloba
    +upload("input-file-b")
  hr
  p.titulo Upload Contido no Colapse
  .engloba
    +accordion
      +accordion-item("Documentos do Trabalhador")
        +upload("input-file-c")
