extends ../../layouts/component

append vars
  - var title = "Upload";

append content
  p Upload de 1 arquivo
  +upload#single-file

  hr

  p Upload de vários arquivos
  +upload()(id="multiple-files" multiple)

  hr

  p Upload com mensagem de feedback
  +upload()(feedbackText="Os arquivos devem ser no formato PNG, JPG, PDF e ter no máximo 1GB.")

  hr

  p Upload desabilitado
  +upload()(id="disabled" disabled)
