extends ../../layouts/component

append vars
  - var title = "Upload";

append content
  p.h5 Upload de 1 arquivo
  .row
    .col-md-6
      +upload#single-file

  p.h5.mt-5 Upload de vários arquivos
  .row
    .col-md-6
      +upload()(id="multiple-files" multiple)

  p.h5.mt-5 Upload com mensagem de feedback
  .row
    .col-md-6
      +upload()(feedbackText="Os arquivos devem ser no formato PNG, JPG, PDF e ter no máximo 1GB.")

  p.h5.mt-5 Upload desabilitado
  .row
    .col-md-6
      +upload()(id="disabled" disabled)
