<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>button social</title>
  <link rel="stylesheet" href="../../estilos/dist/css/dsgov.min.css">
  <link rel="stylesheet" href="../separator/separator.css">
  <link rel="stylesheet" href="button-social.css">
</head>
<body>
  <!-- Separador de conteúdo -->
  <div class="br-separator">
    <span class="hr-text">Ou</span>
  </div>
  <!-- Botões sociais -->
  <ul class="br-btn-social">
    <li>
      <a href="#"><img src="../../assets/images/facebook.png" alt="Facebook"></a>
    </li>
    <li>
      <a href="#"><img src="../../assets/images/twitter.png" alt="Twitter"></a>
    </li>
    <li>
      <a href="#"><img src="../../assets/images/google.png" alt="Google"></a>
    </li>
  </ul>
</body>
</html>
