<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>login social</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="../divider/divider.css">
  <link rel="stylesheet" href="../button/button.css">
  <link rel="stylesheet" href="login-social.css">
</head>
<body>
  <div class="container-fluid">
    <div class="br-login-social">
      <!-- Divisor de conteúdo -->
      <div class="br-divider">
        <span class="content">Ou</span>
      </div>
      <!-- Redes Sociais -->
      <button class="br-button is-social-media is-facebook" type="button">
        <i class="fab fa-facebook-f fa-lg"></i>
      </button>
      <button class="br-button is-social-media is-twitter" type="button">
        <i class="fab fa-twitter fa-lg"></i>
      </button>
      <button class="br-button is-social-media" type="button">
        <img src="../../assets/images/google.png" alt="Google">
      </button>
    </div>
  </div>
</body>
</html>
