@import "../item/mixins";

@mixin footer-configs {
  --footer-sitemap-columns: 6;

  // Mapa do site
  .footer-sitemap {
    display: grid;
    gap: var(--spacing-sm);

    @include media-breakpoint("desktop") {
      // Limite máximo de colunas definido por --footer-sitemap-columns, caso haja menos colunas elas ocupam toda a área disponível
      grid-template-columns: repeat(
        auto-fit,
        minmax(calc(1 / var(--footer-sitemap-columns) * 100%), 1fr)
      );
    }
  }

  // Logotipo
  .footer-logo {
    padding-bottom: var(--spacing-xl);
    padding-top: var(--spacing-xl);

    // Remove espaço em excesso para logo + sitemap
    & + .footer-sitemap {
      margin-top: calc(var(--spacing-sm) * -1);
    }
  }

  // Atalhos para redes sociais
  .footer-social-network {
    padding-bottom: var(--spacing-sm);
    padding-left: var(--spacing-sm);
  }

  // Copyright
  .footer-copyright {
    // padding: var(--spacing-sm);
  }
}
