//- Mixin para reusar componente Footer
mixin footer
  - const component = 'footer'
  footer(class=prefix + component)&attributes(attributes)
    if block
      block

//- Mixin para usar logo no Footer
mixin footer-logo
  .footer-logo
    if block
      block

//- Mixin para usar mapa do site no Footer
mixin footer-sitemap
  .footer-sitemap
    if block
      block

//- Mixin para usar redes sociais no Footer
mixin footer-social-network
  .footer-social-network
    if block
      block

//- Mixin para usar copyright no Footer
mixin footer-copyright
  .footer-copyright
    if block
      block
