.br-checkbox input[type="checkbox"]:hover + label:before, .br-checkbox.hover input[type="checkbox"] + label:before, .br-checkbox input[type="radio"]:hover + label:before, .br-checkbox.hover input[type="radio"] + label:before {
  -webkit-box-shadow: inset 0 0 0 1px #888, 0 0 0 4px rgba(43, 116, 233, 0.45);
          box-shadow: inset 0 0 0 1px #888, 0 0 0 4px rgba(43, 116, 233, 0.45);
}

.br-checkbox input[type="checkbox"]:focus + label, .br-checkbox.focus input[type="checkbox"] + label, .br-checkbox input[type="radio"]:focus + label, .br-checkbox.focus input[type="radio"] + label {
  outline: 1px dotted currentColor;
  outline-offset: 4px;
}

.br-checkbox input[type="checkbox"]:checked + label:before, .br-checkbox.checked input[type="checkbox"] + label:before, .br-checkbox input[type="radio"]:checked + label:before, .br-checkbox.checked input[type="radio"] + label:before {
  background: #2b74e9;
}

.br-checkbox input[type="checkbox"]:invalid + label:before, .br-checkbox.invalid input[type="checkbox"] + label:before, .br-checkbox input[type="radio"]:invalid + label:before, .br-checkbox.invalid input[type="radio"] + label:before {
  -webkit-box-shadow: inset 0 0 0 1px #f33, 0 0 0 1px #f33;
          box-shadow: inset 0 0 0 1px #f33, 0 0 0 1px #f33;
}

.br-checkbox input[type="checkbox"]:disabled + label:before, .br-checkbox.disabled input[type="checkbox"] + label:before, .br-checkbox input[type="radio"]:disabled + label:before, .br-checkbox.disabled input[type="radio"] + label:before {
  background: #EDEDED;
  -webkit-box-shadow: inset 0 0 0 1px #888;
          box-shadow: inset 0 0 0 1px #888;
}

.br-checkbox {
  display: inline-block;
  position: relative;
}

.br-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.br-checkbox input[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  padding: 0 0 0 28px;
  font-size: 14px;
  font-weight: 500;
}

.br-checkbox input[type="checkbox"] + label:before {
  content: "";
  margin-right: 8px;
  margin-left: -28px;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #888;
          box-shadow: inset 0 0 0 1px #888;
  border-radius: 4px;
}

.br-checkbox input[type="checkbox"]:checked + label:before {
  -webkit-box-shadow: inset 0 0 0 1px #2b74e9;
          box-shadow: inset 0 0 0 1px #2b74e9;
}

.br-checkbox input[type="checkbox"]:invalid + label {
  color: #f33;
}

.br-checkbox.checked input[type="checkbox"] + label:before {
  -webkit-box-shadow: inset 0 0 0 1px #2b74e9;
          box-shadow: inset 0 0 0 1px #2b74e9;
}

.br-checkbox.invalid input[type="checkbox"] + label {
  color: #f33;
}

.br-checkbox {
  display: inline-block;
  position: relative;
}

.br-checkbox input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.br-checkbox input[type="radio"] + label {
  position: relative;
  cursor: pointer;
  padding: 0 0 0 28px;
  font-size: 14px;
  font-weight: 500;
}

.br-checkbox input[type="radio"] + label:before {
  content: "";
  margin-right: 8px;
  margin-left: -28px;
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  background: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #888;
          box-shadow: inset 0 0 0 1px #888;
  border-radius: 50%;
}

.br-checkbox input[type="radio"]:checked + label:before {
  -webkit-box-shadow: inset 0 0 0 4px #fff, 0 0 0 1px #2b74e9;
          box-shadow: inset 0 0 0 4px #fff, 0 0 0 1px #2b74e9;
}

.br-checkbox input[type="radio"]:invalid + label {
  color: #f33;
}

.br-checkbox.checked input[type="radio"] + label:before {
  -webkit-box-shadow: inset 0 0 0 4px #fff, 0 0 0 1px #2b74e9;
          box-shadow: inset 0 0 0 4px #fff, 0 0 0 1px #2b74e9;
}

.br-checkbox.invalid input[type="radio"] + label {
  color: #f33;
}

input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 2.8px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  width: 7px;
  height: 11.2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
/*# sourceMappingURL=checkbox.css.map */