<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>busca</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="../input/input.css">
  <link rel="stylesheet" href="../button/button.css">
  <link rel="stylesheet" href="search.css">
</head>
<body>
  <div class="container-fluid">
    <div class="br-search">
      <div class="br-input has-icon">
        <label for="search-autocomplete" class="sr-only">Autocomplete</label>
        <input id="search-autocomplete" type="search" placeholder="Digite um país">
        <span class="icon">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="action">
        <button class="br-button is-primary ml-3" type="button">Buscar</button>
      </div>
    </div>
  </div>
  <script src="search-autocomplete.js"></script>
</body>
</html>
