//Height
$select-height-small: 32px;
$select-height-medium: 40px;
$select-height-large: 48px;
//Padding
$select-padding-small: 4px 24px;
$select-padding-medium: 7px 24px;
$select-padding-large: 7px 24px;
//Font-size
$select-font-size-small: 14px;
$select-font-size-medium: 16px;
$select-font-size-large: 20px;
//Margin
$select-margin-bottom: 40px;
//Border
$select-border-size: 1px;
$select-border-radius: 4px;
$select-border-focus: 2px solid $color-primary-lighten-15;
$select-border-dropdown: 1px solid $color-gray-2;
//Icon
$select-icon: "\f078";
//Box Shadown
$select-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
//Background
$select-background:  #dbe7fc;
