// Lista de Itens de Abas 
@mixin input-select {
  background: $color-white;
  border: $select-border-size solid $color-gray-5;
  border-radius: $select-border-radius;
  box-sizing: border-box;
  margin-bottom: $select-margin-bottom;
  overflow: hidden;
  &.select-small {
    height: $select-height-small;
    padding: $select-padding-small;
    & li {
      font-size: 1$select-font-size-small;
    }
    &::before {
      font-size: $select-font-size-small;
    }
  }
  &.select-medium {
    height: $select-height-medium;
    padding: $select-padding-medium;
    & li {
      font-size: $select-font-size-medium;
    }
    &::before {
      font-size: $select-font-size-medium;
    }
  }
  &.select-large {
    height: $select-height-large;
    padding: $select-padding-large;
    & li {
      font-size: $select-font-size-large;
    }
    &::before {
      font-size: $select-font-size-large;
    }
  }
  &.select-disable {
    background: $color-gray-2;
    cursor: default;
    &::before {
      color: $color-gray-4;
    }
    & li {
      color: $color-gray-5;
    }
  }
  &::before {
    -webkit-font-smoothing: antialiased;
    color: $color-primary-lighten-15;
    content: $select-icon;
    display: inline-block;
    float: right;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    margin-right: -10px;
    margin-top: 1px;
    text-rendering: auto;
  }
  & select {
    display: none;
  }
  & ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & li {
    color: $color-gray-6;
    &:first-child {
      font-style: italic;
    }
  }
  &.focus {
    border: $select-border-focus;
    & ul {
      background: $color-white;
      border: $select-border-dropdown;
      border-radius: 4px;
      box-shadow: $select-box-shadow;
      display: block;
      margin-left: -24px;
      margin-top: 31px;
      position: absolute;
      z-index: 99;
      & li {
        font-weight: 500;
        padding: 8px 24px;
        &:hover {
          background: $select-background;
          cursor: pointer;
        }
      }
    }
  }
}
