/*!
 * search - 0.1.0 */
.br-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.br-search .field {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.br-search .field input {
  font-size: 16px;
  line-height: 28px;
  color: #555555;
  font-style: normal;
  font-weight: 400;
  font-family: Rawline;
  background: #ffffff;
  border: 1px solid #888888;
  border-radius: 6px;
  display: block;
  line-height: 1.5;
  padding: 8px 16px;
  width: 100%;
  padding-right: 48px;
}

.br-search .field input:focus {
  border-color: #2b74e9;
  -webkit-box-shadow: 0 0 0 1px #2b74e9;
          box-shadow: 0 0 0 1px #2b74e9;
  outline: none;
}

.br-search .field input:invalid {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-search .field input:invalid:focus {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
  outline: none;
}

.br-search .field input:disabled {
  background: #ededed;
}

.br-search .field input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: normal;
  color: #555555;
  font-style: italic;
  font-weight: 400;
  font-family: Rawline;
}

.br-search .field input:-ms-input-placeholder {
  font-size: 14px;
  line-height: normal;
  color: #555555;
  font-style: italic;
  font-weight: 400;
  font-family: Rawline;
}

.br-search .field input::-ms-input-placeholder {
  font-size: 14px;
  line-height: normal;
  color: #555555;
  font-style: italic;
  font-weight: 400;
  font-family: Rawline;
}

.br-search .field input::placeholder {
  font-size: 14px;
  line-height: normal;
  color: #555555;
  font-style: italic;
  font-weight: 400;
  font-family: Rawline;
}

.br-search .field .icon {
  background: transparent;
  border: 0;
  font-size: 16px;
  margin: 0 16px;
  min-width: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: auto;
  right: 0;
}

.br-search .search-items {
  background: #ffffff;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  right: 0;
}

.br-search .search-items div {
  padding: 8px 16px;
  cursor: pointer;
}

.br-search .search-items div:hover {
  background-color: #dbe8fb;
}

.br-search .search-active {
  background-color: #2b74e9 !important;
  color: #ffffff;
}

.br-search .feedback {
  color: #555555;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  padding: 4px;
  width: 100%;
}

.br-search.is-invalid .field input {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-search.is-invalid .field input:focus {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
  outline: none;
}

.br-search.is-invalid .feedback {
  color: #ff3333;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  padding: 4px;
}

.br-search.is-valid .field input {
  border-color: #168821;
  -webkit-box-shadow: 0 0 0 1px #168821;
          box-shadow: 0 0 0 1px #168821;
}

.br-search.is-valid .field input:focus {
  border-color: #168821;
  -webkit-box-shadow: 0 0 0 1px #168821;
          box-shadow: 0 0 0 1px #168821;
  outline: none;
}

.br-search.is-valid .feedback {
  color: #168821;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  padding: 4px;
}
/*# sourceMappingURL=search.css.map */