extends ../../../partial/pug/isolate

block dependencies
  include ../modal
  include ../../../components/button/button

block content
  #scrimutilexample.br-scrim-util.foco(data-scrim="true")
    .br-modal
      .br-modal-header Modal com scrim
      .br-modal-body
        p Exemplo utilizando o componente scrim com FOCO
      .br-modal-footer.justify-content-center
        +button#scrimfechar.secondary(data-dismiss="scrimexample") Cancelar
        +button.primary.mt-3.mt-sm-0.ml-sm-3 Retornar
  .scrimutilexemplo
    +button.primary Abrir modal
