block vars
  - var title = "Authentication layout";

doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
    // Fonte Rawline
    link(rel="stylesheet" href="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/fonts/rawline/css/rawline.css")
    // Design System de Governo
    link(rel="stylesheet" href="../css/dsgov.css")
    // Fontawesome
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js")
  body.template-authentication
    header#header.page-header
      // Atalhos para conteúdo
      ul#skip-menu.skip-menu
        li
          a(accesskey='1' href='#content') Ir para o conteúdo
        li
          a(accesskey='2' href='#navigation') Ir para o menu
        li
          a(accesskey='3' href='#footer') Ir para o rodapé
      // Barra de governo
      #barra-brasil
    .page-wrapper
      .left-side
        .page-content
          block auth-logo
            // Logo
            a#left-logo.logo(href="")
              img.marca(src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/govbr.svg" alt="Governo do Brasil")
          block auth-menu
            // Menu de navegação
            nav#navigation.d-none.d-sm-block
              ul.br-tabs.is-vertical
                li.item.is-active
                  a(href="")
                    span.name item sem ícone
                li.item
                  a(href="")
                    img.icon(src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/icons/certificado-digital.png" alt="Certificado Digital")
                    span.name item com ícone
                li.item
                  a(href="")
                    img.icon(src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/icons/neoid.png" alt="NeoID")
                    span.name item com ícone
      .right-side
        .page-content
          // Cabeçalho da página
          header#header
            block header
              // Acessibilidade
              .accessibility
                a#contrast(href="" accesskey="6")
                  span.icon
                    i.fas.fa-adjust
                  span
                    span.d-none.d-sm-inline  Alto Contraste
          // Conteúdo principal
          main#content.mb-12
            h1.main-title #{title}
            block content
              p Conteúdo principal
    // Rodapé de governo
    footer#footer.page-footer
      block footer
        .chancela-serpro
          img(src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/produto-serpro.png" alt="Produto Serpro")
    script(src="//barra.brasil.gov.br/barra_2.0.js" defer)
    block scripts
