extends default

append vars
  - var templateClass = "authentication";

append scripts
  script(src="//barra.brasil.gov.br/barra_2.0.js" defer)

append template
  header#header.page-header
    // Atalhos para conteúdo
    ul#skip-menu.skip-menu
      li
        a(accesskey='1' href='#content') Ir para o conteúdo
      li
        a(accesskey='2' href='#navigation') Ir para o menu    
      li
        a(accesskey='3' href='#footer') Ir para o rodapé
    // Barra de governo
    #barra-brasil
  .page-wrapper
    .left-side
      .page-content
        block auth-logo
          // Logo
          a#left-logo.logo(href="")
            img.marca(src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/govbr.svg" alt="Governo do Brasil")
        block auth-menu
    .right-side
      .page-content
        // Cabeçalho da página
        header
          block header
            // Acessibilidade
            .accessibility
              a#contrast(href="" accesskey="6")
                span.icon
                  i.fas.fa-adjust
                span
                  span.d-none.d-sm-inline  Alto Contraste
        // Conteúdo principal
        main#content.mb-12
          h1.main-title #{title}
          block message
          block content
  // Rodapé de governo
  footer#footer.page-footer
    block footer
      .chancela-serpro
        img(src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/produto-serpro.png" alt="Produto Serpro")
