//- extends default

//- append vars
//-   - var templateClass = "site";

//- append scripts
//-   script(src="//barra.brasil.gov.br/barra_2.0.js" defer)
//-   script(src="../js/templates/site.js")

//- append template
//-   // Cabeçalho da página
//-   header#header.page-header
//-     // Atalhos para conteúdo
//-     +skip-menu
//-     // header
//-     +header-site
//-   // Wrapper principal
//-   .page-wrapper
//-     // Menu de navegação
//-     nav#navigation.navigation(data-children="hover" data-level="0")
//-       .wrapper
//-         .bg-color-secondary-03
//-           .container
//-             // Logo e avatar
//-             .header-bar
//-               // Avatar do usuário
//-               .nav-avatar
//-               // Altocontraste
//-               .nav-contrast
//-               // Sistemas favoritos do usuário
//-               .nav-bookmarks
//-               // Logo
//-               .nav-logo
//-             // Menu de navegação
//-             .items
//-               // Navegação local
//-               ul.local(data-level="0")
//-                 li.item
//-                   button(type="button") Item de nível 1
//-                   ul.submenu.level-1(data-level="1")
//-                     li.item
//-                       button(type="button") Item de nível 2.1
//-                       ul.submenu.level-2(data-level="2")
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.1
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.1
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.1
//-                     li.item
//-                       button(type="button") Item de nível 2.2
//-                       ul.submenu.level-2(data-level="2")
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.2
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.2
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.2
//-                     li.item
//-                       button(type="button") Item de nível 2.3
//-                       ul.submenu.level-2(data-level="2")
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.3
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.3
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.3
//-                     li.item
//-                       button(type="button") Item de nível 2.4
//-                       ul.submenu.level-2(data-level="2")
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.4
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.4
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.4
//-                     li.item
//-                       button(type="button") Item de nível 2.5
//-                       ul.submenu.level-2(data-level="2")
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.5
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.5
//-                         li.item
//-                           a(href="javascript:void(0)") Item de nível 3.5
//-                 li.item
//-                   button(type="button") Conheça a Presidência
//-                   ul.submenu.level-1(data-level="1")
//-                     li.item
//-                       a(href="javascript:void(0)") Biografia do Presidente
//-                     li.item
//-                       a(href="javascript:void(0)") Ministros
//-                     li.item
//-                       a(href="javascript:void(0)") Principais Tropas
//-                     li.item
//-                       a(href="javascript:void(0)") Palácio e Residências
//-                     li.item
//-                       a(href="javascript:void(0)") Acervo
//-                     li.item
//-                       a(href="javascript:void(0)") Ritos e Solenidades
//-                     li.item
//-                       a(href="javascript:void(0)") Presentes recebidos pelo Presidênte da República
//-                 li.item
//-                   button(type="button") Vice-Presidência
//-                   ul.submenu.level-1(data-level="1")
//-                     li.item
//-                       a(href="javascript:void(0)") Agenda Vice-Presidente
//-                     li.item
//-                       a(href="javascript:void(0)") Agendas do Gabinete Pessoal da Vice-Presidência
//-                     li.item
//-                       a(href="javascript:void(0)") Biografia
//-                     li.item
//-                       a(href="javascript:void(0)") Atribuições
//-                     li.item
//-                       a(href="javascript:void(0)") Discursos e Pronunciamentos
//-                 li.item
//-                   button(type="button") Acesso á Informação
//-                   ul.submenu.level-1(data-level="1")
//-                     li.item
//-                       a(href="javascript:void(0)") Institucional
//-                     li.item
//-                       a(href="javascript:void(0)") Ações e Programas
//-                     li.item
//-                       a(href="javascript:void(0)") Dados abertos
//-                     li.item
//-                       a(href="javascript:void(0)") Auditorias
//-                     li.item
//-                       a(href="javascript:void(0)") Convênios
//-                     li.item
//-                       a(href="javascript:void(0)") Despesas
//-                     li.item
//-                       a(href="javascript:void(0)") Licitações e contratos
//-                     li.item
//-                       a(href="javascript:void(0)") Servidores
//-                     li.item
//-                       a(href="javascript:void(0)") Informações Classificadas
//-                     li.item
//-                       a(href="javascript:void(0)") Serviço de Informação ao Cidadão
//-                 li.item
//-                   button(type="button") Centrais de Conteúdo
//-                   ul.submenu.level-1(data-level="1")
//-                     li.item
//-                       a(href="javascript:void(0)") Imagens
//-                     li.item
//-                       a(href="javascript:void(0)") Vídeos
//-                     li.item
//-                       a(href="javascript:void(0)") Áudios
//-                 li.item
//-                   button(type="button") Fale Conosco
//-                   ul.submenu.level-1(data-level="1")
//-                     li.item
//-                       a(href="javascript:void(0)") Fale com o Presidente
//-                     li.item
//-                       a(href="javascript:void(0)") Ouvidoria
//-                 li.item
//-                   a(href="javascript:void(0)") Mensagem do Presidente
//-               // Navegação do gov.br
//-               ul.govbr(data-level="0")
//-                 li.item
//-                   button.logo(type="button")
//-                     img(src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/govbrNegativa.svg" alt="gov.br")
//-                   ul.submenu.level-1(data-level="1")
//-                     li.item
//-                       a(href="javascript:void(0)") Notícias
//-                     li.item
//-                       a(href="javascript:void(0)") Agenda do Presidente
//-                     li.item
//-                       a(href="javascript:void(0)") Agenda do Presidente em exercício
//-                     li.item
//-                       a(href="javascript:void(0)") Discursos
//-                     li.item
//-                       a(href="javascript:void(0)") Pronunciamentos
//-                     li.item
//-                       a(href="javascript:void(0)") Notas Oficiais
//-                     li.item
//-                       a(href="javascript:void(0)") Notas
//-                     li.item
//-                       a(href="javascript:void(0)") Entrevistas
//-                     li.item
//-                       a(href="javascript:void(0)") Foto Oficial
//-                     li.item
//-                       a(href="javascript:void(0)") Área de Imprensa
//-                     li.item
//-                       a(href="javascript:void(0)") Porta-voz
//-                     li.item
//-                       a(href="javascript:void(0)") WhatsApp
//-         .container
//-           // Links rápidos
//-           .nav-quicklinks
//-           // Logout
//-           .nav-logout
//-             .nav-buttontimeout
//-             .nav-timeout
//-           // Links úteis e redes sociais
//-           .row
//-             // Links úteis
//-             .col-md
//-               .links
//-                 span Links úteis
//-                 a(href="javascript:void(0)")
//-                   | Acesso á Informação 
//-                   i.fas.fa-external-link-alt
//-                 a(href="javascript:void(0)")
//-                   | Participe 
//-                   i.fas.fa-external-link-alt
//-                 a(href="javascript:void(0)")
//-                   | Órgãos do Governo 
//-                   i.fas.fa-external-link-alt
//-                 a(href="javascript:void(0)")
//-                   | Acessibilidade 
//-                   i.fas.fa-external-link-alt
//-             // Redes sociais
//-             .col-md-auto
//-               .social-network
//-                 span Redes sociais
//-                 ul
//-                   li
//-                     a(href="https://www.twitter.com/twitter.com/govbr")
//-                       i.fab.fa-twitter.fa-lg
//-                       span.sr-only Twitter
//-                   li
//-                     a(href="https://www.youtube.com/youtube.com/govbr")
//-                       i.fab.fa-youtube.fa-lg
//-                       span.sr-only YouTube
//-                   li
//-                     a(href="https://www.facebook.com/facebook.com/govbr")
//-                       i.fab.fa-facebook-f.fa-lg
//-                       span.sr-only Facebook
//-                   li
//-                     a(href="https://www.flickr.com/flickr/govbr")
//-                       i.fab.fa-flickr.fa-lg
//-                       span.sr-only Flickr
//-     // Breadcrumbs
//-     div
//-       .container
//-         +breadcrumb
//-           +crumb("Tela anterior")
//-           +crumb("tela atual", "is-active")
//-         hr
//-     // Conteúdo principal
//-     main#content.page-content
//-       .container
//-         block message
//-         block title
//-           h1.main-title #{title}
//-         block content
//-   // Rodapé de governo
//-   footer#footer.page-footer
//-     .bg-color-primary-darken-02.text-color-secondary-01
//-       .container
//-         // Logo do rodapé
//-         .logo
//-           img(src="https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/"+version+"/images/govbrNegativa.svg" alt="gov.br")
//-         block sitemap
//-           // Itens de navegação
//-           .navigation.is-active
//-             ul.local(data-level="0")
//-               li.item.is-active
//-                 button(type="button") Item de nível 1
//-                 ul.submenu.level-1(data-level="1")
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Item de nível 2.1
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Item de nível 2.2
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Item de nível 2.3
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Item de nível 2.4
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Item de nível 2.5
//-               li.item.is-active
//-                 button(type="button") Conheça a Presidência
//-                 ul.submenu.level-1(data-level="1")
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Biografia do Presidente
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Ministros
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Principais Tropas
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Palácio e Residências
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Acervo
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Ritos e Solenidades
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Presentes recebidos pelo Presidênte da República
//-               li.item.is-active
//-                 button(type="button") Vice-Presidência
//-                 ul.submenu.level-1(data-level="1")
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Agenda Vice-Presidente
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Agendas do Gabinete Pessoal da Vice-Presidência
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Biografia
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Atribuições
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Discursos e Pronunciamentos
//-               li.item.is-active
//-                 button(type="button") Acesso á Informação
//-                 ul.submenu.level-1(data-level="1")
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Institucional
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Ações e Programas
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Dados abertos
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Auditorias
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Convênios
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Despesas
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Licitações e contratos
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Servidores
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Informações Classificadas
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Serviço de Informação ao Cidadão
//-               li.item.is-active
//-                 button(type="button") Centrais de Conteúdo
//-                 ul.submenu.level-1(data-level="1")
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Imagens
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Vídeos
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Áudios
//-               li.item.is-active
//-                 button(type="button") Fale Conosco
//-                 ul.submenu.level-1(data-level="1")
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Fale com o Presidente
//-                   li.item.is-active
//-                     a(href="javascript:void(0)") Ouvidoria
//-               li.item.is-active
//-                 a(href="javascript:void(0)") Mensagem do Presidente
//-         // Redes sociais
//-         .social-network
//-           span Redes sociais
//-           ul
//-             li
//-               a(href="https://www.twitter.com/twitter.com/govbr")
//-                 i.fab.fa-twitter.fa-lg
//-                 span.sr-only Twitter
//-             li
//-               a(href="https://www.youtube.com/youtube.com/govbr")
//-                 i.fab.fa-youtube.fa-lg
//-                 span.sr-only YouTube
//-             li
//-               a(href="https://www.facebook.com/facebook.com/govbr")
//-                 i.fab.fa-facebook-f.fa-lg
//-                 span.sr-only Facebook
//-             li
//-               a(href="https://www.flickr.com/flickr/govbr")
//-                 i.fab.fa-flickr.fa-lg
//-                 span.sr-only Flickr
