extends default

append vars
  - var templateClass = "site";

append scripts
  script(src="//barra.brasil.gov.br/barra_2.0.js" defer)
  script(src='../js/site.js')

append template
  // Cabeçalho da página
  header#header.page-header(data-type='portal')
    // Atalhos para conteúdo
    ul#skip-menu.skip-menu
      li
        a(accesskey='1' href='#content') Ir para o conteúdo
      li
        a(accesskey='2' href='#navigation') Ir para o menu
      li
        a(accesskey='3' href='#footer') Ir para o rodapé
    // Sombra do topo
    .shadow-bottom
      .container
        // Barra principal
        .header-bar
          // Logo
          .logo
            a#logo(href='')
              img(src='https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/govbr.svg' alt='Governo Federal')
            span.description Ministério da Economia
            span.name Secretaria da Receita do Brasil - RFB
          // Links rápidos
          .quicklinks
            // Acesso gov.br
            a.login(href='')
              i.fas.fa-user.fa-lg
              span Acesso GOV.BR
            // Legislação
            a.legislation(href='') Legislação
            // Idioma
            .language.dropdown
              button.trigger(type='button')
                span.name Português
                i.fas.fa-chevron-down.arrow
              .menu
                .title Idioma/Language
                button.item.is-active(type='button')
                  span.name Português
                button.item(type='button')
                  span.name English
                button.item(type='button')
                  span.name Español
            // Altocontraste
            a#contrast.contrast(href='' accesskey='6')
              i.fas.fa-adjust.fa-lg
              span.sr-only Alto contraste
          // Busca geral
          .search
            .field
              label.sr-only(for='search') Autocomplete
              input#search(type='search' placeholder='O que você procura?')
              button(type='button')
                i.fas.fa-search.fa-lg
                span.sr-only buscar
            button.close(type='button')
              i.fas.fa-times.fa-lg
              span.sr-only fechar a busca
          // Barra do usuário
          .user-bar
          // Menu sanduiche
          button.menu-hamburger(type='button')
            i.fa.fa-bars
  // Wrapper principal
  .page-wrapper
    // Menu de navegação
    nav#navigation.navigation(data-children='hover' data-level='0')
      .wrapper
        .bg-gray-2
          .container
            // Logo e avatar
            .header-bar
              // Avatar do usuário
              .nav-avatar
              // Altocontraste
              .nav-contrast
              // Sistemas favoritos do usuário
              .nav-bookmarks
              // Logo
              .nav-logo
            // Menu de navegação
            .items
              // Navegação local
              ul.local(data-level='0')
                li.item
                  button(type='button') Item de nível 1
                  ul.submenu.level-1(data-level='1')
                    li.item
                      button(type='button') Item de nível 2.1
                      ul.submenu.level-2(data-level='2')
                        li.item
                          a(href='') Item de nível 3.1
                        li.item
                          a(href='') Item de nível 3.1
                        li.item
                          a(href='') Item de nível 3.1
                    li.item
                      button(type='button') Item de nível 2.2
                      ul.submenu.level-2(data-level='2')
                        li.item
                          a(href='') Item de nível 3.2
                        li.item
                          a(href='') Item de nível 3.2
                        li.item
                          a(href='') Item de nível 3.2
                    li.item
                      button(type='button') Item de nível 2.3
                      ul.submenu.level-2(data-level='2')
                        li.item
                          a(href='') Item de nível 3.3
                        li.item
                          a(href='') Item de nível 3.3
                        li.item
                          a(href='') Item de nível 3.3
                    li.item
                      button(type='button') Item de nível 2.4
                      ul.submenu.level-2(data-level='2')
                        li.item
                          a(href='') Item de nível 3.4
                        li.item
                          a(href='') Item de nível 3.4
                        li.item
                          a(href='') Item de nível 3.4
                    li.item
                      button(type='button') Item de nível 2.5
                      ul.submenu.level-2(data-level='2')
                        li.item
                          a(href='') Item de nível 3.5
                        li.item
                          a(href='') Item de nível 3.5
                        li.item
                          a(href='') Item de nível 3.5
                li.item
                  button(type='button') Conheça a Presidência
                  ul.submenu.level-1(data-level='1')
                    li.item
                      a(href='') Biografia do Presidente
                    li.item
                      a(href='') Ministros
                    li.item
                      a(href='') Principais Tropas
                    li.item
                      a(href='') Palácio e Residências
                    li.item
                      a(href='') Acervo
                    li.item
                      a(href='') Ritos e Solenidades
                    li.item
                      a(href='') Presentes recebidos pelo Presidênte da República
                li.item
                  button(type='button') Vice-Presidência
                  ul.submenu.level-1(data-level='1')
                    li.item
                      a(href='') Agenda Vice-Presidente
                    li.item
                      a(href='') Agendas do Gabinete Pessoal da Vice-Presidência
                    li.item
                      a(href='') Biografia
                    li.item
                      a(href='') Atribuições
                    li.item
                      a(href='') Discursos e Pronunciamentos
                li.item
                  button(type='button') Acesso á Informação
                  ul.submenu.level-1(data-level='1')
                    li.item
                      a(href='') Institucional
                    li.item
                      a(href='') Ações e Programas
                    li.item
                      a(href='') Dados abertos
                    li.item
                      a(href='') Auditorias
                    li.item
                      a(href='') Convênios
                    li.item
                      a(href='') Despesas
                    li.item
                      a(href='') Licitações e contratos
                    li.item
                      a(href='') Servidores
                    li.item
                      a(href='') Informações Classificadas
                    li.item
                      a(href='') Serviço de Informação ao Cidadão
                li.item
                  button(type='button') Centrais de Conteúdo
                  ul.submenu.level-1(data-level='1')
                    li.item
                      a(href='') Imagens
                    li.item
                      a(href='') Vídeos
                    li.item
                      a(href='') Áudios
                li.item
                  button(type='button') Fale Conosco
                  ul.submenu.level-1(data-level='1')
                    li.item
                      a(href='') Fale com o Presidente
                    li.item
                      a(href='') Ouvidoria
                li.item
                  a(href='') Mensagem do Presidente
              // Navegação do gov.br
              ul.govbr(data-level='0')
                li.item
                  button.logo(type='button')
                    img(src='https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/govbrNegativa.svg' alt='gov.br')
                  ul.submenu.level-1(data-level='1')
                    li.item
                      a(href='') Notícias
                    li.item
                      a(href='') Agenda do Presidente
                    li.item
                      a(href='') Agenda do Presidente em exercício
                    li.item
                      a(href='') Discursos
                    li.item
                      a(href='') Pronunciamentos
                    li.item
                      a(href='') Notas Oficiais
                    li.item
                      a(href='') Notas
                    li.item
                      a(href='') Entrevistas
                    li.item
                      a(href='') Foto Oficial
                    li.item
                      a(href='') Área de Imprensa
                    li.item
                      a(href='') Porta-voz
                    li.item
                      a(href='') WhatsApp
        .container
          // Links rápidos
          .nav-quicklinks
          // Logout
          .nav-logout
            .nav-buttontimeout
            .nav-timeout
          // Links úteis e redes sociais
          .row
            // Links úteis
            .col-md
              .links
                span Links úteis
                a(href='')
                  | Acesso á Informação 
                  i.fas.fa-external-link-alt
                a(href='')
                  | Participe 
                  i.fas.fa-external-link-alt
                a(href='')
                  | Órgãos do Governo 
                  i.fas.fa-external-link-alt
                a(href='')
                  | Acessibilidade 
                  i.fas.fa-external-link-alt
            // Redes sociais
            .col-md-auto
              .social-network
                span Redes sociais
                ul
                  li
                    a(href='https://www.twitter.com/twitter.com/govbr')
                      i.fab.fa-twitter.fa-lg
                      span.sr-only Twitter
                  li
                    a(href='https://www.youtube.com/youtube.com/govbr')
                      i.fab.fa-youtube.fa-lg
                      span.sr-only YouTube
                  li
                    a(href='https://www.facebook.com/facebook.com/govbr')
                      i.fab.fa-facebook-f.fa-lg
                      span.sr-only Facebook
                  li
                    a(href='https://www.flickr.com/flickr/govbr')
                      i.fab.fa-flickr.fa-lg
                      span.sr-only Flickr
    // Breadcrumbs
    div
      .container
        ul.br-breadcrumb.pt-3
          li.home
            a(href='')
              span.sr-only Página inicial
              i.fas.fa-home
          li
            a(href='') Tela anterior
          li.is-active
            a(href='') Tela atual
        hr
    // Conteúdo principal
    main#content.page-content
      .container
        block message
        block title
          h1.main-title #{title}
        block content
  // Rodapé de governo
  footer#footer.page-footer
    .bg-primary-darken-2.text-white
      .container
        // Logo do rodapé
        .logo
          img(src='https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/images/govbrNegativa.svg' alt='gov.br')
        // Itens de navegação
        .navigation.is-active
          ul.local(data-level='0')
            li.item.is-active
              button(type='button') Item de nível 1
              ul.submenu.level-1(data-level='1')
                li.item.is-active
                  a(href='') Item de nível 2.1
                li.item.is-active
                  a(href='') Item de nível 2.2
                li.item.is-active
                  a(href='') Item de nível 2.3
                li.item.is-active
                  a(href='') Item de nível 2.4
                li.item.is-active
                  a(href='') Item de nível 2.5
            li.item.is-active
              button(type='button') Conheça a Presidência
              ul.submenu.level-1(data-level='1')
                li.item.is-active
                  a(href='') Biografia do Presidente
                li.item.is-active
                  a(href='') Ministros
                li.item.is-active
                  a(href='') Principais Tropas
                li.item.is-active
                  a(href='') Palácio e Residências
                li.item.is-active
                  a(href='') Acervo
                li.item.is-active
                  a(href='') Ritos e Solenidades
                li.item.is-active
                  a(href='') Presentes recebidos pelo Presidênte da República
            li.item.is-active
              button(type='button') Vice-Presidência
              ul.submenu.level-1(data-level='1')
                li.item.is-active
                  a(href='') Agenda Vice-Presidente
                li.item.is-active
                  a(href='') Agendas do Gabinete Pessoal da Vice-Presidência
                li.item.is-active
                  a(href='') Biografia
                li.item.is-active
                  a(href='') Atribuições
                li.item.is-active
                  a(href='') Discursos e Pronunciamentos
            li.item.is-active
              button(type='button') Acesso á Informação
              ul.submenu.level-1(data-level='1')
                li.item.is-active
                  a(href='') Institucional
                li.item.is-active
                  a(href='') Ações e Programas
                li.item.is-active
                  a(href='') Dados abertos
                li.item.is-active
                  a(href='') Auditorias
                li.item.is-active
                  a(href='') Convênios
                li.item.is-active
                  a(href='') Despesas
                li.item.is-active
                  a(href='') Licitações e contratos
                li.item.is-active
                  a(href='') Servidores
                li.item.is-active
                  a(href='') Informações Classificadas
                li.item.is-active
                  a(href='') Serviço de Informação ao Cidadão
            li.item.is-active
              button(type='button') Centrais de Conteúdo
              ul.submenu.level-1(data-level='1')
                li.item.is-active
                  a(href='') Imagens
                li.item.is-active
                  a(href='') Vídeos
                li.item.is-active
                  a(href='') Áudios
            li.item.is-active
              button(type='button') Fale Conosco
              ul.submenu.level-1(data-level='1')
                li.item.is-active
                  a(href='') Fale com o Presidente
                li.item.is-active
                  a(href='') Ouvidoria
            li.item.is-active
              a(href='') Mensagem do Presidente
        // Redes sociais
        .social-network
          span Redes sociais
          ul
            li
              a(href='https://www.twitter.com/twitter.com/govbr')
                i.fab.fa-twitter.fa-lg
                span.sr-only Twitter
            li
              a(href='https://www.youtube.com/youtube.com/govbr')
                i.fab.fa-youtube.fa-lg
                span.sr-only YouTube
            li
              a(href='https://www.facebook.com/facebook.com/govbr')
                i.fab.fa-facebook-f.fa-lg
                span.sr-only Facebook
            li
              a(href='https://www.flickr.com/flickr/govbr')
                i.fab.fa-flickr.fa-lg
                span.sr-only Flickr
