extends default

append vars
  - var templateClass = "system";

append scripts
  script(src='../js/templates/system.js')

append template
  // Cabeçalho da página
  header#header.page-header
    // Atalhos para conteúdo
    +skip-menu
    // header
    +header-system
  // Wrapper principal
  .page-wrapper
    // Menu de navegação
    nav#navigation.navigation(data-type='system' data-level='0')
      .wrapper
        .overflow-auto
          .container
            // Logo e avatar
            .header-bar
              // Avatar do usuário
              .nav-avatar
                // Configurações do usuário
              // Altocontraste
              .nav-contrast
              // Sistemas favoritos do usuário
              .nav-bookmarks
              // Logo
              .nav-logo
            // Menu de navegação
            .items
              // Navegação local
              ul.local(data-level='0')
                li.item
                  button(type='button') Item de nível 1
                  ul.submenu.level-1(data-level='1')
                    li.item
                      button(type='button') Item de nível 2.1
                      ul.submenu.level-2(data-level='2')
                        li.item
                          a(href='') Item de nível 3.1
                        li.item
                          a(href='') Item de nível 3.1
                        li.item
                          a(href='') Item de nível 3.1
                    li.item
                      button(type='button') Item de nível 2.2
                      ul.submenu.level-2(data-level='2')
                        li.item
                          a(href='') Item de nível 3.2
                        li.item
                          a(href='') Item de nível 3.2
                        li.item
                          a(href='') Item de nível 3.2
                    li.item
                      button(type='button') Item de nível 2.3
                      ul.submenu.level-2(data-level='2')
                        li.item
                          a(href='') Item de nível 3.3
                        li.item
                          a(href='') Item de nível 3.3
                        li.item
                          a(href='') Item de nível 3.3
                    li.item
                      button(type='button') Item de nível 2.4
                      ul.submenu.level-2(data-level='2')
                        li.item
                          a(href='') Item de nível 3.4
                        li.item
                          a(href='') Item de nível 3.4
                        li.item
                          a(href='') Item de nível 3.4
                    li.item
                      button(type='button') Item de nível 2.5
                      ul.submenu.level-2(data-level='2')
                        li.item
                          a(href='') Item de nível 3.5
                        li.item
                          a(href='') Item de nível 3.5
                        li.item
                          a(href='') Item de nível 3.5
                li.item
                  button(type='button') Conheça a Presidência
                  ul.submenu.level-1(data-level='1')
                    li.item
                      a(href='') Biografia do Presidente
                    li.item
                      a(href='') Ministros
                    li.item
                      a(href='') Principais Tropas
                    li.item
                      a(href='') Palácio e Residências
                    li.item
                      a(href='') Acervo
                    li.item
                      a(href='') Ritos e Solenidades
                    li.item
                      a(href='') Presentes recebidos pelo Presidênte da República
                li.item
                  button(type='button') Vice-Presidência
                  ul.submenu.level-1(data-level='1')
                    li.item
                      a(href='') Agenda Vice-Presidente
                    li.item
                      a(href='') Agendas do Gabinete Pessoal da Vice-Presidência
                    li.item
                      a(href='') Biografia
                    li.item
                      a(href='') Atribuições
                    li.item
                      a(href='') Discursos e Pronunciamentos
                li.item
                  button(type='button') Acesso á Informação
                  ul.submenu.level-1(data-level='1')
                    li.item
                      a(href='') Institucional
                    li.item
                      a(href='') Ações e Programas
                    li.item
                      a(href='') Dados abertos
                    li.item
                      a(href='') Auditorias
                    li.item
                      a(href='') Convênios
                    li.item
                      a(href='') Despesas
                    li.item
                      a(href='') Licitações e contratos
                    li.item
                      a(href='') Servidores
                    li.item
                      a(href='') Informações Classificadas
                    li.item
                      a(href='') Serviço de Informação ao Cidadão
        .container
          // Links rápidos
          .nav-quicklinks
          // Logout
          .nav-logout
            .nav-timeout
            .nav-buttontimeout
          // Links úteis e redes sociais
          .row
            // Links úteis
            // Redes sociais
    .flex-fill
      // Sombra do topo
      div
        .container-fluid
          // Barra de sistema
          .row.system-bar
            // Breadcrumbs
            .col
              +breadcrumb
                +crumb("Tela anterior")
                +crumb("tela atual", "is-active")
            // Timeout
            .col-auto
              .timeout
                i.fas.fa-clock
                span.session Sessão:
                span.timer 00 min. e 00 seg
      hr.my-0
      // Conteúdo principal
      main#content.page-content
        .container-fluid
          block message
          block title
            h1.main-title #{title}
          block content
  // Rodapé de governo
  footer#footer.page-footer
    .chancela-serpro
      img(src='https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/1.2.0/images/produto-serpro.png' alt='Produto Serpro')
