extends default

append vars
  - var templateClass = "system";

append scripts
  script(src='../js/templates/system.js')

append template
  // Cabeçalho da página
  header#header.page-header
    // Atalhos para conteúdo
    +skip-menu
    // header
    +header-system
  // Wrapper principal
  .page-wrapper
    // Menu de navegação
    +navigation#system-nav.is-system
   
   
    // Links úteis
    // Redes sociais
    .flex-fill
      // Sombra do topo
      div
        .container-fluid
          // Barra de sistema
          .row.system-bar
            // Breadcrumbs
            .col
              +breadcrumb
                +crumb("Tela anterior")
                +crumb("tela atual", "is-active")
            // Timeout
            .col-auto
              .timeout
                i.fas.fa-clock
                span.session Sessão:
                span.timer 00 min. e 00 seg
      hr.my-0
      // Conteúdo principal
      main#content.page-content
        .container-fluid
          block message
          block title
            h1.main-title #{title}
          block content
  // Rodapé de governo
  footer#footer.page-footer
    .chancela-serpro
      img(src='https://cdn.dsgovserprodesign.estaleiro.serpro.gov.br/design-system/1.2.0/images/produto-serpro.png' alt='Produto Serpro')
