extends ../../partial/pug/component

append vars
  - var title = "Mensagem";

append content
  p.h4.mt-5 Mensagens padrão
  .row
    .col-sm.pt-3
      +message-danger
      +message-success
      +message-info
      +message-warning

  p.h4.mt-5 Mensagens contextuais
  p: +feedback-danger O CPF deve conter apenas dígitos.
  p: +feedback-success Campo correto.
  p: +feedback-warning A tecla CAPS-LOCK está ativada.
  p: +feedback-info Os arquivos devem ser no formato PNG, JPG, PDF e ter no máximo 1GB.
