// Carregar variáveis do DS-Gov
@import "../../estilos/scss/dsgov-base";

// Carregar configurações adicionais
@import "../../componentes/button/configs";
@import "../../componentes/button/mixins";
@import "../../componentes/checkbox/configs";
@import "../../componentes/checkbox/mixins";

// Background da página
.page-background {
  @include media-breakpoint-up(sm) {
    background: linear-gradient(to right, $color-gray-1 50%, $color-white 50%);
  }
}

// Check com inputs
$input-max-size: 250px;
.br-check-input {
  border-top: 1px solid $color-gray-2;
  display: flex;
  flex-direction: column;
  margin-bottom: spacer(5);
  .field {
    align-items: center;
    border-bottom: 1px solid $color-gray-2;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: spacer(1) 0;
    label {
      margin-right: spacer(1);
    }
    &.is-active {
      .input {
        label {
          display: none;
        }
        input {
          visibility: visible;
        }
      }
    }
  }
  .check,
  .icon,
  .input {
    align-items: center;
    display: flex;
  }
  .check {
    @include check(checkbox, right);
    @include check(radio, right);
    input[type="checkbox"],
    input[type="radio"] {
      // Esconder label do check
      & + label {
        color: transparent;
        width: spacer(1);
      }
      // Item checado
      &:checked {
        & ~ .input input {
          visibility: visible;
        }
      }
    }
  }
  .icon {
    justify-content: center;
    width: 32px;
  }
  .input {
    flex: 1;
    // Input
    input {
      visibility: hidden;
      max-width: $input-max-size;
    }
  }
}

// Conteúdo de midia
.media {
  display: flex;
  align-items: center;
  &-left {
    & + .media-content {
      margin-left: $spacer;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    & + .media-right {
      margin-left: $spacer;
    }
  }
}

// Acessibilidade
.accessibility {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: flex-end;
  li:not(:last-child) {
    margin-right: $spacer * 3;
  }
  a {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: $color-gray-7;
  }
  img {
    @include media-breakpoint-up(sm) {
      max-width: 16px;
    }
  }
}

// Logo
.logo {
  justify-content: center;
  &-image {
    flex-shrink: 0;
  }
}

// Cabeçalho do conteúdo principal
$content-title-color: $color-primary;
$content-title-font-size: 32px;
$content-title-font-weight: 500;
.content-title {
  color: $content-title-color;
  font-size: $content-title-font-size;
  font-weight: $content-title-font-weight;
  margin-bottom: 0;
}

// Conteúdo
.page-content {
  a {
    @include btn-link;
  }
}

// Divisores de conteúdo
$hr-font-size: 13px;
$hr-margin: 0 0 spacer(1);
$hr-text-padding: spacer(3);
$hr-color: $color-gray-5;
.hr-horizontal {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: $hr-margin;
  text-transform: uppercase;
  &:after,
  &:before {
    content: "";
    background: $hr-color;
    height: 1px;
    width: 100%;
  }
  .hr-text {
    font-size: $hr-font-size;
    padding: 0 $hr-text-padding;
  }
}
.hr-vertical {
  border-right: 1px solid $hr-color;
}

// Login com redes sociais
.login-social-network {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

// Cadastre-se
.cadastre-se {
  font-size: 20px;
  font-weight: 500;
  a {
    color: $color-gray-6;
    &:hover {
      color: $color-primary-lighten-15;
      text-decoration: none;
    }
  }
}
