<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Cadastro</title>
  <link rel="stylesheet" href="../../estilos/dist/css/dsgov.min.css">
  <link rel="stylesheet" href="../../assets/estilos/dsgov-components.min.css">
  <link rel="stylesheet" href="../../templates/starter/starter.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="cadastro.css">
</head>

<body>
  <!-- Atalhos para conteúdo -->
  <ul id="skip-menu" class="skip-menu">
    <li><a accesskey="1" href="#content">Ir para o conteúdo</a></li>
    <li><a accesskey="2" href="#navigation">Ir para o menu</a></li>
    <li><a accesskey="3" href="#footer-brasil">Ir para o rodapé</a></li>
  </ul>

  <!-- Barra de governo -->
  <div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
      <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED">
        <a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do
          Governo Brasileiro</a>
      </li>
    </ul>
  </div>

  <!-- Wrapper -->
  <div class="page-wrapper container-fluid">
    <div class="page-background row">
      <div class="container">
        <div class="row">
          <!-- Lado esquerdo -->
          <div class="col-sm-4 col-lg-5">
            <div class="row justify-content-end">
              <div class="col-sm-11 col-md-9 col-lg-7 col-xl-6 pt-sm-8">
                <!-- Logo -->
                <a id="nav-logo" class="logo d-none d-sm-flex py-8" href="#">
                  <img src="../../assets/images/logo-color.png" alt="Governo do Brasil" class="logo-image">
                </a>
                <!-- Outras opções de cadastro -->
                <nav class="cadastre-se d-none d-sm-block pt-3">
                  <p class="d-sm-flex justify-content-center text-primary mb-5">Cadastre-se com</p>
                  <div class="mb-5">
                    <a href="#" class="media mb-2">
                      <div class="media-left">
                        <img src="../../assets/images/certificado-digital.png" alt="Certificado Digital">
                      </div>
                      <div class="media-content">
                        <span>Certificado Digital</span>
                      </div>
                    </a>
                    <a href="#" class="media">
                      <div class="media-left">
                        <img src="../../assets/images/neoid.png" alt="NeoID">
                      </div>
                      <div class="media-content">
                        <span>NeoID</span>
                      </div>
                    </a>
                  </div>
                </nav>
                <p class="text-center d-none d-sm-block my-6">
                  <a href="" class="br-btn is-tertiary">Como obter Certificado Digital?</a>
                </p>
                <aside class="d-none d-sm-block mx-sm-1 mx-md-3 mx-lg-4 mb-5">
                  <!-- Divisor de conteúdo personalizado -->
                  <div class="br-separator">
                    <span class="hr-text">Ou</span>
                  </div>
                  <!-- Login com redes sociais -->
                  <ul class="br-btn-social">
                    <li>
                      <a href="#"><img src="../../assets/images/facebook.png" alt="Facebook"></a>
                    </li>
                    <li>
                      <a href="#"><img src="../../assets/images/twitter.png" alt="Twitter"></a>
                    </li>
                    <li>
                      <a href="#"><img src="../../assets/images/google.png" alt="Google"></a>
                    </li>
                  </ul>
                </aside>
              </div>
            </div>
          </div>
          <!-- Lado direito -->
          <div class="col bg-white">
            <!-- Cabeçalho da página -->
            <header id="header" class="page-header pl-sm-10 pr-sm-3 pt-1 pt-sm-3">
              <!-- Acessibilidade -->
              <div class="accessibility">
                <a id="contrast" href="#" accesskey="6">
                  <span class="accessibility-icon">
                    <img src="../../assets/images/alto-contraste.png" alt="Alto contraste">
                  </span>
                  <span class="accessibility-text d-none d-sm-inline">
                    <span class="">Alto Contraste</span>
                  </span>
                </a>
                <a id="vlibras" href="http://www.vlibras.gov.br/">
                  <span class="accessibility-icon">
                    <img src="../../assets/images/vlibras.png" alt="VLibras">
                  </span>
                  <span class="accessibility-text d-none d-sm-inline">
                    <span class="">VLibras</span>
                  </span>
                </a>
              </div>
              <!-- Logo -->
              <a id="logo" class="logo d-sm-none" href="#">
                <img src="../../assets/images/logo-color.png" alt="Governo do Brasil" class="logo-image">
              </a>
            </header>
            <!-- Conteúdo principal -->
            <main id="content" class="page-content pl-sm-10 pt-sm-8">
              <!-- Cabeçalho do conteúdo principal -->
              <header class="content-header pb-5 pb-sm-8 pt-3">
                <h1 class="content-title">Cadastre-se</h1>
              </header>

              <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-8 col-xl-7">
                  <!-- Área de preenchimento do usuário -->
                  <section class="br-form">
                    <!-- Informar CPF -->
                    <div class="field">
                      <label for="cpf">CPF</label>
                      <input type="text" id="cpf" placeholder="Digite somente números">
                    </div>
                    <!-- Informar a senha -->
                    <div class="field">
                      <label for="password">Crie sua senha</label>
                      <div class="br-input-action">
                        <input type="password" id="password" placeholder="Digite sua senha de 8 a 11 dígitos">
                        <button onclick="mostrarEsconder()" class="action">
                          <span class="sr-only">Mostrar senha</span>
                          <i id="password-icon" class="fas fa-eye"></i>
                        </button>
                      </div>
                      <p class="help">Sua senha deve ter entre 8 e 11 dígitos</p>
                    </div>
                    <!-- Facilidades de senha -->
                    <div class="field">
                      <p>Já tem conta? <a href="">Fazer login</a></p>
                    </div>
                    <!-- Botões de ação -->
                    <div class="actions justify-content-start">
                      <button class="br-btn is-primary" disabled>Avançar</button>
                    </div>
                  </section>
                  <!-- Outras opções de cadastro -->
                  <aside class="content-aside d-sm-none pt-sm-3 pb-3 pb-sm-8">
                    <!-- Divisor de conteúdo personalizado -->
                    <div class="br-separator">
                      <span class="hr-text">Ou</span>
                    </div>
                    <!-- Login com redes sociais -->
                    <ul class="br-btn-social">
                      <li>
                        <a href="#"><img src="../../assets/images/facebook.png" alt="Facebook"></a>
                      </li>
                      <li>
                        <a href="#"><img src="../../assets/images/twitter.png" alt="Twitter"></a>
                      </li>
                      <li>
                        <a href="#"><img src="../../assets/images/google.png" alt="Google"></a>
                      </li>
                    </ul>
                  </aside>
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Rodapé de governo -->
  <div id="footer-brasil" class="page-footer mt-5 mt-sm-0"></div>

  <!-- Script da barra de governo -->
  <script defer="defer" src="//barra.brasil.gov.br/barra_2.0.js" type="text/javascript"></script>
  <script src="../../componentes/input-action/input-password.js"></script>

</body>

</html>
