// Carregar variáveis do DS-Gov
@import "../../estilos/scss/dsgov-base.scss";

// Background da página
.page-background {
  @include media-breakpoint-up(sm) {
    background: linear-gradient(to right, gov-color(light) 50%,gov-color(white) 50%);
  }
}

// Menu
$menu-margin: 0 0 ($spacer * 3);
$menu-title-align: right;
.menu {
  list-style: none;
  margin: $menu-margin;
  padding: 0;
  // Título do item
  &-title {
    display: block;
    text-align: $menu-title-align;
  }
  // Item
  &-item {
    display: flex;
    padding: $spacer 0;
  }
  // Ícone
  &-icon {
    align-self: center;
    & + .menu-name {
      margin-left: ($spacer * 2);
    }
  }
  // Nome
  &-name {
    color: gov-color(dark);
    font-size: 20px;
    margin-left: 32px + ($spacer * 2);
  }
}

// Acessibilidade
.accessibility {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 0;
  justify-content: end;
  li:not(:last-child) {
    margin-right: $spacer * 3;
  }
  a {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: gov-color(dark);
  }
  img {
    @include media-breakpoint-up(sm) {
      max-width: 16px;
    }
  }
}

// Logo
.logo {
  &-image {
    flex-shrink: 0;
  }
}

// Cabeçalho do conteúdo principal
$content-title-color: gov-color(primary);
$content-title-font-size: 20px;
$content-title-font-weight: 500;
$content-title-sm-font-size: 32px;
.content-title {
  color: $content-title-color;
  font-size: $content-title-font-size;
  font-weight: $content-title-font-weight;
  margin-bottom: 0;
  @include media-breakpoint-up(sm) {
    font-size: $content-title-sm-font-size;
  }
}

// Divisores de conteúdo
$hr-font-size: 13px;
$hr-padding: $spacer * 2;
$hr-color: gov-color(gray, 3);
.hr-horizontal {
  // border-bottom: 1px solid gov-color(gray, 3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 ($spacer * 3);
  text-transform: uppercase;
  @include media-breakpoint-up(sm) {
    text-transform: none;
  }
  &:after,
  &:before {
    content: "";
    background: $hr-color;
    display: block;
    height: 1px;
    flex: 1;
  }
  &:after {
    right: 0;
  }
  &:before {
    left: 0;
  }
  .hr-text {
    font-size: $hr-font-size;
    margin: 0 $hr-padding;
  }
}
.hr-vertical {
  border-right: 1px solid gov-color(gray, 3);
}

// Login com redes sociais
.login-social-network {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  img {
    max-width: 28px;
    @include media-breakpoint-up(sm) {
      max-width: 100%;
    }
  }
}
