<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>divider</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="divider.css">
</head>
<body>
  <div class="container-fluid">
    <div class="br-divider">
      <span class="content">Ou</span>
    </div>
    <div class="br-divider">
      <p class="content text-wrap">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus nulla repudiandae dignissimos dolorem quas, maxime libero autem. Nemo nisi voluptatibus, totam itaque ut minima! Maiores sit amet eveniet nulla quidem!</p>
    </div>
    <div class="br-divider">
      <span class="content"><i class="fas fa-check-circle fa-2x"></i></span>
    </div>
    <div class="br-divider">
      <span class="content"><img src="../../assets/images/certificado-digital.png" alt="Certificado Digital"></span>
    </div>
  </div>
</body>
</html>
