extends ../../../partial/pug/isolate

block dependencies
  include ../table
  include ../../button/button
  include ../../checkbox/checkbox
  include ../../divider/divider
  include ../../input/input
  include ../../item/item
  include ../../list/list
  include ../../pagination/pagination
  include ../../radio/radio
  include ../../select/select

block content
  +table-irregular-2
