extends ../../../partial/pug/isolate

block dependencies
  include ../divider

block content
  label Fundo Claro
  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
  +divider.my-3
  p.mb-5 Lorem ipsum dolor sit, amet consectetur adipisicing elit.

  label Fundo Escuro
  .bg-secondary-07.text-secondary-01.p-3
    p Lorem ipsum dolor sit amet consectetur adipisicing elit.
    +divider.my-3
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit.