extends ../../../partial/pug/isolate

block dependencies
  include ../divider

block content
  .p-3.bg-gray-60.text-pure-0
    div Lorem ipsum dolor sit amet consectetur adipisicing elit.
    +divider.dashed.dark-mode.my-3
    div Lorem ipsum dolor sit, amet consectetur adipisicing elit.
