extends ../../../partial/pug/isolate

block dependencies
  include ../divider

block content
  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
  +divider.my-3
  p Lorem ipsum dolor sit, amet consectetur adipisicing elit.
