extends ../../../partial/pug/isolate

block dependencies
  include ../divider

block content
  label 2x
  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
  +divider.sm.my-3
  p.mb-5 Lorem ipsum dolor sit, amet consectetur adipisicing elit.

  label 3x
  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
  +divider.md.my-3
  p.mb-5 Lorem ipsum dolor sit, amet consectetur adipisicing elit.

  label 4x
  p Lorem ipsum dolor sit amet consectetur adipisicing elit.
  +divider.lg.my-3
  p.mb-5 Lorem ipsum dolor sit, amet consectetur adipisicing elit.