extends ../../../partial/pug/isolate

block dependencies
  include ../textarea
  include ../../message/message

block content
  .row
    .col-sm-4
      +textarea-success
    .col-sm-4.mt-5.mt-sm-0
      +textarea-danger
    .col-sm-4.mt-5.mt-sm-0
      +textarea-disabled
