.media {
  align-items: center;
  display: flex;
}

.media-left + .media-content {
  margin-left: 8px;
}

.media-content {
  display: flex;
  flex-direction: column;
}

.media-content + .media-right {
  margin-left: 8px;
}

.cadastre-se {
  font-size: 20px;
  font-weight: 500;
}

.cadastre-se a {
  color: #555555;
}

.cadastre-se a:hover {
  color: #2670e8;
  text-decoration: none;
}
