// Definições
$check-input-border-size: 1px;
$check-input-border-style: solid;
$check-input-border-color: $color-gray-2;
$check-input-margin: 0 0 spacer(5);

$field-padding: spacer(1) 0;

$icon-color: $color-primary;
$icon-size: 32px;

$input-max-size: 250px;

