@charset "UTF-8";
/*!
 * Design System de Governo - DS-Gov
 * Componente check-input
 * Versão 0.1.0
 * Suporte:
   - Serpro: DIDES/SUPSE/SESEP/SEDEP
 */
.br-check-input {
  border-top: 1px solid #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0 0 24px;
}

.br-check-input .field {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 8px 0;
}

.br-check-input .field.is-active .input label {
  display: none;
}

.br-check-input .field.is-active .input input {
  visibility: visible;
}

.br-check-input .field.is-focus input {
  border-color: #2b74e9;
  -webkit-box-shadow: 0 0 0 1px #2b74e9;
          box-shadow: 0 0 0 1px #2b74e9;
  outline: none;
}

.br-check-input .field.is-invalid input {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-check-input .field.is-invalid input:focus {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
  outline: none;
}

.br-check-input .field.is-invalid input[type="checkbox"]:checked + label:before {
  background: #ff3333;
  border-color: #ff3333;
}

.br-check-input .field.is-invalid input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  right: 7px;
  top: 3px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  width: 6px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.br-check-input .field.is-invalid input[type="checkbox"] + label:before {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-check-input .field.is-invalid input[type="checkbox"]:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
          box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
}

.br-check-input .field.is-invalid input[type="radio"]:checked + label:before {
  background: #ff3333;
  border-color: #ff3333;
}

.br-check-input .field.is-invalid input[type="radio"]:checked + label:after {
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px #ff3333, inset 0 0 0 5px #ffffff;
          box-shadow: inset 0 0 0 1px #ff3333, inset 0 0 0 5px #ffffff;
  height: 19px;
  right: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.br-check-input .field.is-invalid input[type="radio"] + label:before {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-check-input .field.is-invalid input[type="radio"]:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
          box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
}

.br-check-input .field.is-valid input {
  border-color: #168821;
  -webkit-box-shadow: 0 0 0 1px #168821;
          box-shadow: 0 0 0 1px #168821;
}

.br-check-input .field.is-valid input:focus {
  border-color: #168821;
  -webkit-box-shadow: 0 0 0 1px #168821;
          box-shadow: 0 0 0 1px #168821;
  outline: none;
}

.br-check-input .field.is-valid input[type="checkbox"]:checked + label:before {
  background: #168821;
  border-color: #168821;
}

.br-check-input .field.is-valid input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  right: 7px;
  top: 3px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  width: 6px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.br-check-input .field.is-valid input[type="checkbox"] + label:before {
  border-color: #168821;
  -webkit-box-shadow: 0 0 0 1px #168821;
          box-shadow: 0 0 0 1px #168821;
}

.br-check-input .field.is-valid input[type="checkbox"]:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(22, 136, 33, 0.45);
          box-shadow: 0 0 0 4px rgba(22, 136, 33, 0.45);
}

.br-check-input .field.is-valid input[type="radio"]:checked + label:before {
  background: #168821;
  border-color: #168821;
}

.br-check-input .field.is-valid input[type="radio"]:checked + label:after {
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px #168821, inset 0 0 0 5px #ffffff;
          box-shadow: inset 0 0 0 1px #168821, inset 0 0 0 5px #ffffff;
  height: 19px;
  right: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.br-check-input .field.is-valid input[type="radio"] + label:before {
  border-color: #168821;
  -webkit-box-shadow: 0 0 0 1px #168821;
          box-shadow: 0 0 0 1px #168821;
}

.br-check-input .field.is-valid input[type="radio"]:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(22, 136, 33, 0.45);
          box-shadow: 0 0 0 4px rgba(22, 136, 33, 0.45);
}

.br-check-input .icon,
.br-check-input .input,
.br-check-input .check {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.br-check-input .icon {
  color: #1351b4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
}

.br-check-input .input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.br-check-input .input label {
  margin: 0;
}

.br-check-input .input input {
  background: #ffffff;
  border: 1px solid #888888;
  border-radius: 6px;
  color: #333333;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  width: 100%;
  max-width: 250px;
  visibility: hidden;
}

.br-check-input .input input:focus {
  border-color: #2b74e9;
  -webkit-box-shadow: 0 0 0 1px #2b74e9;
          box-shadow: 0 0 0 1px #2b74e9;
  outline: none;
}

.br-check-input .input input:invalid {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-check-input .input input:invalid:focus {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
  outline: none;
}

.br-check-input .input input:disabled {
  background: #ededed;
}

.br-check-input .input input::-webkit-input-placeholder {
  font-size: 13px;
  font-style: italic;
}

.br-check-input .input input:-ms-input-placeholder {
  font-size: 13px;
  font-style: italic;
}

.br-check-input .input input::-ms-input-placeholder {
  font-size: 13px;
  font-style: italic;
}

.br-check-input .input input::placeholder {
  font-size: 13px;
  font-style: italic;
}

.br-check-input .check {
  display: inline-block;
  position: relative;
  display: inline-block;
  position: relative;
  margin-top: -32px;
  margin-right: 8px;
}

.br-check-input .check input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.br-check-input .check input[type="checkbox"] + label {
  color: #555555;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 0 28px 0 0;
  position: relative;
}

.br-check-input .check input[type="checkbox"] + label:before {
  background: transparent;
  border: 1px solid #888888;
  border-radius: 4px;
  content: "";
  height: 19px;
  right: 0;
  position: absolute;
  top: 0;
  vertical-align: text-top;
  width: 19px;
}

.br-check-input .check input[type="checkbox"]:disabled + label:before {
  background: #ededed;
}

.br-check-input .check input[type="checkbox"]:focus + label {
  outline: 1px dotted currentColor;
}

.br-check-input .check input[type="checkbox"]:checked + label:before {
  background: #2b74e9;
  border-color: #2b74e9;
}

.br-check-input .check input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  right: 7px;
  top: 3px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  width: 6px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.br-check-input .check input[type="checkbox"]:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(43, 116, 233, 0.45);
          box-shadow: 0 0 0 4px rgba(43, 116, 233, 0.45);
}

.br-check-input .check input[type="checkbox"]:invalid + label:before {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-check-input .check input[type="checkbox"]:invalid:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
          box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
}

.br-check-input .check input[type="checkbox"]:disabled:checked + label:before {
  background: #888888;
  border-color: #888888;
}

.br-check-input .check input[type="checkbox"]:disabled:checked + label:after {
  content: "";
  position: absolute;
  right: 7px;
  top: 3px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  width: 6px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.br-check-input .check input[type="checkbox"]:disabled + label {
  cursor: default;
}

.br-check-input .check.is-hover input[type="checkbox"] + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(43, 116, 233, 0.45);
          box-shadow: 0 0 0 4px rgba(43, 116, 233, 0.45);
}

.br-check-input .check.is-invalid input[type="checkbox"]:checked + label:before {
  background: #ff3333;
  border-color: #ff3333;
}

.br-check-input .check.is-invalid input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  right: 7px;
  top: 3px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  width: 6px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.br-check-input .check.is-invalid input[type="checkbox"] + label:before {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-check-input .check.is-invalid input[type="checkbox"]:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
          box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
}

.br-check-input .check.is-valid input[type="checkbox"]:checked + label:before {
  background: #168821;
  border-color: #168821;
}

.br-check-input .check.is-valid input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  right: 7px;
  top: 3px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  width: 6px;
  height: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.br-check-input .check.is-valid input[type="checkbox"] + label:before {
  border-color: #168821;
  -webkit-box-shadow: 0 0 0 1px #168821;
          box-shadow: 0 0 0 1px #168821;
}

.br-check-input .check.is-valid input[type="checkbox"]:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(22, 136, 33, 0.45);
          box-shadow: 0 0 0 4px rgba(22, 136, 33, 0.45);
}

.br-check-input .check input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.br-check-input .check input[type="radio"] + label {
  color: #555555;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 0 28px 0 0;
  position: relative;
}

.br-check-input .check input[type="radio"] + label:before {
  background: transparent;
  border: 1px solid #888888;
  border-radius: 50%;
  content: "";
  height: 19px;
  right: 0;
  position: absolute;
  top: 0;
  vertical-align: text-top;
  width: 19px;
}

.br-check-input .check input[type="radio"]:disabled + label:before {
  background: #ededed;
}

.br-check-input .check input[type="radio"]:focus + label {
  outline: 1px dotted currentColor;
}

.br-check-input .check input[type="radio"]:checked + label:before {
  background: #2b74e9;
  border-color: #2b74e9;
}

.br-check-input .check input[type="radio"]:checked + label:after {
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px #2b74e9, inset 0 0 0 5px #ffffff;
          box-shadow: inset 0 0 0 1px #2b74e9, inset 0 0 0 5px #ffffff;
  height: 19px;
  right: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.br-check-input .check input[type="radio"]:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(43, 116, 233, 0.45);
          box-shadow: 0 0 0 4px rgba(43, 116, 233, 0.45);
}

.br-check-input .check input[type="radio"]:invalid + label:before {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-check-input .check input[type="radio"]:invalid:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
          box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
}

.br-check-input .check input[type="radio"]:disabled:checked + label:before {
  background: #888888;
  border-color: #888888;
}

.br-check-input .check input[type="radio"]:disabled:checked + label:after {
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px #888888, inset 0 0 0 5px #ffffff;
          box-shadow: inset 0 0 0 1px #888888, inset 0 0 0 5px #ffffff;
  height: 19px;
  right: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.br-check-input .check input[type="radio"]:disabled + label {
  cursor: default;
}

.br-check-input .check.is-hover input[type="radio"] + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(43, 116, 233, 0.45);
          box-shadow: 0 0 0 4px rgba(43, 116, 233, 0.45);
}

.br-check-input .check.is-invalid input[type="radio"]:checked + label:before {
  background: #ff3333;
  border-color: #ff3333;
}

.br-check-input .check.is-invalid input[type="radio"]:checked + label:after {
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px #ff3333, inset 0 0 0 5px #ffffff;
          box-shadow: inset 0 0 0 1px #ff3333, inset 0 0 0 5px #ffffff;
  height: 19px;
  right: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.br-check-input .check.is-invalid input[type="radio"] + label:before {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-check-input .check.is-invalid input[type="radio"]:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
          box-shadow: 0 0 0 4px rgba(255, 51, 51, 0.45);
}

.br-check-input .check.is-valid input[type="radio"]:checked + label:before {
  background: #168821;
  border-color: #168821;
}

.br-check-input .check.is-valid input[type="radio"]:checked + label:after {
  content: "";
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 1px #168821, inset 0 0 0 5px #ffffff;
          box-shadow: inset 0 0 0 1px #168821, inset 0 0 0 5px #ffffff;
  height: 19px;
  right: 0px;
  position: absolute;
  top: 0px;
  width: 19px;
}

.br-check-input .check.is-valid input[type="radio"] + label:before {
  border-color: #168821;
  -webkit-box-shadow: 0 0 0 1px #168821;
          box-shadow: 0 0 0 1px #168821;
}

.br-check-input .check.is-valid input[type="radio"]:hover:not(:disabled) + label:before {
  -webkit-box-shadow: 0 0 0 4px rgba(22, 136, 33, 0.45);
          box-shadow: 0 0 0 4px rgba(22, 136, 33, 0.45);
}

.br-check-input .check label {
  margin: 0;
}
/*# sourceMappingURL=check-list.css.map */