<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>dropdown</title>
  <link rel="stylesheet" href="../../assets/styles/dsgov-base.min.css">
  <link rel="stylesheet" href="dropdown.css">
  <!-- Ícones fontawesome -->
  <script src="../../node_modules/@fortawesome/fontawesome-free/js/all.min.js"></script>
</head>

<body>
  <div data-type="dropdown">
    <button class="trigger" type="button">
      <span class="name">Português</span>
      <i class="fas fa-chevron-down arrow"></i>
    </button>
    <div class="menu is-active">
      <div class="title">Idioma/Language</div>
      <button class="item is-active" type="button">
        <span class="name">Português</span>
      </button>
      <button class="item" type="button">
        <span class="name">English</span>
      </button>
      <button class="item" type="button">
        <span class="name">Español</span>
      </button>
    </div>
  </div>
</body>

</html>
