// Carregar variáveis do DS-Gov
@import "../../estilos/scss/dsgov-base.scss";

$prefix: "br-";

// Tipografia
$form-font-family: $rawline, $raleway, sans-serif;
$form-color: gov-color(dark);

// Estados
$form-active: lighten(gov-color(primary), 15);
$form-valid: gov-color(success);
$form-invalid: gov-color(danger);
$form-disabled: #EDEDED;

// Agrupador
$field-margin: 0 0 ($spacer * 4);

// Listagem de definições
@import "label";
@import "input";
@import "placeholder";
@import "checkbox";
@import "feedback";
