// Carregar variáveis do DS-Gov
@import "../../estilos/scss/dsgov-base.scss";

$prefix: "br-";

// Inputs
$input-font-family: $rawline, $raleway, sans-serif;
$input-font-size: 16px;
$input-font-weight: 600;

$input-padding: ($spacer) ($spacer * 2);

$input-border-color: #888;
$input-border-width: 1px;
$input-border-style: solid;
$input-radius: 6px;

$input-bg: gov-color(white);
$input-bg-focus: lighten(gov-color(primary), 15);
$input-bg-valid: gov-color(success);
$input-bg-invalid: gov-color(danger);
$input-bg-disabled: #EDEDED;

$input-color: gov-color(dark);
$input-color-disabled: #888;

// Input base
%input {
  background: $input-bg;
  border: $input-border-width $input-border-style $input-border-color;
  border-radius: $input-radius;
  color: $input-color;
  display: block;
  font-family: $input-font-family;
  font-size: $input-font-size;
  font-weight: $input-font-weight;
  padding: $input-padding;
  width: 100%;
  &:focus,
  &.focus {
    border-color: $input-bg-focus;
    box-shadow: 0 0 0 1px $input-bg-focus;
  }
  &.valid {
    border-color: $input-bg-valid;
    box-shadow: 0 0 0 1px $input-bg-valid;
  }
  &:invalid,
  &.invalid {
    border-color: $input-bg-invalid;
    box-shadow: 0 0 0 1px $input-bg-invalid;
  }
  &:disabled,
  &.disabled {
    background: $input-bg-disabled;
    color: $input-color-disabled;
  }
}

// Placeholder
$placeholder-font-size: 13px;
$placeholder-font-style: italic;

// Placehoder base
%placeholder {
  font-size: $placeholder-font-size;
  font-style: $placeholder-font-style;
}

// Labels
$label-margin: $spacer-half;
$label-font-family: $rawline, $raleway, sans-serif;
$label-font-size: 14px;
$label-font-weight: 700;

$label-color: #555;

// Label base
%label {
  color: $label-color;
  font-family: $label-font-family;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  margin-bottom: $label-margin;
}

// field
$field-margin: 0 0 ($spacer * 4);
