@charset "UTF-8";
/*!
 * Design System de Governo - DS-Gov
 * Componente forms
 * Versão 0.1.2
 * Suporte:
   - Serpro: DIDES/SUPSE/SESEP/SEDEP
 */
.br-form .field {
  margin-bottom: 24px;
}

.br-form .field label {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}

.br-form .field input,
.br-form .field textarea {
  background: #ffffff;
  border: 1px solid #888888;
  border-radius: 6px;
  color: #333333;
  display: block;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  width: 100%;
}

.br-form .field input:focus,
.br-form .field textarea:focus {
  border-color: #2b74e9;
  -webkit-box-shadow: 0 0 0 1px #2b74e9;
          box-shadow: 0 0 0 1px #2b74e9;
  outline: none;
}

.br-form .field input:invalid,
.br-form .field textarea:invalid {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-form .field input:invalid:focus,
.br-form .field textarea:invalid:focus {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
  outline: none;
}

.br-form .field input:disabled,
.br-form .field textarea:disabled {
  background: #ededed;
}

.br-form .field input::-webkit-input-placeholder,
.br-form .field textarea::-webkit-input-placeholder {
  font-size: 13px;
  font-style: italic;
}

.br-form .field input:-ms-input-placeholder,
.br-form .field textarea:-ms-input-placeholder {
  font-size: 13px;
  font-style: italic;
}

.br-form .field input::-ms-input-placeholder,
.br-form .field textarea::-ms-input-placeholder {
  font-size: 13px;
  font-style: italic;
}

.br-form .field input::placeholder,
.br-form .field textarea::placeholder {
  font-size: 13px;
  font-style: italic;
}

.br-form .field .feedback {
  color: #555555;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  padding: 4px;
}

.br-form .field .help {
  color: #333333;
  font-size: 13px;
}

.br-form .field.is-focus input,
.br-form .field.is-focus textarea {
  border-color: #2b74e9;
  -webkit-box-shadow: 0 0 0 1px #2b74e9;
          box-shadow: 0 0 0 1px #2b74e9;
  outline: none;
}

.br-form .field.is-invalid input,
.br-form .field.is-invalid textarea {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
}

.br-form .field.is-invalid input:focus,
.br-form .field.is-invalid textarea:focus {
  border-color: #ff3333;
  -webkit-box-shadow: 0 0 0 1px #ff3333;
          box-shadow: 0 0 0 1px #ff3333;
  outline: none;
}

.br-form .field.is-invalid .feedback {
  color: #ff3333;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  padding: 4px;
}

.br-form .field.is-valid input,
.br-form .field.is-valid textarea {
  border-color: #168821;
  -webkit-box-shadow: 0 0 0 1px #168821;
          box-shadow: 0 0 0 1px #168821;
}

.br-form .field.is-valid input:focus,
.br-form .field.is-valid textarea:focus {
  border-color: #168821;
  -webkit-box-shadow: 0 0 0 1px #168821;
          box-shadow: 0 0 0 1px #168821;
  outline: none;
}

.br-form .field.is-valid .feedback {
  color: #168821;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  padding: 4px;
}

.br-form .actions {
  margin-bottom: 24px;
  text-align: center;
}

@media (min-width: 576px) {
  .br-form .actions {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .br-form .actions .br-btn + .br-btn {
    margin-left: 0;
    margin-right: 24px;
  }
}
/*# sourceMappingURL=form.css.map */