// Carregar variáveis do DS-Gov
@import "../../estilos/scss/dsgov-base";

/*!
 * Design System de Governo - DS-Gov
 * Componente forms
 * Versão 0.1.0
 * Suporte:
   - Serpro: DIDES/SUPSE/SESEP/SEDEP
 */

// Carregar dependências
@import "../button/configs";
@import "../input/configs";
@import "../input/mixins";
@import "../checkbox/configs";
@import "../checkbox/mixins";
@import "configs";

// Aplicar usando prefixo
.#{$prefix}form {
  // Agrupador de controles
  .field {
    margin: $field-margin;
    // Labels
    label {
      font-size: $label-font-size;
      font-weight: $label-font-weight;
    }
    // Inputs
    input {
      @include input;
      @include input-states;
      // Placeholder
      &::placeholder {
        @include placeholder;
      }
    }
    // Feedback
    .feedback {
      @include feedback;
    }
    // Estados
    &.is-focus {
      input {
        @include input-focus($color-primary-lighten-15);
      }
    }
    &.is-invalid {
      input {
        @include input-state($color-danger);
      }
      .feedback {
        @include feedback($color-danger);
      }
    }
    &.is-valid {
      input {
        @include input-state($color-success);
      }
      .feedback {
        @include feedback($color-success);
      }
    }
  }
  // Agrupador de botões
  .actions {
    margin: $field-margin;
    text-align: center;
    @include media-breakpoint-up(sm) {
      align-items: baseline;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      .#{$prefix}btn + .#{$prefix}btn {
        margin-left: 0;
        margin-right: $btn-margin-horizontal;
      }
    }
  }
}
