extends ../../../partial/pug/isolate

block dependencies
  include ../tag

block content
  +tag-text.bg-mint-cool-vivid-40
    +icon.fa-car
    span Label
  +tag-text.bg-violet-warm-vivid-70
    span Label
