$pagination-margin: 0 0 $spacing-5;

$pagination-padding: 0 $spacing-2;
$pagination-padding-lg: 0 $spacing-3;

$pagination-font-weight: 400;

$pagination-font-size: 16px;
$pagination-font-size-lg: 20px;

$pagination-circle: 28px;
$pagination-circle-lg: 32px;

$pagination-link: $color-primary;
$pagination-hover: #DBE7FC;
$pagination-text: $color-gray-5;
