/*!
 * pagination - 0.1.1 */
.br-pagination {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 24px;
  padding: 0;
}

.br-pagination li {
  display: none;
  font-size: 16px;
  list-style: none;
  margin: 0;
}

@media (min-width: 576px) {
  .br-pagination li {
    display: block;
  }
}

.br-pagination li:first-child a {
  padding-left: 0;
}

.br-pagination li:last-child a {
  padding-right: 0;
}

.br-pagination a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1351b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 12px;
  position: relative;
}

.br-pagination a:hover {
  text-decoration: none;
}

.br-pagination a:hover:before {
  background-color: #DBE7FC;
}

.br-pagination a:before {
  content: "";
  background: transparent;
  border-radius: 50%;
  height: 28px;
  width: 28px;
  position: absolute;
  z-index: -1;
}

.br-pagination .is-active {
  display: block;
}

.br-pagination .is-active a {
  color: #ffffff;
}

.br-pagination .is-active a::before {
  background-color: #1351b4;
}

.br-pagination .is-first,
.br-pagination .is-last {
  display: block;
}

.br-pagination .is-first a:before,
.br-pagination .is-last a:before {
  content: none;
}

.br-pagination .is-first i:first-child,
.br-pagination .is-last i:first-child {
  margin-right: 8px;
}

.br-pagination .is-first i:last-child,
.br-pagination .is-last i:last-child {
  margin-left: 8px;
}

.br-pagination .is-first span,
.br-pagination .is-last span {
  border-radius: 100px;
  padding: 4px 8px;
}

.br-pagination .is-first:not(.is-disabled) a:hover span,
.br-pagination .is-last:not(.is-disabled) a:hover span {
  background: #DBE7FC;
  color: #1351b4;
}

.br-pagination .is-disabled a {
  color: #888888;
  cursor: default;
}

.br-pagination.is-large {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 24px;
  padding: 0;
}

.br-pagination.is-large li {
  display: none;
  font-size: 20px;
  list-style: none;
  margin: 0;
}

@media (min-width: 576px) {
  .br-pagination.is-large li {
    display: block;
  }
}

.br-pagination.is-large li:first-child a {
  padding-left: 0;
}

.br-pagination.is-large li:last-child a {
  padding-right: 0;
}

.br-pagination.is-large a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1351b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 16px;
  position: relative;
}

.br-pagination.is-large a:hover {
  text-decoration: none;
}

.br-pagination.is-large a:hover:before {
  background-color: #DBE7FC;
}

.br-pagination.is-large a:before {
  content: "";
  background: transparent;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  position: absolute;
  z-index: -1;
}

.br-pagination.is-large .is-active {
  display: block;
}

.br-pagination.is-large .is-active a {
  color: #ffffff;
}

.br-pagination.is-large .is-active a::before {
  background-color: #1351b4;
}

.br-pagination.is-large .is-first,
.br-pagination.is-large .is-last {
  display: block;
}

.br-pagination.is-large .is-first a:before,
.br-pagination.is-large .is-last a:before {
  content: none;
}

.br-pagination.is-large .is-first i:first-child,
.br-pagination.is-large .is-last i:first-child {
  margin-right: 8px;
}

.br-pagination.is-large .is-first i:last-child,
.br-pagination.is-large .is-last i:last-child {
  margin-left: 8px;
}

.br-pagination.is-large .is-first span,
.br-pagination.is-large .is-last span {
  border-radius: 100px;
  padding: 4px 8px;
}

.br-pagination.is-large .is-first:not(.is-disabled) a:hover span,
.br-pagination.is-large .is-last:not(.is-disabled) a:hover span {
  background: #DBE7FC;
  color: #1351b4;
}

.br-pagination.is-large .is-disabled a {
  color: #888888;
  cursor: default;
}
/*# sourceMappingURL=pagination.css.map */