extends ../../partial/pug/component
include scrim

append vars
  - var title = "Scrim - Utilitario";

append content
  +scrim-default
  .row
    .scrimutilexemplo
      +button.primary Testar Efeito
  
  
  
