$scrim-opacity-foc: 0.4;
$scrim-opacity-leg-inib: 0.64;
$scrim-color-foc-leg: $color-black;
$scrim-color-inib: $color-white;
$scrim-position-foc: fixed;
$scrim-position-leg-inib: relative;
$scrim-position-inib: absolute;
