@mixin scrim {
  background-color: $scrim-background-color;
  

  &.is-foco {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: $scrim-position;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    .br-modal {
      -ms-transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.is-active {
      display: block;
    }
  }
  &.is-inibicao {
    position: relative;
    width:100%;
    height: 100%;
    background: #fff;
    opacity: 50%;
    
  }
  &.is-legibilidade {
    position: relative;
    .scrim-text {
      color: #fff;
      position: absolute;
      background-color: $scrim-background-color;
      width: 100%;
      padding: 1em 0.5em;
      bottom: 0;
      left: 0;
    }
  }
}
