// Carregar variáveis do DS-Gov
@import "../../base/dsgov-base";

/*!
 * scrim - 0.0.0 */

// Carregar dependências
@import "configs";
@import "mixins";

// Estilos específicos
.#{$prefix}scrim {
//  @include scrim;
}

.scrim-foco {
  @include scrim (#000000, 0.4, 10, fixed);
  width: 100%;
  height: 100%;
}

.scrim-legibilidade{
  @include scrim (#000000, 0.64, 10, relative);
  width: auto;
  height: auto;
}

.scrim-inibicao{
  @include scrim (white, 0.64, 10, relative);
  width: auto;
  height: auto;
}