<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>scrim</title>
  <link rel="stylesheet" href="scrim.css">
  <link rel="stylesheet" href="janela.css">
</head>
<body>
  <div class="container-fluid">
      <div id="scrim-foco" onclick="off()">
        <div class="janela">Janela Modal</div>
      </div>
      <div class="bloco1">
          <p>Scrim - Foco</p>
          <button type="button" onclick="on()">Testar Efeito</button>
      </div>
   <div class="bloco2">
      <div class="scrim-legibilidade text-white">Scrim - Legibilidade</div>
    </div>
    <div class="bloco3">
        <p>Scrim - Inibição (Clicar no texto abaixo)</p>
  <!--      <div onclick="alert('Fui Clicado')">- SEM Scrim Inibição</div>
        <div onclick="alert('Fui Clicado')" class="scrim-inibicao" id="noclick">- COM Scrim Inibição</div>
  -->
        <div><a href="https://www.serpro.gov.br">Página Serpro (SEM Scrim Inibição)</a></div>
        <div class="scrim-inibicao"><a href="https://www.serpro.gov.br">Página Serpro (COM Scrim Inibição)</a></div>
    </div>
  </div>
  <script src="scrim.js"></script>
</body>
</html>
