@supports (display: grid) {
  .template-system,
  .template-site,
  .template-authentication {
    display: grid;
    grid-template-areas:
      "header"
      "wrapper"
      "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    .page-header {
      grid-area: header;
    }
    .page-wrapper {
      grid-area: wrapper;
    }
    .page-footer {
      grid-area: footer;
    }
  }
  .template-system {
    .page-wrapper {
      display: grid;
      grid-template-columns: auto 1fr;
    }
  }
}

// Estilo padrão do texto gov.br
.govbr {
  font-weight: 800;
  letter-spacing: -1px;
}

// Voltar para topo
.is-go-top {
  align-items: center;
  background: transparent;
  border: 0;
  display: inline-flex;
  font-size: $font-size-base * 0.75;
  font-weight: 800;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  .br-button {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-left: $spacer;
  }
  &:hover,
  &:focus {
    .br-button {
      background-color: $color-primary-lighten-2;
      border-color: $color-primary-lighten-2;
    }
  }
  &:disabled {
    .br-button {
      background: $color-gray-5;
      border-color: $color-gray-5;
    }
  }
}

// Barra principal
$main-bar-mobile: 45px;
$main-bar-tablet: 85px;
$main-bar-desktop: 150px;
$main-bar-desktop-fixed: 55px;

$navigation-bar: 64px;
$navigation-width: 320px;

$logo-mobile: 64px;
$logo-desktop: 150px;

// Sombra
.shadow-bottom {
  box-shadow: 0 3px 6px rgba($color-black, 0.16); // sass-lint:disable-line no-color-literals
}

// Fixar na tela
.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

// Barra do cabeçalho
.header-bar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: $main-bar-mobile;
  margin: 0 (-$spacer);
  position: relative;
}

// Barra de sistema
.system-bar {
  align-items: center;
  height: 60px;
}

// Tempo restante de sessão
.timeout {
  display: none;
  .session {
    font-size: 12px;
    font-weight: 600;
  }
  .timer {
    font-size: 12px;
    font-weight: 500;
  }
}

// Redes sociais
.social-network {
  border-top: 1px solid $color-gray-2;
  margin: 0;
  padding: $spacer;
  text-transform: uppercase;
  span {
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-right: ($spacer * 2.5);
  }
  ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      &:first-child {
        a {
          padding-left: 0;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      a {
        color: $color-primary;
        display: inline-block;
        padding: $spacer ($spacer * 2);
      }
    }
  }
}

// Links úteis
.links {
  border-top: 1px solid $color-gray-2;
  font-size: 14px;
  padding: $spacer;
  position: relative;
  span {
    display: block;
    font-weight: 700;
    margin: $spacer 0;
    text-transform: uppercase;
  }
  a {
    align-items: center;
    display: flex;
    padding: $spacer-half 0;
    [class*="fa-"] {
      margin-left: $spacer;
    }
  }
}

// Área de navegação
.navigation {
  position: relative;
  z-index: 2;
  ul {
    list-style: none;
  }
  // Container da navegação
  .wrapper {
    background: $color-white;
    border-top: 1px solid $color-warning;
    box-shadow: 0 3px 6px rgba($color-black, 0.16); // sass-lint:disable-line no-color-literals
    display: none;
    flex-direction: column;
    left: 0;
    min-height: calc(100vh - #{$main-bar-mobile});
    position: absolute;
    right: 0;
    z-index: 1;
    > div {
      &:first-child {
        flex: 1;
      }
    }
  }
  // Cabeçalho
  .header-bar {
    background: $color-gray-1;
    margin: 0 (-$spacer);
    min-height: $navigation-bar;
  }
  // Logo
  .nav-logo {
    width: 100%;
    .logo {
      align-items: flex-start;
      display: none;
      flex-direction: column-reverse;
      padding: 0 ($spacer * 2);
    }
    button {
      align-items: center;
      background: transparent;
      border: 0;
      display: none;
      flex-direction: row-reverse;
      font-size: 26px;
      justify-content: flex-end;
      margin: 0 $spacer;
      [class*="fa-"] {
        color: $color-primary;
        margin-right: ($spacer * 2);
      }
      img {
        filter: invert(70%);
        max-width: 64px;
      }
    }
    .is-active {
      display: flex;
      min-height: $navigation-bar;
    }
  }
  .logo {
    display: block;
    padding: 0 $spacer;
    position: static;
    text-align: left;
    a {
      display: none;
    }
    .name {
      display: block;
    }
    .description {
      display: block;
    }
  }
  // Avatar
  .nav-avatar {
    .configs {
      padding: ($spacer * 1.5) $spacer $spacer;
      .menu {
        right: auto;
      }
      .is-active {
        &::after {
          content: none;
        }
      }
    }
  }
  // Favoritos
  .bookmarks {
    margin-right: ($spacer * 1.5);
    .menu {
      margin: 9px 0 0;
      padding-top: $spacer-half;
      &::after {
        content: none;
      }
    }
    .list {
      columns: 4;
    }
    .title {
      padding-bottom: 0;
    }
    .item {
      padding: ($spacer * 2) 0 0;
    }
    .bookmark {
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  }
  // Configurações do usuário
  .nav-configs {
    margin-left: -$spacer;
    margin-right: -$spacer;
    .menu {
      padding-bottom: ($spacer * 2);
      .user {
        .name {
          font-weight: 600;
        }
        .email {
          font-size: 14px;
          font-style: italic;
        }
      }
      .title {
        border-bottom: 1px solid $color-gray-3;
        display: block;
        padding: ($spacer * 1.5) ($spacer * 2);
      }
      .item {
        color: $color-gray-6;
        display: block;
        padding: $spacer ($spacer * 2);
        &:hover {
          background: $color-primary-pastel-1;
          text-decoration: none;
        }
      }
    }
  }
  // Itens de navegação
  .items {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: ($spacer * 2) (-$spacer);
    overflow-y: auto;
    position: relative;
  }
  // Menu local
  .local,
  .govbr {
    margin: 0;
    padding: 0;
  }
  // gov.br
  .govbr {
    .logo {
      margin-top: ($spacer * 2);
      position: relative;
      img {
        filter: invert(70%);
        max-width: 64px;
      }
      &::before {
        background: $color-gray-3;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: -$spacer;
        width: 100%;
      }
    }
  }
  // Item de navegação
  .item {
    margin: 0;
    padding: 0;
    // Link ou trigger de primeiro nível
    a,
    button {
      align-items: center;
      background: transparent;
      border: 0;
      color: $color-gray-6;
      display: flex;
      font-weight: 400;
      justify-content: space-between;
      padding: $spacer ($spacer * 2);
      text-align: left;
      text-decoration: none;
      width: 100%;
      [class*="fa-"] {
        color: $color-primary;
      }
    }
    // Item ativo
    &.is-active {
      // Link ou trigger
      > a,
      > button {
        background: $color-primary-darken-1;
        color: $color-white;
        display: none;
        font-weight: 600;
        [class*="fa-"] {
          color: $color-white;
        }
      }
      // Menu gov.br
      .logo {
        img {
          filter: invert(0);
        }
      }
      // Submenu
      > .submenu {
        display: block;
      }
      .is-active {
        // Link ou trigger
        > a,
        > button {
          background: $color-primary;
        }
      }
    }
  }
  // Submenu
  .submenu {
    background: $color-gray-2;
    bottom: 0;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }
  .level-1,
  .level-2,
  .level-3 {
    margin: 0;
    padding: 0;
  }
  // Links rápidos
  .quicklinks {
    margin: ($spacer * 1.5) $spacer;
    // Acesso gov.br
    .login {
      display: none;
    }
    // Legislação
    .legislation {
      color: $color-gray-7;
      display: inline-block;
      font-size: 14px;
      margin: 0;
    }
    // Idioma
    .language {
      display: inline-block;
      .trigger {
        color: $color-gray-7;
        font-size: 14px;
      }
    }
    // Altocontraste
    .contrast {
      display: inline-block;
    }
  }
  // Logout
  .nav-logout {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 $spacer;
    .logout {
      margin: ($spacer * 2) 0;
    }
    .timeout {
      display: block;
      margin: ($spacer * 2) 0;
    }
  }
  // Comportamento do menu
  // Mostrar apenas quem é ativo no nível atual
  @each $level in (0, 1, 2, 3) {
    &:not([data-level="#{$level}"]) {
      [data-level="#{$level}"] {
        > .item {
          display: none;
        }
        .is-active {
          display: block;
        }
      }
    }
  }
  // Navegação ativa
  &.is-active {
    // Container da navegação
    .wrapper {
      display: flex;
    }
  }
}

// Rodape
.page-footer {
  position: relative;
  a {
    color: $color-white;
  }
  // Logo
  .logo {
    display: block;
    padding-bottom: ($spacer * 5);
    padding-top: ($spacer * 7);
    position: static;
    text-align: left;
    img {
      height: 60px;
      max-width: none;
      width: 166px;
    }
  }
  // Navegação
  .navigation {
    border-top: 1px solid $color-white;
    padding: 0;
    position: static;
    // Item de navegação
    .item {
      border-bottom: 1px solid $color-white;
      a,
      button {
        color: $color-white;
        display: inline-block;
        font-weight: 800;
        padding: ($spacer * 2) 0;
        text-transform: uppercase;
        width: auto;
        &:hover {
          background: transparent;
          color: $color-white;
          text-decoration: underline;
        }
      }
      // Navegação ativa
      &.is-active {
        a,
        button {
          background: transparent;
        }
      }
    }
    // Submenu
    .submenu {
      background: transparent;
      position: static;
    }
    // Nível 1
    .level-1 {
      padding-bottom: ($spacer * 1.5);
      a,
      button {
        font-size: 14px;
        font-weight: 500;
        padding: $spacer 0;
        text-transform: none;
      }
      .item {
        border-bottom: 0;
      }
    }
    // Não mostrar a partir de nivel 2
    .level-2 {
      display: none;
    }
  }
  // Redes sociais
  .social-network {
    border: 0;
    color: $color-white;
    padding: ($spacer * 7) 0 ($spacer * 2);
    text-align: left;
    span {
      display: block;
    }
    a {
      color: $color-white;
    }
  }
  // Marcas do governo
  #footer-brasil {
    background: transparent;
    width: auto;
    #wrapper-footer-brasil {
      justify-content: flex-start;
      max-width: 100%;
      padding: ($spacer * 7) 0 ($spacer * 4);
      width: auto;
    }
    .logo-acesso-footer,
    .logo-governo-federal {
      filter: invert(100%);
    }
  }
  // Cancela Serpro
  .chancela-serpro {
    border-bottom: 4px solid $color-primary-darken-2;
    padding: $spacer;
    text-align: center;
  }
}

// Ajustes para sistemas
[data-type="system"] {
  // Barra do cabeçalho
  .header-bar {
    height: $main-bar-mobile * 2;
  }
  // Logo
  .logo {
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: column-reverse;
    padding: 0 ($spacer * 1.5);
    position: static;
    .name {
      display: block;
      font-size: 20px;
    }
    .description {
      display: block;
      font-size: 12px;
    }
  }
  // Links rápidos
  .quicklinks {
    display: none;
  }
  // Busca
  .search {
    top: $main-bar-mobile;
    // Busca ativa
    &.is-active {
      bottom: $main-bar-mobile;
      top: 0;
    }
  }
  // Menu sanduiche
  .menu-hamburger {
    top: $main-bar-mobile;
  }
  // Área de navegação
  &.navigation {
    // Container da navegação
    .wrapper {
      background: $color-gray-2;
      min-height: calc(100vh - #{$main-bar-mobile * 2});
    }
    // Cabeçalho
    .header-bar {
      background: transparent;
      height: auto;
    }
    // Avatar
    .nav-avatar {
      margin-right: auto;
    }
    // Logo
    .nav-logo {
      min-height: auto;
    }
    .logo {
      &.is-active {
        display: none;
      }
    }
  }
}

// Versao tablet
@include media-breakpoint-up(sm) {
  // Barra do cabeçalho
  .header-bar {
    height: $main-bar-tablet;
  }
  // Navegação
  .navigation {
    // Container da navegação
    .wrapper {
      min-height: calc(50vh - #{$main-bar-mobile});
    }
    // Barra do cabeçalho
    .header-bar {
      height: auto;
      min-height: auto;
    }
    // Logo
    .logo {
      .name {
        display: none;
      }
      .description {
        display: none;
      }
      &.is-active {
        display: none;
      }
    }
  }
  // Ajustes para sistemas
  [data-type="system"] {
    // Barra do cabeçalho
    .header-bar {
      height: $main-bar-mobile * 2;
    }
    // Logo
    .logo {
      display: flex;
      .description {
        margin: 0;
      }
    }
    // Busca
    .search {
      bottom: 0;
    }
    // Menu sanduiche
    .menu-hamburger {
      bottom: 0;
    }
    // Navegação
    &.navigation {
      // Container da navegação
      .wrapper {
        min-height: calc(50vh - #{$main-bar-mobile});
      }
    }
  }
}

// Versao desktop
@include media-breakpoint-up(md) {
  // Barra do cabeçalho
  .header-bar {
    height: $main-bar-desktop;
  }
  // Configurações do usuário
  .nav-configs {
    display: none;
  }
  // Navegação
  .navigation {
    // Cabeçalho
    .header-bar {
      display: none;
    }
    // Menu de navegação
    .items {
      position: relative;
      .local,
      .govbr {
        border-right: 1px solid $color-gray-3;
        padding: ($spacer * 2) 0;
        width: 25%;
      }
      .govbr {
        margin-top: 0;
      }
    }
    // Item de navegação
    .item {
      // Item ativo
      &.is-active {
        > a,
        > button {
          display: flex;
        }
        > .submenu {
          > .item {
            display: flex;
          }
        }
      }
    }
    // Níveis de navegação
    .level-1,
    .level-2,
    .level-3 {
      bottom: 0;
      box-shadow: inset -1px 0 0 0 $color-gray-3;
      padding: ($spacer * 2) 0;
      position: absolute;
      top: 0;
      // Mostrar subnível ativo
      &.is-active {
        display: block !important;
      }
    }
    .level-1 {
      left: 25%;
      width: 25%;
    }
    .level-2 {
      left: 100%;
      width: 100%;
    }
    // Links rápidos
    .quicklinks {
      display: none;
    }
    // Botão de sair
    .nav-logout {
      display: none;
    }
    // Links úteis
    .links {
      span {
        margin-top: 0;
      }
      a {
        display: inline-flex;
        margin-right: ($spacer * 4);
      }
    }
    // Navegação por hover
    &[data-children="hover"] {
      // Item de navegação
      .item {
        &:hover {
          > a,
          > button {
            background: $color-primary-darken-1;
            color: $color-white;
            font-weight: 600;
            [class*="fa-"] {
              color: $color-white;
            }
            img {
              filter: invert(0);
            }
          }
          > .submenu {
            display: block;
            > .item {
              display: flex;
            }
          }
        }
        .item {
          &:hover {
            > a,
            > button {
              background: $color-primary;
            }
          }
        }
      }
    }
  }
  // Rodape
  .page-footer {
    // Navegação
    .navigation {
      border-top: 0;
      &::after {
        content: none;
      }
      // Menu local
      .local {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
      // Item de navegação
      .item {
        border-bottom: 0;
        flex: 0 0 16.66667%;
        padding-right: ($spacer * 2);
        width: auto;
        &:hover,
        &:active {
          > a,
          > button {
            background: transparent;
            font-weight: 800;
          }
        }
        > a,
        > button {
          display: inline-block;
          width: auto;
          &:hover {
            text-decoration: underline;
          }
        }
        .item {
          &:hover,
          &:active {
            > a,
            > button {
              font-weight: 500;
            }
          }
        }
      }
      // Níveis de navegação
      .level-1,
      .level-2,
      .level-3 {
        box-shadow: none;
      }
      .level-1 {
        background: transparent;
        display: block;
        margin: 0;
        padding: 0;
        position: static;
        width: auto;
        .item {
          &:hover {
            .submenu {
              display: none;
            }
          }
        }
      }
    }
    .chancela-serpro {
      bottom: 100%;
      left: 0;
      position: absolute;
      right: 0;
      text-align: right;
    }
  }
  // Ajustes para sistemas
  [data-type="system"] {
    // Barra do cabeçalho
    .header-bar {
      height: $main-bar-desktop;
      margin: 0;
    }
    // Logo
    .logo {
      flex: 0 0 50%;
      height: 50%;
      padding: 0;
      .name {
        margin: 0;
        position: static;
      }
      .description {
        margin: 0;
        position: static;
      }
    }
    // Links rápidos de acessibilidade e idioma
    .quicklinks {
      align-items: center;
      display: inline-flex;
      flex: 0 0 50%;
      height: 50%;
      margin: 0;
    }
    // Busca
    .search {
      bottom: auto;
      margin-bottom: 0;
      right: 300px;
      top: 84px;
      &.is-active {
        bottom: auto;
        left: 0;
        top: 84px;
      }
    }
    // Barra do usuário
    .user-bar {
      flex: 1;
      height: 50%;
      justify-content: flex-end;
    }
    // Menu sanduiche
    .menu-hamburger {
      bottom: 22px;
      left: -($spacer * 1.5);
      top: auto;
    }
    // Wrapper de sistemas
    & + .page-wrapper {
      flex-direction: row;
    }
    // Navegação
    &.navigation {
      background: $color-gray-2;
      // Container da navegação
      .wrapper {
        background: transparent;
        border-top: 0;
        box-shadow: none;
        margin: 0;
        position: static;
      }
      // Forçar overflow visível
      .overflow-auto {
        overflow: visible !important;
      }
      // Container
      .container {
        padding-left: 0;
        padding-right: 0;
      }
      // Menu de navegação
      .items {
        background: transparent;
        margin: 0;
        overflow: visible;
        .local,
        .govbr {
          border-right: 0;
          margin: 0;
          width: 100%;
        }
      }
      // Item de navegação
      .item {
        position: relative;
        > a,
        button {
          border-top: 1px solid $color-primary-pastel-2;
          color: $color-primary;
          font-weight: 600;
        }
        [class*="fa-"] {
          font-size: 10px;
          transform: rotate(90deg);
        }
        &:hover {
          > a,
          > button {
            background: transparent;
            &:hover {
              background: $color-primary-darken-1;
              color: $color-white;
            }
          }
        }
        // Remover margin para itens internos
        .item {
          margin-bottom: 0;
          > a,
          > button {
            border-top: 0;
            color: $color-gray-6;
            font-weight: 500;
            [class*="fa-"] {
              transform: rotate(0);
            }
          }
        }
        // Item ativo
        &.is-active {
          > a,
          > button {
            background: transparent;
            display: flex;
            [class*="fa-"] {
              color: $color-primary;
              transform: rotate(-90deg);
            }
          }
          .submenu {
            > .item {
              display: block;
              &.is-active {
                > a,
                > button {
                  [class*="fa-"] {
                    color: $color-primary-lighten-2;
                    transform: rotate(0);
                  }
                }
              }
            }
          }
        }
      }
      // Níveis de navegação
      .level-1,
      .level-2,
      .level-3 {
        background: transparent;
        box-shadow: none;
        padding: 0;
        position: static;
      }
      .level-1 {
        border-top: 1px solid $color-primary-pastel-2;
        padding: 0 0 ($spacer * 2);
        width: 100%;
        > .item {
          &:hover {
            a,
            button {
              [class*="fa-"] {
                color: $color-primary-lighten-2;
              }
            }
            .level-2 {
              display: table;
            }
          }
          &.is-active {
            .level-2 {
              display: table;
            }
          }
        }
      }
      .level-2 {
        background: $color-gray-1;
        left: 100%;
        margin-top: -($spacer * 2);
        padding: ($spacer * 2) 0;
        position: absolute;
        z-index: 1;
      }
      // Navegação ativa
      &.is-active {
        width: $navigation-width;
      }
    }
  }
}
