//- loading com porcentagem de carregamento
mixin loading-progress
  .br-loading(data-progress="75")
    .br-loading-mask.full
      .br-loading-fill
    .br-loading-mask
      .br-loading-fill

//- loading indeterminado de tamanho médio
mixin loading-md
  .br-loading.medium

//- loading indeterminado pequeno
mixin loading-sml
  .br-loading
